#masthead {
	height: 141px;
	background-image: url('../../globals/img/mastheads/mobile/<%= mastheadimage %>');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	position: relative;
	font-family: helvetica;
}
#masthead > #offerbox {
	position: absolute;
	box-sizing: border-box;
	left: 19px;
	width: 478px;
	bottom: 3px;
	color: #ffffff;
	font-size: 90%;
}

#masthead > #offerbox > #offertext {
	font-size: 67%;
	position: relative;
	bottom: -13px;
}

#masthead #pricing {
	display: table;
}
#masthead > #offerbox #regular-price {
	font-size: 130%;
	padding-left: 6px;
	color: #ffffff;
	display: table-cell;
	font-weight: bold;
	vertical-align: middle;
}
#masthead > #offerbox #regular-price sup {
	font-weight: lighter;
	font-size: 50%;
	position: relative;
	right: -5px
}

#masthead > #offerbox #sale-price {
	font-weight: bold;
	font-size: 270%;
	display: table-cell;
	vertical-align: middle;
	font-family: gothambold;
}
#masthead > #offerbox #sale-price sup {
	font-weight: lighter;
}

/* DELETE #masthead > #offerbox #regular-price > strike > span {
	color: #fff;
}*/

#masthead > #offerbox #regular-price > span {
	display: inline-block;
	position: relative;
}

#masthead > #offerbox #regular-price .strikethrough {
	position: absolute;
	top: 49%;
	height: 2px;
	background: red;
	width: 100%;
}

#masthead > #offerbox #regular-price > span:first-of-type {
	font-size: 40%;
	margin-right: -13px;
	margin-left: 5px;
	position: relative;
	top: 3px;

	display: block;
}


#masthead > #offerbox #sale-price sup {
	font-size: 50%;
	font-weight: lighter;
	font-family: gothambook;
}

/*#violator {
	position: absolute;
	top: 20%;
	left: 49%;
	width: 16%;
}*/

#violator {
	background: #A83837;
	text-align: center;
	font-weight: bold;
	font-size: 90%;
	padding: 10px 0;
	color: #eee;
}


#violator > div {
	display:inline-block;
	vertical-align:middle;
	font-family: gothamLight;
	font-weight:lighter;
}
#violator > div > img {
	  margin-right: 5px;
  width: 20px;
}
#violator > div > span {
	color: #f7cc00;
	font-weight: bold;
}