// import mixins
@import "remixin.less";
//import mixin with page features
@import "sbsrmixin.less";



//Lightbox Container 
#lightboxes {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    //Escape Overlay
    #lightbox-demo {
        width:100%;
        position: absolute;
        top:3%;
        left:0;
        height:630px;
        z-index:6;
        max-width:1083px;
        min-height:630px;
        background:#000;
        display:none;
        outline:9999px solid rgba(0,0,0,0.9);
        text-align:center;
        color:#444;
    }
    #escape {
        opacity: 0.9;
        cursor: pointer;
        visibility: visible;
        background: #000;
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: 1;
    }
    .contain {
        position: relative;
        height: 60em;
        width: auto;
        margin-left: 20%;
        @media @desktop-xxl {
            margin-left: 20%
        }
        @media @tablet-product-2 {
            margin-left: 7%;
        }
        @media @product-section-2 {
            margin-left: 10%
        }
        @media @tablet-product {
            margin-left: 10%
        }
        #howitworks {
            z-index: 2;
            position: absolute;
            display: none;
            top: 10%;
            video {
                width: 80%;
            }
        }
        .wyl-wrapper {
            position: absolute;
            width: 62.375em;
            background: white;
            z-index: 2;
            top: 10%;
            border-radius: 0.4375em;
            left: 50%;
            margin-left: -40.075em;
            .toprow {
                .clearfix();
                text-align: left;
                padding: 0.625em 0 0.375em 2.688em;
                position: relative;
                .close {
                    background: url('../assets/icon_lightbox_close_black.png') 0 0 no-repeat;
                    height: 2em;
                    width: 2em;
                    position: absolute;
                    top: -1em;
                    right: -.5em;
                }
                .top-img {
                    float: left;
                    img {
                        width: 7.625em;
                    }
                }
            }
            #access {
                margin: 1.25em 0 0 .75em;
                display: inline-block;
                text-align: left;
                .font-size(22px);
                line-height: 1em;
                color: @charcoalBlack;
                #course-heading {
                    #Fonts > .GothamMedium;
                }
                #course-subhead {
                    #Fonts > .GothamLight;
                }
            }
            .wyl-buy-wrapper {
                background: @lightboxGrayBuy;
                .border-radius(0.625em);
                padding: 0.625em;
                box-sizing: border-box;
                float: right;
                position: relative;
                margin-right: 2em;
                margin-top: 1.3em;
                display: inline-block;
                box-shadow: 0.125em 0.125em 0.125em @lightboxShadow;
                overflow: auto;
                .wyl-price {
                    display: inline-block;
                    vertical-align: super;
                    text-align: right;
                    #Fonts > .GothamMedium;
                    line-height: 1.2em;
                    .wyl-regular {
                        font-size: 90%;
                        color: @strikeRed;
                        text-decoration: line-through;
                    }
                    .wyl-discount {
                        font-size: 179%;
                        letter-spacing: 1px;
                    }
                }
                a {
                    cursor: pointer;
                    background: @rsBlue;
                    color: white;
                    padding: 0.4375em 1.1875em;
                    margin-left: 1em;
                    display: inline-block;
                    border-radius: 0.3125em;
                    text-decoration: none;
                    border: 0.1875em solid @lightboxBorder;
                    vertical-align: bottom;
                }
            }
            .content-wrapper {
                overflow: auto;
                background: @lightboxContentGray;
                padding: 1.875em 3.4375em 1.875em 2.625em;
                position: relative;
                .clearfix();
                .content {
                    width: 38em;
                    float: left;
                    #accordion-container {
                        font-size: 0.8125em;
                        background: white;
                        .accordion-header {
                            font-size: 1.25em;
                            #Fonts > .GothamLight;
                            color: white;
                            padding: 0.9375em 1.25em 0.75em 1.5625em;
                            cursor: pointer;
                            text-transform: uppercase;
                            border-bottom: 1px solid @accordionBorder;
                            text-align: center;
                        }
                        .active-header {
                            border:none;
                            font-size: 1.575em;
                            background: @accordionActive;
                            padding-bottom: 0.625em;
                        }
                        .inactive-header {
                            background: @accordionInactive;
                        }
                        .accordion-content {
                            padding: 1.375em 1.5625em 1.5625em 1.5625em;
                            #Fonts > .Helvetica;
                            border-bottom: 1px solid @accordionContBorder;
                            .description {
                                background: @accordionDarkBlue;
                                color: white;
                                #Fonts > .Georgia;
                                font-size: 1.2em;
                                padding: 0.5em 0;
                                .clearfix();
                                div {
                                    float: left;
                                    padding-left: 1.375em;
                                    width: 16em;
                                    line-height: 1.25em;
                                    &:nth-child(1) {
                                        border-right: 1px solid @accordionBordtitle;
                                    }
                                }
                            }
                            ul {
                                margin-top: 1.25em;
                                li {
                                    .clearfix();
                                    list-style-type: none;
                                    overflow: hidden;
                                    &:first-of-type {
                                        display: none;
                                    }
                                    p {
                                        color: @accordianTextBlue;
                                        font-size: 1.6875em;
                                        #Fonts > .GothamLight;
                                        float: left;
                                        padding: 0.625em 1.625em 0.625em 1.375em;
                                        width: 9.325em;
                                        line-height: normal;
                                        text-align: center;
                                        span {
                                            #Fonts > .GothamMedium;
                                        }
                                    }
                                    div {
                                        float: left;
                                        width: 17.9875em;
                                        padding: 0.625em 0.75em 0.625em 1.5em;
                                        min-height: 5.875em;
                                        border-left: 1px solid @accordionContBorder;
                                        p {
                                            #Fonts > .Georgia;
                                            font-size: 1.075em;
                                            color: @charcoalBlack;
                                            line-height: 1.25em;
                                            margin-top: 0.25em;
                                            font-style: italic;
                                            width: 12em;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .sidebar {
                    width: 18.3125em;
                    float: right;
                    text-align: left;
                    div {
                        padding: 0 0 0 1.875em;
                        margin: 0;
                        h3 {
                            display: block;
                            margin-bottom: 0.75em;
                            padding-bottom: 0.3125em;
                            font-size: 1.5em;
                            border-bottom: 1px solid @accordionContBorder;
                            font-weight: normal;
                            text-transform: uppercase;
                            color: @sidebarBlue;
                        }
                        p {
                            font-size: 0.6875em;
                            padding-left: 5.425em;
                            margin-bottom: 1.125em;
                            #Fonts > .Georgia;
                            background-repeat: no-repeat;
                            background-position: top left;
                            color: @charcoalBlack;
                            &:nth-of-type(1) {
                                  background-image: url('../assets/icon-interactive-small.png');
                            }
                            &:nth-of-type(2) {
                                  background-image: url('../assets/icon-live-small.png');
                            }
                            &:nth-of-type(3) {
                                  background-image: url('../assets/icon-games-small.png');
                            }
                            &:nth-of-type(4) {
                                  background-image: url('../assets/icon-pcmac-small.png');
                            }
                            &:nth-of-type(5) {
                                  background-image: url('../assets/icon-mobile-small.png');
                            }
                            strong {
                                #Fonts > .Helvetica;
                                font-size: 1.05em;
                                margin-bottom: 0.125em;
                                display: block;
                            }
                            a {
                                color: @sidebarLink;
                                text-decoration: none;
                            }
                        }
                    }
                    #requirements {
                        color: @charcoalBlack;
                        font-size: 1.0625em;
                        #Fonts > .GothamBook;
                        position: relative;
                        top: 0;
                        margin-bottom: 3.125em;
                        h3 {
                            font-size: 1.125em;
                        }
                        ul {
                            left: 1em;
                            position: relative;
                            top: 1.0625em;
                            li {
                                font-size: 0.6875em;
                                #Fonts > .Georgia;
                                list-style-type: disc;
                                padding: 0 0 0.4375em 0;
                            }
                        }
                    }
                }
            }
        }
        #compare {
            position: absolute;
            z-index: 2;
            background: white;
            .border-radius(0.625em);
            width: 50em;
            padding: 1.65em; /* 20/16 */
            top: 3.125em; /* 50/16 */
            left: 50%;
            margin-left: -34em;
            .wrapper {
                .compare-content {
                    position: relative;
                    .close {
                        background: url('../assets/icon_lightbox_close_black.png') 0 0 no-repeat;
                        height: 2em;
                        width: 2em;
                        position: absolute;
                        top: -2.5em;
                        right: -2.5em;
                    }
                    .header {
                        .clearfix();
                        padding: 0.625em 0 1.25em 0;
                        p {
                            font-size: 2.375em;
                            #Fonts > .GothamLight;
                            color: @charcoalBlack;
                            float: left;
                        }
                        .toggler {
                            float: right;
                            border: 1px solid @togglerBlue;
                            .border-radius();
                            a {
                                display: block;
                                float: left;
                                padding: 0.3125em 0.625em;
                                text-decoration: none;
                                color: @charcoalBlack;
                                cursor: pointer;
                            }
                            a.active {
                                background: @togglerBlue;
                                color: white;
                            }
                        }
                    }
                    #features-table {
                        margin: 0 auto;
                        width: 48.3em;
                        .row {
                            .clearfix();
                            .col {
                                float: left;
                                padding: 0.875em 1.5625em 1.125em 1.5625em;
                                width: 6.4375em;
                                height: 3.125em;
                                font-weight: bold;
                                border: 1px solid @tableGray;
                                border-bottom: none;
                                border-right: none;
                                &:nth-of-type(2) {
                                    color: @tableTextDarkGray;
                                    line-height: 1.375em;
                                    padding: 1.075em 1.5625em 0.925em 1.5625em;
                                    width: 11.25em;
                                    text-align: center;
                                }
                                &:nth-of-type(3) {
                                    color: @tableTextDarkGray;
                                    line-height: 1.375em;
                                    padding: 1.075em 1.5625em 0.925em 1.5625em;
                                    width: 33%;
                                    text-align: center;
                                    border-right: 1px solid @tableGray;
                                }
                                span {
                                    font-size: .7em;
                                    #Fonts > .GothamLight;
                                    text-transform: uppercase;
                                    display: block;
                                    line-height: 0.875em;
                                }
                                a.tip {
                                    position: relative;
                                    text-decoration: none;
                                    span {
                                        display: none;
                                    }
                                    &:hover {
                                        span{
                                            display: block;
                                            position: absolute;
                                            padding: 1em;
                                            text-align: left;
                                            #Fonts > .GothamBook;
                                            text-transform: none;
                                            width: 17em;
                                            left: -1em;
                                            right: 1em;
                                            background: white;
                                            border: 1px solid @tooltipBorder;
                                            .border-radius(0.625em);
                                            color: @charcoalBlack;
                                            font-size: 1.1em;
                                            line-height: 1.4em;
                                            .title {
                                                color: @rsBlue;
                                                font-size: 1.2em;
                                            }
                                            &:after {
                                                position: absolute;
                                                display: block;
                                                content: "";
                                                border-color: white transparent transparent transparent;
                                                border-style: solid;
                                                border-width: 0.625em;
                                                height: 0;
                                                width: 0;
                                                bottom: -1em;
                                                left: 1em;
                                            }
                                        }
                                    }
                                }
                            }
                            .topic {  
                                background-color: @tablePerri;
                                color: @tableBlue;
                                font-size: 1em;
                                padding-left: 5em;
                                background-image: url('../assets/sprite-features.png');
                                background-repeat: no-repeat;
                                width: 8em;
                                a {
                                    display: inline-block;
                                    font-style: normal;
                                    color: white;
                                    background: @togglerBlue;
                                    padding: 0 0.6em;
                                    font-size: 0.7em;
                                }
                            }
                            .two {
                                background-position: 0 -91px;
                                a.tip {
                                    &:hover {
                                        span{
                                            top: -16.5em;
                                        }
                                    }
                                }
                            }
                            .three {
                                background-position: 0 -176px;
                            }
                            .four {
                                background-position: 0 -243px;
                                a.tip {
                                    &:hover {
                                        span{
                                            top: -12.5em;
                                        }
                                    }
                                }
                            }
                            .five {
                                background-position: 0 -318px;
                                a.tip {
                                    &:hover {
                                        span{
                                            top: -12.5em;
                                        }
                                    }
                                }
                            }
                            .six {
                                background-position: 0 -409px;
                                a.tip {
                                    &:hover {
                                        span{
                                            top: -15.2em;
                                        }
                                    }
                                }
                            }
                            .seven {
                                background-position: 0 -318px;
                                a.tip {
                                    &:hover {
                                        span{
                                            top: -11em;
                                        }
                                    }
                                }
                            }
                            .eight {
                                background-position: 0 -568px;
                                a.tip {
                                    &:hover {
                                        span{
                                            top: -9.7em;
                                        }
                                    }
                                }
                            }
                            .nine {
                                background-position: 0 -656px;
                            }
                            &:nth-of-type(9) {
                                border-bottom: 1px solid @tableGray; 
                            }
                        }
                    }
                    #devices-table {
                        margin: 0 auto;
                        width: 48.6em;
                        .row {
                            .clearfix();
                            .col {
                                float: left;
                                padding: 0.875em 1.5625em 1.125em 1.5625em;
                                width: 6.4375em;
                                height: 3.125em;
                                font-weight: bold;
                                border: 1px solid @tableGray;
                                border-bottom: none;
                                border-right: none;
                                &:nth-of-type(2) {
                                    color: @tableTextDarkGray;
                                    line-height: 1.375em;
                                    padding: 1.075em 1.5625em 0.925em 1.5625em;
                                    width: 11.45em;
                                    text-align: center;
                                }
                                &:nth-of-type(3) {
                                    color: @tableTextDarkGray;
                                    line-height: 1.375em;
                                    padding: 1.075em 1.5625em 0.925em 1.5625em;
                                    width: 33%;
                                    text-align: center;
                                    border-right: 1px solid @tableGray;
                                }
                                span {
                                    font-size: .7em;
                                    #Fonts > .GothamLight;
                                    text-transform: uppercase;
                                    display: block;
                                    line-height: 0.875em;
                                }
                                ul {
                                    li {
                                        font-size: .7em;
                                        line-height: 1.2em;
                                        text-align: left;
                                        a {
                                            color: @rsBlue;
                                            text-decoration: none;
                                        }
                                    }
                                }
                            }
                            .topic {  
                                background-color: @tablePerri;
                                color: @tableBlue;
                                font-size: 1em;
                                padding-left: 5em;
                                background-image: url('../assets/sprite-devices.png');
                                background-repeat: no-repeat;
                                width: 8em;
                                i {
                                    display: inline-block;
                                    font-style: normal;
                                    color: white;
                                    background: @togglerBlue;
                                    padding: 0 0.6em;
                                    font-size: 0.7em;
                                }
                            }
                            .one {
                                background-position: 0 18px;
                            }
                            .two {
                                background-position: 0 -72px;
                            }
                            .three {
                                background-position: 0 -146px;
                            }
                            .four {
                                background-position: 0 -214px;
                            }
                            .five {
                                background-position: 0 -290px;
                            }
                            .six {
                                background-position: 0 -375px;
                            }
                            &:nth-of-type(6) {
                                border-bottom: 1px solid @tableGray; 
                            }
                        }
                    }
                    .footnote {
                        #Fonts > .GothamLight;
                        text-align: center;
                        font-size: .8em;
                        padding: 0.75em 0;
                    }
                    .specs {
                        .clearfix();
                        width: 46em;
                        margin: 1em auto 0; 
                        font-size: .9em;
                        ul {
                            float: left;
                            width: 20em;
                            padding: 0 6em 0 0;
                            &:nth-of-type(2) {
                                padding: 0;
                            }
                        }
                    }
                }
            }
            @media @tablet-product {
                left: 52%;
            }
            @media @tablet-product-2 {
                width: 41em;
                left: 72%;
                .wrapper {
                    .compare-content {
                        #features-table {
                            width: 39.1em;
                            .row {
                                .col {
                                    height: 3.125em;
                                    &:nth-of-type(2) {
                                        width: 7.2em;
                                        line-height: 1.075em;
                                    }
                                    &:nth-of-type(3) {
                                        width: 27%;
                                        line-height: 1.075em;
                                    }
                                }
                                .topic {
                                    width: 8.2em;
                                }
                            }
                        }
                        #devices-table {
                            width: 40.1em;
                            .row {
                                .col {
                                    &:nth-of-type(2) {
                                        width: 11.2em;
                                    }
                                    &:nth-of-type(3) {
                                        width: 28%;
                                    }

                                }
                                .topic {
                                    width: 4.6em;
                                }
                            }
                        }
                        .specs {
                            width: 44em;
                            margin: 1em 3.5em 0 3.5em;
                            ul {
                                width: 18em;
                                padding: 0 5em 0 0;
                            }
                        }
                    }
                }
            }
            @media @product-section-2 {
                left: 57%
            }
        }
        #demo {
            position: absolute;
            width: 80%;
            background: #E5E4E4;
            z-index: 2;
            top: 10%;
            border-radius: 0.4375em;
            margin: 0 auto;
            #demo-form {
                position: relative;
                .demo-header {
                    color: @demoRed;
                    font-size: 2em;
                    text-align: center;
                    padding: 0.7em 6em .5em;
                    line-height: 1.2em;
                } 
                p {
                    text-align: center;
                    padding: 0 2em;
                    font-size: 1.25em;
                    line-height: 1.2em;
                    color: @demoGray;
                }
                .form-contain {
                    width: 30em;
                    margin: 0 auto;
                    #dropdown {
                        width: 22em;
                        margin: 1.8em auto;
                        border: 1px solid @charcoalBlack;
                        text-align: center;
                        padding: 0.5em 0;
                        background: url('../assets/arrow.png') white no-repeat 96% center;
                        position: relative;
                        #lang-drop {
                            display: none;
                            position: absolute;
                            top: 2.5em;
                            background: white;
                            width: 22em;
                            border-bottom: black solid 1px;
                            border-left: 1px solid black;
                            border-right: 1px solid black;
                            left: -0.0625em;
                            right: 0;
                            ul {
                                li {
                                    list-style-type: none;
                                    padding: .5em 0;
                                    a {
                                        cursor: pointer;
                                    }
                                }
                            }
                        }
                    }
                    #facebook {
                        display: block;
                        img {
                            display: block;
                            margin: 0 auto;
                            @media @mobile {
                                width: 22em;
                            }
                            @media @mobile-2 {
                                width: 13em;
                            }
                        }
                    }
                    img {
                        display: block;
                        margin: 2em auto 1em;
                    }
                    input {
                        width: 22em;
                        margin: 1.5em auto;
                        height: 3em;
                        border: @tableGray 1px solid;
                        display: block;
                        font-size: 1em;
                        text-align: center;
                    }
                    button {
                        display: block;
                        background: #0098DB;
                        .border-radius();
                        width: 15em;
                        height: 3em;
                        margin: 0 auto 2em;
                        outline: none;
                        font-size: 1em;
                        color: white;
                        text-transform: uppercase;
                        border: none;
                        #Fonts > .GothamBook; 
                    }
                }
                #legalDemo {
                    div {
                        text-align: center;
                        font-size: .8em;
                        line-height: 1.2em;
                        &:last-child {
                            padding: 0 0 2em;
                        }
                        a {
                            color: @rsBlue;
                            text-decoration: none;
                        }
                    }
                }
                .close {
                    position: absolute;
                    top: 10px;
                    background: url('../assets/demo-close.png') 0 0 no-repeat;
                    z-index: 10;
                    width: 50px;
                    height: 50px;
                    right: 20px;
                }
            }
            @media @tablet-product {
                width: 52.375em;
                #demo-form{
                    .form-contain {
                        input {
                            width: 21em;
                        }
                    }
                }
            }
            @media @tablet-product-2 {
                width: 40.375em;
                #demo-form{
                    .demo-header{
                        padding: 0.7em 3.5em .5em;
                    }
                    .form-contain {
                        input {
                            width: 21em;
                        }
                    }
                }

            }
            @media @mobile {
                width: 30.375em;
                #demo-form {
                    .demo-header {
                        padding: 2.5em 0.2em 0.5em;
                        font-size: 1.5em;
                    }
                    .form-contain {
                        input {
                            width: 21em;
                        }
                    }
                }
            }
            @media @mobile-2 {
                width: 16.7375em;
                #demo-form {
                    .demo-header {
                        padding: 2.5em 0.2em 0.5em;
                        font-size: 1.5em;
                    }
                    .close {
                    right: 7px;
                    }
                    .form-contain {
                        width: 13em;
                        #dropdown {
                            width: 13em;
                            #lang-drop {
                                width: 13em;
                            }
                            span {
                                margin-right: 20px;
                                font-size: 0.95em;
                            }
                        }
                        img {
                            margin-top: 1.5em;
                        }
                        input {
                            width: 12em;
                        }
                        button {
                            width: 11em;
                        }
                    }
                }
            }
        }
    }
}