
@import url("http://fast.fonts.com/t/1.css?apiType=css&projectid=aefd0377-c4d2-485a-ac7e-2e9d2752c8a2");
@font-face{
font-family:"Effra W01 Bold";
src:url("Fonts/bf129681-00b0-4e8b-afb9-03a5b3673b2e.eot?#iefix");
src:url("Fonts/bf129681-00b0-4e8b-afb9-03a5b3673b2e.eot?#iefix") format("eot"),url("Fonts/d9c686bd-1b2c-4730-a0b4-9376d5cc0217.woff") format("woff"),url("Fonts/f6eb1dc4-bd7a-4ec7-8efa-af82ddea3829.ttf") format("truetype"),url("Fonts/51807340-4baf-41b5-a341-d06a17d6442a.svg#51807340-4baf-41b5-a341-d06a17d6442a") format("svg");
}
@font-face{
font-family:"Effra W01 Regular";
src:url("Fonts/22d5253a-df89-458b-b414-0191063f0b7f.eot?#iefix");
src:url("Fonts/22d5253a-df89-458b-b414-0191063f0b7f.eot?#iefix") format("eot"),url("Fonts/07f98c09-a3b5-4ab3-a35e-9d9474d19279.woff") format("woff"),url("Fonts/c95fc487-48ab-48c1-b4da-f9478f900fdb.ttf") format("truetype"),url("Fonts/7edd076c-820b-4d62-8cda-94cbed70c375.svg#7edd076c-820b-4d62-8cda-94cbed70c375") format("svg");
}
