    //importing reset css
@import "reset.less";
//import rem mixins for measurement
@import "remixin.less";
//import mixin with page features
@import "sbsrmixin.less";
//import lightbox css
@import "lightbox.less";



//General Page Style
body {
    #Fonts > .GothamBook;
    .font-size(16px);
    position: relative;
}

#wrapper {
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
    margin: 0 auto;
    .max-width(1296px);
    width: 71%;
    height: 100%;
}

//Header Styles
header {
    .height(70px);
    .container {
        .clearfix();
        @media @tablet {
            width: 92%;
        }
        @media @tablet-sm {
            width: 92%;
        }
    }
    a.logo {
        display: inline-block;
        background: url('../assets/rs-logo.png') no-repeat 0 0;
        text-indent: -99999px;
        width: 7.5em;
        height: 3.4em;
        float: left;
        margin: 0.45em 0 0;
        &:hover {
            outline: none;
        }
        @media @mobile {
            display: block;
            background-position: center;
            float: none;
            width: 100%;
        }
    }
    #tfn,
    #clockdown-wrapper{
        float: right;
        border-right: 1px solid @rsYellowDark;
        padding: 0.3em 1.6875em 0 0;
        img {
            a {
                max-width: 100%;
                max-height: 100%;
            }
        }
        @media @mobile {
            display: none;
        }
    }
    #lpcartchatbutton {
        float: right;
        height: 64px;
        width: 105px !important;
        border-right: 1px solid @rsYellowDark;
        padding: .2em 0;
        a {
            img {
                max-width: 100%;
                max-height: 100%;
            }
        }
        @media @mobile {
            display: none;
        }
    }
    #tfn {
        border-left: 1px solid @rsYellowDark;
        padding: 1.75em 1.375em 1.8em 1.375em;
        font-size: 0.875em;
        @media @mobile {
            display: none;
        }
    }
    #clockdown-wrapper {
        padding: 0.6em 0.4em 0 0;
        width: 17em;
        @media @tablet {
            width: 17em;
        }
        @media @mobile {
            display: none;
        }
    }
}



#lang-menu {
    display: block;
    @media @tablet {
        .font-size(16px);
    }
    @media @tablet-sm {
        .font-size(16px);

    }
    @media @tablet-font {
        .font-size(11px);

    }
    @media @tablet-font-2 {
        .font-size(10px);

    }
    @media @mobile{
        display: none;
    }
    span {
        text-transform: uppercase;
        font-size: 1.875em;
        display: block;
        padding-top: 1.2em;
        padding-bottom: 2.188em;
        text-align: center;
        @media @tablet {
            font-size: 1.625em;
        }
    }
    #language-buy-lists {
        .max-width(900px);
        width: 98%;
        margin: 0 auto;
        @media @tablet {
            .max-width(800px);
        }
        @media @tablet-sm {
            .max-width(680px);
            width: 98%;
        }
        .language-buy-list {
            display: inline-block;
            vertical-align: top;
            list-style-type: none;
            padding-right: 6.6em;
            padding-bottom: 3.125em;
            &:nth-last-child(1) {
                .padding-right(0px);
            }
            li {
                padding-bottom: .5em;
                font-size: .875em;
            }
            @media @tablet {
                .padding-right(8%);
            }
            @media @tablet-sm {
                .padding-right(5%);
            }
        }
    }
}

#selected-lang {
    position: relative;
    display: none;
    height: 7em;
    @media @selected-lang {
        height: 11.5625em; /* 185/16 */
    }
    .container {
        width: 55em;
        @media @selected-lang {
            width: 32em;
            text-align: center;
            line-height: 2.5em;
        }
        @media @mobile {
            .font-size(12px);
        }
    }
    #your-lang {
        font-size: 1.875em; /* 30/16 */
        padding: 1em 0 0;
        text-align: center;
        @media @selected-lang {
            padding: 1em 0 0;
            line-height: 1.1em;
        }
        button {
            outline: none;
            border: none;
            font-size: 0.4666666666666667em;
            width: 6.8em;
            height: 2.5em;
            .border-radius(4px);
            margin-left: .625em;
            text-transform: uppercase;
            #Fonts > .GothamMedium;
            @media @selected-lang {
                left: 40%;
                .bottom(40px);
                position: absolute;
            }
            @media @mobile {
                .bottom(30px);
            }
        }
    }
    @media @mobile {
        display: none;
    }
}

#products {
    .container {
        width: 59.25em;
        @media @tablet-product {
            width: 50em;
        }
        @media @tablet-sm2 {
            width: 95%;
        }
    }
    .lightbox-links {
        text-align: center;
        div {
            text-transform: uppercase;
            padding-top: 1em;
            font-size: 1.875em;
            @media @tablet-sm2 {
                font-size: 1.75em; /* 28/16 */
            }
        }
        a {
            font-size: 0.875em;
            text-transform: uppercase;
            display: inline-block;
            text-decoration: none;
            padding-top: 1.5625em;
            padding-right: .5em;
            margin-bottom: 0.5em;
            &:nth-of-type(2){
                padding-left: .5em;
            }
            @media @desktoplightbox {
                &:nth-of-type(2) {
                    display:none;
                }
            }
        }
        span {
            font-size: 1em;
            font-weight: bold;
            @media @desktoplightbox {
                display:none;
            }
        }
    }
    #prod-options {
        padding: 1.875em 0 2.688em;
        .prod-container {
            background: white;
            .border-radius(8px);
            display:inline-block;
            vertical-align: top;
            border: 1px solid @borderKhaki;
            width: 18.75em;
            margin-right: 1em;
            .title {
                text-transform: uppercase;
                margin: 1.2em auto 0;
                width: 250px;
                font-size: 1.5em;
                padding: .5em 0;
                text-align: center;
            }
            p {
                span {
                    #Fonts > .GothamMedium;
                }
                padding-right: 1.563em;
                padding-left: 1.863em;
                font-size: 0.875em;
                padding-top: 0.5em;
                &:nth-of-type(1) {
                    padding-top: 14.5em;
                }
                &:nth-of-type(2) {
                    padding-bottom: 0;
                }
            }
            .prices {
                border-top: solid 1px @lightGray;
                border-bottom: solid 1px @lightGray;
                width: 87%;
                .options {
                    .clearfix();
                    padding: .5em 0;
                    label {
                        float: left;
                    }
                    .strikethru {
                        float: right;
                        .strike,
                        .sale {
                            float: right;
                        }
                        .sale {
                            padding-left: 1em;
                            #Fonts > .GothamMedium;
                        }
                        .strike {
                            color: @strikeRed;
                        }
                    }
                    border-bottom: solid 1px @lightGray;
                    &:last-child {
                        border-bottom: none;
                    }
                }
                @media @desktop-xxl {
                    margin: 1.5em auto 1em;
                }
                @media @tablet-product-2 {
                    margin: 1.5em auto 1.5em;
                }
                @media @tablet-product {
                    margin: 1.5em auto 1.5em;
                }
                @media @product-section-3 {
                    margin: 1.5em auto 1.5em;
                }
                @media @desktop-xl {
                    margin: 1.5em auto 1.5em;
                }
            }
            .button-wrap {
                text-align: center;
                a {
                    text-decoration: none;
                    display: inline-block;
                    margin: 0 auto 1.625em;
                    padding: 0.75em 1.5em;
                    text-align: center;
                    font-size: 0.875em; /* 14/16 */
                    border: solid 1px @rsBlue;
                    .border-radius();
                    color: @rsBlue;
                    text-transform: uppercase;
                    #Fonts > .GothamMedium;
                    .transition(all .3s ease);
                    &:hover {
                        background: @rsBlue;
                        color: white;
                    }
                }
                a.buynow {
                    background: @rsBlue;
                    color: white;
                    &:hover {
                        background: @rsBlueHover;
                    }
                }
            }
            &:nth-of-type(3) {
                margin-right: 0;
            }
            @media @tablet-product {
                width: 21.5625em; /* 345/16 */
                margin-right: 1.4em;
            }
            img {
                display: block;
                margin: 0 auto 2em;
            }
        }
    }
    @media @tablet-product {
        #prod-options {
            padding: 1.1em 0;
            width: 45.3em;
            margin: 0 auto;
        }
    }
    @media @mobile{
        display: none;
    }
}

#products-mobile {
    display: none;
    @media @mobile{
        display: block;
        background: @vanillaCreme;
        padding: 1.5em 0 0;
        .container {
            max-width: 22.7em;
            width: 22.7em;
        }
        .lang-mob {
            display: none;
            background: @rsYellow;
            padding: 1em;
            .border-radius();
            width: 75%;
            margin: 0 auto;
            text-align: center;
            text-transform: uppercase;
        }
        .select-holder {
            display: block;
            #dropdown-language {
                margin-top: 25px;
                margin-bottom: 25px;
                width: 85%;
                height: 55px;
                font-size: 18px;
                font-family: 'gothamBook', arial, sans-serif;
                background: url('../assets/arrow-select.png') 13.5em center no-repeat #ecc200;
                .appearance-none();
                padding: 0 1.5em;
                border: none;
            }
        }
        .select-prod {
            padding: 1em 0 0;
            p {
                font-size: 1.375em;
                text-align: center;
            }
            .desk-on-container {
                width: 85%;
                margin: 1em auto 0;
                background: white;
                .menu {
                    .clearfix();
                    a {
                        float: left;
                        display: inline-block;
                        width: 50%;
                        text-decoration: none;
                        color: @charcoalBlack;
                        font-size: 1.125em;
                        text-align: center;
                        text-transform: uppercase;
                        padding: 1em 0;
                    }
                    a.desktop.selected {
                        #Fonts > .GothamMedium;
                        background: @rsBlue;
                        position: relative;
                        color: white;
                        &:after {
                            content: '';
                            width: 0;
                            height: 0;
                            border-left: 10px solid transparent;
                            border-right: 10px solid transparent;
                            border-top: 10px solid @rsBlue;
                            position: absolute;
                            bottom: -10px;
                            left: 50%;
                            margin-left: -10px;
                            z-index: 2;
                        }
                    }
                    a.desktop {
                        background: @mobileGray;
                    }
                    a.online {
                        background: @mobileGray;
                    }
                    a.online.selected {
                        #Fonts > .GothamMedium;
                        background: @rsYellow;
                        position: relative;
                        &:after {
                            content: '';
                            width: 0;
                            height: 0;
                            border-left: 10px solid transparent;
                            border-right: 10px solid transparent;
                            border-top: 10px solid @rsYellow;
                            position: absolute;
                            bottom: -10px;
                            left: 50%;
                            margin-left: -10px;
                            z-index: 2;
                        }
                    }
                }
                .content {
                    border-left: solid 1px @mobileGray;
                    border-right: solid 1px @mobileGray;
                    border-bottom: solid 1px @mobileGray;
                    padding: 14em 1em 0;
                    p {
                        text-align: left;
                        font-size: .8em;
                        span {
                            #Fonts > .GothamMedium;
                            text-transform: uppercase;
                        }
                    }
                }
                .content.desktop {
                    background: url('../assets/download.png') center 1.8em no-repeat;
                }
                .content.online {
                    background: url('../assets/online.png') center 1.8em no-repeat;
                }
                .po-mobile{
                    border-top: 1px solid @mobileGray;
                    margin: 1em 0 0;
                    .prod-options {
                        padding: 1em 0;
                        .clearfix();
                        label {
                            input,
                            span {
                                float: left;
                            }
                            .strikethru {
                                float: right;
                                padding: 0 0 0 1em;
                                .clearfix();
                                .strike,
                                .sale {
                                    float: left;
                                }
                                .strike {
                                    color: @strikeRed;
                                }
                                .sale {
                                    padding: 0 0 0 .5em;
                                }
                            }
                            input {
                                margin: 0 1em 0 0;
                            }
                        }
                        &:last-child {
                            border-bottom: none;
                        }
                        border-bottom: 1px solid @mobileGray;
                    }
                }
            }
        }
        .cd-download {
            width: 85%;
            margin: 1em auto 0;
            border: solid 1px @mobileGray;
            .clearfix();
            a {
                display: inline-block;
                width: 50%;
                float: left;
                text-align: center;
                text-decoration: none;
                background-color: white;
            }
            a.download-option {
                color: @charcoalBlack;
                text-transform: uppercase;
                padding: 1em 0;
            }
            a.download-option.selected {
                background: @rsBlue;
                #Fonts > .GothamMedium;
                color: white;
            }
            a.cd-option {
                background: white;
                color: @charcoalBlack;
                text-transform: uppercase;
                padding: 1em 0;
            }
            a.cd-option.selected {
                background: @rsYellow;
                #Fonts > .GothamMedium;
                color: white;
            }
        }
        button.atc-mobile {
            display: block;
            margin: 1em auto 0;
            color: @charcoalBlack;
            background: @rsYellow;
            outline: none;
            padding: 1em 0;
            width: 85%;
            text-transform: uppercase;
            font-size: 1em;
            border: none;
            .border-radius();
            #Fonts > .GothamMedium;
        }
        img {
            display: block;
            margin: 0 auto;
            padding: 1.5em 0;
        }
    }
    @media @mobile-2 {
        .font-size(14px);
    }
}

#tryit {
    overflow: auto;
    z-index: 7;
    background: @tanKhaki;
    .inner-shadow();
    @media @tablet-product {
        font-size: 0.75em;
    }
    @media @mobile {
        font-size: 1em;
    }
    .container {
        width: 22.7em;
        text-align: center;
        @media @tryit-tablet {
            width: 59.25em;
        }
        @media @tryit-medium-2 {
            width: 59.25em;
        }
        @media @mobile-2 {
            width: 19.7em;
        }
    }

    padding-bottom: 3em;
    a {
        display: inline-block;
        color: white;
        text-decoration: none;
        text-align: center;
        text-transform: uppercase;
        #Fonts > .GothamLight;
        font-size: 1.125em; /* 18/16 */
        margin: 0;
        background: @charcoalBlack;
        padding: 1em 0 0;
        width: 16.65em;
        cursor: default;
        span {
            #Fonts > .GothamMedium;
        }
        #demo-hov img,
        #works-hov img,
        #reviews-hov img {
            width: 100%;
            height: 100%;
            cursor: pointer;
            @media @tablet-product {
                display: none;
            }
        }
        &:nth-of-type(3) {
            margin: 0;
            @media @tryit-medium {
                margin: 0 0 0 1em;
            }
            @media @mobile {
                margin: 0;
                background-size: contain;
            }
            @media @tryit-desktop-xl {
                 margin: 0 0 0 1em;
            }
            @media @desktop-xxl {
                margin: 0;
            }
        }
        &:nth-of-type(1) {
            display: block;
            width: 100%;
            background: @rsYellow;
            color: #222;
            z-index: 7;
            margin: 1.5em 0 0;
            @media @tryit-medium {
                margin: 2.5em 1em 0 0;
                z-index: 7;
            }
            @media @mobile {
                margin: 0;
                background: #363534;
                color: #fff;
                z-index: 7;
            }
            @media @tryit-desktop-xl {
                 margin: 2.5em 1em 0 0;
            }
            @media @desktop-xxl {
                margin: 2.5em 1em 0 0;
                z-index: 7;
            }
        }

        &:nth-of-type(2), &:nth-of-type(3) {
            width: 48.8%;
            display: inline-block;
            margin-top: 1em;
            z-index: 7;
            @media @mobile {
                width: 100%;
                display: block;
                z-index: 7;
            }
        }
        @media @tryit-small {
            width: 16.65em;
        }
        @media @desktop-xxl {
            margin: 1.5em 1em 0 0;
            z-index: 7;
            width: 16.65em;
        }
    }
    @media @mobile {
        padding: 2em 0;
    }
}

#stats {
    background: @vanillaCreme;
    .container {
        width: 17em;
        @media @tryit-tablet {
            width: 59.25em;
        }
        @media @desktop-xl {
            width: 59.25em;
        }
    }
    .carousel {
        border-bottom: 1px solid @mobileGray;
        margin-bottom: 2em;
        .slide {
            text-align: center;
            @media @tryit-small {
                font-size: .9rem;
            }
            @media @tryit-medium {
                font-size: 1rem;
            }
        }
        @media @tryit-medium-2 {
            width: 44em;
            margin: 0 auto 2em;
        }
    }
    .counter {
        p {
            #Fonts > .GothamBook;
            text-align: center;
            font-size: 1.875em; /* 30/16 */
            line-height: 1.3em;
            span {
                font-size: 0.6666666666666666em;
            }
        }
    }
    .counterstats {
        padding: 0 0 1em;
        div {
            border: 1px solid @charcoalBlack;
            margin-top: 1em;
            height: 4.425em;
            text-align: center;
            font-size: 0.9em;
            padding: 4.5em 0 0;
            text-transform: uppercase;
            line-height: 1.2em;
            @media @tryit-small {
                display: inline-block;
                width: 11.8em;
                margin-top: 0;
                margin-right: 0.5em;
                padding: 4.5em 0 1em;
            }
            @media @tryit-medium-2 {
                width: 20.9em;
                margin-right: 1em;
            }
            span {
                font-size: 1.8em;
            }
            &:nth-of-type(1) {
                margin-top: 1.8em;
                @media @tryit-small {
                    margin-top: 0;
                    vertical-align: top;
                }
            }
            &:nth-of-type(3) {
                margin-bottom: 0;
                @media @tryit-small {
                    margin-right: 0;
                }
            }
            @media @tryit-desktop {
                width: 20.9em;
            }
            @media @desktop-xl {
                width: 20.9em;
            }
            @media @tryit-desktop-xl {
                width: 20.9em;
            }
            @media @tablet-product {
                width: 20.8em;
                padding: 6.5em 0 1em;
            }
            @media @mobile {
                width: 100%;
                padding: 6.5em 0 1em;
                margin: 1em 0;
            }
        }
        @media @tryit-small {
            padding: 2em 0;
        }
    }
    @media @tablet-product {
        font-size: 0.72em;
    }
    @media @mobile {
        font-size: 1em;
    }
}

#footer {
    background: @charcoalBlack;
    border-top: solid 10px @rsYellow;
    .container {
        width: 17em;
        max-width: 17em;
        .footer-links {
            ul {
                margin: 2em auto 1.5em;
                width: 13em;
                li {
                    list-style-type: none;
                    text-indent: -9999px;
                    display: inline-block;
                    width: 2.2em;
                    height: 2em;
                    a {
                        display: block;
                        width: 100%;
                        height: 100%;
                    }
                }
            }
            p {
                color: white;
                font-size: .7em;
                margin-bottom: 1em;
                &:nth-of-type(5) {
                    margin-bottom: 0;
                    padding-bottom: 4em;
                }
            }
        }
        @media @tryit-small {
            width: 32em;
            max-width: 32em;
        }
        @media @tryit-medium {
            width: 40em;
            max-width: 40em;
        }
        @media @tryit-desktop {
            width: 61em;
            max-width: 61em;
        }
        @media @desktop-xl {
            width: 66em;
            max-width: 66em;
        }
        @media @desktop-xxl {
            width: 78em;
            max-width: 78em;
        }
    }
}










