

/*********************************
UTILITIES
**********************************/

.zerofont{
	font-size: 0px;
}


.hide_for_test{
	display: none;
}

.show_for_test{
	display: block;
}








/*********************************
STRUCTURE
**********************************/

.oct_2016_container{
	font-family: gothambook, sans-serif;
	background-color: #F7F6F0;
	color: #333;
	padding: 40px 10px;
	text-align: center;
	font-size: 20px;
}

.oct_2016_col{
	box-sizing: border-box;
	vertical-align: top;
	/*font-size: 16px;*/
	font-size: 14px;
	display: inline-block;
	/*width: 50%;*/
	margin: auto;
	max-width: 540px;
	text-align: left;
	padding: 20px;

	/*border: 1px dotted red;*/
}

.oct_2016_section_header{
	font-size: 24px;
	max-width: 650px;
	margin: 0px auto 20px;

	/*border: 1px dotted orange;*/
}



.mar_2017_product_image_mobile{
	width: 100%;
	height: 0px;
	margin-bottom: 15px;
	background-repeat: no-repeat;
	background-position: center top;
	background-size: contain;
}
.mar_2017_subscription_image_mobile{
	padding-top: 58%; /* to control aspect ratio */
	background-image: url('../assets/online-lockup.png');
}
.mar_2017_cddl_image_mobile{
	padding-top: 56%; /* to control aspect ratio */
	background-image: url('../assets/oct_2016_cddl.png');
}


.oct_2016_subscription_image{
	background-image: url('../assets/online-lockup.png');
	background-repeat: no-repeat;
	background-position: center 18px;
	background-size: 90%;
	padding-bottom: 340px;
	margin-top: 40px;
}

.oct_2016_cddl_image{
	background-image: url('../assets/oct_2016_cddl.png');
	background-repeat: no-repeat;
	background-position: center 18px;
	background-size: 95%;
	padding-bottom: 340px;
}
.oct_2016_subscription_image,
.oct_2016_cddl_image{
	display: none;
}

@media(min-width:750px){
	.oct_2016_col{
		width: 50%;
	}
}







/*********************************
REVIEW STARS
**********************************/

.oct_2016_review_star_container{
	margin: 10px 0px 15px;
}
.hollow_stars{
	position: relative;
	display: inline-block;
	vertical-align: middle;
	font-size: 16px;
}
.filled_stars{
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: hidden;
	white-space: nowrap;
	width: 91.5%;
}

.oct_2016_review_star_text{
	font-size: 14px;
	display: inline-block;
	vertical-align: bottom;
}






/*********************************
BLUE THEME
**********************************/

.oct_2016_blue_bg{
	background-color: #4788BE;
	color: #fff;
}

.oct_2016_blue_bg .oct_2016_language_header{
	/*color: #EFDC00;*/
}

.oct_2016_blue_bg .oct_2016_product_intro{
	font-family: gothamlight;
}

.oct_2016_blue_bg .oct_2016_ul li{
	/*font-family: gothambook;*/
	font-family: gothamlight;
}

.oct_2016_blue_bg .oct_2016_ul li:before{
	border-color: #FABF2C;
}

.oct_2016_blue_bg .oct_2016_guarantee_line1{
	color: #FABF2C;
}

.oct_2016_blue_bg .hollow_stars{
	color: #FABF2C;
}






/*********************************
GOLD THEME
**********************************/

.oct_2016_gold_bg{
	background-color: #FABF2C;
	color: #392E0B;
}

.oct_2016_gold_bg .oct_2016_language_header{
	/*color: #27a;*/
}

.oct_2016_gold_bg .oct_2016_ul li:before{
	border-color: #4788BE;
}

.oct_2016_gold_bg .oct_2016_product_square{
	/*background-color: #0098db;
	background-image: radial-gradient(#0088cb 83%,#0098db);*/
}

.oct_2016_gold_bg .hollow_stars{
	color: #4788BE;
}





/*********************************
PRODUCT INFO
**********************************/
.oct_2016_language_header,
.oct_2016_language_subhead{
	/*font-size: 30px;*/
	font-size: 22px;
}
.oct_2016_language_header{
	font-family: gothambold;
}
.oct_2016_language_subhead{
	font-family: gothamlight;
	text-transform: uppercase;
}
.oct_2016_language_subhead span{
	text-transform: none;
}

.oct_2016_product_info_square{
	text-align: left;
}

.oct_2016_product_intro{
	line-height: 1.3;
}

.oct_2016_ul{
	margin: 25px 0px 0px;
	padding: 0px 0px 0px 30px;
	list-style-type: none;
}

.oct_2016_ul li{
	position: relative;
	margin-bottom: 20px;
	/*font-size: 15px;
	font-family: gothambold;*/
}
.oct_2016_ul li:before{
	content: '';
	position: absolute;
	left: -29px;
	top: 2px;
	display: inline-block;
	border: 2px solid #0098db;
	border-top: none;
	border-right: none;
	height: 8px;
	width: 18px;

	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.rs_classic{
	background-color: #392E0B;
	color: #fff;
	font-size: 20px;
	padding: 20px;
	font-family: gothamlight;
	text-align: center;
	text-transform: uppercase;
	position: relative;
}
.rs_classic span{
	font-family: gothambold;
}
.rs_classic:after{
	content: '';
	border-top: 20px solid #392E0B;
	border-left: 26px solid transparent;
	border-right: 26px solid transparent;
	position: absolute;
	bottom: -20px;
	left: calc(50% - 26px);
}
@media(min-width:600px){
	.rs_classic{
		font-size: 24px;
	}
}
























/*********************************
PRODUCT OPTIONS - SQUARE
**********************************/
.oct_2016_product_square{
	border-radius: 8px;
	/*
	border: 1px solid #EBEAE6;
	background-color: #D6BD31;
	background-image: radial-gradient(#ca2 83%,#db3);
	*/
	background-color: #fff;
	margin: 9px;
	display: inline-block;
	color: #333;
	width: 245px;
	vertical-align: baseline;
	overflow: hidden;
}
.oct_2016_product_square:last-of-type{
	/*margin-bottom: 0px;*/
}

.oct_2016_product_square_content{
	display: block;
	/*background-color: #fff;
	border-top-left-radius: 110px 30px;*/
	padding: 0px;
}

.oct_2016_product_square_header{
	text-transform: uppercase;
	font-family: gothambold;
	font-size: 16px;
	border-bottom: 1px solid #d7d7d7;
	padding: 10px;
	background-color: #f1f1f1;
}

.oct_2016_product_square_subhead{
	text-transform: uppercase;
	font-family: gothamlight;
	font-size: 14px;
}






/*********************************
PRICES - SQUARE
**********************************/

.oct_2016_price_container_square{
	vertical-align: middle;
	margin: 6px 0px 2px;
}

.oct_2016_price_container_square_cddl{
	/*margin-bottom: 0px;*/
}

.oct_2016_big_price_square{
	font-size: 60px;
	vertical-align: baseline;
	/*color: #0078bb;*/
	font-family: gothamlight;
}
.oct_2016_big_price_square:before{
	content: '$';
	vertical-align: top;
	/*font-size: 50%;*/
	/*position: relative;*/
	/*top: 5px;*/
}
.oct_2016_big_price_square:after{
	content: ' / Month';
	font-size: 14px;
	vertical-align: baseline;
	position: relative;
	top: -2px;
	font-family: gothambook;
	color: #333;
}
.oct_2016_big_price_square.no_month:after{
	display: none;
}








/*********************************
GIFTING - SQUARE
**********************************/
.oct_2016_gifting_square,
.oct_2016_gifting_square *{
	vertical-align: middle;
}
.oct_2016_gifting_square{
	font-size: 15px;
	margin-right: 3px;
	display: inline-block;

	background-image: url('../assets/gift-icon.svg');
	background-repeat: no-repeat;
	background-position: left 50%;
	background-size: 17px;

	padding-left: 21px;
	margin: 16px auto;
}









/*********************************
CART - SQUARE
**********************************/
.oct_2016_addtocart_square{
	vertical-align: middle;
	/*background: #0098db;*/
	background-color: #34A4D9;
	color: #fff;
	border-radius: 3px;
	padding: 16px;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 16px;
	font-family: gothambold;
	display: block;
	margin: 0px 24px;
}
.oct_2016_addtocart_square:hover{
	/*background: #1ae;*/
	background-color: #4be;
	color: #fff;
	text-decoration: none;
}




/*********************************
MULTIPAY and MSRP - SQUARE
**********************************/

.oct_2016_product_square_multipay{
	font-size: 12px;
	margin: 0px -20px;
}
.oct_2016_multipay_strikeprice_square{
	color: #d00;
	position: relative;
}
.oct_2016_multipay_strikeprice_square:after{
	content: '';
	position: absolute;
	width: 110%;
	left: -5%;
	top: 50%;
	border-top: 1px solid #d00;
}

.oct_2016_msrp_square{
	font-size: 14px;
	margin-bottom: 10px;
}








/*********************************
BEST VALUE
**********************************/

.oct_2016_best_value{
	font-size: 15px;
	text-transform: uppercase;
	font-family: gothambold;
	background-color: #efc344;
	color: #392E07;
	padding: 10px 0px;
	/*display: inline-block;*/
	/*margin-bottom: 5px;*/
	position: relative;
	line-height: 17px;
}
/*
.oct_2016_best_value:before,
.oct_2016_best_value:after{
	content: '';
	position: absolute;
	left: 0px;
	top: 0px;
	width: 0px;
	height: 0px;
	border: 12px solid transparent;
	border-right: 0px;
	border-left: 7px solid #fff;
}

.oct_2016_best_value:after{
	left: auto;
	right: 0px;
	border-left: 0px;
	border-right: 7px solid #fff;
}
*/








/*********************************
GUARANTEE
**********************************/
.oct_2016_guarantee_vertical{
	background-image: url('../assets/guarantee-badge.svg');
	background-repeat: no-repeat;
	background-position: center top;
	padding-top: 130px;
	margin-top: 20px;
}
.oct_2016_guarantee_line1{
	font-size: 16px;
	text-transform: uppercase;
	color: #4788BE;
	font-family: gothambold;
}
.oct_2016_guarantee_line2{
	font-size: 14px;
}











/*********************************
CD / DOWNLOAD BUTTONS
**********************************/

.oct_2016_cd_download_container{
	margin-bottom: 30px;
}

.oct_2016_cd_download_buttons{
	display: inline-block;
	border: 2px solid #392E07;
	border-radius: 4px;
}

.oct_2016_cd_download_container label{
	font-size: 16px;
	display: inline-block;
	padding: 16px 0px;
	text-transform: uppercase;
	cursor: pointer;
	font-family: gothambold;
	width: 100%;
}

.oct_2016_cd_download{
	display: none;
}

.oct_2016_cd_download:checked + label{
	background: #392E07;
	color: #fff;
}

@media(min-width: 560px){
	.oct_2016_cd_download_buttons{
		width: 460px;
	}
	.oct_2016_cd_download_container label{
		width: 50%;
	}
}






























@media(min-width:600px){

	.oct_2016_col{
		font-size: 16px;
	}
	.oct_2016_language_header,
	.oct_2016_language_subhead{
		font-size: 30px;
	}
	.oct_2016_review_star_container{
		margin: 10px 0px 30px;
	}

	.oct_2016_product_square_content{
		padding: 0 0 24px;
	}
	.oct_2016_product_square_header{
		padding: 24px;
	}
	.oct_2016_price_container_square{
		margin: 20px 0px 10px;
	}
	.oct_2016_msrp_square{
		margin-bottom: 18px;
	}
	.oct_2016_gifting_square{
		margin: 20px auto 12px;
	}

	.oct_2016_guarantee_vertical{
		padding-top: 140px;
		margin-top: 50px;
	}
	.oct_2016_guarantee_line1{
		font-size: 18px;
	}
	.oct_2016_guarantee_line2{
		font-size: 16px;
	}
}

@media(min-width:750px){
	.mar_2017_product_image_mobile{
		display: none;
	}
	.oct_2016_subscription_image,
	.oct_2016_cddl_image{
		display: inline-block;
	}
}



