<div id="violator" style="display:none"></div>
<div class="masthead" id="masthead">

	<div id="offerbox">

		<div id="offercopy">
			<%= tophtml %>
		</div>

		<div id="horizontal-spacer"></div>

		<div id="pricingbox">
			<div id="pricerow">
				<div><span id="msrp">WAS</span><br/>
					<span class="price" id="wasprice"><sup>$</sup><%= strikethrough[0] %></span>
					<div class="striker"></div>
				</div>
				<div id="vertical-spacer"></div>
				<div style=""><span id="now">NOW</span><br/>
					<span class="price" id="nowprice"><sup>$</sup><%= strikethrough[1] %></span>
				</div>
			</div>

			<div class="shipmsg"><%= bottomhtml %></div>
		</div><!-- /pricingbox -->

	</div><!-- /offerbox -->
</div> <!-- /masthead -->
