/* Animations */

.main-container {
    -webkit-transform: translateZ(0);
}
.slider {
    overflow-y: hidden;
    max-height: 500px; /* approximate max height */

    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.animated#street-scene {
    animation: scale-bg 26s 1;
    animation-fill-mode: forwards;
    -webkit-animation: scale-bg 26s 1;
    -webkit-animation-fill-mode: forwards;
    -ms-animation: scale-bg 26s 1;
    -ms-animation-fill-mode: forwards;
}
.animated#feature-girls {
    animation: scalegirls 20s 1s 1;
    animation-fill-mode: forwards;
    -webkit-animation: scalegirls 18s 1s 1;
    -webkit-animation-fill-mode: forwards;
    -ms-animation: scalegirls 18s 1s 1;
    -ms-animation-fill-mode: forwards;
}
.animated#the-wall {
    animation: slide-off 16s 1;
    animation-fill-mode: forwards;
    -webkit-animation: slide-off 16s 1;
    -webkit-animation-fill-mode: forwards;
    -ms-animation: slide-off 16s 1;
    -ms-animation-fill-mode: forwards;
}
.animated#peters-headshot {
    animation: peter-slidein 16s 1;
    animation-fill-mode: forwards;
    -webkit-animation: peter-slidein 16s 1;
    -webkit-animation-fill-mode: forwards;
}
.animated#lake-effect {
    animation: lake 50s 1;
    animation-fill-mode: both;
    -webkit-animation: lake 50s 1;
    -webkit-animation-fill-mode: both;
}

.tiles .tile.open.loading .inner-shade {
    animation: show-tile 1s 1;
    animation-timing-function: linear;
    -webkit-animation: show-tile 1s 1;
    -webkit-animation-timing-function: linear;
}
.tiles .tile.loading .inner-shade {
    animation: load-tile .5s 1;
    animation-timing-function: linear;
    -webkit-animation: load-tile .5s 1;
    -webkit-animation-timing-function: linear;
}
/*
#us-map img.mapsticker:hover {
    animation: grow-by5 1s 1;
    animation-fill-mode: forwards;
    -webkit-animation: grow-by5 1s 1;
    -webkit-animation-fill-mode: forwards;
}
#us-map img.mapsticker {
    animation: shrink-by5 1s 1;
    animation-fill-mode: back;
    -webkit-animation: shrink-by5 1s 1;
    -webkit-animation-fill-mode: back;
}
*/
/* lets do it with javascript? */
/*
.tiles .tile.hover-tile .tile-content:hover{
    animation: hover-tile 1s 1;
    animation-fill-mode: forwards;
    -webkit-animation: hover-tile 1s 1;
    -webkit-animation-fill-mode: forwards;
    -ms-animation: hover-tile 1s 1;
    -ms-animation-fill-mode: forwards;
    background-size: 105%;
}
*/
.tiles .tile .tile-content{
    animation: hover-tile-off 1s 1;
    animation-fill-mode: back;
    -webkit-animation: hover-tile-off 1s 1;
    -webkit-animation-fill-mode: back;
    background-size: 100%;
}
@keyframes lake {
    from { transform:translateX(0); }
    to {  transform:translateX(-1000px); }
}
@-webkit-keyframes lake {
    from { -webkit-transform:translateX(0); }
    to {  -webkit-transform:translateX(-1000px); }
}
@keyframes slide-off {
    from { transform:translateX(0); }
    to {  transform:translateX(-115px); }
}
@-webkit-keyframes slide-off {
    from { -webkit-transform:translateX(0); }
    to {  -webkit-transform:translateX(-115px); }
}
@keyframes scalegirls {
    0% { transform: scale(1);  }
    100% { transform: scale(1.2); }
}
@-webkit-keyframes scalegirls {
    0% { -webkit-transform: scale(1); }
    100% { -webkit-transform: scale(1.2); }
}
/* Hover over Tiles */
@keyframes hover-tile {
    from { background-size: 100%; }
    to { background-size: 105%; }
}
@-webkit-keyframes hover-tile {
    from { background-size: 100%; }
    to { background-size: 105%; }
}
@-ms-keyframes hover-tile {
    from { background-size: 100%; }
    to { background-size: 105%; }
}
@keyframes hover-tile-off {
    from { background-size: 105%; }
    to { background-size: 100%; }
}
@-webkit-keyframes hover-tile-off {
    from { background-size: 105%; }
    to { background-size: 100%; }
}
@-ms-keyframes hover-tile-off {
    from { background-size: 105%; }
    to { background-size: 100%; }
}
/*
@keyframes hover-tile {
    from { transform: scale(1); }
    to { transform: scale(1.04); }
}
@-webkit-keyframes hover-tile {
    from { -webkit-transform: scale(1); }
    to { -webkit-transform: scale(1.04); }
}
@keyframes hover-tile-off {
    from { transform: scale(1.04); }
    to { transform: scale(1); }
}
@-webkit-keyframes hover-tile-off {
    from { -webkit-transform: scale(1.04); }
    to { -webkit-transform: scale(1); }
}
*/
@keyframes scale-bg {
    from { transform: scale(1); }
    to { transform: scale(1.1); }
}
@-webkit-keyframes scale-bg {
    from { -webkit-transform: scale(1); }
    to { -webkit-transform: scale(1.1); }
}
@keyframes peter-slidein {
    0% { transform:translateX(0); }
    100% {  transform:translateX(54px); }
}
@-webkit-keyframes peter-slidein {
    0% { -webkit-transform:translateX(0) scale(1); }
    100% {  -webkit-transform:translateX(54px) scale(1.08); }
}

@keyframes show-tile {
    from { transform:translateY(0); }
    to {  transform:translateY(500px); }
}
@-webkit-keyframes show-tile {
    from { -webkit-transform:translateY(0); }
    to {  -webkit-transform:translateY(500px); }
}
@keyframes load-tile {
    from { transform:translateY(-500px); }
    to {  transform:translateY(0); }
}
@-webkit-keyframes load-tile {
    from { -webkit-transform:translateY(-500px); }
    to {  -webkit-transform:translateY(0); }
}
@keyframes grow-by5 {
    from { transform: scale(1); }
    to { transform: scale(1.1); }
}
@-webkit-keyframes grow-by5 {
    from { -webkit-transform: scale(1); }
    to { -webkit-transform: scale(1.1); }
}
@keyframes shrink-by5 {
    from { transform: scale(1.1); }
    to { transform: scale(1); }
}
@-webkit-keyframes shrink-by5 {
    from { -webkit-transform: scale(1.1); }
    to { -webkit-transform: scale(1); }
}

/* Load Animation */
/* from http://codepen.io/tashfene/ */

.containloader {
  background: #3cc0c6;
  text-align: center;
  line-height: 100vh;
}

.containloader  .zgroup {
  position: relative;
  display: inline-block;
  line-height: 16px;
}

.containloader  .bigSqr {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
  overflow: hidden;
  -webkit-transform-origin: bottom left;
      -ms-transform-origin: bottom left;
          transform-origin: bottom left;
  -webkit-animation: bigSqrShrink 1s linear infinite;
          animation: bigSqrShrink 1s linear infinite;
}

.containloader  .square {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #ffdc3d;
}

.containloader  .first {
  left: 0px;
  top: 20px;
}

.containloader  .second {
  left: 20px;
  top: 20px;
  -webkit-animation: drop2 1s linear infinite;
          animation: drop2 1s linear infinite;
}

.containloader  .third {
  left: 0px;
  top: 0px;
  -webkit-animation: drop3 1s linear infinite;
          animation: drop3 1s linear infinite;
}

.containloader  .fourth {
  left: 20px;
  top: 0px;
  -webkit-animation: drop4 1s linear infinite;
          animation: drop4 1s linear infinite;
}

@-webkit-keyframes bigSqrShrink {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  90% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
}

@keyframes bigSqrShrink {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  90% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
}
@-webkit-keyframes drop2 {
  0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  25% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
@keyframes drop2 {
  0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  25% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
@-webkit-keyframes drop3 {
  0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  50% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
@keyframes drop3 {
  0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  50% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
@-webkit-keyframes drop4 {
  0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  75% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
@keyframes drop4 {
  0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  75% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}