/* ==========================================================================
   Media Queries
   ========================================================================== */
   /* and (max-device-width: 1439px) */ 

@media only screen and (min-width: 960px) and (max-width: 1439px) { 
    .header-container .row {
        margin: 0 3%;
    }
    #top,
    #top #street-scene {
        height: 572px;
    }
    #top #feature-girls {
        bottom: -2px;
        left: 31%;
        width: 592px;
    }
    article#top section {
        width: 40%;
        font-size: .9em
    }
   
    #cuba-peter .row .col.first h1 {
        font-size: 2em;
        line-height: 1em;
        margin: 15px auto 0 0;
    }

    h2 {
        font-size: 2em;
    }

    .header-container h2 {
        font-size: 12px;
    }
    #meet-peter {
        height: 400px;
    }
    #meet-peter header, #meet-peter section.content {
        margin-left: 454px;
    }
    #meet-peter section.content article p {
        font-size: 1em;
        margin: .3em 0;
        line-height: 1em;
    }
    #meet-peter .video-player {
        height: 165px;
        width: 260px;
        font-size: .7em;
    }
    #meet-peter .video-player video {
        height: 142px;
        width: 262px;
        font-size: .7em;
    }

    section#peters-headshot {
       width: 550px;
    }
    #cuba-peter p {
        font-size: .8em;
        margin-top: 16px;
        line-height: 1em;
    }
    #donde {
        height: 585px;
    }
    #donde header {
        top: 117px;
        left: 200px;
    }
    #donde header p {
        font-size: 1em;
    }
    #us-map img#sticker-foodtruck {
        left: 28px;
        top: 35%;
    }
    #us-map img#sticker-pineapple {
        left: 62px;
        top: 46%;
    }
    #us-map img#sticker-plane {
        left: 37%;
        top: 47%;
    }
    #us-map object#us-map-img {
        width: 940px;
        height: 708px;
    }
    a.link-demo {
        margin-top: 0;
    }
    .tiles .tile#demo-tile4 h4 {
        margin-top: 4vw;
    }
    #bottom section#take-demo {
        height: 285px;
        padding: 109px 10% 50px 50%;
    }   
}
@media only screen and (min-width: 768px) and (max-width: 1297px) { 
    h2.headline { font-size: 4em;  }
    h2.headline.medium { font-size: 3em; }
    .header-container h2 { font-size: .9em; max-width: 80%; }
    .footer-container .row .col-left {
        width: 37%;
    }
    .footer-container .row .col-right {
        width: 58%;
    }
    #top header h2 {
        font-size: 3em;
        margin-top: 15px;
    }
    .tiles .tile {
        position: relative!important;
    }
    .tiles .tile .tile-content {
        width: 100%!important;
        height: 100%!important;
    }

    .tiles .row.first #journey-begins{
        width: 23%;
        height: 248px;
    }
    .tiles .row.first #peter-begins{
        width: 56%;
        height: 248px;
    }

    .tiles .row.first #demo-tile1{
        width: 21%;
        height: 248px;
    }
    .tiles .tile#demo-tile1 img.demo-img {
        width: 86%;
    }
    .tiles .tile#demo-tile1 img.demo-img {
        top: -7%;
    }
    .tiles .tile.blue-tile h3 {
        font-size: 3em;   
    }
    .tiles .tile.blue-tile .rs-stamp {
        top: -4%;
    }
    .tiles .tile#journey-begins span {
        left: 10%;
    }
    .tiles .tile#peter-learning {
        width: 33%;
        height: 248px;
    }
    .tiles .tile#about-cuba {
        width: 67%;
        height: 248px;
    }
    .tiles .tile#far-from-perfect {
        width: 67%;
        height: 248px;
    }
    .tiles .tile .link-button {
        font-size: 1.2em;
        padding: 10px 30px;
    }
    .tiles .tile#family-travel-tips .inner-wrapper h2 {
        margin: 23px auto 9px auto;
        font-size: 3em;
        line-height: .8em;
    }
    .tiles .tile#family-travel-tips h2 {
        margin: 31px 0 10px;
    }
    .tiles .tile#family-travel-tips p, .tiles .tile#far-from-perfect p {
        height: 64px;
        font-size: 1em;
    }
    .tiles .tile#peter-food {
        height: 248px;
        width: 58%;
    }
    .tiles .tile#spanish-tile4 {
        height: 248px;
        width: 10%;
        background-color: #1C2B38;
    }
    .tiles .tile#going-foot{
        height: 233px;
        width: 62%;
    }
    .tiles .tile#going-foot .link-button {
        left: 511px;
        top: 170px;
    }
    .tiles .tile#going-foot .inner-wrapper {
        margin: 0 67px;
    }
    .tiles .tile#going-foot h2 small {
        left: 189px;
    }
    .tiles .tile#family-travel-tips{
        height: 233px;
        width: 38%;
    }
    .tiles .tile#deck-shoes {
        height: 248px;
        width: 32%;
    }
    .tiles .tile#peter-sailing {
        height: 248px;
        width: 68%;
    }
    .tiles .tile#peter-sailing .link-video.with-icon {
        left: 489px;
    }
    .tiles .tile#coaching-session {
        width: 60%;
        height: 248px;
    }
    .tiles .tile#peter-onaboat {
        height: 248px;
        width: 40%;
    }

    .tiles .tile#demo-tile2 {
        width: 32%;
        height: 248px;
    }
    .tiles .tile#demo-tile2 img.demo-img {
        width: 62%;
        left: 63%;
        margin-left: -43%;
        top: 1%!important;
    }
    .tiles .tile#demo-tile2 .tile-content h4 {
        top: 72%!important;
    }
    a.link-demo {
        font-size: 1.3em;
    }
    footer h3 {
        font-size: 1.5em;
    }
    a.link-demo {
        margin-top: 0;
    }
    .tiles .tile .tile-content {
        background-size: cover!important;
    }
        .tiles .tile#peter-family {
        height: 248px;
        width: 33%;
    }
    .tiles .tile#peter-packingtips {
        height: 248px;
        width: 67%;
    }
    .tiles .tile#peter-packingtips h2 {
        margin: 30px 0 0 -13px;
        font-size: 4em;
    }
    .tiles #big-cuba.tile.blue-tile,
    .tiles #demo-tile3.tile.demo-tile {
        height: 248px;
        width: 30%;
    }
    .tiles #demo-tile3.tile.demo-tile .tile-content img {
        margin-top: -34px;
    }
    .tiles .tile#little-havana {
        height: 248px;
        width: 70%;
    }
    .tiles .tile#little-havana .inner-wrapper {
        padding-top: 112px;
    }
    .tiles .tile#little-havana .unlink-video.with-icon {
        bottom: 53px;
        right: 200px;
    }
    .tiles .tile#spanish-tile5 {
        width: 12%;
        height: 248px;
    }

    .tiles .tile#armando {
        width: 58%;
        height: 248px;
    }
    .tiles .tile#armando h2.headline {
        margin: 126px 0 0 30px;
        font-size: 3.2em;
    }
    .tiles .tile#armando .unlink-video.with-icon {
        bottom: 38px;
        right: 57px;
    }
    .tiles .tile#domino-player {
        width: 30%;
        height: 248px;
    }
    .tiles .tile#local-flavors {
        width: 50%;
        height: 248px;
    }
    .tiles .tile#local-flavors h2.headline {
        margin: 92px 0 0 38px;
    }
    .tiles .tile#local-flavors p {
        margin-left: 40px;
        line-height: 1em;
        font-size: 1.4em;
    }
    .tiles .tile#local-flavors .unlink-video.with-icon {
        bottom: 44px;
        right: 74px;
    }
    .tiles .tile#mojito {
        width: 20%;
        height: 248px;
    }
        /* twelvth */
    .tiles .tile#world-away {
        width: 30%;
        height: 248px;
    }
    .tiles .tile#world-away .tile-content h3 {
        margin: 6vw 0 0 4vw;
        font-size: 5vw;
    }
    .tiles .tile#keywest-90mi {
        width: 40%;
        height: 248px;
    }
    .tiles .tile#demo-tile4 {
        width: 20%;
        height: 248px;
    }

    .tiles .tile#demo-tile4 img {
        width: 115%;
        margin-left: -13px;
    }
    .tiles .tile#demo-tile4 .tile-content h4 {
        margin-top: 4vw;
    }
    .tiles .tile#spanish-tile6 {
        width: 10%;
        height: 248px;
    }

    /* thirteenth */

    .tiles .tile#boat-wake  {
        width: 30%;
        height: 248px;
    }
    .tiles .tile#hola-tohavana {
        height: 248px;
        width: 70%;
    }
    .tiles .tile#hola-tohavana .tile-content h2 {
        margin: 9vw 0 0 19vw;
        font-size: 5.5vw;
    }
    .tiles .tile#hola-tohavana .tile-content p {
        margin-left: 19vw;
    }
    .tiles .tile#hola-tohavana .unlink-video.with-icon {
        bottom: 42px;
        right: 79px;
        left: auto;
    }
    /* fourteenth */
    .tiles .tile#bow-boat {
        width: 30%;
        height: 248px
    }
    .tiles .tile#peter-embassy {
        height: 248px;
        width: 44%;
    }
    .tiles .tile#cuba-taxi {
        height: 248px;
        width: 26%;
    }
    /* Fifteenth */
    .tiles .tile#horizon .tile-content h3 {
        margin: 35px 0 0 44px;
    }
    .tiles .tile#horizon {
        width: 30%;
        height: 248px;
    }
    .tiles .tile#havana-aerial {
        height: 248px;
        width: 30%;
    }
    .tiles .tile#havana-aerial .tile-content h2 {
        margin-top: 114px;
    }

    .tiles .tile#havana-aerial  {
        width: 70%;
    }
    .tiles .tile#havana-aerial .unlink-video.with-icon {
        bottom: 39px;
        right: 49%;
        z-index: 30;
        width: 11%;
        left: auto;
    }
    /* Sixteenth */
    .tiles .tile#demo-tile5 {
        width: 20%;
        height: 248px;
    }
    .tiles .tile#demo-tile5 img {
        margin-left: -41px;
        margin-top: -28px;
    }
       
    .tiles .tile#demo-tile5 .tile-content h4 {
        margin-top: 50px;
    }
    .tiles .tile#red-car {
        height: 248px;
        width: 30%;
    }
    .tiles .tile#street-doorway {
        height: 248px;
        width: 50%;
    }
    /* Seventeenth */
    .tiles .tile#cuban-food {
        height: 248px;
        width: 30%;
    }
    .tiles .tile#drinking-buddy {
        height: 248px;
        width: 40%;
    }
    .tiles .tile#club-musician {
        height: 248px;
        width: 30%;
    }
    /* Eighteenth */
    .tiles .tile#balcony-view {
        height: 248px;
        width: 55%;
    }
    .tiles .tile#with-host {
        height: 248px;
        width: 25%;
    }
    .tiles .tile#mosaic-art {
        height: 248px;
        width: 20%;
    }
    /* Nineteenth */
    .tiles .tile#off-path {
        height: 248px;
        width: 65%;
    }
    .tiles .tile#off-path .tile-content h2 {
        margin-top: 90px;
    }

    .tiles .tile#off-path .unlink-video.with-icon {
        left: 475px;
        bottom: 51px;
    }
    .tiles .tile#rocking-chairs {
        height: 248px;
        width: 35%;
    }
    /* Twentieth */
    .tiles .tile#spanish-tile7 {
        width: 0;
        height: 0;
        display: none;
    }
    .tiles .tile#roll-cigar {
        height: 248px;
        width: 20%;
    }
    .tiles .tile#ox-plow {
        height: 248px;
        width: 55%;
    }
    .tiles .tile#demo-tile6 {
        width: 25%;
        height: 248px;
    }
    .tiles .tile#demo-tile6 img {
        height: 100%;
    }
    /* twenty-first */
    .tiles .tile#departing {
        width: 30%;
        height: 248px;
    }
    .tiles .tile#departing .tile-content h3 {
        font-size: 3.5em;
        margin: 60px 0 0 35px;
    }
    .tiles .tile#street-carts  {
        height: 248px;
        width: 45%;
    }
    .tiles .tile#leaving {
        width: 25%;
        height: 248px;
    }
    /* twenty-second */
    .tiles .tile#demo-tile5 {
        width: 20%;
        height: 248px;
    }
    .tiles .tile#spanish-tile9 {
        width: 10%;
        height: 248px;
    }
    .tiles .tile#casting-off {
        width: 70%;
        height: 248px;
    }
    .tiles .tile#casting-off .inner-wrapper {
        margin-top: 110px;
    }
    .tiles .tile#casting-off .unlink-video.with-icon {
        right: auto;
        left: 50%;
        bottom: 43px;
    }
    #bottom section#take-demo {
        height: 238px;
        padding: 109px 4% 50px 47%;
    }
}



/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {
    h2.headline {
        font-size: 6.5vw;
    }
    .tiles .tile .unlink-video.with-icon {
        width: 11vw;
    }
    #top h1.title {
        display: block;
        margin: 10px 0;
    }
    .header-container .row {
        margin: 0 3%;
    }
    .header-container .row .col.second {
        width: 62%;
    }
    .header-container h2 {
        font-size: 13px;
        width: 62%;
        float: left;
    }
    #top {
        height: 436px;
    }
    #top header h2 {
        font-size: 4vw;
        margin: 1vw 2vw 4vw 0;
        width: 50%;
        float: left;
    }
    .header-container a.link-demo  {
        float: right;
        margin: 2vw 1vw 0 2vw;
    }
    article p {
    font-size: .8em;
    line-height: 1.5em;
    }
    #top section {
        width: 46%;
    }
    a.link-demo {
        font-size: 1em;
        margin-top: 2vw;
    }
    #feature-girls {
        bottom: -17px;
        left: 29%;
        width: 448px;
    }
    #cuba-peter .row .col.first {
        width: 100%;
    }
    #cuba-peter .row .col.second {
        width: 100%;
        margin: 1% auto;
    }
    #cuba-peter .row .col.first h1 {
        margin: 0.25em 2%;
    }
    #cuba-peter h1 em {
        display: inline;
    }
    #cuba-peter {
        background-color: #F9F9F9;
    }
    #cuba-peter p {
        color: #000;
        font-size: .9em;
    }
    #meet-peter {
        height: 322px;
    }
    #meet-peter #peters-headshot {
        width: 434px;
        margin-left: 0;
    }
    #meet-peter header, 
    #meet-peter section {
        margin-left: 208px;
        width: 505px;
    }
    #meet-peter header h2 {
        margin: .2em 0 0 0;
        font-size: 4vw;
    }
    #meet-peter section p {
        line-height: 1.1em;
    }
    #meet-peter .video-player {
        height: auto;
        width: 232px;
        right: 24vw;
    }
    .animated#peters-headshot {
        animation: none;
        animation-fill-mode: none;
        -webkit-animation: none;
        -webkit-animation-fill-mode: none;
    }
    .tiles .tile#family-travel-tips .inner-wrapper {
        width: 80%;
    }
    .tiles .tile#family-travel-tips .inner-wrapper h2 {
        margin: 15px auto 6px auto;
        font-size: 5vw;
    }
    .tiles .tile#family-travel-tips p, .tiles .tile#far-from-perfect p {
        height: auto;
        font-size: 2vw;
        padding: 0 0 0 24px;
        margin: 0;
        line-height: 1em;
    }
    .tiles .tile#family-travel-tips .link-button {
        margin-left: auto;
    }
    .tiles .tile .tile-content {
        background-size: cover!important;
    }
    .tiles .tile#peter-begins .unlink-video.with-icon {
        right: auto;
        left: 31px;
        bottom: 106px;
    }
    .tiles .tile.blue-tile h3 {
        font-size: 4.5vw;
        margin-top: 60px;
    }
    #about-cuba h2.video-icon.yellow-icon {
        font-size: 6vw;
        padding-left: 8vw;
        background-size: 12%;
    }
    h2.headline.medium {
        font-size: 5.5vw;
    }
    .tiles .tile#peter-food {
        width: 68%;
    }
    .tiles .tile#peter-food p {
        margin: 1vw 0;
        font-size: 2vw;
    }
    .tiles .tile#peter-food .unlink-video.with-icon {
        right: 4vw;
        left: auto;
    }
    .tiles .tile#going-foot h2 small {
        width: 20vw;
    }
    .tiles .tile#going-foot .link-button {
        left: auto;
        top: auto;
        bottom: 2vw;
        right: 4vw;
    }
    .tiles .tile#spanish-tile4 {
        display: none;
    }
    .tiles .tile#demo-tile2 img.demo-img {
        width: 32vw;
        left: 50%;
        margin-left: -52%;
        top: -4%!important;
    }
    .tiles .tile#about-cuba .tile-content .inner-wrapper {
        margin: 9vw 3vw 6vw;
        width: auto;
    }
    .tiles .tile#peter-sailing .unlink-video.with-icon {
        right: 8vw;
    }
    .tiles .tile#peter-sailing .tile-content {
        background-position-x: -100px;
    }
    .tiles .tile#coaching-session .unlink-video.with-icon {
        right: 4vw;
        left: auto;
    }
    .tiles .tile#demo-tile1 img.demo-img {
        top: 0%;
        width: 25vw;
        left: 7.5vw;
    }

    .tiles .tile#peter-packingtips h2 {
        font-size: 7vw;
    }
    #peter-packingtips h2 small {
        top: 2.8vw;
        left: 24vw;
    }

    .tiles #big-cuba.tile.blue-tile h3 {
        font-size: 6.5vw;
        margin: 10vw 0 0 3vw;
    }
    .tiles .tile#little-havana .unlink-video.with-icon {
        bottom: 2vw;
        right: 24vw;
    }
    .tiles .tile#little-havana p {
        font-size: 1em;
    }
    .tiles #demo-tile3.tile.demo-tile .tile-content img {
        margin-top: -34px;
        margin-left: -35px;
    }
    .tiles .tile#spanish-tile5 .tile-content img {
        height: 100%;
    }
    .tiles .tile#armando h2.headline {
        margin-top: 18vw;
    }
    .tiles .tile#armando p {
        font-size: 1em;
    }

    .tiles .tile#local-flavors h2.headline {
        margin: 14vw 0 0 4vw;
    }

    .tiles .tile#local-flavors .unlink-video.with-icon {
        bottom: 7.5vw;
        right: 2.5vw;
    }
    .tiles .tile#local-flavors p {
        margin-left: 4vw;
        line-height: 1em;
        font-size: 1.2em;
    }
    .tiles .tile#world-away .tile-content h3 {
        margin: 6vw 0 0 3vw;
        font-size: 6vw;
    }
    .tiles .tile#spanish-tile5 .tile-content {
         background: url(../img/tile_spanishtile6.jpg) repeat #000;
    }
    .tiles .tile#demo-tile4 .tile-content h4 {
        margin-top: 6vw;
    }
    .tiles .tile#hola-tohavana .tile-content h2 {
        margin: 13vw 0 0 28vw;
    }
    .tiles .tile#hola-tohavana .tile-content p {
        margin: 0 0 0 28vw;
        line-height: 1.1em;
    }
    .tiles .tile#hola-tohavana .unlink-video.with-icon {
        top: 2vw;
        bottom: auto;
    }

    .footer-container footer {
        padding: 0;
    }
    .footer-container .row .col-left,
    .footer-container .row .col-right {
        width: 100%;
        float: none;
    }
    .footer-container .row .col-right {
        margin: 0;
    }
    .tiles .tile#going-foot .inner-wrapper h2 {
        position: relative;
        margin: 4vw auto 1vw;
    }
    article#bottom {
        padding: 2vw;
    }
    article#bottom header h2 {
        width: 76%;
    }

    .featherlight .featherlight-content,
    .featherlight.blogpost .featherlight-content {
        margin-left: 6%;
        margin-right: 6%;
    }
    .tiles .tile#spanish-tile6 {
        display: none!important;
        height: 0;
        width: 0;
    }
    .tiles .tile#demo-tile4 {
        width: 30%!important;
    }
    .tiles .tile#off-path .unlink-video.with-icon {
        left: auto;
        bottom: 7vw;
        right: 3vw;
    }
    .tiles .tile#horizon .tile-content h3 {
        margin: 53px 0 0 3vw;
        font-size: 5.5vw;
    }
    .tiles .tile#demo-tile5 img.demo-img {
        width: 152%;
        margin-top: -8px;
    }
    .tiles .tile#havana-aerial .unlink-video.with-icon {
        bottom: 4vw;
        right: 32vw;
    }
    .tiles .tile#demo-tile6 img {
        height: auto;
        width: 100%;
    }
    .tiles .tile#demo-tile6 h4 {
        margin-top: 13px;
    }
    .tiles .tile#demo-tile5 .tile-content h4 {
        margin-top: 4vw;
        font-size: 2.7vw;
    }
    .tiles .tile#domino-player .tile-content {
        background-position: -74px 0;
    }
    .tiles .tile#drinking-buddy .tile-content {
        background-position: -81px 0;
    }
    .tiles .tile#departing .tile-content h3 {
        font-size: 2.5em;
        margin: 10vw 0 0 2vw;
    }
    .tiles .tile#spanish-tile9 .tile-content img {
        width: 100%;
        max-height: 100%;
        height: 100%;
    }
    .tiles .tile#casting-off .unlink-video.with-icon {
        right: 2vw;
        left: auto;
    }
    #bottom section#take-demo header h2 {
        font-size: 3vw;
        margin-bottom: 1.5vw;
    }
    #bottom section#take-demo {
        height: 238px;
        padding: 6vw 3% 42px 45%;
    }
    #bottom section#take-demo a.link-demo {
        padding: 2vw;
    }
    article#bottom header h2,
    article#bottom header h3 {
        font-size: 4vw;
    }
    article#bottom header h4 {
        font-size: 3vw;
    }
}