/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */
@font-face{ 
    font-family: 'cubano-regular-webfont';
    src: url('../font/cubano-regular-webfont.eot');
    src: url('.../font/cubano-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/cubano-regular-webfont.woff') format('woff'),
         url('../font/cubano-regular-webfont.ttf') format('truetype'),
         url('../font/cubano-regular-webfont.svg#cubano-regular-webfont') format('svg');
}
@font-face {
    font-family: 'gotham-htf-book';
    src: url('../font/gothamhtf-book-webfont.eot');
    src: url('../font/gothamhtf-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/gothamhtf-book-webfont.woff2') format('woff2'),
         url('../font/gothamhtf-book-webfont.woff') format('woff'),
         url('../font/gothamhtf-book-webfont.ttf') format('truetype'),
         url('../font/gothamhtf-book-webfont.svg#gotham-htf-book') format('svg');
    font-weight: normal;
    font-style: normal;

}
* {
    outline: none;
}
html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
a{
    color: #00A5E2;
    text-decoration: none;
}
audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}
.cb { margin: 0; padding: 0; border: 0; outline: none; line-height: 0; clear: both; height: 0;}
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
h1, h2, h3, h4, h5 { 
    font-family: 'cubano', 'cubano-regular-webfont', Arial;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
}
h2 {
    color: #fff;
    font-size: 50px;
    line-height: 1.25em;
    margin: 1em 0 .5em;
    font-weight: 600;
}
h2 em {
    color: #ffdc3d;
    font-style: normal;
    font-size: 2em;
    display: block;
    line-height: .65em;
    font-weight: 600;
}
h2.headline { font-size: 5em; line-height: 1em; position: relative; }
h2.allwhite { color: #FFF; }
h2.body-font, h3.body-font { font-family: gotham-htf-book, Arial, sans-serif; }
h2.with-icon {
    padding-left: 70px;
    background-size: 64px;
    background-repeat: no-repeat;
}
h2.video-icon{
    background-image: url(../img/icon_video_play.png);
}
h2.video-icon.yellow-icon{
    background-image: url(../img/icon_video_yellow.png);
}
h2.quote-icon{
    background-image: url(../img/icon_quote.png);
}
h2.info-icon{
    background-image: url(../img/icon_info.png);
}
h2.topline-small,
h3.topline-small {
    line-height: .8em;
}
h2.headline.medium { font-size: 3.5em; }
h2.headline.small { font-size: 3em; }
h2.headline span { display: block; position: relative!important; }
h2.topline-small small,
h3.topline-small small {
    display: block;
    line-height: .8em;
    font-size: .4em;
}
h2.topline-small span small {
    display: inline-block;
}
h2.no-margins, h3.no-margins { margin: 0; }
h3.headline {
    font-size: 4.5em;
    line-height: .85em;
    text-align: left;
}
h2.headline.smaller { font-size: 4em; }

h3.yellow {
    color: #ffd200;
}
h3.small-white small {
    display: block;
    font-size: .5em;
    line-height: .8em;
    color: #FFF;
}


article {
    padding: 0 5%;
    position: relative;
}
article p {
    font-style: normal;
    font-size: 1.1em;
    line-height: 1.4em;
    margin: .5em 0;
}
article p.reg-size {
    font-size: .8em;
    line-height: 1.3em;
}
/* Basic Columns */
.row {
    display: block;
    margin: 0 auto;
    clear: both;
}
.row .col {
    float: left;
    display: block;
}
.row .col.fluid {
    float: none;
    display: table-cell;
    vertical-align: top;
}

.row .col-50:last-child {
    margin-left: 4%;
}

.row .col-50 {
    width: 47%;
}
.row .col-right {
    margin-left: 4%;
}

body {
    font-size: 16px;
    line-height: 26px; 
    font-family: gotham-htf-book, Arial, sans-serif;
    background-color: #717070;
}
.base-font {
    font-family: gotham-htf-book, Arial, sans-serif;
    color: #363636;
}
.base-font small {
    font-size: .7em;
}
#dotnav { 
    position: fixed; 
    right: 20px; 
    top: 220px; 
    z-index: 50; 
}
#dotnav ul {
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#dotnav li {
    position: relative;
    display: block;
    margin: 16px 0;
    width: 16px;
    height: 16px;
    cursor: pointer;
}
#dotnav li a {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    outline: none;
    border-radius: 50%;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.3);
    text-indent: -999em;
    cursor: pointer;
    position: absolute;
    background-color: transparent;
    box-shadow: inset 0 0 0 2px #ecc200;
    -webkit-transition: box-shadow 0.3s ease;
    transition: box-shadow 0.3s ease;
}
#dotnav li a:hover, #dotnav li a:focus {
    box-shadow: inset 0 0 0 2px rgba(236, 194, 0, 0.6);
}
#dotnav li.current a {
    box-shadow: inset 0 0 0 8px white;
}
/* ===================
    ALL: RS Theme
   =================== */

.header-container {
    background: #fff;
    border-bottom: 1px solid #c6c3bc;
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    display: none;
}
.header-container .row .col.first {
    float: left;
}
.header-container .row .col.second {
    float: right;
    padding-top: 10px;
}
.header-container h2 {
    font-size: 22px;
    display: inline-block;
    font-family: gotham-htf-book, Arial;
    color: #202020;
    margin: 20px 0;
}
.header-container a.link-demo {
    font-size: 14px;
    display: inline-block;
    font-family: gotham-htf-book, Arial;
    color: #fff;
    background: #0098db;
    border-radius: 4px;
    padding: 14px 20px;
    font-weight: bold;
    text-align: center;
    margin: 20px 0 0 26px;
}
.header-container a.link-demo:hover {
    background: #008ac7;
}
.header-container .row {
    margin: 0 5%;
}

.title {
    display: inline-block;
    width: 126px;
}

.title img {
    width: 100%;
}
.block {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color:#3cc0c6;
    z-index: 50;
}
#top section {
    width: 34%;
    color: #fff;
}
#top header h2 {
    font-size: 4em;
    margin-top: 20px;
}
.lb-caption {
    background: rgba(255,255,255,.7);
    color: #000;
    padding: 12px 30px;
    position: absolute;
    bottom: 20px;
    width: auto;
    left: 0;
}
.link-video.with-icon,
.unlink-video.with-icon {
    display: block;
    height: 100px;
    width: 100px;
}
.link-video.with-icon img,
.unlink-video.with-icon img {
    width: 100%;
}
.tiles .tile .link-video.with-icon,
.tiles .tile .unlink-video.with-icon {
    position: absolute;
    bottom: 74px;
    right: 68px;
    z-index: 30;
}
.video-tile.link-video, .photo-tile { cursor: pointer; }
.video-player { 
    height: 280px;
    width: 448px;
    margin: 5px 0 0;
    position: absolute;
    z-index: 5;
}
.video-player video { 
    height: 252px;
    width: 448px;
    background: #000;
    position: absolute;
    top: 0; left: 0;
}
.video-player img {
    width: 100%;
}
.video-player .video-length {
    position: absolute;
    bottom: 0;
    right: 0;
    display: block;
    font-weight: 800;
}

.featherlight .youtube-embed {
    width: 853px;
    height: 480px;
}
.featherlight .featherlight-content {
    padding: 0;
    border-bottom: none;
    background: none;
}
.featherlight .featherlight-content .lightbox-content {
    background-color: #fff;
    padding: 20px 50px;
}

.footer-container { background-color: #fff;  }
footer #ident { 
    width: 108px;
    margin: 10px auto;
}
footer #ident img { 
    width: 100%;
}
/* ==============
    MOBILE: Menu
   ============== */

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav a {
    display: block;
    margin-bottom: 10px;
    padding: 15px 0;

    text-align: center;
    text-decoration: none;
    font-weight: bold;

    color: white;
    background: #e44d26;
}

nav a:hover,
nav a:visited {
    color: white;
}

nav a:hover {
    text-decoration: underline;
}

/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 0;
}

.main article h1 {
    font-size: 2em;
}

.footer-container footer {
    color: white;
    padding: 20px 0;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */



/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

/* Articles */
#top header,
#top section {
    z-index: 20;
    position: inherit;
}
#top {
    height: 797px;
    overflow: hidden;
    position: relative;
}
#street-scene {
    background: url(../img/bg_main_street.jpg) no-repeat;
    background-size: 100%;
    z-index: 0;
    position: absolute;
    height: 797px;
    top: 0;
    left: 0;
    width: 100%;
}
#feature-girls {
    position: absolute;
    bottom: -24px;
    left: 34%;
    width: 685px;
}
#feature-girls img {
    width: 100%;
}

#the-wall {
    bottom: -65px;
    position: absolute;
    z-index: 10;
    width: 316px;
    left: -5px;
}
#look-down {
    position: absolute;
    display: block;
    width: 37px;
    height: 37px;
    bottom: 12px;
    left: 50%;
    margin-left: -18px;
}
#look-down img {
    width: 100%;
}
a.link-demo {
    background-color: #b29306;
    font-style: normal;
    text-transform: uppercase;
    display: inline-block;
    line-height: 1em;
    text-align: center;
    padding: 20px 28px;
    color: #fff;
    font-size: 1.5em;
    text-decoration: none;
    font-weight: bold;
    margin-top: 28px;
}
#top .link-demo:hover {
    background-color: #9d8205;
}
/* Why Cube - Why Now Article */
#cuba-peter {
    background: url(../img/bg_cracked_paint.jpg) no-repeat;
    background-size: 100%;
    overflow: hidden;
}
#cuba-peter .row {
    width: 96%;
    margin: 0 auto;
}
#cuba-peter .row .col.second {
    width: 62%;
    margin-left: 3%;
}
#cuba-peter .row .col.first {
    width: 34%;
}
#cuba-peter .row .col.first h1 {
    color: #fff;
    font-size: 54px;
    line-height: 50px;
    margin: 0.4em 2%;
    font-weight: 400;
    float: right;
    display: block;
}
#cuba-peter h1 em {
    font-style: normal;
    color: #ffdc3d;
    display: block;
}
#cuba-peter p {
    color: #FFF;
    font-size: 1em;
    margin: 12px 0 10px;
    line-height: 1.5em;
}
/* Meet Peter Article */
#meet-peter {
    background: url(../img/bg_peter.jpg) no-repeat #D0B597;
    background-size: 100%;
    overflow: hidden;
    height: 597px;
}
#meet-peter header,
#meet-peter section {
    margin-left: 568px;
    width: 500px
}
#meet-peter section p {
    line-height: 1.3em;
}
#meet-peter header h2 { margin-top: .5em;}
section#peters-headshot{
    position: absolute;
    left: -54px;
    bottom: 0px;
    width: 798px;
    margin: 0;
    z-index: 10;
}
#meet-peter .video-player .link-video {
    width: inherit;
    height: inherit;
}
section#peters-headshot img{
    width: 100%;
}
section#lake-effect {
    position: absolute;
    top: 0;
    left: -500px;
    z-index: 1;
}
/* Where Peter Will Go Article */
#donde {
    height: 886px;
    background: url(../img/bg_blue_pattern.png);
    overflow: hidden;
}
#donde header {
    position: absolute;
    z-index: 40;
    top: 182px;
    left: 266px;
    width: 413px;
}
#donde header h2 {
    margin: 0;
    font-size: 42px;
}
#donde header p {
    color: #FFF;
    text-transform: uppercase;
    text-align: justify;
}
img#rs-stamp {
    position: absolute;
    z-index: 10;
    left: -90px;
    bottom: -36px;
    width: 30%;
}
#us-map,
#us-map object#us-map-img { width: 100%; display: block; /* width: 1389px; */ }
#us-map {
    position: relative;
    top: -132px;
    z-index: 20;
    margin: 0 auto;
    padding: 0;
}

#us-map #us-map-img {
    position: relative;
    filter: drop-shadow( 0 0 12px rgba(0,0,0,0.55) );
    -webkit-filter: drop-shadow( 0 0 12px rgba(0,0,0,0.55) );
    -moz-filter: drop-shadow( 0 0 12px rgba(0,0,0,0.55) ); 
    width: 92%;
    margin: 0 auto;
}
#us-map object#us-map-img svg {
    position: absolute;

    width: 100%;
    height: 100%;
}
#us-map img.mapsticker { cursor: pointer; }
#us-map img#sticker-foodtruck {
    position: absolute;
    z-index: 40;
    left: 32px;
    top: 381px;
    width: 143px;
}
#us-map img#sticker-pineapple {
    position: absolute;
    z-index: 40;
    left: 67px;
    top: 451px;
    width: 92px;
}
#us-map img#sticker-plane {
    position: absolute;
    z-index: 40;
    left: 576px;
    top: 475px;
    width: 214px;
}
#social-tiles {
    min-height: 300px;
    background: url(../img/bg_cuba.jpg) no-repeat #fffef7;
    background-size: 100%;
    padding: 0;
    margin: 0;
}
.tiles {
    margin: 0 auto;
    border-top: 8px solid #ffd200;
    background: #fffef7;
    padding: 0;
    max-width: 1280px;
}
.tiles .tile {
    position: relative;
    float: left;
    overflow: hidden;
    display: table-cell;
}
.tiles .tile p {
    color: #FFF;
}
/* Part of the Tile Reveal Animation */
.tiles .tile .tile-content {
    visibility: hidden;
    height: 100%;
    width: 100%;
}
.tiles .tile.open .tile-content {
    visibility: visible;
    overflow: hidden;
}
.tiles .tile.loading .inner-shade {
    position: absolute;
    background: blue;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 55;
}

.tiles .tile.blue-tile .tile-content {
    background-color: #0098db;
    height: 308px;
    width: 394px;
}
.tiles .tile span {
    position: absolute;
    z-index: 20;
}
.tiles .tile .inner-wrapper {
    width: 72%;
    margin: 0 auto;
    position: relative;
    display: block;
}

/* =====[REMOVED]=====
.tile .icon-tags {
    top: 12px;
    left: 10px;
    display: block;
}
.tile .icon-tags img {
    width: 20px;
}
.tile .icon-tags img,
.tile .icon-tags small{
    float: left;
    margin-left: 8px;
}
.tile .icon-tags small{
    color: #FFF;
    margin-top: -4px;
    font-size: 1em;
}
*/
.tiles .tile.blue-tile .rs-stamp {
    opacity: .50;
    position: absolute;
    top: -60px;
    left: -11px;
    width: 106%;
    z-index: 10;
}
.tiles .tile.video-tile .tile-content {
    background: #000;
}
.tiles .tile .link-button {
    display: inline-block;
    padding: 15px 42px;
    color: #FFF;
    text-decoration: none;
    font-family: 'cubano', 'cubano-regular-webfont', Arial;
    font-weight: 800;
    font-size: 1.6em;
    z-index: 30;
}
.tiles .tile .tile-content {
    background-size: 100%;
}

/* Shaders */
.tiles .tile#local-flavors .inner-shade,
.tiles .tile#boat-wake .inner-shade,
.tiles .tile#deck-shoes .inner-shade,
.tiles .tile#about-cuba .inner-shade,
.tiles .tile#with-host .inner-shade {
    background-color: #550d46; /* Purple */
}

.tiles .video-tilec .inner-shade,
.tiles .tile#tile-demo2 .inner-shade,
.tiles .tile#ox-plow .inner-shade.
.tiles .tile#casting-off .inner-shade  {
    background-color: #0098db;
}
.tiles .tile#practice-perfect .inner-shade,
.tiles .tile#journey-begins .inner-shade,
.tiles .tile#peter-practices .inner-shade,
.tiles .tile#family-travel-tips .inner-shade,
.tiles .tile#cuba-taxi .inner-shade,
.tiles .tile#world-away .inner-shade,
.tiles .tile#roll-cigar .inner-shade,
.tiles .tile#cuban-food .inner-shade {
    background-color: #ffd200; /* Yellow */
}
.tiles .tile#going-foot .inner-shade,
.tiles .tile#keywest-90mi .inner-shade,
.tiles .tile#peter-onaboat .inner-shade,
.tiles .tile#demo-tile3 .inner-shade,
.tiles .tile#demo-tile1 .inner-shade,
.tiles .tile#rocking-chairs .inner-shade,
.tiles .tile#spanish-tile9 .inner-shade  {
    background-color: #a63a3f; /* Red */
}
.tiles .tile#peter-food .inner-shade,
.tiles .tile#little-havana .inner-shade,
.tiles .tile#balcony-view .inner-shade,
.tiles .tile#havana-aerial .inner-shade,
.tiles .tile#leaving .inner-shade {
    background-color: #f47e00; /* Orange */
}

.tiles .tile#peter-family .inner-shade,
.tiles .tile#hola-tohavana .inner-shade,
.tiles .tile#mojito .inner-shade,
.tiles .tile#street-doorway .inner-shade,
.tiles .tile#horizon .inner-shade,
.tiles .tile#demo-tile5 .inner-shade {
    background-color: #0bbc7c; /* Green */
}
.tiles .tile#coaching-session .inner-shade,
.tiles .tile#peter-embassy .inner-shade,
.tiles .tile#big-cuba .inner-shade,
.tiles .tile#peter-learning .inner-shade,
.tiles .tile#club-musician .inner-shade,
.tiles .tile#drinking-buddy .inner-shade,
.tiles .tile#off-path .inner-shade {
    background-color: #4FC6CC; /* Light Blue */
}

.tiles .tile#peter-packingtips .inner-shade,
.tiles .tile#bow-boat .inner-shade,
.tiles .tile#red-car .inner-shade,
.tiles .tile#street-carts .inner-shade {
    background-color: #c339a8; /* Fuschia */
}

.tiles .tile#calle-rooster .inner-shade,
.tiles .tile#spanish-tile6 .inner-shade,
.tiles .tile#spanish-tile5 .inner-shade,
.tiles .tile#mosaic-art .inner-shade,
.tiles .tile#departing .inner-shade {
    background-color: #21476D; /* Steel Blue */
}
.tiles .tile#armando .inner-shade {
    background-color: #FF768C; /* Pink */
}
.tiles .tile#domino-player .inner-shade,
.tiles .tile#demo-tile5 .inner-shade {
    background-color: #008FCE; /* Blue */
}
/* Tile Customizations */
.tiles .tile#journey-begins .tile-content {
    height: 308px;
    width: 394px;
}


.tiles .tile#journey-begins span {
    top: 72px;
    left: 47px;
}    
.tiles .video-tile#peter-begins .tile-content {
    background:url(../img/poster_peter_begins.jpg) no-repeat #000;
    background-size: 100%;
    width: 623px;
    height: 308px;
}
.tiles .video-tile#peter-begins .tile-content h2 {
    position: absolute;
    bottom: 18px;
    left: 64px;
}
.tiles .tile#peter-begins .unlink-video.with-icon {
    position: absolute;
    bottom: 24px;
    right: 20px;
}


.tiles .tile.demo-tile .tile-content { 
 background-color: #FCD825; width: 263px; text-align: center; height: 308px; }


.tiles .tile.demo-tile .tile-content h4,
 .tiles .tile.demo-tile2 .tile-content h4 {
    color: #3e3e3b;
    text-transform: uppercase;
    position: absolute;
    z-index: 1;
    font-size: 1.1em;
    display: block;
    width: 100%;
    text-align: center;
    top: 60%;
    margin: 0;
    font-family: gotham-htf-book, Arial, sans-serif;
    font-weight: 800;
}
.tiles .tile#demo-tile2 .tile-content h4 {
    top: 66%;
}

.tiles .tile#demo-tile1 img.demo-spacer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
.tiles .tile#demo-tile1 img.demo-img,
.tiles .tile#demo-tile2 img.demo-img {
    width: 86%;
    position: absolute;
    left: 50%;
    margin-left: -44%;
    top: 4%;
    z-index: 2;
} 
.tiles .tile#demo-tile2 img {
    top: 12%!important;
}
.tiles .tile#peter-learning .tile-content {
    background: url(../img/poster_peter_learning.jpg) no-repeat #000;
    background-size: 100%;
    width: 455px;
    height: 330px;
}

.tiles .tile#about-cuba .tile-content {
    background: url('../img/tile_about_cuba.jpg') no-repeat #cc4ab2;
    height: 330px;
    width: 825px;
}
.tiles .tile#about-cuba .tile-content .inner-wrapper {
    margin: 65px 55px 0;
}
.tiles .tile#about-cuba .tile-content .inner-wrapper p {
    margin: 0 0 0 72px;
    color: #FFF;
}
.tiles .tile#about-cuba .link-button {
    color: #ffe56e; 
    background: #6d115a;
    margin: 24px 0 0 70px;
}
.tiles .tile#about-cuba .link-button:hover {
    background: #550d46;
}

.tiles .tile#practice-perfect .tile-content h3 {
    margin: 79px 0 0 56px;
    display: inline-block;
}

.tiles .tile#peter-practices .tile-content {
    background: url('../img/poster_peter_practice.jpg') no-repeat #232323;
    height: 308px;
    width: 886px;
    background-size: 100%;
}
.tiles .tile#peter-practices .tile-content p { color: #FFF; margin: 0; }
.tiles .tile#peter-practices .inner-wrapper { 
   bottom: 24px;
    position: absolute;
    left: 36px;
}
.tiles .tile#peter-practices .unlink-video.with-icon {
    right: auto;
    left: 384px;
    bottom: 47px;
}
.tiles .tile#peter-practices h2{
    margin-bottom: 5px;  
}

.tiles .tile#peter-food .tile-content {
    background: url(../img/poster_ordering_food.jpg) no-repeat #000;
    height: 308px;
    width: 893px;
    background-size: 100%;
}
.tiles .tile#peter-food .inner-wrapper{
    bottom: 20px;
    position: absolute;
    left: 30px;
}
.tiles .tile#peter-food h2 {
    margin-bottom: 5px;
}
.tiles .tile#peter-food p {
    color: #FFF;
    margin: 0;
    font-size: 1.2em;
}
.tiles .tile#peter-food .unlink-video.with-icon {
    right: auto;
    left: 467px;
    bottom: 41px;
}
.tiles .tile#going-foot p {
    color: #FFF;
}
.tiles .tile#family-travel-tips p {
    color: #FFF;
    padding: 0 0 0 72px;
    margin: 0;
    line-height: 1.3em;
}
/* Going to the Foot */
.tiles .tile#going-foot .tile-content {
    background: url('../img/bg_going_foot.jpg') no-repeat #3cc0c6;
    background-size: 100%;
    height: 308px;
    width: 893px;
}
.tiles .tile#going-foot .inner-wrapper {
    margin: 0 26px;
}
.tiles .tile#going-foot .inner-wrapper h2{
    position: relative;
    margin: 44px auto 22px;
}
.tiles .tile#going-foot h2 small {
    position: absolute;
    left: 215px;
    top: 2px;
    width: 160px;
    line-height: 1em;
}
.tiles .tile#going-foot p {
    color: #fff;
    width: 400px;
    padding-left: 70px;
}
.tiles .tile#going-foot .link-button {
    color: #ffe56e;
    background-color: #1f8c91;
    position: absolute;
    left: 545px;
    top: 186px;
    z-index: 20;
}
.tiles .tile#going-foot .link-button:hover {
    background-color: #1b767a;
}

/* Family Travel Tips */
.tiles .tile#family-travel-tips .inner-wrapper h2 {
    margin: 23px auto 12px;
}
.tiles .tile#family-travel-tips .tile-content {
    background: #a63a3f;
    height: 308px;
    width: 387px;
}
.tiles .tile#family-travel-tips .link-button {
    color: #5cf6ff;
    background-color: #7f2125;
    margin-left: 60px;
    margin-top: 17px;
    padding: 14px 24px;
    font-size: 1.3em;
}
.tiles .tile#family-travel-tips .link-button:hover {
    background-color: #6a191d;
}

/* Deck Shoes */
.tiles .tile#deck-shoes .tile-content {
    background: url(../img/tile_deck_shoes.jpg) no-repeat #000;
    background-size: 100%;
    height: 288px;
    width: 387px;
}
/* Land Lubbers */
.tiles .tile#peter-sailing .tile-content {
    background: url(../img/poster_sailing.jpg) no-repeat #000;
    background-size: 100%;
    height: 288px;
    width: 893px;
}
/* Coaching Session  */
.tiles .tile#coaching-session .tile-content {
    background: url(../img/poster_coaching_session.jpg) no-repeat #000;
    background-size: 100%;
    height: 288px;
    width: 893px;
}
.tiles .tile#coaching-session .inner-wrapper,
.tiles .tile#peter-sailing .inner-wrapper {
    display: inline-block;
    position: absolute;
    bottom: 2px;
    left: 20px;
}
.tiles .tile#peter-sailing .unlink-video.with-icon  {
    bottom: 25px;
    right: auto;
    left: 535px;
}
.tiles .tile#coaching-session .unlink-video.with-icon {
    bottom: 13px;
    right: auto;
    left: 404px;
}

/* On a Boat with Frieds  */
.tiles .tile#peter-onaboat .tile-content {
    background: url(../img/poster_onaboat.jpg) no-repeat #000;
    background-size: 100%;
    height: 288px;
    width: 387px;
}

.tiles .tile#tile-demo2 .tile-content {
    width: 235px;
    height: 252px;
    text-align: center;
    background: #ffd200;
    padding-top: 16px;
}

.tiles .tile#peter-family .tile-content {
    background: url(../img/poster_peter_family.jpg) no-repeat #000;
    background-size: 100%;
    height: 307px;
    width: 412px;
}
.tiles .tile#peter-packingtips .tile-content {
    background: url(../img/bg_tips_packing.jpg) no-repeat #0bbc7c;
    background-size: 100%;
    height: 307px;
    width: 868px;
}
.tiles .tile#peter-packingtips .inner-wrapper {
    width: 90%;
}
.tiles .tile#peter-packingtips p {
    padding-left: 60px;
}
.tiles .tile#peter-packingtips a.link-button {
    margin: 10px 0 0 60px;
}
#peter-packingtips h2 {
    margin: 48px 0 0 -13px;
    font-size: 4.5em;
}
#peter-packingtips h2 small {
    position: absolute;
    display: inline-block;
    top: 33px;
    left: 219px;
}
.tiles .tile#peter-packingtips .link-button {
    background-color: #c339a8;  
}

.tiles .tile#little-havana .tile-content {
    background: url(../img/poster_little_havana.jpg) no-repeat #000;
    background-size: 100%;
    height: 308px;
    width: 868px;
}
.tiles .tile#little-havana .inner-wrapper {
    width: 87%;
    padding-top: 134px;
}
.tiles .tile#little-havana .unlink-video.with-icon {
    bottom: 34px;
    right: 332px;
}
.tiles .tile#little-havana p {
   line-height: 1em;
}
.tiles #big-cuba.tile.blue-tile .tile-content {
    background-color: #0098db;
    height: 308px;
    width: 412px;
}

.tiles .tile#big-cuba h3.headline {
   margin: 68px 0 0 42px;
}
.tiles .tile#demo-tile3 .tile-content {
    width: 289px;
    height: 308px
}
.tiles .tile#demo-tile3 .tile-content h4 {
    top: 77%;
}

.tiles .tile#spanish-tile5 .tile-content {
    width: 123px;
    height: 308px;
}

.tiles .tile#spanish-tile5 .tile-content img {
    width: 100%;
    max-height: 308px;
}
.tiles .tile#calle-rooster .tile-content {
    background: url(../img/poster_rooster.jpg) no-repeat #000;
    background-size: 100%;
    height: 308px;
    width: 290px;
}

.tiles .tile#armando .tile-content {
    background: url(../img/poster_armando.jpg) no-repeat #000;
    background-size: 100%;
    height: 308px;
    width: 578px;
}

.tiles .tile#armando h2.headline {
    margin: 166px 0 0 30px;
    font-size: 4.2em;
}
.tiles .tile#armando p {
    margin-left: 29px;
    line-height: 1.2em;
    margin-top: .2em;
}
.tiles .tile#armando p span {
    display: block;
    position: relative;
}
.tiles .tile#armando p span:nth-child(2) {
   margin-left: 10px;
}
.tiles .tile#armando .unlink-video.with-icon {
    bottom: 50px;
    right: 135px;
}

.tiles .tile#local-flavors .tile-content {
    background: url(../img/poster_cubano.jpg) no-repeat #000;
    background-size: 100%;
    height: 306px;
    width: 578px;
}

.tiles .tile#local-flavors h2.headline {
    margin: 128px 0 0 38px;
}
.tiles .tile#local-flavors p {
    margin-left: 40px;
}    
.tiles .tile#domino-player .tile-content {
    background: url(../img/poster_domino_player.jpg) no-repeat #000;
    background-size: 100%;
    height: 306px;
    width: 411px;
}
.tiles .tile#mojito .tile-content {
    background: url(../img/poster_mojito.jpg) no-repeat #000;
    background-size: 100%;
    height: 306px;
    width: 291px;
}

/* twelvth */
.tiles .tile#keywest-90mi .tile-content {
    background: url(../img/poster_keywest.jpg) no-repeat #000;
    background-size: 100%;
    height: 306px;
    width: 454px;
}
.tiles .tile#demo-tile4 .tile-content {
    width: 292px;
    height: 306px;
}
.tiles .tile#demo-tile4 .tile-content h4 {
    margin-top: 50px;
}
.tiles .tile#spanish-tile6 .tile-content {
    width: 123px;
    height: 305px;
}

.tiles .tile#spanish-tile6 .tile-content img {
    width: 100%;
    max-height: 305px;
}
/* thirteenth */
.tiles .tile#world-away .tile-content {
    width: 411px;
    height: 306px;
}
.tiles .tile#world-away .tile-content h3 {
    margin: 75px 0 0 44px;
}
.tiles .tile#boat-wake .tile-content {
    background: url(../img/poster_boatwake.jpg) no-repeat #000;
    background-size: 100%;
    height: 306px;
    width: 411px;
}

.tiles .tile#hola-tohavana .tile-content {
    background: url(../img/poster_holatohavana.jpg) no-repeat #000;
    background-size: 100%;
    height: 306px;
    width: 869px;
}
.tiles .tile#hola-tohavana .tile-content h2 {
    margin: 134px 0 0 240px;
    font-size: 4.5em;
}
.tiles .tile#hola-tohavana .tile-content p {
    margin-left: 242px;
}
.tiles .tile#hola-tohavana .unlink-video.with-icon {
    bottom: 23px;
    right: 54px;
}
/* fourteenth */
.tiles .tile#bow-boat .tile-content {
    background: url(../img/poster_onbow.jpg) no-repeat #000;
    background-size: 100%;
    height: 305px;
    width: 411px;
}
.tiles .tile#peter-embassy .tile-content {
    background: url(../img/poster_embassy.jpg) no-repeat #000;
    background-size: 100%;
    height: 305px;
    width: 574px;
}
.tiles .tile#cuba-taxi .tile-content {
    background: url(../img/poster_cubataxi.jpg) no-repeat #000;
    background-size: 100%;
    height: 305px;
    width: 295px;
}
/* Fifteenth */
.tiles .tile#horizon .tile-content h3 {
    margin: 35px 0 0 44px;
}
.tiles .tile#horizon .tile-content {
    width: 412px;
}

.tiles .tile#havana-aerial .tile-content {
    background: url(../img/poster_aerial_havana.jpg) no-repeat #000;
    background-size: 100%;
    height: 308px;
    width: 868px;
}
.tiles .tile#havana-aerial .tile-content h2 {
    margin-top: 145px;
}

.tiles .tile#havana-aerial .inner-wrapper {
    width: 86%;
}
.tiles .tile#havana-aerial .unlink-video.with-icon {
    left: 400px;
    bottom: 16px;
}

/* Sixteenth */
.tiles .tile#demo-tile5 .tile-content {
    width: 288px;
    height: 305px;
}
.tiles .tile#demo-tile5 .tile-content h4 {
    margin-top: 50px;
}
.tiles .tile#red-car .tile-content {
    background: url(../img/poster_red_car.jpg) no-repeat #000;
    background-size: 100%;
    height: 305px;
    width: 286px;
}
.tiles .tile#street-doorway .tile-content {
    background: url(../img/poster_street_doorway.jpg) no-repeat #000;
    background-size: 100%;
    height: 305px;
    width: 583px;
}
/* Seventeenth */
.tiles .tile#cuban-food .tile-content {
    background: url(../img/poster_cuba_food.jpg) no-repeat #000;
    background-size: 100%;
    height: 305px;
    width: 411px;
}
.tiles .tile#drinking-buddy .tile-content {
    background: url(../img/poster_peter_drinking_buddy.jpg) no-repeat #000;
    background-size: 100%;
    height: 305px;
    width: 573px;
}
.tiles .tile#club-musician .tile-content {
    background: url(../img/poster_club_musician.jpg) no-repeat #000;
    background-size: 100%;
    height: 305px;
    width: 296px;
}

/* Eighteenth */
.tiles .tile#balcony-view .tile-content {
    background: url(../img/poster_balcony_view.jpg) no-repeat #000;
    background-size: 100%;
    height: 300px;
    width: 566px;
}
.tiles .tile#with-host .tile-content {
    background: url(../img/poster_peter_withhost.jpg) no-repeat #000;
    background-size: 100%;
    height: 300px;
    width: 304px;
}
.tiles .tile#mosaic-art .tile-content {
    background: url(../img/poster_art_mosaic.jpg) no-repeat #000;
    background-size: 100%;
    height: 300px;
    width: 410px;
}
/* Nineteenth */
.tiles .tile#off-path .tile-content {
    background: url(../img/poster_cuban_countryside.jpg) no-repeat #000;
    background-size: 100%;
    height: 305px;
    width: 868px;
}
.tiles .tile#off-path .tile-content h2 {
    margin-top: 145px;
}

.tiles .tile#off-path .inner-wrapper {
    width: 86%;
}
.tiles .tile#off-path .unlink-video.with-icon {
    left: 584px;
    bottom: 51px;
}
.tiles .tile#rocking-chairs .tile-content {
    background: url(../img/poster_rocking_chairs.jpg) no-repeat #000;
    background-size: 100%;
    height: 305px;
    width: 412px;
}

/* Twentieth */
.tiles .tile#roll-cigar .tile-content {
    background: url(../img/poster_cigar_tobacco.jpg) no-repeat #000;
    background-size: 100%;
    height: 305px;
    width: 289px;
}
.tiles .tile#ox-plow .tile-content {
    background: url(../img/poster_plowing_field.jpg) no-repeat #000;
    background-size: 100%;
    height: 305px;
    width: 580px;
}
.tiles .tile#demo-tile6 .tile-content {
    height: 305px;
}

#spanish-tile7 .tile-content {
    width: 148px;
    height: 305px;
}
#spanish-tile7 .tile-content img {
    width: 100%;
    height: auto;
}
.tiles .tile#demo-tile6 img { margin-left : -10px; }
.tiles .tile#demo-tile6 h4 { margin-top : 50px; }
/* twenty-first */
.tiles .tile#departing .tile-content {
    width: 411px;
    height: 306px;
}
.tiles .tile#departing .tile-content h3 {
    margin: 78px 0 0 28px;
}
.tiles .tile#street-carts .tile-content {
    background: url(../img/poster_race_cart.jpg) no-repeat #000;
    background-size: 100%;
    height: 306px;
    width: 606px;
}
.tiles .tile#demo-tile5 .tile-content {
    width: 288px;
    height: 305px;
}
.tiles .tile#demo-tile5 .tile-content h4 {
    margin-top: 50px;
}
/* twenty-second */

.tiles .tile#leaving .tile-content {
    background: url(../img/poster_peter_leaving.jpg) no-repeat #000;
    width: 263px;
    height: 306px;
    background-size: cover!important;
}
.tiles .tile#spanish-tile9 .tile-content {
    width: 123px;
    height: 305px;
}

.tiles .tile#spanish-tile9 .tile-content img {
    width: 100%;
    max-height: 305px;
}
.tiles .tile#casting-off .tile-content {
    background: url(../img/poster_hugs.jpg) no-repeat #000;
    background-size: 100%;
    width: 869px;
    height: 305px;
}
.tiles .tile#casting-off .inner-wrapper {
    width: 91%;
    margin-top: 164px;
}
.tiles .tile#casting-off .inner-wrapper h2 {
    font-size: 4em;
}
.tiles .tile#casting-off .unlink-video.with-icon {
    right: auto;
    left: 50%;
    bottom: 43px;
}
#bottom section#take-demo {
    background: url('../img/post_ipad_learner.jpg') no-repeat;
    background-size: 100%;
    clear: both;
    height: 271px;
    padding: 162px 20% 50px 50%;
}

#bottom section#take-demo .link-demo {
    background-color: #0098db;
    border-radius: 3px;
    margin-top: 0;
}
#bottom section#take-demo article {
    padding: 0;
}
#bottom section#take-demo header h2 {
    font-family: gotham-htf-book, Arial, sans-serif;
    color: #FFF;
    font-size: 2.2em;
    font-weight: 400;
    text-align: left;
    line-height: 1.1em;
    width: auto;
    margin-bottom: 30px;
}
#bottom section#take-demo header h2 strong {
    font-weight: 800;
}
/***********/
/* Footer */
/*********/
footer .outer-wrapper.contest-over {
    margin: -21px 0 38px;
    padding: 4px 0;
}
footer .outer-wrapper.contest-over .row .col {
    float: none;
}
.footer-container .contest-over h2 strong {
    color: #FFF;
    font-size: 24px;
    font-family: Arial, sans-serif;
}
.footer-container .contest-over h2 {
    margin: 0;
    text-align: center;
    font-size: 26px;
    line-height: 1em;
    padding: 12px 0;
} 
.footer-container .contest-over h2 a {
    margin: 0;
    font-size: 1em;
    color: #363636;
    text-align: center;
    background: url(../img/icon_go.png) no-repeat right center;
    padding-right: 2%;
    background-size: 5%;
}
.footer-container .contest-over h2 a:hover {
    color: #000;
    padding-right: 2.5%;
}
.info-box { 
    background: #FFF;
    color: #363636;
    padding: 18px;
    margin: 0 0 24px;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.26);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.26);
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.26);
}
.info-box h4,
.info-box h5 { 
    margin: 0;
    line-height: 1em;
}
.info-box.first h4{
    color: #ecc200;
}
.info-box h4{
    color: #373737;
    font-size: 1.5em;
}
.info-box h5{
    color: #969696;
    font-size: 1.8em;
}
.info-box h4 small {
    font-size: .6em;
}
.info-box#pre-enter {
    min-height: 444px;
}
.info-box#pre-enter iframe {
    width: 100%!important;
    height: 100%;
}
footer .outer-wrapper {
    background: #ffcc00;
    border-bottom: 2px solid #ecc200;
    margin-bottom: 38px;
    padding: 20px 0;
}
footer .wrapper{ 
    width: 90%;
    margin: 0 auto;   
}
footer #wrapper-bottom {
    text-align: center;
    color: #363636;
    font-size: .8em;
}

footer #wrapper-bottom a.rslogo {
    display: block;
    width: 125px;
    margin: 12px auto;
}
footer #wrapper-bottom a.rslogo img {
    width: 100%;
}
footer h3 {
    text-transform: uppercase;
    font-size: 2em;
    display: block;
    width: 75%;
    font-weight: 800;
    line-height: 1em;
    margin: 26px 0 38px;
}
footer .info-box p {
    margin: 3px 0;
    font-weight: 800;
    line-height: 1em;
}
footer .info-box ul {
    margin: 18px;
    padding: 0;
}
footer .info-box li {
    font-weight: 800;
    line-height: 1.2em;
}
article#bottom {
    background-color: #fffef7;
    overflow: hidden;
    padding-bottom: 8px;
    padding: 26px 0 0;
}
article#bottom header h2,
article#bottom header h3,
article#bottom header h4 {
    text-align: center;
    color: #363636;
    display: block;
}
article#bottom header h2 {
    font-size: 2.8em;
    width: 745px;
    margin: 10px auto 0;
    line-height: 1em;
}
article#bottom header h3{
    font-size: 2.8em;
    color: #ecc200;
    margin: .8em auto;
    width: 745px;
}
article#bottom header h4{
    font-size: 2em;
    margin: 0 0 .8em 0;
}
article#bottom #social-follow .inner-wrapper {
    margin: 0 auto;
    width: 300px;
    text-align: center;
}
article#bottom #social-follow .inner-wrapper a {
    display: block;
    width: 68px;
    float: left;
    margin: 14px;
}
article#bottom #social-follow .inner-wrapper a:hover {
    opacity: .8;
}
article#bottom #social-follow .inner-wrapper a > img {
    width: 100%;
}


#pre-enter iframe {
    width: 90%
    margin: 0 auto;
}
.raflcptr {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    border: none!important;
    border-top-width: none!important;
    border-bottom: 1px solid none!important;
    background: none; */
    font-family: gotham-htf-book, Arial, sans-serif;
    color: #363636;
    -moz-border-radius-bottomleft: none!important;
    -webkit-border-bottom-left-radius: none!important;
    border-bottom-left-radius: none!important;
    -moz-border-radius-bottomright: none!important;
    -webkit-border-bottom-right-radius: none!important;
    border-bottom-right-radius: 8px; none!important;
    -webkit-box-shadow: none!important;
    -moz-box-shadow: none!important;
    box-shadow: none!important;
}
.raflcptr #title-bar {
    height: auto;
    border-bottom: none;
    background: none!;
    position: relative;
    z-index: 99;
}


/* Lightboxes */ 
/* General Customizations for Blog Posts */ 
/*
.featherlight.blogpost .featherlight-content {
    overflow: hidden;
    height: 95%;
    padding-bottom: 60px;
}

.featherlight.blogpost .lightbox-content  {
    overflow: auto;
    height: 100%;
    position: relative;
    display: inline-block;
}
*/
.featherlight.blogpost .lightbox-content p {
    margin: 0 0 1em 0;
}
.featherlight.blogpost .lightbox-content h3 {
    margin: 0;
    font-size: 1.2em;
    color: #000;
    font-family: gotham-htf-book, Arial, sans-serif;
    font-weight: 800;
}
.featherlight.blogpost .featherlight-close-icon {
    background: rgba(0, 0, 0,.30);
    color: #FFF;
    font-weight: 800;
    font-size: 22px;
    line-height: 40px;
    width: 40px;
}
.featherlight.blogpost .featherlight-content {
    margin-left: 20%;
    margin-right: 20%;
    background: #272727;
    overflow: none;
}
.featherlight.vidbx .featherlight-content video {
    width: 100%;
}
.photo-wrapper { 
    width: 300px;
    padding: 12px;
    height: auto;
    display: inline-block;
}
.photo-wrapper.left-flow { 
    float: left;
    padding: 12px 30px 12px 0;
}
.photo-wrapper.right-flow { 
    float: right;
    padding: 12px 0 12px 30px;
}
.photo-wrapper img { 
    width: 100%;
}
/* Lightbox */ 
/* Customizations for SPECIFIC Posts */ 
.featherlight.blogpost .featherlight-content .lightbox-content {
    height: 650px;
    overflow: auto;
    margin-top: 40px;
}
.featherlight.blogpost.lbtips .featherlight-content .lightbox-content {
    background: #a63a3f;
    color: #FFF;
    display: block;
    position: relative;
    max-height: 100%;
}
/* Family Travel Tips */ 
.featherlight.blogpost.lbtips .lightbox-content h2,
.featherlight.blogpost.lbffp .lightbox-content h2 {
    margin-bottom: 12px;
}
.featherlight.blogpost.lbffp .lightbox-content h2 {
    display: inline-block;
    position: relative;
}
.featherlight.blogpost.lbffp .lightbox-content small {
    position: absolute;
    display: block;
    left: 162px;
    width: 98px;
    top: 1px;
    line-height: 1em;
}

.featherlight.blogpost.lbtips .lightbox-content h3 {
    color: #5cf6ff;
}
.featherlight.blogpost.lbffp .lightbox-content h2, {
    background: url(../img/icon_quote.png) 0 0 no-repeat;
}

/* Far From Perfect */ 
.featherlight.blogpost.lbffp .featherlight-content .lightbox-content {
    background: #3cc0c6;
    color: #FFF;
}
.featherlight.blogpost.lbffp .lightbox-content h3 {
    color: #1b767a;
}

/*==== 
 DEMO
===========================================================================================*/


#online-demo-button .button {
  background: none repeat scroll 0 0 #0098db !important;
  border: medium none !important;
  border-radius: 5px;
  color: #fff !important;
  float: none !important;
  font-family: 'gotham-htf-book' !important;
  font-size: 12px;
  font-weight: normal !important;
  padding: 9px 16px 7px !important;
  text-align: center;
  text-shadow: none !important;
  text-transform: uppercase !important;
}

#field-email{
    float:none !important;
}
.featherlight.demo-lightbox .featherlight-content {
    min-width: 880px;
}
/* demo is active */
.featherlight.demo-lightbox .featherlight-content.demo-on {
    min-width: 1118px;
    height: 630px;
}

.demo-lightbox-inner {
  background: url("http://www.rosettastone.com/lp/catalog2015/demo-bg.jpg") no-repeat;
  background-size: cover;
  margin: auto;
    padding: 30px 15% 40px;
  -webkit-box-shadow: 0px 0px 13px 0px rgba(50, 50, 50, 0.85);
  -moz-box-shadow: 0px 0px 13px 0px rgba(50, 50, 50, 0.85);
  box-shadow: 0px 0px 13px 0px rgba(50, 50, 50, 0.85);
  text-align:center;
  min-height: 364px;
}

.demo-lightbox-inner h1 {
  color: #fff;
  font-family: 'gotham-htf-book';
  font-size: 2.5em;
line-height: 1em;
}
.demo-lightbox-inner h1 span.def {
  font-size: 0.6em;
}

.demo-lightbox-inner p.demo_paragraph1 {
  color: #fff;
  font-family: 'gotham-htf-book';
  margin: 10px 0;
  font-size: 1em;
}

.demo-lightbox-inner p.demo_paragraph2 {
  color: #fff;
  font-family: 'gotham-htf-book';
 margin: 15px 0 0 0px !important;
  font-size: 0.9em;
}

.demo-lightbox-inner p.demo_paragraph2 a {
  color: #fff;
  text-decoration: none;
}
.demo-lightbox-inner p.demo_paragraph2 a:hover {
  text-decoration: underline;
}
.demo-lightbox-inner .or_section {
  text-align: center;
  margin: 9px 0;
}

.demo-lightbox-inner .or_section span {
  display: inline-block;
  padding: 23px 81px;
  background: url("http://www.rosettastone.com/lp/catalogpages/img/or.png") no-repeat;
  background-size: contain;
}
.demo-lightbox-inner .facebook_btn button {
  background: transparent url("http://www.rosettastone.com/lp/catalogpages/img/facebook-blue-logo.png") no-repeat;
  color: #fff;
  border: none;
  padding: 13px 55px 25px 85px;
  background-size: contain;
  text-align: left;
  font-family: 'gotham-htf-book';
  text-shadow: none;
  line-height: 1em;
}
/*
.demo-lightbox-inner .email_input input.field-email {
  border: none;
  color: #818181;
  background: #fff;
  text-align: center;
  border-radius: 0;
  box-shadow: none;
  width: 282px;
  height:26px;
  clear: both;
}
*/
.demo-lightbox-inner .submit_btn {
  padding-top: 15px;
}
.demo-lightbox-inner .submit_btn button {
  border: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  background: #0098db;
  text-shadow: none;
  padding: 15px 25px;
  color: #fff;
  font-family: 'gothamMedium';
  text-transform: uppercase;
  font-weight: normal;
}

/* opdemo2 experience */

.dropdown-wrapper {
    position: relative;
    width: 513px;
    margin: 0 auto;
    line-height: 35px;
}
.language-error {
    border: 3px solid rgb(230, 110, 110);
    margin-top: 12px;
    display: none;
}
.language-error, input[type=text].input-error {
    border-color: rgb(230, 110, 110);
    background: rgb(248, 226, 226);
}
.dropdown-wrapper .default-option {
    cursor: default;
    margin: 3% auto 0;
    border: 2px solid #888;
    background: url(../img/arrow-down.png) 97% 50% no-repeat #fff;
    text-align: left;
    font-size: 1.2em;
    font-weight: bold;
    padding: 10px 0 10px 30px;
    max-width: 500px;
}
form .dropdown-wrapper ul.dropdown {
    margin: 0;
    padding: 0;
    border: 2px solid #888;
    border-top: none;
    background: #fff;
    text-align: left;
    font-size: 1.2em;
    width: 100%;
    position: absolute;
    left: 0;
    top: 98%;
    display: none;
    box-sizing: border-box;
}
form .dropdown-wrapper ul.dropdown li {
    margin: 0;
    font-weight: bold;
    padding: 0;
    list-style: none;
    display: block;
    padding: 5px 0 5px 30px;
    cursor: default;
    line-height: 1em;
}
.input-wrapper {
    max-width: 513px;
    overflow: auto;
    margin: 20px auto 0 auto;
}
.dropdown-wrapper h2 {
    font-family: inherit;
}
.input-wrapper .input-text-wrapper {
    width: 56%;
    vertical-align: top;
    text-align: left;
    color: #fff;
    font-size: 90%;
    line-height: 19px;
    float: left;
}

.input-wrapper .input-text-wrapper input {
    height: 56px;
    border: 2px solid #888;
    margin-bottom: 5px;
    width: 100%;
    text-align: left;
    font-size: 115%;
    box-sizing: border-box;
    padding: 0 0 0 15px;
    color: #000;
}

.input-wrapper .input-submit-wrapper {
    width: 40%;
    float: right;
    min-width: 195px;
    vertical-align: top;
    text-align: right;
    color: #FFF;
    font-size: 90%;
}
.input-wrapper .input-submit-wrapper input {
    width: 100%;
    margin-bottom: 5px;
    border: none;
    color: #fff;
    height: 56px;
    font-size: 110%;
    background: #0098db;
    padding: 10px 0;
    font-size: 115%;
}
/* Demo Post-Demo Offer */
.demo-lightbox .post-demo-offer {
    background: #fff;
    height: 100%;
    display: none;
}
.demo-lightbox .post-demo-offer > div {
    overflow: auto;
    /* padding: 5%; */
    box-sizing: border-box;
    text-align: center;
}
.demo-lightbox .post-demo-offer h1 {
    font-family: inherit;
    font-size: 320%;
    font-weight: 800;
}
.demo-lightbox .post-demo-offer h2 {
    font-family: inherit;
    font-size: 180%;
    color: inherit;
    line-height: 1em;
}
.demo-lightbox .post-demo-offer h3 {
    font-family: inherit;
    line-height: 1em;
    font-size: 100%;
    margin-bottom: 60px;
}

.demo-lightbox .post-demo-offer {
    font-size: 200%;
    /* padding: 30px 0; */
    min-height: 647px;
    min-width: 880px;
}
.demo-lightbox .post-demo-offer a.shop {
    background-color: rgb(71, 120, 0);
    color: #fff;
    padding: 35px;
    font-size: 145%;
    display: inline-block;
    margin-bottom: 42px;
    text-align: center;
    text-decoration: none;
}
.demo-lightbox .post-demo-offer p {
    font-size: 80%;
}
.demo-lightbox .post-demo-offer p a {
    color: #0098db;
    font-weight: bold;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .demo-lightbox-inner {
    width: 730px;
    height: 420px;
    background: url("http://www.rosettastone.com/lp/catalog2015/demo-bg.jpg") no-repeat;
    background-size: cover;
  }
    .demo-lightbox-inner h1 {
        font-size: 2.0em;
        margin: 0;
        padding: 0;
  }
  .demo-lightbox-inner p.demo_paragraph1 {
    font-size: 1.0em;
  }
  .demo-lightbox-inner p.demo_paragraph2 {
    font-size: 0.9em;
    margin: 8px 0 0 !important;
  }
    .demo-lightbox-inner .or_section {
    margin: 6px 0;
  }
    .demo-lightbox-inner .facebook_btn button {
     padding: 8px 21px 13px 70px;
  }
    .demo-lightbox-inner .email_input input.field-email {
     padding: 6px 0;
     width: 230px;
  }
  .demo-lightbox-inner .submit_btn button {
    padding: 10px 22px;
  }
  #opt-out {
        width: 700px !important;
        margin-left: 20px!important;
        text-align:center!important;
  }
  #register-checkbox{
        -webkit-appearance: radio;
  }
}

