@media (max-width: 960px) {
  .demo-wrap {
    font-size: 11px !important;
  }
}
@media (max-width: 1280px) and (min-width: 961px) {
  .demo-wrap {
    font-size: 12px !important;
  }
}
@media (min-width: 1281px) {
  .demo-wrap {
    font-size: 14px !important;
  }
}
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
  .demo-lightbox-wrap.active {
    width: 950px !important;
  }
}
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
  .demo-lightbox-wrap.active {
    width: 950px !important;
  }
}
@media all and (device-width: 768px) and (device-height: 1024px) {
  .demo-wrap a.launch-demo-btn,
  .demo-lightbox-wrap .lightbox-header,
  .lightbox-product-demos {
    transition: none !important;
    transition-delay: 0 !important;
  }
  .demo-lightbox-wrap .lightbox-product-demos {
    font-size: 11px;
  }
}
.demo-wrap {
  position: fixed;
  left: 50%;
  top: 50%;
  width: 97%;
  max-width: 760px;
  text-align: center;
  transition: opacity 0.2s, visibility 0s 0.3s;
  visibility: hidden;
  opacity: 0;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-filter: blur(0);
  z-index: 102;
  /*font-family: GothamBook;*/
}
.demo-wrap ::-webkit-input-placeholder {
  color: #9e9e9e;
}
.demo-wrap :-moz-placeholder {
  /* Firefox 18- */
  color: #9e9e9e;
}
.demo-wrap ::-moz-placeholder {
  /* Firefox 19+ */
  color: #9e9e9e;
}
.demo-wrap :-ms-input-placeholder {
  color: #9e9e9e;
}
.ie9 .demo-lightbox-transition {
  display: none;
}
.demo-wrap.active {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.2s, visibility 0s 0s;
}
.demo-wrap p {
  font-size: 3em;
  /*font-family: GothamLight;*/
  color: #363636;
}
.stop-scrolling {
  height: 100% !important;
  overflow: hidden!important;
}
/*========================= TRANSITION ELEMENT ======================*/
.demo-wrap.active ~ .demo-lightbox-transition {
  transition: top 0.4s 0.3s ease-in-out, left 0.4s 0.3s ease-in-out, height 0.4s 0.3s ease-in-out, width 0.4s 0.3s ease-in-out, opacity 0.2s 0s, visibility 0s 0s;
  opacity: 1;
  visibility: visible;
}
.demo-lightbox-transition {
  transition: top 0.4s 0.3s ease-in-out, left 0.4s 0.3s ease-in-out, height 0.4s 0.3s ease-in-out, width 0.4s 0.3s ease-in-out, opacity 0.2s 0.8s, visibility 0s 1s;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  background: #ecc200;
  z-index: 101;
}
.demo-lightbox-transitions {
  background: #ecc200;
  position: absolute;
  z-index: 101;
}
/*================================ MASK =============================*/
.demo-lightbox-mask.active {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}
.demo-lightbox-mask {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0s 0.3s;
  z-index: 100;
}
/*============================ LIGHTBOX =============================*/
.demo-lightbox-wrap {
  overflow: hidden;
  max-width: 760px;
  max-height: 100%;
  margin-top: 0;
  border-radius: 0.4em;
  background-size: cover;
}
.demo-wrap.active .demo-lightbox-wrap {
  overflow: initial;
  border-radius: 0;
  z-index: 100;
}
.demo-lightbox-wrap .lightbox-header {
  background: url("http://www.rosettastone.com/lp/liferay/demo-overlay/demo-header.jpg") no-repeat center;
  background-size: cover;
  padding: 1.5em;
}
.demo-wrap .demo-lightbox-wrap .lightbox-header h2 {
  color: #363636;
  /*font-family: GothamLight;*/
  font-weight: 100;
  font-size: 3em;
}
.demo-wrap .demo-lightbox-wrap .lightbox-header p {
  /*font-family: GothamBook;*/
  font-size: 1em;
}
.lightbox-product-demos {
  display: table;
  width: 100%;
  background: url("http://www.rosettastone.com/lp/liferay/demo-overlay/demo-lightbox.jpg") no-repeat center;
  background-size: cover;
}
.lightbox-product-demo-row {
  display: table-row;
  width: 100%;
}
.lightbox-product-demo {
  display: table-cell;
  width: 33.333%;
  padding: 2em;
}
.demo-wrap .demo-lightbox-wrap .lightbox-product-demo h3 {
  color: #363636;
  /*font-family: GothamBook;*/
  font-size: 1.3em;
  padding-bottom: 0.7em;
  line-height: 1;
  text-transform: uppercase;
}
.demo-wrap .demo-lightbox-wrap .lightbox-product-demo p {
  /*font-family: GothamBook;*/
  font-size: 1em;
  line-height: 1.2;
}
.lightbox-product-inner {
  width: 95%;
  margin: 0 auto;
  transition: opacity 0.3s;
}
.demo-drop {
  text-align: left;
  padding: 0.9em;
  position: relative;
  cursor: default;
  text-transform: uppercase;
}
.demo-lang-wrap {
  text-align: center;
  text-transform: initial;
  margin: 2em 0 0 0;
}
.demo-lang-wrap > span.selected-lang {
  color: #9e2802;
  font-size: 2em;
}
.demo-lang-wrap span.selected-lang span {
  font-size: 0.7em;
  /*font-family: GothamLight;*/
  padding-left: 0.4em;
}
div.privacy-disclaimer {
  font-size: 0.8em;
  width: 70%;
  line-height: 1.2;
  margin: 2em auto 0 auto;
}
div.privacy-disclaimer a {
  color: #0098db;
}
.demo-lang-wrap a {
  color: #0098db;
  font-size: 0.9em;
  padding-left: 1em;
}
.lang-select a#demo-change-lang::after {
  content: " \00d7";
}
.demo-description {
  max-width: 36em;
  margin: 0 auto;
}
.dropdown-box {
  min-width: 100%;
  display: table;
  z-index: 3;
}
.drop-col {
  display: table-cell;
}
.drop-col:first-child {
  border: 1px solid #ccc;
}
.dropdown-box .drop-col ul {
  padding: 1em;
}
.active + .dropdown-box .drop-col ul {
  width: 12em;
  transition: width 0s 0s;
}
.drop-col ul li {
  list-style-type: none;
  text-transform: uppercase;
}
.drop-col ul li > span {
  line-height: 2.5;
  /*font-family: GothamMedium;*/
}
.demo-drop ul li a {
  color: #0098db;
  text-decoration: none;
  padding: 0.4em 0;
  line-height: 2;
}
.lightbox-product-demo:first-child .drop-col:first-child ul li a {
  /*font-family: GothamMedium;*/
}
.demo-drop ul li a span {
  padding-left: 0.4em;
  font-size: 0.7em;
}
.demo-drop ul li a:hover {
  background: none !important;
  text-decoration: underline;
}
div.signup-options {
  margin: 2em 0;
}
.lightbox-product-inner input[type="text"] {
  padding: .9em .8em;
  box-sizing: border-box;
  width: 18em;
  border: 1px solid #bbb;
  background: #fff;
  height: 3.4em;
  vertical-align: middle;
}
a#facebook-login {
  display: inline-block;
  background: #3b5998;
  color: #fff;
  text-decoration: none;
  background: url('http://www.rosettastone.com/lp/liferay/demo-overlay/fb-login.png') no-repeat;
  background-size: 100%;
  width: 18em;
  height: 3.5em;
  vertical-align: middle;
}
span.demo-or {
  /*font-family: GothamBold;*/
  font-size: 1.7em;
  vertical-align: middle;
  margin: 0 0.6em;
}
a.start-demo-btn {
  display: block;
  width: 16em;
  box-sizing: border-box;
  background: #65adfd;
  text-decoration: none;
  color: #fff;
  padding: 1em .8em;
  border-radius: 5px;
  margin: .8em auto;
  transition: background 0.3s;
}
a.start-demo-btn:hover {
  background: #559ded;
}
.lightbox-product-inner p a {
  color: #fff;
  text-decoration: none;
}
.lightbox-product-inner p a:hover {
  text-decoration: underline;
}
div#demo-box {
  width: 85%;
  position: fixed;
  height: 90%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  display: none;
}
.demo-wrap.play ~ div#demo-box {
  display: block;
  z-index: 104;
}
.demo-wrap.play .demo-lightbox-wrap {
  opacity: 0.5;
}
.close-btn {
  position: absolute;
  width: 40px;
  height: 40px;
  top: -20px;
  right: -20px;
  background: url(http://www.rosettastone.com/image/image_gallery?uuid=4ad18817-592c-4ab5-9daa-a6969325344c&groupId=10165&t=1416591867294) no-repeat center;
  background-size: contain;
  cursor: pointer;
}
span#close-lb::after {
  content: " X";
  color: #ecc200;
}
span#close-lb {
  position: absolute;
  top: -1.4em;
  right: 0;
  color: #fff;
  /*font-family: GothamMedium;*/
  font-size: 0.9em;
  cursor: pointer;
}
