<template>
  <div class="nag">

      <transition-group name='nag' tag='ul'>
        <li v-bind:key='nag.id' v-for='nag in $store.state.nags'>{{ nag.text }}</li>
      </transition-group>
  </div>
</template>

<script>



export default {
  name: 'Nag',
  props: ['nags'],
  mounted() {
    console.log('nags:')
    console.log( this.$store.state.nags)
  }
}

</script>