<template>
  <div style="height: 400px" v-if='isFetching'>
    <div class="ui active inverted dimmer">
      <div class="ui massive text loader">{{ fetchText }}</div>
    </div>  
  </div>
</template>

<script>
  
var $mastheadModal

export default {
  name: 'PageLoader',
  props: ['isFetching', 'fetchText']
}

</script>