/*
.rem-mixins-test-class {
    .font-size(10px);
    .line-height(20px);
    .margin(10px);
    .margin(3em);
    .margin(10px, 20px);
    .margin(10px, 20%);
    .margin(0px , 20px);
    .margin-top(2%);
    .margin-top(2px);
    .padding(10px);
    .padding(3em);
    .padding(10px, 20px);
    .padding(10px, 20%);
    .padding(3em, 20px)
}
*/
@font-face {
  font-family: 'gothamBook';
  src: url('fonts/gothamhtf-book-webfont.eot');
  src: url('fonts/gothamhtf-book-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/gothamhtf-book-webfont.woff') format('woff'), url('fonts/gothamhtf-book-webfont.ttf') format('truetype'), url('fonts/gothamhtf-book-webfont.svg#gothamBook') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'gothamLight';
  src: url('fonts/gothamhtf-light-webfont.eot');
  src: url('fonts/gothamhtf-light-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/gothamhtf-light-webfont.woff') format('woff'), url('fonts/gothamhtf-light-webfont.ttf') format('truetype'), url('fonts/gothamhtf-light-webfont.svg#gothamLight') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'gothamThin';
  src: url('fonts/gothamhtf-thin-webfont.eot');
  src: url('fonts/gothamhtf-thin-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/gothamhtf-thin-webfont.woff') format('woff'), url('fonts/gothamhtf-thin-webfont.ttf') format('truetype'), url('fonts/gothamhtf-thin-webfont.svg#gothamThin') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GothamMedium';
  src: url('fonts/gothamhtf-medium-webfont.eot');
  src: url('fonts/gothamhtf-medium-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/gothamhtf-medium-webfont.woff') format('woff'), url('fonts/gothamhtf-medium-webfont.ttf') format('truetype'), url('fonts/gothamhtf-medium-webfont.svg#GothamMedium') format('svg');
  font-weight: normal;
  font-style: normal;
}
#lightboxes {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
#lightboxes #lightbox-demo {
  width: 100%;
  position: absolute;
  top: 3%;
  left: 0;
  height: 630px;
  z-index: 6;
  max-width: 1083px;
  min-height: 630px;
  background: #000;
  display: none;
  outline: 9999px solid rgba(0, 0, 0, 0.9);
  text-align: center;
  color: #444;
}
#lightboxes #escape {
  opacity: 0.9;
  cursor: pointer;
  visibility: visible;
  background: #000;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
}
#lightboxes .contain {
  position: relative;
  height: 60em;
  width: auto;
  margin-left: 0;
  /*margin-left: 20%;*/
}
@media only screen and (min-width: 1440px) {
  #lightboxes .contain {
    /*margin-left: 20%;*/
  }
}
@media only screen and (max-width: 1014px) {
  #lightboxes .contain {
    /*margin-left: 7%;*/
  }
}
@media only screen and (min-width: 1139px) {
  #lightboxes .contain {
    /*margin-left: 10%;*/
  }
}
@media only screen and (max-width: 1039px) {
  #lightboxes .contain {
    /*margin-left: 10%;*/
  }
}
#lightboxes .contain #howitworks {
  z-index: 2;
  position: absolute;
  display: none;
  top: 10%;
}
#lightboxes .contain #howitworks video {
  width: 80%;
}
#lightboxes .contain .wyl-wrapper {
  position: absolute;
  width: 62.375em;
  background: white;
  z-index: 2;
  top: 10%;
  border-radius: 0.4375em;
  left: 50%;
  margin-left: -40.075em;
}
#lightboxes .contain .wyl-wrapper .toprow {
  text-align: left;
  padding: 0.625em 0 0.375em 2.688em;
  position: relative;
}
#lightboxes .contain .wyl-wrapper .toprow:before,
#lightboxes .contain .wyl-wrapper .toprow:after {
  content: " ";
  display: table;
}
#lightboxes .contain .wyl-wrapper .toprow:after {
  clear: both;
}
#lightboxes .contain .wyl-wrapper .toprow .close {
  background: url('../assets/icon_lightbox_close_black.png') 0 0 no-repeat;
  height: 2em;
  width: 2em;
  position: absolute;
  top: -1em;
  right: -0.5em;
}
#lightboxes .contain .wyl-wrapper .toprow .top-img {
  float: left;
}
#lightboxes .contain .wyl-wrapper .toprow .top-img img {
  width: 7.625em;
}
#lightboxes .contain .wyl-wrapper #access {
  margin: 1.25em 0 0 .75em;
  display: inline-block;
  text-align: left;
  font-size: 22px;
  font-size: 1.375rem;
  line-height: 1em;
  color: #363534;
}
#lightboxes .contain .wyl-wrapper #access #course-heading {
  font-family: 'gothamMedium';
}
#lightboxes .contain .wyl-wrapper #access #course-subhead {
  font-family: 'gothamLight';
}
#lightboxes .contain .wyl-wrapper .wyl-buy-wrapper {
  background: #eeeeee;
  -webkit-border-radius: 0.625em;
  -moz-border-radius: 0.625em;
  border-radius: 0.625em;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 0.625em;
  box-sizing: border-box;
  float: right;
  position: relative;
  margin-right: 2em;
  margin-top: 1.3em;
  display: inline-block;
  box-shadow: 0.125em 0.125em 0.125em #a8a8a8;
  overflow: auto;
}
#lightboxes .contain .wyl-wrapper .wyl-buy-wrapper .wyl-price {
  display: inline-block;
  vertical-align: super;
  text-align: right;
  font-family: 'gothamMedium';
  line-height: 1.2em;
}
#lightboxes .contain .wyl-wrapper .wyl-buy-wrapper .wyl-price .wyl-regular {
  font-size: 90%;
  color: #a90000;
  text-decoration: line-through;
}
#lightboxes .contain .wyl-wrapper .wyl-buy-wrapper .wyl-price .wyl-discount {
  font-size: 179%;
  letter-spacing: 1px;
}
#lightboxes .contain .wyl-wrapper .wyl-buy-wrapper a {
  cursor: pointer;
  background: #0098db;
  color: white;
  padding: 0.4375em 1.1875em;
  margin-left: 1em;
  display: inline-block;
  border-radius: 0.3125em;
  text-decoration: none;
  border: 0.1875em solid #8bb7cf;
  vertical-align: bottom;
}
#lightboxes .contain .wyl-wrapper .content-wrapper {
  overflow: auto;
  background: #e8e8e8;
  padding: 1.875em 3.4375em 1.875em 2.625em;
  position: relative;
}
#lightboxes .contain .wyl-wrapper .content-wrapper:before,
#lightboxes .contain .wyl-wrapper .content-wrapper:after {
  content: " ";
  display: table;
}
#lightboxes .contain .wyl-wrapper .content-wrapper:after {
  clear: both;
}
#lightboxes .contain .wyl-wrapper .content-wrapper .content {
  width: 38em;
  float: left;
}
#lightboxes .contain .wyl-wrapper .content-wrapper .content #accordion-container {
  font-size: 0.8125em;
  background: white;
}
#lightboxes .contain .wyl-wrapper .content-wrapper .content #accordion-container .accordion-header {
  font-size: 1.25em;
  font-family: 'gothamLight';
  color: white;
  padding: 0.9375em 1.25em 0.75em 1.5625em;
  cursor: pointer;
  text-transform: uppercase;
  border-bottom: 1px solid #4e9bbf;
  text-align: center;
}
#lightboxes .contain .wyl-wrapper .content-wrapper .content #accordion-container .active-header {
  border: none;
  font-size: 1.575em;
  background: #57b7e4;
  padding-bottom: 0.625em;
}
#lightboxes .contain .wyl-wrapper .content-wrapper .content #accordion-container .inactive-header {
  background: #1280b3;
}
#lightboxes .contain .wyl-wrapper .content-wrapper .content #accordion-container .accordion-content {
  padding: 1.375em 1.5625em 1.5625em 1.5625em;
  font-family: Helvetica, Arial, sans-serif;
  border-bottom: 1px solid #dadada;
}
#lightboxes .contain .wyl-wrapper .content-wrapper .content #accordion-container .accordion-content .description {
  background: #0994d5;
  color: white;
  font-family: georgia, arial;
  font-size: 1.2em;
  padding: 0.5em 0;
}
#lightboxes .contain .wyl-wrapper .content-wrapper .content #accordion-container .accordion-content .description:before,
#lightboxes .contain .wyl-wrapper .content-wrapper .content #accordion-container .accordion-content .description:after {
  content: " ";
  display: table;
}
#lightboxes .contain .wyl-wrapper .content-wrapper .content #accordion-container .accordion-content .description:after {
  clear: both;
}
#lightboxes .contain .wyl-wrapper .content-wrapper .content #accordion-container .accordion-content .description div {
  float: left;
  padding-left: 1.375em;
  width: 16em;
  line-height: 1.25em;
}
#lightboxes .contain .wyl-wrapper .content-wrapper .content #accordion-container .accordion-content .description div:nth-child(1) {
  border-right: 1px solid #3aa9dd;
}
#lightboxes .contain .wyl-wrapper .content-wrapper .content #accordion-container .accordion-content ul {
  margin-top: 1.25em;
}
#lightboxes .contain .wyl-wrapper .content-wrapper .content #accordion-container .accordion-content ul li {
  list-style-type: none;
  overflow: hidden;
}
#lightboxes .contain .wyl-wrapper .content-wrapper .content #accordion-container .accordion-content ul li:before,
#lightboxes .contain .wyl-wrapper .content-wrapper .content #accordion-container .accordion-content ul li:after {
  content: " ";
  display: table;
}
#lightboxes .contain .wyl-wrapper .content-wrapper .content #accordion-container .accordion-content ul li:after {
  clear: both;
}
#lightboxes .contain .wyl-wrapper .content-wrapper .content #accordion-container .accordion-content ul li:first-of-type {
  display: none;
}
#lightboxes .contain .wyl-wrapper .content-wrapper .content #accordion-container .accordion-content ul li p {
  color: #0099cc;
  font-size: 1.6875em;
  font-family: 'gothamLight';
  float: left;
  padding: 0.625em 1.625em 0.625em 1.375em;
  width: 9.325em;
  line-height: normal;
  text-align: center;
}
#lightboxes .contain .wyl-wrapper .content-wrapper .content #accordion-container .accordion-content ul li p span {
  font-family: 'gothamMedium';
}
#lightboxes .contain .wyl-wrapper .content-wrapper .content #accordion-container .accordion-content ul li div {
  float: left;
  width: 17.9875em;
  padding: 0.625em 0.75em 0.625em 1.5em;
  min-height: 5.875em;
  border-left: 1px solid #dadada;
}
#lightboxes .contain .wyl-wrapper .content-wrapper .content #accordion-container .accordion-content ul li div p {
  font-family: georgia, arial;
  font-size: 1.075em;
  color: #363534;
  line-height: 1.25em;
  margin-top: 0.25em;
  font-style: italic;
  width: 12em;
}
#lightboxes .contain .wyl-wrapper .content-wrapper .sidebar {
  width: 18.3125em;
  float: right;
  text-align: left;
}
#lightboxes .contain .wyl-wrapper .content-wrapper .sidebar div {
  padding: 0 0 0 1.875em;
  margin: 0;
}
#lightboxes .contain .wyl-wrapper .content-wrapper .sidebar div h3 {
  display: block;
  margin-bottom: 0.75em;
  padding-bottom: 0.3125em;
  font-size: 1.5em;
  border-bottom: 1px solid #dadada;
  font-weight: normal;
  text-transform: uppercase;
  color: #006699;
}
#lightboxes .contain .wyl-wrapper .content-wrapper .sidebar div p {
  font-size: 0.6875em;
  padding-left: 5.425em;
  margin-bottom: 1.125em;
  font-family: georgia, arial;
  background-repeat: no-repeat;
  background-position: top left;
  color: #363534;
}
#lightboxes .contain .wyl-wrapper .content-wrapper .sidebar div p:nth-of-type(1) {
  background-image: url('../assets/icon-interactive-small.png');
}
#lightboxes .contain .wyl-wrapper .content-wrapper .sidebar div p:nth-of-type(2) {
  background-image: url('../assets/icon-live-small.png');
}
#lightboxes .contain .wyl-wrapper .content-wrapper .sidebar div p:nth-of-type(3) {
  background-image: url('../assets/icon-games-small.png');
}
#lightboxes .contain .wyl-wrapper .content-wrapper .sidebar div p:nth-of-type(4) {
  background-image: url('../assets/icon-pcmac-small.png');
}
#lightboxes .contain .wyl-wrapper .content-wrapper .sidebar div p:nth-of-type(5) {
  background-image: url('../assets/icon-mobile-small.png');
}
#lightboxes .contain .wyl-wrapper .content-wrapper .sidebar div p strong {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.05em;
  margin-bottom: 0.125em;
  display: block;
}
#lightboxes .contain .wyl-wrapper .content-wrapper .sidebar div p a {
  color: #1c93ec;
  text-decoration: none;
}
#lightboxes .contain .wyl-wrapper .content-wrapper .sidebar #requirements {
  color: #363534;
  font-size: 1.0625em;
  font-family: 'gothamBook', arial, sans-serif;
  position: relative;
  top: 0;
  margin-bottom: 3.125em;
}
#lightboxes .contain .wyl-wrapper .content-wrapper .sidebar #requirements h3 {
  font-size: 1.125em;
}
#lightboxes .contain .wyl-wrapper .content-wrapper .sidebar #requirements ul {
  left: 1em;
  position: relative;
  top: 1.0625em;
}
#lightboxes .contain .wyl-wrapper .content-wrapper .sidebar #requirements ul li {
  font-size: 0.6875em;
  font-family: georgia, arial;
  list-style-type: disc;
  padding: 0 0 0.4375em 0;
}
#lightboxes .contain #compare {
  position: absolute;
  z-index: 2;
  background: white;
  -webkit-border-radius: 0.625em;
  -moz-border-radius: 0.625em;
  border-radius: 0.625em;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  width: 50em;
  padding: 1.65em;
  /* 20/16 */
  top: 3.125em;
  /* 50/16 */
  left: 50%;
  margin-left: -34em;
}
#lightboxes .contain #compare .wrapper .compare-content {
  position: relative;
}
#lightboxes .contain #compare .wrapper .compare-content .close {
  background: url('../assets/icon_lightbox_close_black.png') 0 0 no-repeat;
  height: 2em;
  width: 2em;
  position: absolute;
  top: -2.5em;
  right: -2.5em;
}
#lightboxes .contain #compare .wrapper .compare-content .header {
  padding: 0.625em 0 1.25em 0;
}
#lightboxes .contain #compare .wrapper .compare-content .header:before,
#lightboxes .contain #compare .wrapper .compare-content .header:after {
  content: " ";
  display: table;
}
#lightboxes .contain #compare .wrapper .compare-content .header:after {
  clear: both;
}
#lightboxes .contain #compare .wrapper .compare-content .header p {
  font-size: 2.375em;
  font-family: 'gothamLight';
  color: #363534;
  float: left;
}
#lightboxes .contain #compare .wrapper .compare-content .header .toggler {
  float: right;
  border: 1px solid #0583d5;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
#lightboxes .contain #compare .wrapper .compare-content .header .toggler a {
  display: block;
  float: left;
  padding: 0.3125em 0.625em;
  text-decoration: none;
  color: #363534;
  cursor: pointer;
}
#lightboxes .contain #compare .wrapper .compare-content .header .toggler a.active {
  background: #0583d5;
  color: white;
}
#lightboxes .contain #compare .wrapper .compare-content #features-table {
  margin: 0 auto;
  width: 48.3em;
}
#lightboxes .contain #compare .wrapper .compare-content #features-table .row:before,
#lightboxes .contain #compare .wrapper .compare-content #features-table .row:after {
  content: " ";
  display: table;
}
#lightboxes .contain #compare .wrapper .compare-content #features-table .row:after {
  clear: both;
}
#lightboxes .contain #compare .wrapper .compare-content #features-table .row .col {
  float: left;
  padding: 0.875em 1.5625em 1.125em 1.5625em;
  width: 6.4375em;
  height: 3.125em;
  font-weight: bold;
  border: 1px solid #cccccc;
  border-bottom: none;
  border-right: none;
}
#lightboxes .contain #compare .wrapper .compare-content #features-table .row .col:nth-of-type(2) {
  color: #666666;
  line-height: 1.375em;
  padding: 1.075em 1.5625em 0.925em 1.5625em;
  width: 11.25em;
  text-align: center;
}
#lightboxes .contain #compare .wrapper .compare-content #features-table .row .col:nth-of-type(3) {
  color: #666666;
  line-height: 1.375em;
  padding: 1.075em 1.5625em 0.925em 1.5625em;
  width: 33%;
  text-align: center;
  border-right: 1px solid #cccccc;
}
#lightboxes .contain #compare .wrapper .compare-content #features-table .row .col span {
  font-size: .7em;
  font-family: 'gothamLight';
  text-transform: uppercase;
  display: block;
  line-height: 0.875em;
}
#lightboxes .contain #compare .wrapper .compare-content #features-table .row .col a.tip {
  position: relative;
  text-decoration: none;
}
#lightboxes .contain #compare .wrapper .compare-content #features-table .row .col a.tip span {
  display: none;
}
#lightboxes .contain #compare .wrapper .compare-content #features-table .row .col a.tip:hover span {
  display: block;
  position: absolute;
  padding: 1em;
  text-align: left;
  font-family: 'gothamBook', arial, sans-serif;
  text-transform: none;
  width: 17em;
  left: -1em;
  right: 1em;
  background: white;
  border: 1px solid #dddddd;
  -webkit-border-radius: 0.625em;
  -moz-border-radius: 0.625em;
  border-radius: 0.625em;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  color: #363534;
  font-size: 1.1em;
  line-height: 1.4em;
}
#lightboxes .contain #compare .wrapper .compare-content #features-table .row .col a.tip:hover span .title {
  color: #0098db;
  font-size: 1.2em;
}
#lightboxes .contain #compare .wrapper .compare-content #features-table .row .col a.tip:hover span:after {
  position: absolute;
  display: block;
  content: "";
  border-color: white transparent transparent transparent;
  border-style: solid;
  border-width: 0.625em;
  height: 0;
  width: 0;
  bottom: -1em;
  left: 1em;
}
#lightboxes .contain #compare .wrapper .compare-content #features-table .row .topic {
  background-color: #e4eff9;
  color: #1060aa;
  font-size: 1em;
  padding-left: 5em;
  background-image: url('../assets/sprite-features.png');
  background-repeat: no-repeat;
  width: 8em;
}
#lightboxes .contain #compare .wrapper .compare-content #features-table .row .topic a {
  display: inline-block;
  font-style: normal;
  color: white;
  background: #0583d5;
  padding: 0 0.6em;
  font-size: 0.7em;
}
#lightboxes .contain #compare .wrapper .compare-content #features-table .row .two {
  background-position: 0 -91px;
}
#lightboxes .contain #compare .wrapper .compare-content #features-table .row .two a.tip:hover span {
  top: -16.5em;
}
#lightboxes .contain #compare .wrapper .compare-content #features-table .row .three {
  background-position: 0 -176px;
}
#lightboxes .contain #compare .wrapper .compare-content #features-table .row .four {
  background-position: 0 -243px;
}
#lightboxes .contain #compare .wrapper .compare-content #features-table .row .four a.tip:hover span {
  top: -12.5em;
}
#lightboxes .contain #compare .wrapper .compare-content #features-table .row .five {
  background-position: 0 -318px;
}
#lightboxes .contain #compare .wrapper .compare-content #features-table .row .five a.tip:hover span {
  top: -12.5em;
}
#lightboxes .contain #compare .wrapper .compare-content #features-table .row .six {
  background-position: 0 -409px;
}
#lightboxes .contain #compare .wrapper .compare-content #features-table .row .six a.tip:hover span {
  top: -15.2em;
}
#lightboxes .contain #compare .wrapper .compare-content #features-table .row .seven {
  background-position: 0 -318px;
}
#lightboxes .contain #compare .wrapper .compare-content #features-table .row .seven a.tip:hover span {
  top: -11em;
}
#lightboxes .contain #compare .wrapper .compare-content #features-table .row .eight {
  background-position: 0 -568px;
}
#lightboxes .contain #compare .wrapper .compare-content #features-table .row .eight a.tip:hover span {
  top: -9.7em;
}
#lightboxes .contain #compare .wrapper .compare-content #features-table .row .nine {
  background-position: 0 -656px;
}
#lightboxes .contain #compare .wrapper .compare-content #features-table .row:nth-of-type(9) {
  border-bottom: 1px solid #cccccc;
}
#lightboxes .contain #compare .wrapper .compare-content #devices-table {
  margin: 0 auto;
  width: 48.6em;
}
#lightboxes .contain #compare .wrapper .compare-content #devices-table .row:before,
#lightboxes .contain #compare .wrapper .compare-content #devices-table .row:after {
  content: " ";
  display: table;
}
#lightboxes .contain #compare .wrapper .compare-content #devices-table .row:after {
  clear: both;
}
#lightboxes .contain #compare .wrapper .compare-content #devices-table .row .col {
  float: left;
  padding: 0.875em 1.5625em 1.125em 1.5625em;
  width: 6.4375em;
  height: 3.125em;
  font-weight: bold;
  border: 1px solid #cccccc;
  border-bottom: none;
  border-right: none;
}
#lightboxes .contain #compare .wrapper .compare-content #devices-table .row .col:nth-of-type(2) {
  color: #666666;
  line-height: 1.375em;
  padding: 1.075em 1.5625em 0.925em 1.5625em;
  width: 11.45em;
  text-align: center;
}
#lightboxes .contain #compare .wrapper .compare-content #devices-table .row .col:nth-of-type(3) {
  color: #666666;
  line-height: 1.375em;
  padding: 1.075em 1.5625em 0.925em 1.5625em;
  width: 33%;
  text-align: center;
  border-right: 1px solid #cccccc;
}
#lightboxes .contain #compare .wrapper .compare-content #devices-table .row .col span {
  font-size: .7em;
  font-family: 'gothamLight';
  text-transform: uppercase;
  display: block;
  line-height: 0.875em;
}
#lightboxes .contain #compare .wrapper .compare-content #devices-table .row .col ul li {
  font-size: .7em;
  line-height: 1.2em;
  text-align: left;
}
#lightboxes .contain #compare .wrapper .compare-content #devices-table .row .col ul li a {
  color: #0098db;
  text-decoration: none;
}
#lightboxes .contain #compare .wrapper .compare-content #devices-table .row .topic {
  background-color: #e4eff9;
  color: #1060aa;
  font-size: 1em;
  padding-left: 5em;
  background-image: url('../assets/sprite-devices.png');
  background-repeat: no-repeat;
  width: 8em;
}
#lightboxes .contain #compare .wrapper .compare-content #devices-table .row .topic i {
  display: inline-block;
  font-style: normal;
  color: white;
  background: #0583d5;
  padding: 0 0.6em;
  font-size: 0.7em;
}
#lightboxes .contain #compare .wrapper .compare-content #devices-table .row .one {
  background-position: 0 18px;
}
#lightboxes .contain #compare .wrapper .compare-content #devices-table .row .two {
  background-position: 0 -72px;
}
#lightboxes .contain #compare .wrapper .compare-content #devices-table .row .three {
  background-position: 0 -146px;
}
#lightboxes .contain #compare .wrapper .compare-content #devices-table .row .four {
  background-position: 0 -214px;
}
#lightboxes .contain #compare .wrapper .compare-content #devices-table .row .five {
  background-position: 0 -290px;
}
#lightboxes .contain #compare .wrapper .compare-content #devices-table .row .six {
  background-position: 0 -375px;
}
#lightboxes .contain #compare .wrapper .compare-content #devices-table .row:nth-of-type(6) {
  border-bottom: 1px solid #cccccc;
}
#lightboxes .contain #compare .wrapper .compare-content .footnote {
  font-family: 'gothamLight';
  text-align: center;
  font-size: .8em;
  padding: 0.75em 0;
}
#lightboxes .contain #compare .wrapper .compare-content .specs {
  width: 46em;
  margin: 1em auto 0;
  font-size: .9em;
}
#lightboxes .contain #compare .wrapper .compare-content .specs:before,
#lightboxes .contain #compare .wrapper .compare-content .specs:after {
  content: " ";
  display: table;
}
#lightboxes .contain #compare .wrapper .compare-content .specs:after {
  clear: both;
}
#lightboxes .contain #compare .wrapper .compare-content .specs ul {
  float: left;
  width: 20em;
  padding: 0 6em 0 0;
}
#lightboxes .contain #compare .wrapper .compare-content .specs ul:nth-of-type(2) {
  padding: 0;
}
@media only screen and (max-width: 1039px) {
  #lightboxes .contain #compare {
    left: 52%;
  }
}
@media only screen and (max-width: 1014px) {
  #lightboxes .contain #compare {
    width: 41em;
    left: 72%;
  }
  #lightboxes .contain #compare .wrapper .compare-content #features-table {
    width: 39.1em;
  }
  #lightboxes .contain #compare .wrapper .compare-content #features-table .row .col {
    height: 3.125em;
  }
  #lightboxes .contain #compare .wrapper .compare-content #features-table .row .col:nth-of-type(2) {
    width: 7.2em;
    line-height: 1.075em;
  }
  #lightboxes .contain #compare .wrapper .compare-content #features-table .row .col:nth-of-type(3) {
    width: 27%;
    line-height: 1.075em;
  }
  #lightboxes .contain #compare .wrapper .compare-content #features-table .row .topic {
    width: 8.2em;
  }
  #lightboxes .contain #compare .wrapper .compare-content #devices-table {
    width: 40.1em;
  }
  #lightboxes .contain #compare .wrapper .compare-content #devices-table .row .col:nth-of-type(2) {
    width: 11.2em;
  }
  #lightboxes .contain #compare .wrapper .compare-content #devices-table .row .col:nth-of-type(3) {
    width: 28%;
  }
  #lightboxes .contain #compare .wrapper .compare-content #devices-table .row .topic {
    width: 4.6em;
  }
  #lightboxes .contain #compare .wrapper .compare-content .specs {
    width: 44em;
    margin: 1em 3.5em 0 3.5em;
  }
  #lightboxes .contain #compare .wrapper .compare-content .specs ul {
    width: 18em;
    padding: 0 5em 0 0;
  }
}
@media only screen and (min-width: 1139px) {
  #lightboxes .contain #compare {
    left: 57%;
  }
}
#lightboxes .contain #demo {
  position: absolute;
  width: 80%;
  background: #E5E4E4;
  z-index: 2;
  top: 10%;
  border-radius: 0.4375em;
  margin: 0 auto;
}
#lightboxes .contain #demo #demo-form {
  position: relative;
}
#lightboxes .contain #demo #demo-form .demo-header {
  color: #a90000;
  font-size: 2em;
  text-align: center;
  padding: 0.7em 6em .5em;
  line-height: 1.2em;
}
#lightboxes .contain #demo #demo-form p {
  text-align: center;
  padding: 0 2em;
  font-size: 1.25em;
  line-height: 1.2em;
  color: #464544;
}
#lightboxes .contain #demo #demo-form .form-contain {
  width: 30em;
  margin: 0 auto;
}
#lightboxes .contain #demo #demo-form .form-contain #dropdown {
  width: 22em;
  margin: 1.8em auto;
  border: 1px solid #363534;
  text-align: center;
  padding: 0.5em 0;
  background: url('../assets/arrow.png') white no-repeat 96% center;
  position: relative;
}
#lightboxes .contain #demo #demo-form .form-contain #dropdown #lang-drop {
  display: none;
  position: absolute;
  top: 2.5em;
  background: white;
  width: 22em;
  border-bottom: black solid 1px;
  border-left: 1px solid black;
  border-right: 1px solid black;
  left: -0.0625em;
  right: 0;
}
#lightboxes .contain #demo #demo-form .form-contain #dropdown #lang-drop ul li {
  list-style-type: none;
  padding: .5em 0;
}
#lightboxes .contain #demo #demo-form .form-contain #dropdown #lang-drop ul li a {
  cursor: pointer;
}
#lightboxes .contain #demo #demo-form .form-contain #facebook {
  display: block;
}
#lightboxes .contain #demo #demo-form .form-contain #facebook img {
  display: block;
  margin: 0 auto;
}
@media only screen and (max-width: 743px) {
  #lightboxes .contain #demo #demo-form .form-contain #facebook img {
    width: 22em;
  }
}
@media only screen and (max-width: 357px) {
  #lightboxes .contain #demo #demo-form .form-contain #facebook img {
    width: 13em;
  }
}
#lightboxes .contain #demo #demo-form .form-contain img {
  display: block;
  margin: 2em auto 1em;
}
#lightboxes .contain #demo #demo-form .form-contain input {
  width: 22em;
  margin: 1.5em auto;
  height: 3em;
  border: #cccccc 1px solid;
  display: block;
  font-size: 1em;
  text-align: center;
}
#lightboxes .contain #demo #demo-form .form-contain button {
  display: block;
  background: #0098DB;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  width: 15em;
  height: 3em;
  margin: 0 auto 2em;
  outline: none;
  font-size: 1em;
  color: white;
  text-transform: uppercase;
  border: none;
  font-family: 'gothamBook', arial, sans-serif;
}
#lightboxes .contain #demo #demo-form #legalDemo div {
  text-align: center;
  font-size: .8em;
  line-height: 1.2em;
}
#lightboxes .contain #demo #demo-form #legalDemo div:last-child {
  padding: 0 0 2em;
}
#lightboxes .contain #demo #demo-form #legalDemo div a {
  color: #0098db;
  text-decoration: none;
}
#lightboxes .contain #demo #demo-form .close {
  position: absolute;
  top: 10px;
  background: url('../assets/demo-close.png') 0 0 no-repeat;
  z-index: 10;
  width: 50px;
  height: 50px;
  right: 20px;
}
@media only screen and (max-width: 1039px) {
  #lightboxes .contain #demo {
    width: 52.375em;
  }
  #lightboxes .contain #demo #demo-form .form-contain input {
    width: 21em;
  }
}
@media only screen and (max-width: 1014px) {
  #lightboxes .contain #demo {
    width: 40.375em;
  }
  #lightboxes .contain #demo #demo-form .demo-header {
    padding: 0.7em 3.5em .5em;
  }
  #lightboxes .contain #demo #demo-form .form-contain input {
    width: 21em;
  }
}
@media only screen and (max-width: 743px) {
  #lightboxes .contain #demo {
    width: 30.375em;
  }
  #lightboxes .contain #demo #demo-form .demo-header {
    padding: 2.5em 0.2em 0.5em;
    font-size: 1.5em;
  }
  #lightboxes .contain #demo #demo-form .form-contain input {
    width: 21em;
  }
}
@media only screen and (max-width: 357px) {
  #lightboxes .contain #demo {
    width: 16.7375em;
  }
  #lightboxes .contain #demo #demo-form .demo-header {
    padding: 2.5em 0.2em 0.5em;
    font-size: 1.5em;
  }
  #lightboxes .contain #demo #demo-form .close {
    right: 7px;
  }
  #lightboxes .contain #demo #demo-form .form-contain {
    width: 13em;
  }
  #lightboxes .contain #demo #demo-form .form-contain #dropdown {
    width: 13em;
  }
  #lightboxes .contain #demo #demo-form .form-contain #dropdown #lang-drop {
    width: 13em;
  }
  #lightboxes .contain #demo #demo-form .form-contain #dropdown span {
    margin-right: 20px;
    font-size: 0.95em;
  }
  #lightboxes .contain #demo #demo-form .form-contain img {
    margin-top: 1.5em;
  }
  #lightboxes .contain #demo #demo-form .form-contain input {
    width: 12em;
  }
  #lightboxes .contain #demo #demo-form .form-contain button {
    width: 11em;
  }
}
