
/*********************************
UTILITIES
**********************************/

.zerofont{
	font-size: 0px;
}


.hide_for_test{
	display: none;
}

.show_for_test{
	display: block;
}









/*********************************
TEST CONTAINER STYLES
**********************************/

.nov_2016_mvt_mobile{
	text-align: center;
	font-family: gothambook;
}

.nov_2016_product_info_container{
	background: #F8F6F0;
	padding: 20px 15px;
}

.js_nov_2016_cddl{
	display: none;
}








/*********************************
ONLINE + CD/DL BUTTONS
**********************************/

.nov_2016_online_cddl_container{
	padding: 0px 0px 20px;
}

.nov_2016_online_cddl_buttons{
	border: 3px solid #333;
	border-radius: 3px;
	max-width: 400px;
	margin: auto;
}

.nov_2016_online_cddl_container label{
	font-size: 14px;
	display: inline-block;
	padding: 16px 0px;
	text-transform: uppercase;
	cursor: pointer;
	font-family: gothambold;
	width: 50%;
}

.nov_2016_online_cddl{
	display: none;
}

.nov_2016_online_cddl:checked + label{
	background: #333;
	color: #fff;
}









/*********************************
REVIEW STARS
**********************************/

.nov_2016_review_star_container{
	margin: 10px 0px;
}
.hollow_stars{
	position: relative;
	display: inline-block;
	vertical-align: middle;
	font-size: 16px;
}
.filled_stars{
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: hidden;
	white-space: nowrap;
	width: 91.5%;
}

.nov_2016_review_star_text{
	font-size: 14px;
	display: inline-block;
	vertical-align: bottom;
}







/*********************************
PRODUCT INFO
**********************************/

.nov_2016_prod_img{
	max-width: 90%;
}

.nov_2016_language_header{
	color: #0098db;
	font-size: 24px;
	margin-top: 10px;
}

.nov_2016_language_subhead{
	font-size: 24px;
}


.nov_2016_product_intro{
	line-height: 1.3;
	text-align: left;
	font-size: 15px;
}

.nov_2016_ul{
	text-align: left;
	margin: 20px 0px 0px;
	padding: 0px 0px 0px 40px;
	list-style-type: none;
}

.nov_2016_ul li{
	position: relative;
	margin-bottom: 20px;
	font-size: 15px;
	font-family: gothambold;
}
.nov_2016_ul li:before{
	content: '';
	position: absolute;
	left: -30px;
	top: 0px;
	display: inline-block;
	border: 2px solid #0098db;
	border-top: none;
	border-right: none;
	height: 10px;
	width: 20px;

	transform: rotate(-45deg);
}













/*********************************
PRODUCT RADIOS
**********************************/

.nov_2016_purchase_section{
	background: #fff;
	color: #333;
	padding: 10px 20px;
}

.nov_2016_select_title{
	font-size: 24px;
	margin: 20px auto 10px;
	max-width: 250px;
}

.nov_2016_product_radios{
	text-align: left;
}

.nov_2016_product_radios label{
	display: block;
	margin: 15px 0px;
	font-size: 14px;
}

.nov_2016_radio_prices{
	float: right;
}

.nov_2016_radio_msrp{
	color: #a00;
	position: relative;
	font-size: 10px;
	vertical-align: middle;
	display: inline-block;
}
.nov_2016_radio_msrp:after{
	content: '';
	position: absolute;
	top: 50%;
	left: -5%;
	width: 110%;
	border-top: 1px solid #a00;
}

.nov_2016_radio_price{
	color: #0098db;
	vertical-align: middle;
	display: inline-block;
}




/*********************************
CD/DL RADIOS
**********************************/

.nov_2016_cddl_radios{
	border-bottom: 1px solid #ddd;
}










/*********************************
PRODUCT OPTIONS - SQUARE
**********************************/
.nov_2016_product_square{
	border: 1px solid #EBEAE6;
	border-radius: 3px;
	background-color: #0098db;
	background-image: radial-gradient(#0088cb 83%,#0098db);
	margin: 9px auto;
	color: #333;
	max-width: 350px;
	vertical-align: top;
}

.nov_2016_product_square_content{
	display: block;
	background-color: #f8f6f0;
	border-top-left-radius: 110px 30px;
	padding: 24px 0px 16px;
}

.nov_2016_product_square_header{
	text-transform: uppercase;
	font-family: gothambold;
	font-size: 14px;
}















/*********************************
PRICES - SQUARE
**********************************/

.nov_2016_price_container_square{
	vertical-align: middle;
	margin: 5px 0px 2px;
}

.nov_2016_price_container_square_cddl{
	/*margin-bottom: 0px;*/
}

.nov_2016_big_price_square{
	font-size: 43px;
	vertical-align: baseline;
	color: #0078bb;
	font-family: gothambold;
}
.nov_2016_big_price_square:before{
	content: '$';
	font-size: 50%;
	vertical-align: top;
	position: relative;
	top: 5px;
}
.nov_2016_big_price_square:after{
	content: ' / Month';
	font-size: 14px;
	vertical-align: baseline;
	position: relative;
	top: -2px;
	font-family: gothambook;
	color: #333;
}
.nov_2016_big_price_square.no_month:after{
	display: none;
}








/*********************************
GIFTING - SQUARE
**********************************/
.nov_2016_gifting_square,
.nov_2016_gifting_square *{
	vertical-align: middle;
}
.nov_2016_gifting_square{
	font-size: 12px;
	margin-right: 18px;
	display: inline-block;

	background-image: url('http://www.rosettastone.com/lp/spo/mobile_sbsr_nov_2016/assets/gift.svg');
	background-repeat: no-repeat;
	background-position: left 50%;
	background-size: 12px;
	padding-left: 16px;
}












/*********************************
MULTIPAY and MSRP - SQUARE
**********************************/

.nov_2016_multipay_strikeprice_square{
	color: #d00;
	position: relative;
}
.nov_2016_multipay_strikeprice_square:after{
	content: '';
	position: absolute;
	width: 110%;
	left: -5%;
	top: 50%;
	border-top: 1px solid #d00;
}

.nov_2016_msrp_square{
	font-size: 13px;
	margin-bottom: 10px;
}









/*********************************
CART - SQUARE
**********************************/
.nov_2016_addtocart_square{
	vertical-align: middle;
	background: #0098db;
	color: #fff;
	border-radius: 3px;
	padding: 16px;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 16px;
	font-family: gothambold;
	display: block;
}
.nov_2016_addtocart_square:hover{
	background: #1ae;
	color: #fff;
	text-decoration: none;
}










/*********************************
GUARANTEE
**********************************/
.nov_2016_guarantee_vertical{
	background-image: url('http://www.rosettastone.com/lp/spo/mobile_sbsr_nov_2016/assets/guarantee.png');
	background-repeat: no-repeat;
	background-position: center top;
	padding-top: 90px;
	margin-top: 20px;
}
.nov_2016_guarantee_line1{
	font-size: 18px;
	text-transform: uppercase;
	color: #0088cb;
	font-family: gothambold;
}
.nov_2016_guarantee_line2{
	font-size: 14px;
}



/* To support hiding and displaying between 1m and 3m.*/

/* To support hiding and displaying between 1m and 3m.*/
.nov_2016_product_radios label.js_hide_product{
  display: none;
}