<!--
Test shows two rtos:
if product added is a CD of any of these languages: english(both), spanish(both), ita, fr, deu,
show a book offer. If it's any other product, show fitbrains
-->
<style>#bookfbrto{background-color:rgba(32,32,32,.9);position:fixed;bottom:0;left:0;width:100%;font-family:EffraLightRegular;color:#fff;z-index:2;font-size:9px}#bookfbrto .rtoexit{background-image:url(http://www.rosettastone.com/lp/ui/img/bfrto-exit.png);background-size:100% 100%;width:15px;height:15px;cursor:pointer;position:absolute;right:12px;top:9px}#bookfbrto>div>div{display:inline-block}#bookfbrto p{color:#fff;margin:0;font-size:1em}#bookfbrto .bfrto-left{width:45%;display:inline-block;position:relative;text-align:left;vertical-align:top;padding-left:1em}#bookfbrto .bfrto-right{width:42%;text-align:center;margin-right:30px;position:relative;top:-10px;font-size:.9em}#bookfbrto .bfrto-right>div{display:inline-block;font-size:1.8em;line-height:1em;padding:0 5px}#bookfbrto .bfrto-headline{color:#ebc506;margin:1em;text-align:left}#bookfbrto strong{font-family:Effra;font-size:1.2em}#bookfbrto .bfrto-right button{display:block;margin:3px auto 0;text-align:center;font-family:Effra;color:#fff;background:-webkit-gradient(linear,left top,left bottom,color-stop(0.05,#edc126),color-stop(1,#b58517)) #b58517;background:-moz-linear-gradient(center top,#edc126 5%,#b58517 100%) #b58517;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#edc126', endColorstr='#b58517');padding:6px 15px;font-size:1.2em;border-radius:5px;border:0;font-weight:700}#bookfbrto .bfrto-right .bfrto-body{font-size:1.04em}#bookfbrto .bfrto-right .bfrto-strike{font-family:EffraLightRegular;background:url(http://www.rosettastone.com/lp/ui/img/bfrto-strike.png) left bottom/100% 83% no-repeat}#bookfbrto .bfrto-right .bfrto-price{font-family:Effra}#bookfbrto #bfrto-books .bfrto-left{width:50%;margin-top:0;font-size:8px}#bookfbrto #bfrto-books .bfrto-left p{font-size:1.3em}#bookfbrto #bfrto-books .bfrto-right{font-size:.9em;width:42%;position:relative;margin-right:15px;top:0}#bookfbrto>img{position:absolute;top:-48px;right:79px;width:20%}@media screen and (orientation:portrait) and (-webkit-min-device-pixel-ratio:2){#bookfbrto>img{top:-47px;right:54px}}@media screen and (orientation:landscape){#bookfbrto{display:none!important}}</style>

<script>
var showoffer = Mage.Cookies.get('showoffer');

if (showoffer == null) {
	jQuery(document).ready(function() {

		var numOfProducts = jQuery('.prodname').size();
		if (numOfProducts > 0) {
			var prodName = '';
			var isCD = false;
			var bfrtolanguages = ['English (American)','English (British)','French','German','Italian','Spanish (Latin America)','Spanish (Spain)'];
			jQuery.each(jQuery('.prodname'), function(k, v) {
				// Determine whiproch product is in cart
				prodName = jQuery(v).html();
				var tmp = prodName.split(/<br[^>]*>/gi);
				var prodType_tmp = tmp[2];
				var prodLang_tmp = tmp[0];
					prodType = prodType_tmp.replace('</span>', '').replace('<span>', '').replace('</SPAN>', '').replace('<SPAN>', '');
				prodLang = prodLang_tmp.replace('</span>', '').replace('<span>', '').replace('</SPAN>', '').replace('<SPAN>', '');
				while (prodType.charAt(0) == ' ') {
					prodType = prodType.substr(1, prodType.length);
				}
				while (prodType.charAt(prodType.length - 1) == ' ') {
					prodType = prodType.substr(0, prodType.length - 1)
				}
				while (prodLang.charAt(0) == ' ') {
					prodLang = prodLang.substr(1, prodLang.length);
				}
				while (prodLang.charAt(prodLang.length - 1) == ' ') {
					prodLang = prodLang.substr(0, prodLang.length - 1)
				}
				if (prodType.search('CD-ROM') > -1) isCD = true;
			});

			var imagemap = {
				'English (American)': {
					img: 'rto-book-english',
					msrp: '56.97',
					sale: '49.99'
				},
				'English (British)':  {
					img: 'rto-book-english',
					msrp: '56.97',
					sale: '49.99'
				},
				'French':  {
					img: 'rto-book-french',
					msrp: '35.97',
					sale: '32.99'
				},
				'German':  {
					img: 'rto-book-german',
					msrp: '37.97',
					sale: '34.99'
				},
				'Italian':  {
					img: 'rto-book-italian',
					msrp: '34.97',
					sale: '32.99'
				},
				'Spanish (Latin America)':  {
					img: 'rto-book-spanish',
					msrp: '34.97',
					sale: '32.99'
				},
				'Spanish (Spain)':  {
					img: 'rto-book-spanish',
					msrp: '34.97',
					sale: '32.99'
				}
			}

			var html = '';
			if (isCD && bfrtolanguages.indexOf(prodLang) > -1) {
				html+='<div id="bookfbrto">';
				html+='	<div class="rtoexit"></div>';
				html+=' <img src="http://www.rosettastone.com/lp/globals/img/rto/books/' + imagemap[prodLang].img + '.png">';
				html+='	<p class="bfrto-headline">RECOMMENDED FOR YOU:</p>';
				html+='	<div id="bfrto-books">';
				html+='		<div class="bfrto-left">';
				html+='			<p class="bfrto-body">Dictionary, grammar, travel books and a free app with over 1200 useful phrases from Barron\'s &mdash; the #1 choice in language guides.</p>';
				html+='		</div>';
				html+='		<div class="bfrto-right">';
				html+='			<p class="bfrto-body"><strong>Premium</strong> Book Supplements<br></p>';
				html+='			<div class="bfrto-strike">$' + imagemap[prodLang].msrp +'</div>';
				html+='			<div class="bfrto-price">$' + imagemap[prodLang].sale +'</div>';
				html+='			<button class="bfrto-cart"';
				switch (prodLang) {
					case 'English (American)':
						html+='data-sku="40254"'; break;
					case 'English (British)':
						html+='data-sku="40254"'; break;
					case 'French':
						html+='data-sku="40234"'; break;
					case 'German':
						html+='data-sku="40246"'; break;
					case 'Italian':
						html+='data-sku="40240"'; break;
					case 'Spanish (Latin America)':
						html+='data-sku="40231"'; break;
					case 'Spanish (Spain)':
						html+='data-sku="40231"'; break;
				}	
				html+='>ADD TO ORDER +</button>';
				html+='		</div>';
				html+='	</div>';
				html+='</div>';
			} else {
				html+='<div id="bookfbrto">';
				html+='	<div class="rtoexit"></div>';
				html+=' <img src="http://www.rosettastone.com/lp/ui/img/bfrto-brains.png" style="top:-34px;right:61px;">';
				html+='	<div idi="bfrto-fitbrains">';
				html+='		<p class="bfrto-headline">RECOMMENDED FOR YOU:</p>';
				html+='		<div class="bfrto-left">';
				html+='			<p class="bfrto-body"><strong>Prime your mind for learning...</strong><br>';
				html+='			Enhance your memory, focus and brain speed</p>';
				html+='		</div>';
				html+='		<div class="bfrto-right">';
				html+='			<p class="bfrto-body"><strong>Rosetta Stone Fit Brains</strong><br>';
				html+='			12-Month Subscription<br></p>';
				html+='			<div class="bfrto-strike">$99.95</div>';
				html+='			<div class="bfrto-price">$79.95</div>';
				html+='			<button class="bfrto-cart" data-sku="98393">ADD TO ORDER +</button>';
				html+='		</div>';
				html+='	</div>';
				html+='</div>';
			}

			jQuery('body').append(html);

			jQuery('.rtoexit').click(function() {
				jQuery('#bookfbrto').remove();
				Mage.Cookies.set('showoffer', "no");
			});

			jQuery('#bookfbrto').find('button.bfrto-cart').click(function() {
				Mage.Cookies.set('showoffer', "no");
				location.assign('https://secure.rosettastone.com/us_en_store_view/checkout/cart/add/sku/'+jQuery(this).data('sku')+'/');
			});
		}
	});

}
</script>