<!--

Test to show free headset offer in mobile cart.
-->
<style>
	#headsetWrapper {
		background-color: #1f1f1f;
		padding: 25px;
        display: none;
	}
	#headsetInner {
		background-color: #edeadd;
		padding: 10px 15px 1px;
	}
	#headsetInner h2 {
		color: #363636;
		font: 18pt "Effra", Helvetica, Arial, sans-serif;
		width:60%;
		padding-right: 102px;
		padding-top: 30px;
		background: transparent url(http://www.rosettastone.com/lp/ui/img/headsetbg.png) no-repeat top right;
		max-width: 360px;
		margin: 0 auto;
		text-align: left;
		background-size: 42%;
		height:87px;
	}
	#headsetInner h2 strong {
		font-weight: bold;
	}
	#headsetInner .ordernow {
		color: #363534;
		font:12pt "EffraLightRegular", Helvetica, Arial, sans-serif;
		text-align: center;
		margin: 10px 0 5px;
	}
	#headsetInner #timer {
		background: transparent url(http://www.rosettastone.com/lp/ui/img/timeleftbg.png) no-repeat;
		width: 100%;
		height: 35px;
		margin: 0 auto;
		background-size:100% 100%;
	}
	#headsetInner #timer div {
		display: inline-block;
		width: 30%;
		color: #ebc026;
		font: bold 13px Effra, Helvetica, Arial, sans-serif;
		text-align: center;
		position:relative;
		top: 8px;
	}
	#headsetInner #timer div span {
		font-size: 18px
	}
	#headsetInner #timer div:first-child {
		font: 14px EffraLightRegular, Helvetica, Arial, sans-serif;
		top:7px;
		right: 5px;
	}
	#headsetInner button {
		color: #fff;
		font: 15px Effra, Helvetica, Arial, sans-serif;
		text-transform: uppercase;
		width: 218px;
		display: block;
		height: 36px; 
		background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #edc126), color-stop(1, #b58517) );
		background: -moz-linear-gradient( center top, #edc126 5%, #b58517 100% );
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#edc126", endColorstr="#b58517");
		margin: 25px auto;
		cursor: pointer;
		border-width:0;
	}
	@media screen and (orientation: landscape) {
		#headsetInner h2 {
			background-size: 26%;
		}
		#headsetInner #timer div {
			top: 22px;
		}
		#headsetInner #timer div:first-child {
			top:22px;
		}
		#headsetInner button {
			margin-top: 15px;
		}
	}
	@media screen
		and (orientation:portrait)
		and (min-width: 370px)  {
		#headsetInner #timer div {
			font-size: 17px !important;
		}
		#headsetInner #timer div {
			top: 8px;
		}
		#headsetInner #timer div:first-child {
			top:8px;
			right: 5px;
		}
	}
</style>
<script>
html ='';
html +='<div id="headsetWrapper">';
html +='	<div id="headsetInner">';
html +='		<h2>GET AN<br>';
html +='			<strong>ADDITIONAL<br>';
html +='			HEADSET</strong></h2>';
html +='		<p class="ordernow">If you order in the next ten minutes</p>';
html +='		<div id="timer">';
html +='			<div class="timeleft">TIME LEFT:</div>';
html +='			<div class="minutes"><span class="digits"></span> min</div>';
html +='			<div class="seconds"><span class="digits"></span> sec</div>';
html +='		</div>';
html +='		<button class="purchase" id="applynow"> Yes, Please. </button>';
html +='	</div>';
html +='</div>';



function countdown() {

    var interval = setInterval(function() {

        if (jQuery('#timer').length > 0) {

            var min = jQuery('#headsetInner .minutes .digits');
            var sec = jQuery('#headsetInner .seconds .digits');

            endTime = Mage.Cookies.get('clock_end_time')
            

            if (endTime) {
                var rt = jQuery.now()
                if (endTime - rt > 0) {
                    var diff = millisecondsToTime(endTime - rt);
                    endTimeArray = diff.split(":"); // 00:04:35
                    var m = parseInt(endTimeArray[endTimeArray.length - 2], 10)
                    var s = parseInt(endTimeArray[endTimeArray.length - 1], 10)
                    
                    $(sec).text(s);
                    $(min).text(m);               
                  
                } else {
                    jQuery('#headsetWrapper').remove()
                }
            } else {
                jQuery('#headsetWrapper').remove()
            }
        }

    }, 1000);    
}






function millisecondsToTime(s) {
    function addZ(n) {
        return (n < 10 ? '0' : '') + n;
    }
    var ms = s % 1000;
    s = (s - ms) / 1000;
    var secs = s % 60;
    s = (s - secs) / 60;
    var mins = s % 60;
    var hrs = (s - mins) / 60;
    return addZ(hrs) + ':' + addZ(mins) + ':' + addZ(secs);
}

jQuery(document).ready(function() {

    var appliedPromo = Mage.Cookies.get("promo");
    var promoOnCart = jQuery('.couponlabel').html()
    var clockFlag = true;
    if (typeof(appliedPromo) != 'undefined' && appliedPromo != '' && appliedPromo != null) {
        var basePromo = appliedPromo.split('_')[0];
    }



    // Set cookie if it doesn't exist    
    if (Mage.Cookies.get('clock_expired') == null) {
        Mage.Cookies.set('clock_expired', 0);
    }
    // Only run this code if the clock has not expired
    if (Mage.Cookies.get('clock_expired') == "0") {
        var promotoapply, prodincart = '';
        var s5promo = "headsetfreeship";
        var numOfProducts = jQuery('.prodname').size();
        var prodName = '';
        var isCD = false;
        jQuery.each(jQuery('.prodname'), function(k, v) {
            // Determine whiproch product is in cart
            prodName = jQuery(v).html();
            var tmp = prodName.split(/<br[^>]*>/gi);
            var prodName_tmp = tmp[tmp.length - 2];
            var prodType_tmp = tmp[2];
            prodName = prodName_tmp.replace('</span>', '').replace('<span>', '').replace('</SPAN>', '').replace('<SPAN>', '');
            prodType = prodType_tmp.replace('</span>', '').replace('<span>', '').replace('</SPAN>', '').replace('<SPAN>', '');
            while (prodName.charAt(0) == ' ') {
                prodName = prodName.substr(1, prodName.length);
            }
            while (prodName.charAt(prodName.length - 1) == ' ') {
                prodName = prodName.substr(0, prodName.length - 1)
            }
            while (prodType.charAt(0) == ' ') {
                prodType = prodType.substr(1, prodType.length);
            }
            while (prodType.charAt(prodType.length - 1) == ' ') {
                prodType = prodType.substr(0, prodType.length - 1)
            }
            if (prodType.search('CD-ROM') > -1) isCD = true;
            switch (prodName) {
                case 'Levels 1-5':
                    prodincart = "S5";
                    break;
                case 'Levels 1-3':
                    prodincart = "S3";
                    break;
                case 'Level 1-2':
                    prodincart = "S2";
                    break;
                case 'Level 1':
                    prodincart = "L1";
                    break;
                case 'Online subscription':
                    if (prodType == "36 months*" || prodType == "12 months*") {
                        prodincart = "TSB";
                    } else {
                        prodincart = "";
                    }
                    break;
                default:
                    prodincart = '';
            }
        });



        if ((clockFlag == true) && (prodincart != null) && (prodincart == "S5" || prodincart == "TSB")) {
            // I know this looks dumb. Should be just  + html + ..but doesn't work that way

            jQuery('body').prepend(html);
            if (!isCD) jQuery('#headsetInner h2').html('GET A<br><strong>FREE<br>HEADSET</strong>');
            $clock = jQuery("#headsetWrapper");
            $clock.show();


            /***

            The following block will need to change depending on how they add the product.
            This code supports adding a product just by adding a promo code.
            If we need to use sku as well, we will have to change that.
                
            ***/
            // Logic for promocode applying (when clock button is clicked)
            jQuery("body").on('click', '#applynow', function(e) {
                e.preventDefault();
                promotoapply = s5promo;
                jQuery('#coupon_code').val(promotoapply);
                discountForm.submit(false);
                // Set clock expired so when page reloads, clock isnt shown again
                // since user just clicked on the clock's button
                Mage.Cookies.set('clock_expired', 1);
            });


            /*
             * Now that the clock HTML is shown, start the countdown
             * Starts the actual countdown, based on the cookie that holds
             * the expiration time
             */
            if ((Mage.Cookies.get('clock_end_time') == null)) {
                /*
                 * Initial page load we manually pass the min and secs
                 * parameters to the clock (10,0) and also set the
                 * cookie that holds the expiration time (10 mins from now)
                 */
                // Get entry time milliseconds + 10 mins (60000ms)
                var date = new Date();
                var i = date.getTime();
                var e = i + 600000;
                Mage.Cookies.set('clock_end_time', e);
                //countdown();
            } 
        }
    }




    window.onload = countdown

});

</script>