/* mobile landscape and tablet portriat*/
body {
	/*margin: 4.375rem 0;*/
	margin-right: 0;
	margin-left: 0;
}
#masthead {
	background-image: url('../../globals/img/mastheads/sbsr/<%= mastheadimage %>');
	background-repeat: no-repeat;
  	background-position: center;
	background-size: cover;
	position: relative;
 	height: 20.9375rem;
}

#everystory {

	background-repeat: no-repeat;
	background-size: 100% 100%;
	display: block !important;
	height: 100%;
	visibility: hidden!important;
}
#offerbox {
	box-sizing: border-box;
	position: absolute;
	font-size: 190%;
	color: #000;
	width: auto;
	bottom: -3%;
	left: 5%;
	visibility: hidden!important;
}
#masthead > #offerbox > #offertext {
	position: relative;
	font-size: 65%;
	bottom: -18px;
	color: #fff;
}

#masthead #pricing {
	display: table;
}
#masthead > #offerbox #regular-price {
	vertical-align: middle;
	display: table-cell;
	padding-left: 14px;
	font-weight: bold;
	font-size: 130%;
	/*color: #000;*/
	color: #fff;
}
#masthead > #offerbox #regular-price sup {
	font-weight: lighter;
	position: relative;
	font-size: 50%;
	right: -10px
}
#masthead > #offerbox #sale-price {
	font-family: gothammedium;
	vertical-align: middle;
	display: table-cell;
	/*font-weight: bold;*/
	font-size: 270%;
	color: #fff;
}
#masthead > #offerbox #sale-price sup {
	font-weight: lighter;
}
#masthead > #offerbox #regular-price > span {
	display: inline-block;
	position: relative;
}

#masthead > #offerbox #regular-price .strikethrough {
	position: absolute;
	background: red;
	height: 2px;
	width: 100%;
	top: 49%;
}

#masthead > #offerbox #regular-price > span:first-of-type {
	position: relative;
	margin-right: -13px;
	margin-left: -6px;
	font-size: 40%;
	top: -5px;
}


#masthead > #offerbox #sale-price sup {
	font-family: gothambook;
	font-weight: lighter;
	font-size: 50%;
}

#violator {
	/*background: url('../../globals/img/violators/pattern-red.jpg');*/
	display: none;
	background: #A83837;
	text-align: center;
	font-weight: bold;
	font-size: 140%;
	padding: 10px 0;
	color: #eee;
}

#violator > div {
	font-family: gothamLight;
	display:inline-block;
	vertical-align:middle;
	font-weight:lighter;
}
#violator > div > img {
	margin-right: 10px;
}
#violator > div > span {
	font-weight: bold;
	color: #f7cc00;
}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
	#masthead{

	}
	#everystory{

	}
	#offerbox{

	}
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
	#masthead{
		background-position: 0 0;
	}
	#everystory{

	}
	#offerbox{
		box-sizing: border-box;
		position: absolute;
		font-size: 190%;
		color: #000;
		width: auto;
		bottom: -4%;
		left: 6%;
	}
}

/*tablet landscape*/
@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1){
	#masthead{
		background-position: 73% 100%;
		height: 21.9375rem
	}
	#everystory{
 		background-size: 120% 100%;
		background-position: 0;
	}
	#offerbox{
		box-sizing: border-box;
		position: absolute;
		font-size: 180%;
		color: #000;
		bottom: -2%;
		left: 4%;
	}
}
/*tablet portriat*/
@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1){
	#masthead{
		background-position: 73% 100%;
		height: 21.9375rem
	}
	#everystory{
		background-size: 130% 100%;
		background-position: 0;
	}
	#offerbox{
		box-sizing: border-box;
		position: absolute;
		font-size: 160%;
		color: #000;
		width: auto;
		bottom: 2%;
		left: 3%;
	}
}
/*mobile landscape*/
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (-webkit-min-device-pixel-ratio : 2) and (orientation: landscape) {
	#masthead{
		background-image: url('../../globals/img/mastheads/mobile/<%= mastheadimage %>');
	    background-size: 100% 100%;
	    background-repeat: no-repeat;
	    position: relative;
		height: 141px;
	}
	#everystory{
		background-size: 150% 100%;
		background-position: 0;
		background-image: none;
	}
	#offerbox{
		box-sizing: border-box;
		position: absolute;
		font-size: 125%;
		color: #000;
		bottom: -2%;
		left: 7%;
	}
	#masthead > #offerbox > #offertext {
		bottom: -9px;
	}
	#masthead > #offerbox #regular-price {
		padding-left: 8px;
	}
}

/*mobile portrait*/
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio : 2) and (orientation: portrait) {
	#masthead {
		background-image: url('../../globals/img/mastheads/mobile/<%= mastheadimage %>');
		background-size: 100% 100%;
	    background-repeat: no-repeat;
	    position: relative;
		height: 141px;
	}
	#everystory{
		background-size: 175% 100%;
		background-image: none;
	}
	#offerbox{
		box-sizing: border-box;
		position: absolute;
		font-size: 90%;
		color: #000;
		bottom: 0;
		left: 4%;
	}
	#masthead > #offerbox > #offertext {
		bottom: -9px;
	}
	#masthead > #offerbox #regular-price sup {
	  	right: -6px;
		margin-right: 1px;
	}
	#masthead > #offerbox #regular-price {
		padding-left: 8px;
	}
}

