<!-- TABLET 3 -->

    <style>

#cdcheckbox-wrapper {
    margin-top: -95px;
}
    #software-delivery {
        visibility: hidden
    }
    #cdcheckbox-wrapper label input[type="checkbox"] {
        display:none;
    }


    #cdcheckbox-wrapper  label {

        height: 51px;
        width: 100%;
        margin: -30px auto 13px;
    }

    #cdcheckbox-wrapper  label > div > * {
    display: inline-block;
    vertical-align:top;

    }


    #cdcheckbox-wrapper  label > div > div {
        width: 80%;
        padding-left: 10px;
        line-height: 13px;
        padding-top: 10px;
    }


    #cdcheckbox-wrapper label input[type="checkbox"] ~ div {

        font-weight: normal;
        padding: 0px 0 0 40px;
        margin:-1px 4px 0 0;
        vertical-align:middle;
        background:url('../../globals/img/digi-checkbox.png') 9px -27px no-repeat;
        cursor:pointer;
    }

    #cdcheckbox-wrapper label input[type="checkbox"]:checked ~ div {
        background:url('../../globals/img/digi-checkbox.png') 9px 10px no-repeat;
    }

    </style>
<div id="cdcheckbox-wrapper">
    <label for="cdbox">
            <input type='checkbox' name='cdrom' id='cdbox'>
            <div>
                <img src="../../globals/img/digi-yellowcd.png" alt="">
                <div>Want the security of a backup? Add a back-up CD for an additional $50.</div>
            </div>
    </label>
</div>
<script>
/********************************************************************************
This function adds related skus to a url
*********************************************************************************/

// skus or exp 2 and 3
var skumap = {'95590': '52177','95591': '52178','95592': '52179','96148': '52180','95593': '52181','95594': '52182','24354': '52183','96166': '52184','24355': '52185','24356': '52186','95599': '52189','24360': '52190','96154': '52191','24361': '52192','24362': '52193','95623': '52194','96205': '52195','95625': '52196','24345': '52197','96202': '52198','24346': '52199','24347': '52201','95614': '52202','95615': '52203','24348': '52204','96163': '52205','24349': '52206','24350': '52207','95602': '52208','95603': '52209','95604': '52210','95605': '52211','95606': '52212','95607': '52213','24351': '52214','96181': '52215','24352': '52216','24353': '52217','95612': '52218','95613': '52219','95610': '52220','95611': '52221','95595': '52222','95596': '52223','95616': '52224','95617': '52225','95618': '52226','95619': '52227','95620': '52228','95621': '52229','95622': '52230','95626': '52231','95627': '52232','95600': '52233','95601': '52234','95628': '52235','95629': '52236','95630': '52237','95631': '52238','95608': '52239','95609': '52240'};

function addRelatedSku(url) {

    function getcdrelatedsku(originalsku) {
        return skumap[originalsku] || null;
    }

    function getskufromurl(carturl) {
        var ret = carturl.match(/\/sku\/([^\/?]+)/i);
        return ret && ret.pop && ret.pop();
    }

    function getcategoryid(carturl){
        return carturl.match(/\/category_id\/[^\/\?]+/i);
    }

    function transformcarturl(carturl) {
        var urlparts = carturl.split('?');
        urlparts[0] = urlparts[0].replace(/\/$/,'') + '/related_sku/' + getcdrelatedsku(getskufromurl(carturl)) + getcategoryid(carturl) + '/';
        return urlparts.join('?');
    }
    return getcdrelatedsku(getskufromurl(url)) ? transformcarturl(url) : url;
}


    $(function() {
        window.setTimeout(function() {
            $('#software-download > input').click()
            $cdcheckbox = $('#cdcheckbox-wrapper').detach()
            $('#software-delivery').after($cdcheckbox)
            //$cdcheckbox.find('label').css({'width':'89%'})
            $('#cdcheckbox-wrapper  label > * ').css({'border':'1px solid transparent'})
        },15)


        // hitting add to cart
        $('#product-column-cd .basketbutton').click(function(e) {

            e.preventDefault();
            var link = $(this).attr('href')
            if ($('#cdbox').is(':checked')) {
                link = addRelatedSku(link)
            }

            window.location.href = link

        })

        $cdpricing = $('#cd-pricing')
        $cdpricing.on('change', 'select', function() {
            var sku = $cdpricing.find(':selected').val()
            if (typeof skumap[sku] == 'undefined') {
                $('#cdbox').removeAttr('checked').parent().css('visibility','hidden')
            } else {
                $('#cdbox').parent().css('visibility','visible')
            }
        })



    }) // doc ready

</script>