   <!-- TABLET 4 -->

    <style>
#cdcheckbox-wrapper {
    margin-top: -95px;
}
    #software-delivery {
        visibility: hidden
    }
    #cdcheckbox-wrapper label input[type="checkbox"] {
        display:none;
    }


    #cdcheckbox-wrapper  label {

        height: 51px;
        width: 100%;
        margin: 0px auto 13px;
    }

    #cdcheckbox-wrapper  label > div{
        display: table;
        height: 51px;
        width: 86%;
        margin: -24px auto 13px;
    }

    #cdcheckbox-wrapper  label > div > * {
    display: inline-block;
    vertical-align:top;

    }


    #cdcheckbox-wrapper  label > div > div {
        width: 66%;
        padding-left: 9px;
        line-height: 13px;
        font-weight: normal;
        display: table-cell;
        vertical-align:top;
    }

    @media only screen and (orientation : landscape) {
         #cdcheckbox-wrapper  label > div > div {
            width: 74%;
        }
        #cdcheckbox-wrapper {
            margin-top: -65px;
        }
    }

    #cdcheckbox-wrapper  label > div > img {
         display: table-cell;
    vertical-align:top;
    }


    #cdcheckbox-wrapper label input[type="checkbox"] ~ div > span{
        display: table-cell;
        font-weight: normal;
        float: left;
        /* padding: 0px 0 0 40px; */
        /* margin: -1px 4px 0 0; */
        vertical-align: middle;
        background: url('../../globals/img/digi-checkbox.png') 0px -26px no-repeat;
        cursor: pointer;
        height: 37px;

        width: 31px;
    }

    #cdcheckbox-wrapper label input[type="checkbox"]:checked ~ div > span {
        background:url('../../globals/img/digi-checkbox.png') 0px 10px no-repeat;
    }

    </style>
<div id="cdcheckbox-wrapper">
    <label for="cdbox">
            <input type='checkbox' name='cdrom' id='cdbox'>
            <div>
                <span></span>
                <img src="../../globals/img/digi-box.png" alt="">
                <div>Want the security of a backup? Add a CD-ROM box set for an additional $50.</div>
            </div>
    </label>
</div>
<script>
/********************************************************************************
This function adds related skus to a url
*********************************************************************************/
document.cookie='cs_gr=0:2:a0b70551e9256ac6:DLGxCoR1/GGF1YTbM1aNNw==; path=/; domain=.rosettastone.com';
// skus or exp 2 and 3
//var skumap = {'95590': '52177','95591': '52178','95592': '52179','96148': '52180','95593': '52181','95594': '52182','24354': '52183','96166': '52184','24355': '52185','24356': '52186','95599': '52189','24360': '52190','96154': '52191','24361': '52192','24362': '52193','95623': '52194','96205': '52195','95625': '52196','24345': '52197','96202': '52198','24346': '52199','24347': '52201','95614': '52202','95615': '52203','24348': '52204','96163': '52205','24349': '52206','24350': '52207','95602': '52208','95603': '52209','95604': '52210','95605': '52211','95606': '52212','95607': '52213','24351': '52214','96181': '52215','24352': '52216','24353': '52217','95612': '52218','95613': '52219','95610': '52220','95611': '52221','95595': '52222','95596': '52223','95616': '52224','95617': '52225','95618': '52226','95619': '52227','95620': '52228','95621': '52229','95622': '52230','95626': '52231','95627': '52232','95600': '52233','95601': '52234','95628': '52235','95629': '52236','95630': '52237','95631': '52238','95608': '52239','95609': '52240'};

// skus for experiences 4
var skumap = {24345: "27875",24346: "27875",24347: "27875",24348: "27788",24349: "27788",24350: "27788",24351: "27830",24352: "27830",24353: "27830",24354: "27797",24355: "27797",24356: "27797",24360: "27767",24361: "27767",24362: "27767",95590: "27746",95591: "27746",95592: "29879",95593: "29879",95594: "29879",95595: "27758",95596: "27758",95597: "28397",95598: "28397",95599: "28397",95600: "27779",95601: "27779",95602: "27803",95603: "27803",95604: "27809",95605: "27809",95606: "27815",95607: "27815",95608: "27821",95609: "27821",95610: "27836",95611: "27836",95612: "27842",95613: "27842",95614: "27848",95615: "27848",95616: "27854",95617: "27854",95618: "27860",95619: "27860",95620: "29882",95621: "29882",95622: "29882",95623: "27884",95624: "27884",95625: "27884",95626: "27890",95627: "27890",95628: "27896",95629: "27896",95630: "27902",95631: "27902"};



function addRelatedSku(url) {

    function getcdrelatedsku(originalsku) {
        return skumap[originalsku] || null;
    }

    function getskufromurl(carturl) {
        var ret = carturl.match(/\/sku\/([^\/?]+)/i);
        return ret && ret.pop && ret.pop();
    }

    function getcategoryid(carturl){
        return carturl.match(/\/category_id\/[^\/\?]+/i);
    }

    function transformcarturl(carturl) {
        var urlparts = carturl.split('?');
        urlparts[0] = urlparts[0].replace(/\/$/,'') + '/related_sku/' + getcdrelatedsku(getskufromurl(carturl)) + getcategoryid(carturl) + '/';
        return urlparts.join('?');
    }
    return getcdrelatedsku(getskufromurl(url)) ? transformcarturl(url) : url;
}


    $(function() {
        window.setTimeout(function() {
            $('#software-download > input').click()


            $cdcheckbox = $('#cdcheckbox-wrapper').detach()
            $('#software-delivery').after($cdcheckbox)
            //$cdcheckbox.find('label').css({'width':'89%'})
            $('#cdcheckbox-wrapper  label > * ').css({'border':'1px solid transparent'})
        },15)


        // hitting add to cart
        $('#product-column-cd .basketbutton').click(function(e) {

            e.preventDefault();
            var link = $(this).attr('href')
            if ($('#cdbox').is(':checked')) {
                link = addRelatedSku(link)
            }

            window.location.href = link

        })


         /*
         * After selecting a language, make sure selected lvl of language (always highest by default)
         * has a related sku
         */
         $cdpricing = $('#cd-pricing')
        $cdpricing.on('change', 'select', function() {
            var sku = $cdpricing.find(':selected').val()
            if (typeof skumap[sku] == 'undefined') {
                $('#cdbox').removeAttr('checked').parent().css('visibility','hidden')
            } else {
                $('#cdbox').parent().css('visibility','visible')
            }
        })



    })

</script>