<!-- TABLET 1 -->
<style>
 #software-delivery {
        visibility: hidden
}
</style>
<script>
$(function() {
    window.setTimeout(function() {
            $('#software-download > input').click()
        },15)
})
</script>