#storyboxModule {
  background: #fff;
}
body {
  font-family: gothambook;
  overflow-x: hidden;
  background-image: url("../assets/desktop/texts.png");
  background-color: #363636;
  background-size: contain;
}
#main-container {
  max-width: 1600px;
  margin: 0 auto;
}
#hero {
  background-image: url("../assets/shared/masthead.jpg");
  background-size: cover;
  text-align: center;
  padding: 2em 0;
  line-height: 1.1em;
  position: relative;
  z-index: 1;
}
#hero:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,0.4);
  z-index: -1;
}
@media only screen and (min-width: 48em) {
  #hero {
    line-height: 2.3em;
    padding: 7vh 0;
  }
}
@media only screen and (min-width: 62em) {
  #hero {
    line-height: 44px;
    padding: 2em;
    min-height: 47vh;
    text-align: left;
  }
}
@media only screen and (min-width: 62em) {
  #hero .hero-text {
    padding: 1.6em 0 0 1.6em;
  }
}
#hero .hero-text h1 {
  color: #edc201;
  font-size: 1.6em;
}
@media only screen and (min-width: 48em) {
  #hero .hero-text h1 {
    font-size: 3em;
    margin: 0 0 0.8em 0;
    padding: 0;
  }
}
#hero .hero-text p {
  font-size: 0.7em;
  color: #fff;
}
@media only screen and (min-width: 48em) {
  #hero .hero-text p {
    font-size: 1.7em;
  }
}
@media only screen and (min-width: 62em) {
  #hero .hero-text p {
    margin: 0;
    padding: 0;
    font-size: 1.7em;
  }
}
#demo-container {
  background-image: url("../assets/bg-demo-sm.jpg");
  background-size: 100% 100%;
  min-height: 420px;
  text-align: justify;
  color: #fff;
  text-align: center;
  line-height: 5vw;
}
@media only screen and (min-width: 48em) {
  #demo-container {
    background-size: 100% 133%;
    background-position: 0 -105px;
  }
}
@media only screen and (min-width: 62em) {
  #demo-container {
    line-height: 3vh;
    padding: 0 0;
  }
}
#demo-container > .width-limit {
  overflow: auto;
  max-width: 990px;
  margin: 0 auto;
}
#demo-container > .width-limit .demo-inner {
  display: block;
  background-color: rgba(16,76,143,0.5);
  min-height: 200px;
  max-width: 572px;
  padding: 5vh 0;
  line-height: 23px;
}
@media only screen and (min-width: 48em) {
  #demo-container > .width-limit .demo-inner {
    max-width: none;
    float: none;
    padding: 5vh 10vw 0;
    min-height: 550px;
    line-height: 45px;
  }
}
@media only screen and (min-width: 62em) {
  #demo-container > .width-limit .demo-inner {
    width: 51%;
    min-height: 570px;
    min-width: 505px;
    float: right;
    padding: 5vh 5vh 0 5vh;
    background-color: rgba(16,76,143,0.35);
    text-align: left;
    box-sizing: border-box;
    float: right;
    line-height: 2.5vw;
    line-height: 35px;
  }
}
#demo-container > .width-limit h2 {
  font-size: 1.7em;
}
@media only screen and (min-width: 48em) {
  #demo-container > .width-limit h2 {
    font-size: 3.3em;
  }
}
@media only screen and (min-width: 62em) {
  #demo-container > .width-limit h2 {
    font-size: 2.3em;
    margin-bottom: 10px;
  }
}
#demo-container > .width-limit p {
  font-size: 1em;
  padding: 0 1em;
}
@media only screen and (min-width: 48em) {
  #demo-container > .width-limit p {
    font-size: 1.6em;
  }
}
@media only screen and (min-width: 62em) {
  #demo-container > .width-limit p {
    font-size: 1.3em;
    padding: 0;
  }
}
#demo-container > .width-limit select {
  background: #02affe;
  color: #fff;
  border: 0;
  border-radius: 3px;
  padding: 1.5vh;
  display: block;
  width: 73%;
  margin: 5vh auto;
}
@media only screen and (min-width: 48em) {
  #demo-container > .width-limit select {
    display: none;
  }
}
#demo-container > .width-limit input[type=email] {
  border: 1px solid #02affe;
  padding: 5px;
  font-size: 3vh;
  width: 73%;
  box-sizing: border-box;
}
#demo-container > .width-limit input[type=email].invalid {
  background: #ebb4b4;
  border: 3px solid #f00;
}
@media only screen and (min-width: 48em) {
  #demo-container > .width-limit input[type=email] {
    display: none;
  }
}
#demo-container > .width-limit button {
  background: #02affe;
  background: #02affe;
  color: #fff;
  border: 0;
  border-radius: 3px;
  margin: 3vh 0;
  width: 33%;
  padding: 1.5vh;
  cursor: pointer;
}
@media only screen and (min-width: 48em) {
  #demo-container > .width-limit button {
    padding: 2.5vh;
    margin: 4vh auto;
    width: 70%;
    font-size: 3vw;
  }
}
@media only screen and (min-width: 62em) {
  #demo-container > .width-limit button {
    font-size: 1.5vw;
  }
}
#demo-container > .width-limit button:first-of-type {
  display: none;
}
@media only screen and (min-width: 48em) {
  #demo-container > .width-limit button:first-of-type {
    display: block;
    width: 70%;
    padding: 2vh;
  }
}
@media only screen and (min-width: 62em) {
  #demo-container > .width-limit button:first-of-type {
    width: 80%;
    font-size: 1em;
    padding: 1em;
  }
}
@media only screen and (min-width: 48em) {
  #demo-container > .width-limit button.mobile-demo-start {
    display: none;
  }
}
/***********************************
* Yellow bg area
************************************/
#products-container {
  transform: rotateZ(-3deg) skewX(-3deg) scaleY(1.3);
  font-size: 4vw;
  background-color: #edc201;
  padding-bottom: 4em;
}
@media only screen and (min-width: 48em) {
  #products-container {
    padding-bottom: 3em;
  }
}
@media only screen and (min-width: 62em) {
  #products-container {
    padding-bottom: 0;
    max-height: 346px;
  }
}
#products-container .products {
  transform: rotateZ(3deg) skewX(3deg) scaleY(0.87);
}
@media only screen and (min-width: 62em) {
  #products-container .products {
    margin: 0 auto;
  }
}
#products-container .products > div.width-limit {
  max-width: 90vw;
  margin: 0 auto;
}
@media only screen and (min-width: 62em) {
  #products-container .products > div.width-limit {
    max-width: 990px;
  }
}
#products-container .products > div.width-limit .prices {
  max-width: 625px;
  top: -8vw;
  text-align: center;
  position: relative;
  width: 100%;
  margin: 0 auto;
}
@media only screen and (min-width: 48em) {
  #products-container .products > div.width-limit .prices {
    margin: 0 auto;
    top: -16vw;
  }
}
@media only screen and (min-width: 62em) {
  #products-container .products > div.width-limit .prices {
    float: right;
    margin: 0;
    max-width: 990px;
    width: 51%;
    top: -10vh;
  }
}
#products-container .products > div.width-limit .prices img {
  width: 100%;
  display: block;
  max-width: 540px;
  margin: 0 auto;
}
@media only screen and (min-width: 48em) {
  #products-container .products > div.width-limit .prices img {
    max-width: inherit;
  }
}
#products-container .products > div.width-limit .pricing-info {
  display: table;
  margin: 0 auto;
}
@media only screen and (min-width: 48em) {
  #products-container .products > div.width-limit .pricing-info {
    color: #363636;
    position: relative;
    bottom: -2vh;
  }
}
#products-container .products > div.width-limit .pricing-info> span.msrp-price {
  color: #b00502;
  font-size: 5vw;
  display: table-cell;
  vertical-align: middle;
  text-decoration: line-through;
}
@media only screen and (min-width: 48em) {
  #products-container .products > div.width-limit .pricing-info> span.msrp-price {
    font-size: 4vh;
  }
}
@media only screen and (min-width: 62em) {
  #products-container .products > div.width-limit .pricing-info> span.msrp-price {
    font-size: 3vh;
  }
}
#products-container .products > div.width-limit .pricing-info> span.msrp-price sup {
  top: -1vh;
  font-size: 70%;
  position: relative;
}
#products-container .products > div.width-limit .pricing-info> span.sale-price {
  font-size: 10vw;
  padding-left: 2vh;
  display: table-cell;
}
@media only screen and (min-width: 48em) {
  #products-container .products > div.width-limit .pricing-info> span.sale-price {
    font-size: 9vh;
    position: relative;
    top: -7px;
  }
}
@media only screen and (min-width: 62em) {
  #products-container .products > div.width-limit .pricing-info> span.sale-price {
    font-size: 7vh;
  }
}
#products-container .products > div.width-limit .pricing-info> span.sale-price sup {
  top: -4vw;
  position: relative;
  font-size: 50%;
}
@media only screen and (min-width: 48em) {
  #products-container .products > div.width-limit .pricing-info> span.sale-price sup {
    top: -4vh;
  }
}
@media only screen and (min-width: 62em) {
  #products-container .products > div.width-limit .pricing-info> span.sale-price sup {
    top: -3vh;
  }
}
#products-container .products > div.width-limit .pricing-info > p {
  font-size: 2.1vh;
  padding-left: 3vh;
}
@media only screen and (min-width: 48em) {
  #products-container .products > div.width-limit .pricing-info > p {
    font-size: 2.6vh;
  }
}
@media only screen and (min-width: 62em) {
  #products-container .products > div.width-limit .pricing-info > p {
    font-size: 1.8vh;
    padding-left: 2vh;
  }
}
#products-container .products > div.width-limit div.select-language {
  text-align: center;
}
@media only screen and (min-width: 48em) {
  #products-container .products > div.width-limit div.select-language {
    clear: both;
    width: 74%;
    margin: 0 auto;
    top: -7vh;
    text-align: center;
    position: relative;
  }
}
@media only screen and (min-width: 62em) {
  #products-container .products > div.width-limit div.select-language {
    text-align: left;
    max-width: 440px;
    position: relative;
    top: -191px;
    margin: 0;
  }
}
#products-container .products > div.width-limit div.select-language select {
  background: #02affe;
  color: #fff;
  border: 0;
  border-radius: 3px;
  padding: 2vh;
  display: none;
  width: 100%;
  margin-top: 6vh;
}
@media only screen and (min-width: 48em) {
  #products-container .products > div.width-limit div.select-language select {
    display: none;
  }
}
#products-container .products > div.width-limit div.select-language h1 {
  font-size: 1.7em;
}
@media only screen and (min-width: 48em) {
  #products-container .products > div.width-limit div.select-language h1 {
    font-size: 4vh;
    margin-bottom: 10px;
  }
}
@media only screen and (min-width: 62em) {
  #products-container .products > div.width-limit div.select-language h1 {
    font-size: 34px;
    margin-bottom: 0.3em;
  }
}
#products-container .products > div.width-limit div.select-language p {
  font-size: 1em;
  line-height: 19px;
  text-align: center;
}
@media only screen and (min-width: 48em) {
  #products-container .products > div.width-limit div.select-language p {
    font-size: 1em;
    text-align: center;
    line-height: 34px;
    font-size: 0.7em;
  }
}
@media only screen and (min-width: 62em) {
  #products-container .products > div.width-limit div.select-language p {
    font-size: 19px;
    text-align: left;
  }
}
#products-container .products > div.width-limit div.select-language button {
  background: #02affe;
  color: #fff;
  border: 0;
  border-radius: 3px;
  padding: 0.8em;
  width: 100%;
  margin-top: 3vh;
  cursor: pointer;
  margin-bottom: 3vh;
}
@media only screen and (min-width: 48em) {
  #products-container .products > div.width-limit div.select-language button {
    font-size: 2vh;
    display: block;
    margin: 6vh auto 0;
    width: 60%;
  }
}
@media only screen and (min-width: 62em) {
  #products-container .products > div.width-limit div.select-language button {
    font-size: 19px;
    margin-top: 20px;
    width: 100%;
    display: block;
  }
}
/***********************************
* Tweet area? bellow yellow area
************************************/
#tweet-container {
  transform: rotateZ(-3deg) skewX(-3deg) scaleY(1.2) scaleX(1.1);
  min-height: 4vw;
  background-image: url("../assets/desktop/texts.png");
  background-color: #363636;
  background-size: cover;
  padding-bottom: 2vh;
  font-size: 2.4vw;
}
@media only screen and (min-width: 62em) {
  #tweet-container {
    height: 13vw;
  }
}
#tweet-container .tweet-box {
  transform: rotateZ(3deg) skewX(3deg) scaleY(0.87);
  padding: 3vh;
}
@media only screen and (min-width: 62em) {
  #tweet-container .tweet-box {
    width: 818px;
    margin: 0 auto;
    max-width: 800px;
  }
}
#tweet-container .tweet-box .tweet {
  position: relative;
  top: -6vh;
  background-color: #5ca9dd;
  margin: 2vw;
  padding: 3% 0;
  color: #222;
  text-align: center;
  margin-top: 2vh;
  font-size: 2.8vh;
  font-style: italic;
}
@media only screen and (min-width: 48em) {
  #tweet-container .tweet-box .tweet {
    top: -11vh;
  }
}
@media only screen and (min-width: 62em) {
  #tweet-container .tweet-box .tweet {
    background-color: #fff;
    padding: 1em;
    font-size: 23px;
    border-radius: 3px;
    top: -7vh;
    line-height: 27px;
  }
}
#tweet-container .tweet-box .tweet p {
  padding: 0 3%;
  font-family: gothamlight;
}
#tweet-container .tweet-box .tweet .author {
  margin-top: 3vh;
  padding-bottom: 2vh;
}
@media only screen and (min-width: 62em) {
  #tweet-container .tweet-box .tweet .author {
    margin-top: 2vh;
  }
}
#tweet-container .tweet-box .tweet a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}
@media only screen and (min-width: 48em) {
  #tweet-container .tweet-box .tweet a {
    color: #fff;
  }
}
@media only screen and (min-width: 62em) {
  #tweet-container .tweet-box .tweet a {
    color: #02affe;
  }
}
#tweet-container .tweet-box .arrow-down {
  background: none;
  border-left: 2vw solid transparent;
  border-right: 2vw solid transparent;
  border-top: 12px solid #5ca9dd;
  margin: -2vw 0 0 0;
  padding: 0;
  width: 0;
  position: relative;
  bottom: 14.5vw;
  width: 0px;
  float: right;
  margin-right: 4vw;
  display: block;
  clear: both;
}
@media only screen and (min-width: 48em) {
  #tweet-container .tweet-box .arrow-down {
    bottom: 18.3vw;
  }
}
@media only screen and (min-width: 62em) {
  #tweet-container .tweet-box .arrow-down {
    transform: rotate(-90deg);
    border-top: 28px solid #fff;
    position: absolute;
    right: 24px;
    top: 10%;
    z-index: 2;
    bottom: inherit;
    margin: 0;
  }
}
#tweet-container .tweet-box .tweeter-icon {
  background: #fbbd1c;
  width: 11vw;
  height: 11vw;
  border-radius: 50%;
  clear: both;
  display: block;
  float: right;
  background-image: url("../assets/desktop/icon-twitter.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
  margin-top: -7.5vw;
}
@media only screen and (min-width: 62em) {
  #tweet-container .tweet-box .tweeter-icon {
    position: absolute;
    width: 9vw;
    height: 9vw;
    max-width: 100px;
    max-height: 95px;
    right: -73px;
    top: -10px;
    margin: 0;
  }
}
#tweet-container .ig-icon {
  background: #fbbd1c;
  position: absolute;
  width: 11vw;
  height: 10vw;
  border-radius: 50%;
  display: block;
  left: 7vw;
  bottm: -1vh;
  background-image: url("../assets/desktop/icon-instagram.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
  transform: rotateZ(3deg) skewX(3deg) scaleY(0.9);
}
@media only screen and (min-width: 62em) {
  #tweet-container .ig-icon {
    position: absolute;
    width: 9.5vw;
    height: 9.5vw;
    max-width: 100px;
    max-height: 95px;
    right: -73px;
    margin: 0;
    left: 87px;
    bottom: -27px;
    top: auto;
  }
}
/***********************************
* Instagram pics
************************************/
#instafeed {
  position: relative;
  z-index: -1;
  position: relative;
  top: -100px;
  max-height: 440px;
  overflow: hidden;
}
@media only screen and (min-width: 62em) {
  #instafeed {
    min-height: 500px;
  }
}
#instafeed #feed {
  transform: scale(1.5);
}
#instafeed #feed a {
  display: block;
  float: left;
  height: 70px;
  width: 70px;
}
@media only screen and (min-width: 48em) {
  #instafeed #feed a {
    width: 150px;
    height: 150px;
  }
}
@media only screen and (min-width: 62em) {
  #instafeed #feed a {
    display: inline-block;
    width: 100px;
    height: 100px;
  }
}
#instafeed #feed a > img {
  width: 100%;
}
#footer-mobile {
  background: #313234;
  margin-top: -70px;
  color: #fff;
  padding: 3vh;
}
@media only screen and (min-width: 48em) {
  #footer-mobile {
    margin-top: -132px;
  }
}
@media only screen and (min-width: 62em) {
  #footer-mobile {
    background: #edebdf;
    color: #444;
    text-align: center;
    margin-top: -21vh;
    border-top: 8px solid #edc201;
  }
}
#footer-mobile a {
  margin-top: 10px;
  text-decoration: none;
  display: block;
  color: inherit;
}
#footer-mobile .socialmedia-icons {
  display: block;
  padding: 0 0 3vh 0;
  border-bottom: 1px solid #444;
  margin: 0 auto;
}
#footer-mobile .socialmedia-icons a {
  display: inline-block;
  font-family: icons;
  font-size: 35px;
  color: #8c8f96;
  margin-left: 3vh;
}
@media only screen and (min-width: 62em) {
  #footer-mobile .socialmedia-icons a {
    background: transparent;
    font-size: 54px;
  }
}
#footer-mobile .socialmedia-icons a:first-of-type {
  margin: 0;
}
#footer-mobile .socialmedia-icons a.facebook:before {
  content: "\f10a";
}
@media only screen and (min-width: 62em) {
  #footer-mobile .socialmedia-icons a.facebook:before {
    color: #3b5999;
  }
}
#footer-mobile .socialmedia-icons a.twitter:before {
  content: "\f126";
}
@media only screen and (min-width: 62em) {
  #footer-mobile .socialmedia-icons a.twitter:before {
    color: #01adee;
  }
}
#footer-mobile .socialmedia-icons a.youtube:before {
  content: "\f128";
}
@media only screen and (min-width: 62em) {
  #footer-mobile .socialmedia-icons a.youtube:before {
    color: #bc0001;
  }
}
#footer-mobile .socialmedia-icons a.gplus:before {
  content: "\f10e";
}
@media only screen and (min-width: 62em) {
  #footer-mobile .socialmedia-icons a.gplus:before {
    color: #de4b39;
  }
}
#footer-mobile .legalese {
  padding-top: 3vh;
}
#footer-mobile .legalese a {
  color: #02affe;
}
/*
 * Lightboxes and overlays
 ********************************************/
div.products-languages-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(237,194,1,0.97);
  z-index: 5;
  display: none;
  padding-top: 10vh;
  text-align: center;
}
div.products-languages-overlay > a.close {
  position: absolute;
  font-size: 7vh;
  top: 3vh;
  right: 12vh;
  display: block;
  cursor: pointer;
  transition: color 0.3s;
}
div.products-languages-overlay > a.close:hover {
  color: #02affe;
}
div.products-languages-overlay h2 {
  font-size: 6vh;
}
div.products-languages-overlay > div {
  overflow: auto;
}
div.products-languages-overlay > div ul {
  display: inline-block;
  text-align: left;
}
div.products-languages-overlay > div ul:not(:first-of-type) {
  margin-left: 11vh;
}
div.products-languages-overlay > div ul li {
  display: block;
  margin: 22px 0;
}
div.products-languages-overlay > div ul li a {
  font-size: 2.5vh;
  color: #333;
  text-decoration: none;
}
div.products-languages-overlay > div ul li a:hover,
div.products-languages-overlay > div ul li a:active {
  color: #02affe;
}
div.products-languages-overlay > div ul li a > span {
  font-size: 80%;
}
/*
 * Typography
 ************************************************************/
b {
  font-family: gothambold;
  text-decoration: none;
}
h1,
h2 {
  margin-bottom: 3vw;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
}
@font-face {
  font-family: gothambook;
  font-style: normal;
  src: url("../../globals/fonts/gotham/gothamhtf-book.ttf"), url("../../globals/fonts/gotham/gothamhtf-book.eot?#iefix");
}
@font-face {
  font-family: gothambold;
  font-style: bold;
  src: url("../../globals/fonts/gotham/gothamhtf-bold.ttf");
}
@font-face {
  font-family: icons;
  font-style: normal;
  src: url("../../globals/fonts/icon/icons.woff");
}
@font-face {
  font-family: gothamlight;
  font-style: light;
  src: url("../../globals/fonts/gotham/gothamhtf-light.ttf");
}
@font-face {
  font-family: gothamthin;
  font-style: light;
  src: url("../../globals/fonts/gotham/gothamhtf-thin.ttf");
}
