// For the love of odin set your spacing to tabs
// where each tab is 2 spaces.



$yellow = #EDC201
$blue = #02AFFE
$red = #b00502

// Media sizes
$small-screen 	= 34em
$medium-screen 	= 48em
$large-screen 	= 62em

$screen 		= "only screen";
$small 			= "only screen and (min-width: " + $small-screen + ")";
$medium 		= "only screen and (min-width: " + $medium-screen + ")";
$large 			= "only screen and (min-width: " + $large-screen + ")";
$landscape 	= "only screen and (orientation: landscape)";
$portrait 	= "only screen and (orientation: portrait)";


$mobile-cta-button()
	button
		background $blue
		background #02affe
		color #fff
		border 0
		border-radius 2px
		padding 2.4vh
		display block
		width 100%
		margin 3vh 0
		font-size 2vh

#storyboxModule
	background #fff

body
	font-family gothambook
	overflow-x hidden
	background-image url('../assets/desktop/texts.png')
	background-color #363636
	background-size contain


#main-container
	max-width 1600px
	margin 0 auto
#hero
	//background alpha(black, 0.6)
	background-image url('../assets/shared/masthead.jpg')
	background-size cover
	text-align center
	padding 2em 0
	line-height 1.1em
	position relative
	z-index 1
	// black tint in hero div
	&:after
		content ''
		position absolute
		top 0
		right 0
		bottom 0
		left 0
		background-color alpha(black, 0.4)
		z-index -1

	@media $medium
		line-height 2.3em
		padding 7vh 0
	@media $large
		line-height 44px
		padding 2em
		min-height 47vh
		text-align left
	.hero-text
		@media $large
			padding 1.6em 0 0 1.6em
		h1
			color $yellow
			font-size 1.6em
			@media $medium
				font-size 3em
				margin 0 0 0.8em 0
				padding 0


		p
			font-size 0.7em
			color #fff
			@media $medium
				font-size 1.7em

			@media $large
				margin 0
				padding 0
				font-size 1.7em






#demo-container
	background-image url(../assets/bg-demo-sm.jpg)
	background-size 100% 100%
	min-height 420px
	text-align justify
	color #fff
	text-align center
	line-height 5vw
	@media $medium
		background-size 100% 133%
		background-position 0 -105px
	@media $large
		line-height 3vh
		padding 0 0


	& > .width-limit
		overflow auto
		max-width 990px
		margin 0 auto
		// blue tint
		.demo-inner
			display block
			background-color alpha(#104c8f, 0.5)
			min-height 200px
			max-width 572px

			padding 5vh 0
			line-height 23px
			@media $medium
				max-width none
				float none
				padding 5vh 10vw 0
				min-height 550px
				line-height 45px
			@media $large
				width 51%
				min-height 570px
				min-width 505px
				float right
				padding 5vh 5vh 0 5vh
				background-color alpha(#104c8f, 0.35)
				text-align left
				box-sizing border-box
				float right
				line-height 2.5vw
				line-height 35px
		h2
			font-size 1.7em
			@media $medium
				font-size 3.3em
			@media $large
				font-size 2.3em
				margin-bottom 10px
		p
			font-size 1em
			padding 0 1em
			@media $medium
				font-size 1.6em
			@media $large
				font-size 1.3em
				padding 0

		select
			background $blue
			color #fff
			border 0
			border-radius 3px
			padding 1.5vh
			display block
			width 73%
			margin 5vh auto
			@media $medium
				display none

		input[type=email]
			border 1px solid $blue
			padding 5px
			font-size 3vh
			width 73%
			box-sizing border-box
			&.invalid
				background #EBB4B4
				border 3px solid red
			@media $medium
				display none

		button
			background $blue
			background #02affe
			color #fff
			border 0
			border-radius 3px
			margin 3vh 0
			width 33%
			padding 1.5vh
			cursor pointer
			@media $medium
				padding 2.5vh
				margin 4vh auto
				width 70%
				font-size 3vw
			@media $large
				font-size 1.5vw

			// The desktop start demo button
			&:first-of-type
				display none
				@media $medium
					display block
					width 70%
					padding 2vh
				@media $large
					width 80%
					font-size 1em
					padding 1em
			&.mobile-demo-start
				@media $medium
					display none




/***********************************
* Yellow bg area
************************************/
#products-container
	transform rotateZ(-3deg) skewX(-3deg) scaleY(1.3)
	font-size 4vw
	background-color $yellow
	padding-bottom 4em
	@media $medium
		padding-bottom 3em
	@media $large
		padding-bottom 0
		max-height 346px
	.products
		transform rotateZ(3deg) skewX(3deg) scaleY(0.87)
		@media $large
			margin 0 auto

		& > div.width-limit
			max-width 90vw
			@media $large
				max-width 990px
			margin 0 auto
			.prices
				max-width 625px
				top -8vw
				text-align center
				position relative
				width 100%
				margin 0 auto
				@media $medium
					margin 0 auto
					top -16vw
				@media $large
					float right
					margin 0
					max-width 990px
					width 51%
					top -10vh
				img
					width 100%
					display block
					max-width 540px
					margin 0 auto
					@media $medium
						max-width inherit

			.pricing-info
				display table
				margin 0 auto
				@media $medium
					color #363636
					position relative
					bottom -2vh
				// MSRP price
				&> span.msrp-price
						color $red
						font-size 5vw
						display table-cell
						vertical-align middle
						//background blue
						text-decoration line-through
						@media $medium
							font-size 4vh
						@media $large
							font-size 3vh
						sup
							top -1vh
							font-size 70%
							position relative

				// sale price
				&> span.sale-price
						font-size 10vw
						padding-left 2vh
						display table-cell

						//background white
						@media $medium
							font-size 9vh
							position relative
							top -7px
						@media $large
							font-size 7vh
						sup
							top -4vw
							position relative
							font-size 50%
							@media $medium
								top -4vh
							@media $large
								top -3vh
				& > p
						font-size 2.1vh
						padding-left 3vh
						//background pink
						@media $medium
							font-size 2.6vh
						@media $large
							font-size 1.8vh
							padding-left 2vh

			div.select-language
				text-align center
				@media $medium
					clear both
					width 74%
					margin 0 auto
					top -7vh
					text-align center
					position relative
				@media $large
					text-align left;

					max-width 440px
					position relative
					//top -30vh
					top -191px
					margin 0
				select
					background $blue
					color #fff
					border 0
					border-radius 3px
					padding 2vh
					display none
					width 100%
					margin-top 6vh
					// hide select dropdown in desktop
					@media $medium
						display none
				h1
					font-size 1.7em
					@media $medium
						font-size 4vh
						margin-bottom 10px
					@media $large
						font-size 34px
						margin-bottom 0.3em

				p
					font-size 1em
					line-height 19px
					text-align center
					@media $medium
						font-size 1em
						text-align center
						line-height 34px
						font-size 0.7em
					@media $large
						font-size 19px
						text-align left
				// select lang button for product
				button
					background $blue
					color #fff
					border 0
					border-radius 3px
					padding 0.8em
					width 100%
					margin-top 3vh
					cursor pointer
					margin-bottom 3vh
					@media $medium
						font-size  2vh
						display block
						margin 6vh auto 0
						width 60%
					@media $large
						font-size 19px
						margin-top 20px
						width 100%
						display block



/***********************************
* Tweet area? bellow yellow area
************************************/
#tweet-container
	transform rotateZ(-3deg) skewX(-3deg) scaleY(1.2) scaleX(1.1)
	min-height 4vw
	background-image url('../assets/desktop/texts.png')
	background-color #363636
	background-size cover
	padding-bottom 2vh
	font-size 2.4vw
	@media $large
		height 13vw
	.tweet-box
		transform rotateZ(3deg) skewX(3deg) scaleY(0.87)
		padding 3vh
		@media $large
			width 818px
			margin 0 auto
			max-width 800px

		.tweet
			position relative
			top -6vh
			background-color #5CA9DD
			margin 2vw
			padding 3% 0
			color #222
			text-align center
			margin-top 2vh
			font-size 2.8vh
			font-style italic
			@media $medium
				top -11vh
			@media $large
				background-color #fff
				padding 1em
				font-size 23px
				border-radius 3px
				top -7vh
				line-height 27px
			p
				padding 0 3%
				font-family gothamlight
			.author
				margin-top 3vh
				padding-bottom 2vh
				@media $large
					margin-top 2vh
			a
				color white
				text-decoration none
				font-weight bold
				@media $medium
					color #fff
				@media $large
					color $blue
		.arrow-down
			background none
			border-left 2vw solid transparent
			border-right 2vw solid transparent
			border-top 12px solid #5CA9DD
			margin -2vw 0 0 0 // - whatever parent div's margin is
			padding 0
			width 0
			position relative
			bottom 14.5vw
			width 0px
			float right
			margin-right 4vw
			display block
			clear both
			@media $medium
				bottom 18.3vw
			@media $large
				transform rotate(-90deg)
				border-top 28px solid #fff
				position absolute
				right 24px
				top 10%
				z-index 2
				bottom inherit
				margin 0

		.tweeter-icon
			background #FBBD1C
			width 11vw
			height 11vw
			border-radius 50%
			clear both
			display block
			float right
			background-image url('../assets/desktop/icon-twitter.png')
			background-repeat no-repeat
			background-position center
			background-size 50%
			margin-top  -7.5vw
			@media $large
				position absolute
				width 9vw
				height 9vw
				max-width 100px
				max-height 95px
				right -73px
				top -10px
				margin 0

	.ig-icon
		background #FBBD1C
		position absolute
		width 11vw
		height 10vw
		border-radius 50%
		display block
		left 7vw
		bottm -1vh
		background-image url('../assets/desktop/icon-instagram.png')
		background-repeat no-repeat
		background-position center
		background-size 50%
		transform rotateZ(3deg) skewX(3deg) scaleY(0.9)
		//margin-top  6.5vw
		@media $large
			position absolute
			width 9.5vw
			height 9.5vw
			max-width 100px
			max-height 95px
			right -73px
			margin 0
			left 87px
			bottom -27px
			top auto


/***********************************
* Instagram pics
************************************/
#instafeed
	position relative

	//overflow hidden
	z-index -1
	position relative
	top -100px
	max-height 440px
	//overflow-y hidden
	//top -10px
	overflow hidden
	@media $large
		//width 130%
		min-height 500px
	#feed
		transform scale(1.5)
		a
			display block
			float left
			height 70px
			width 70px
			//transform scale(1.35)

			@media $medium
				width 150px
				height 150px

			@media $large
				display inline-block
				width 100px
				height 100px
			& > img
				width 100%






#footer-mobile
	background #313234
	margin-top -70px // same height as ig images
	color #fff
	padding 3vh
	@media $medium
		margin-top -132px
	@media $large
		background #EDEBDF
		color #444
		text-align center
		margin-top -21vh // negative height of instragam pics height
		border-top 8px solid $yellow

	a
		margin-top 10px
		text-decoration none
		display block
		color inherit
	.socialmedia-icons
		display block
		padding 0 0 3vh 0
		border-bottom 1px solid #444;
		margin 0 auto

		a
			display inline-block
			font-family icons
			font-size 35px
			color #8c8f96
			margin-left 3vh

			@media $large
				background transparent
				font-size 54px
			&:first-of-type
				margin 0
			// Media Icons
			&.facebook:before
				content "\f10a"
				@media $large
					color #3B5999
			&.twitter:before
				content "\f126"
				@media $large
					color #01ADEE
			&.youtube:before
				content "\f128"
				@media $large
					color #BC0001
			&.gplus:before
				content "\f10e"
				@media $large
					color #DE4B39
	.legalese
		padding-top 3vh
		a
			color $blue










/*
 * Lightboxes and overlays
 ********************************************/
div.products-languages-overlay
	position fixed
	top 0
	left 0
	right 0
	bottom 0
	background alpha($yellow, 0.97)
	z-index 5
	display none
	padding-top 10vh
	text-align center
	& > a.close
		position absolute
		font-size 7vh
		top 3vh
		right 12vh
		display block
		cursor pointer
		transition color 0.3s
		&:hover
			color $blue
	h2
		font-size 6vh
	& > div
		overflow auto
		ul
			display inline-block
			text-align left
			&:not(:first-of-type)
				margin-left 11vh
			li
				display block
				margin 22px 0
				a
					font-size 2.5vh
					color #333
					text-decoration none
					&:hover, &:active
						color $blue
					& > span
						font-size 80%





/*
 * Typography
 ************************************************************/
b
	font-family gothambold
	text-decoration none



h1, h2
	margin-bottom 3vw


.clearfix:after {
		visibility: hidden;
		display: block;
		content: "";
		clear: both;
		height: 0;
		}


@font-face
	font-family gothambook
	font-style normal
	src url(../../globals/fonts/gotham/gothamhtf-book.ttf),
	url(../../globals/fonts/gotham/gothamhtf-book.eot?#iefix)

@font-face
	font-family gothambold
	font-style bold
	src url(../../globals/fonts/gotham/gothamhtf-bold.ttf)

@font-face
	font-family icons
	font-style normal
	src url(../../globals/fonts/icon/icons.woff)

@font-face
	font-family gothamlight
	font-style light
	src url(../../globals/fonts/gotham/gothamhtf-light.ttf)


@font-face
	font-family gothamthin
	font-style light
	src url(../../globals/fonts/gotham/gothamhtf-thin.ttf)