/**
 * Global Reset of all HTML Elements
 *
 * Resetting all of our HTML Elements ensures a smoother
 * visual transition between browsers. If you don't believe me,
 * try temporarily commenting out this block of code, then go
 * and look at Mozilla versus Safari, both good browsers with
 * a good implementation of CSS. The thing is, all browser CSS
 * defaults are different and at the end of the day if visual
 * consistency is what we're shooting for, then we need to
 * make sure we're resetting all spacing elements.
 *
 */
/*html,
body {
  border: 0;
  font-family: "Helvetica-Neue", "Helvetica", Arial, sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
div,
span,
object,
iframe,
img,
table,
caption,
thead,
tbody,
tfoot,
tr,
tr,
td,
article,
aside,
canvas,
details,
figure,
hgroup,
menu,
nav,
footer,
header,
section,
summary,
mark,
audio,
video {
  border: 0;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cit,
code,
del,
dfn,
em,
ins,
q,
samp,
small,
strong,
sub,
sup,
b,
i,
hr,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
legend,
label {
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}
article,
aside,
canvas,
figure,
figure img,
figcaption,
hgroup,
footer,
header,
nav,
section,
audio,
video {
  display: block;
}
table {
  border-collapse: separate;
  border-spacing: 0;
}
table caption,
table th,
table td {
  text-align: left;
  vertical-align: middle;
}
a img {
  border: 0;
}
:focus {
  outline: 0;
}*/
/*
.rem-mixins-test-class {
    .font-size(10px);
    .line-height(20px);
    .margin(10px);
    .margin(3em);
    .margin(10px, 20px);
    .margin(10px, 20%);
    .margin(0px , 20px);
    .margin-top(2%);
    .margin-top(2px);
    .padding(10px);
    .padding(3em);
    .padding(10px, 20px);
    .padding(10px, 20%);
    .padding(3em, 20px)
}
*/
/*@font-face {
  font-family: 'gothamBook';
  src: url('fonts/gothamhtf-book-webfont.eot');
  src: url('fonts/gothamhtf-book-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/gothamhtf-book-webfont.woff') format('woff'), url('fonts/gothamhtf-book-webfont.ttf') format('truetype'), url('fonts/gothamhtf-book-webfont.svg#gothamBook') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'gothamLight';
  src: url('fonts/gothamhtf-light-webfont.eot');
  src: url('fonts/gothamhtf-light-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/gothamhtf-light-webfont.woff') format('woff'), url('fonts/gothamhtf-light-webfont.ttf') format('truetype'), url('fonts/gothamhtf-light-webfont.svg#gothamLight') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'gothamThin';
  src: url('fonts/gothamhtf-thin-webfont.eot');
  src: url('fonts/gothamhtf-thin-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/gothamhtf-thin-webfont.woff') format('woff'), url('fonts/gothamhtf-thin-webfont.ttf') format('truetype'), url('fonts/gothamhtf-thin-webfont.svg#gothamThin') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GothamMedium';
  src: url('fonts/gothamhtf-medium-webfont.eot');
  src: url('fonts/gothamhtf-medium-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/gothamhtf-medium-webfont.woff') format('woff'), url('fonts/gothamhtf-medium-webfont.ttf') format('truetype'), url('fonts/gothamhtf-medium-webfont.svg#GothamMedium') format('svg');
  font-weight: normal;
  font-style: normal;
}*/
#lightboxes {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
}
#lightboxes #lightbox-demo {
  width: 100%;
  position: absolute;
  top: 3%;
  left: 0;
  height: 630px;
  z-index: 6;
  max-width: 1083px;
  min-height: 630px;
  background: #000;
  display: none;
  outline: 9999px solid rgba(0, 0, 0, 0.9);
  text-align: center;
  color: #444;
}
#lightboxes #escape {
  opacity: 0.9;
  cursor: pointer;
  visibility: visible;
  background: #000;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 2;
}
#lightboxes .contain {
  position: relative;
  height: 60em;
  width: auto;
  /*margin-left: 20%;*/
  margin-left: 0;
}
@media only screen and (min-width: 1440px) {
  #lightboxes .contain {
    /*margin-left: 20%;*/
  }
}
@media only screen and (max-width: 1014px) {
  #lightboxes .contain {
    /*margin-left: 7%;*/
  }
}
@media only screen and (min-width: 1139px) {
  #lightboxes .contain {
    /*margin-left: 10%;*/
  }
}
@media only screen and (max-width: 1039px) {
  #lightboxes .contain {
    /*margin-left: 10%;*/
  }
}
#lightboxes .contain #howitworks {
  z-index: 2;
  position: absolute;
  display: none;
  top: 10%;
  width: 100%;
}
#lightboxes .contain #howitworks video {
  width: 80%;
}
#lightboxes .contain #howitworks img.close {
  position: relative;
  left: 50%;
  margin-left: -50px;
}
#lightboxes .contain .wyl-wrapper {
  position: absolute;
  width: 62.375em;
  background: white;
  z-index: 2;
  top: 10%;
  border-radius: 0.4375em;
  left: 50%;
  margin-left: -31.075em;
}
#lightboxes .contain .wyl-wrapper .toprow {
  text-align: left;
  padding: 0.625em 0 0.375em 2.688em;
  position: relative;
}
#lightboxes .contain .wyl-wrapper .toprow:before,
#lightboxes .contain .wyl-wrapper .toprow:after {
  content: " ";
  display: table;
}
#lightboxes .contain .wyl-wrapper .toprow:after {
  clear: both;
}
#lightboxes .contain .wyl-wrapper .toprow .close {
  background: url('../assets/icon_lightbox_close_black.png') 0 0 no-repeat;
  height: 2em;
  width: 2em;
  position: absolute;
  top: -1em;
  right: -0.5em;
}
#lightboxes .contain .wyl-wrapper .toprow .top-img {
  float: left;
}
#lightboxes .contain .wyl-wrapper .toprow .top-img img {
  width: 7.625em;
}
#lightboxes .contain .wyl-wrapper #access {
  margin: 1.25em 0 0 .75em;
  display: inline-block;
  text-align: left;
  font-size: 22px;
  font-size: 1.375rem;
  line-height: 1em;
  color: #363534;
}
#lightboxes .contain .wyl-wrapper #access #course-heading {
  font-family: 'gothamMedium';
}
#lightboxes .contain .wyl-wrapper #access #course-subhead {
  font-family: 'gothamLight';
}
#lightboxes .contain .wyl-wrapper .wyl-buy-wrapper {
  background: #eeeeee;
  -webkit-border-radius: 0.625em;
  -moz-border-radius: 0.625em;
  border-radius: 0.625em;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 0.625em;
  box-sizing: border-box;
  float: right;
  position: relative;
  margin-right: 2em;
  margin-top: 1.3em;
  display: inline-block;
  box-shadow: 0.125em 0.125em 0.125em #a8a8a8;
  overflow: auto;
}
#lightboxes .contain .wyl-wrapper .wyl-buy-wrapper .wyl-price {
  display: inline-block;
  vertical-align: super;
  text-align: right;
  font-family: 'gothamMedium';
  line-height: 1.2em;
}
#lightboxes .contain .wyl-wrapper .wyl-buy-wrapper .wyl-price .wyl-regular {
  font-size: 90%;
  color: #a90000;
  text-decoration: line-through;
}
#lightboxes .contain .wyl-wrapper .wyl-buy-wrapper .wyl-price .wyl-discount {
  font-size: 179%;
  letter-spacing: 1px;
}
#lightboxes .contain .wyl-wrapper .wyl-buy-wrapper a {
  cursor: pointer;
  background: #0098db;
  color: white;
  padding: 0.4375em 1.1875em;
  margin-left: 1em;
  display: inline-block;
  border-radius: 0.3125em;
  text-decoration: none;
  border: 0.1875em solid #8bb7cf;
  vertical-align: bottom;
}
#lightboxes .contain .wyl-wrapper .content-wrapper {
  overflow: auto;
  background: #e8e8e8;
  padding: 1.875em 3.4375em 1.875em 2.625em;
  position: relative;
}
#lightboxes .contain .wyl-wrapper .content-wrapper:before,
#lightboxes .contain .wyl-wrapper .content-wrapper:after {
  content: " ";
  display: table;
}
#lightboxes .contain .wyl-wrapper .content-wrapper:after {
  clear: both;
}
#lightboxes .contain .wyl-wrapper .content-wrapper .content {
  width: 38em;
  float: left;
}
#lightboxes .contain .wyl-wrapper .content-wrapper .content #accordion-container {
  font-size: 0.8125em;
  background: white;
}
#lightboxes .contain .wyl-wrapper .content-wrapper .content #accordion-container .accordion-header {
  font-size: 1.25em;
  font-family: 'gothamLight';
  color: white;
  padding: 0.9375em 1.25em 0.75em 1.5625em;
  cursor: pointer;
  text-transform: uppercase;
  border-bottom: 1px solid #4e9bbf;
  text-align: center;
}
#lightboxes .contain .wyl-wrapper .content-wrapper .content #accordion-container .active-header {
  border: none;
  font-size: 1.575em;
  background: #57b7e4;
  padding-bottom: 0.625em;
}
#lightboxes .contain .wyl-wrapper .content-wrapper .content #accordion-container .inactive-header {
  background: #1280b3;
}
#lightboxes .contain .wyl-wrapper .content-wrapper .content #accordion-container .accordion-content {
  padding: 1.375em 1.5625em 1.5625em 1.5625em;
  font-family: Helvetica, Arial, sans-serif;
  border-bottom: 1px solid #dadada;
}
#lightboxes .contain .wyl-wrapper .content-wrapper .content #accordion-container .accordion-content .description {
  background: #0994d5;
  color: white;
  font-family: georgia, arial;
  font-size: 1.2em;
  padding: 0.5em 0;
}
#lightboxes .contain .wyl-wrapper .content-wrapper .content #accordion-container .accordion-content .description:before,
#lightboxes .contain .wyl-wrapper .content-wrapper .content #accordion-container .accordion-content .description:after {
  content: " ";
  display: table;
}
#lightboxes .contain .wyl-wrapper .content-wrapper .content #accordion-container .accordion-content .description:after {
  clear: both;
}
#lightboxes .contain .wyl-wrapper .content-wrapper .content #accordion-container .accordion-content .description div {
  float: left;
  padding-left: 1.375em;
  width: 16em;
  line-height: 1.25em;
}
#lightboxes .contain .wyl-wrapper .content-wrapper .content #accordion-container .accordion-content .description div:nth-child(1) {
  border-right: 1px solid #3aa9dd;
}
#lightboxes .contain .wyl-wrapper .content-wrapper .content #accordion-container .accordion-content ul {
  margin-top: 1.25em;
}
#lightboxes .contain .wyl-wrapper .content-wrapper .content #accordion-container .accordion-content ul li {
  list-style-type: none;
  overflow: hidden;
}
#lightboxes .contain .wyl-wrapper .content-wrapper .content #accordion-container .accordion-content ul li:before,
#lightboxes .contain .wyl-wrapper .content-wrapper .content #accordion-container .accordion-content ul li:after {
  content: " ";
  display: table;
}
#lightboxes .contain .wyl-wrapper .content-wrapper .content #accordion-container .accordion-content ul li:after {
  clear: both;
}
#lightboxes .contain .wyl-wrapper .content-wrapper .content #accordion-container .accordion-content ul li:first-of-type {
  display: none;
}
#lightboxes .contain .wyl-wrapper .content-wrapper .content #accordion-container .accordion-content ul li p {
  color: #0099cc;
  font-size: 1.6875em;
  font-family: 'gothamLight';
  float: left;
  padding: 0.625em 1.625em 0.625em 1.375em;
  width: 9.325em;
  line-height: normal;
  text-align: center;
}
#lightboxes .contain .wyl-wrapper .content-wrapper .content #accordion-container .accordion-content ul li p span {
  font-family: 'gothamMedium';
}
#lightboxes .contain .wyl-wrapper .content-wrapper .content #accordion-container .accordion-content ul li div {
  float: left;
  width: 17.9875em;
  padding: 0.625em 0.75em 0.625em 1.5em;
  min-height: 5.875em;
  border-left: 1px solid #dadada;
}
#lightboxes .contain .wyl-wrapper .content-wrapper .content #accordion-container .accordion-content ul li div p {
  font-family: georgia, arial;
  font-size: 1.075em;
  color: #363534;
  line-height: 1.25em;
  margin-top: 0.25em;
  font-style: italic;
  width: 12em;
}
#lightboxes .contain .wyl-wrapper .content-wrapper .sidebar {
  width: 18.3125em;
  float: right;
  text-align: left;
}
#lightboxes .contain .wyl-wrapper .content-wrapper .sidebar div {
  padding: 0 0 0 1.875em;
  margin: 0;
}
#lightboxes .contain .wyl-wrapper .content-wrapper .sidebar div h3 {
  display: block;
  margin-bottom: 0.75em;
  padding-bottom: 0.3125em;
  font-size: 1.5em;
  border-bottom: 1px solid #dadada;
  font-weight: normal;
  text-transform: uppercase;
  color: #006699;
}
#lightboxes .contain .wyl-wrapper .content-wrapper .sidebar div p {
  font-size: 0.6875em;
  padding-left: 5.425em;
  margin-bottom: 1.125em;
  font-family: georgia, arial;
  background-repeat: no-repeat;
  background-position: top left;
  color: #363534;
}
#lightboxes .contain .wyl-wrapper .content-wrapper .sidebar div p:nth-of-type(1) {
  background-image: url('../assets/icon-interactive-small.png');
}
#lightboxes .contain .wyl-wrapper .content-wrapper .sidebar div p:nth-of-type(2) {
  background-image: url('../assets/icon-live-small.png');
}
#lightboxes .contain .wyl-wrapper .content-wrapper .sidebar div p:nth-of-type(3) {
  background-image: url('../assets/icon-games-small.png');
}
#lightboxes .contain .wyl-wrapper .content-wrapper .sidebar div p:nth-of-type(4) {
  background-image: url('../assets/icon-pcmac-small.png');
}
#lightboxes .contain .wyl-wrapper .content-wrapper .sidebar div p:nth-of-type(5) {
  background-image: url('../assets/icon-mobile-small.png');
}
#lightboxes .contain .wyl-wrapper .content-wrapper .sidebar div p strong {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.05em;
  margin-bottom: 0.125em;
  display: block;
}
#lightboxes .contain .wyl-wrapper .content-wrapper .sidebar div p a {
  color: #1c93ec;
  text-decoration: none;
}
#lightboxes .contain .wyl-wrapper .content-wrapper .sidebar #requirements {
  color: #363534;
  font-size: 1.0625em;
  font-family: 'gothamBook', arial, sans-serif;
  position: relative;
  top: 0;
  margin-bottom: 3.125em;
}
#lightboxes .contain .wyl-wrapper .content-wrapper .sidebar #requirements h3 {
  font-size: 1.125em;
}
#lightboxes .contain .wyl-wrapper .content-wrapper .sidebar #requirements ul {
  left: 1em;
  position: relative;
  top: 1.0625em;
}
#lightboxes .contain .wyl-wrapper .content-wrapper .sidebar #requirements ul li {
  font-size: 0.6875em;
  font-family: georgia, arial;
  list-style-type: disc;
  padding: 0 0 0.4375em 0;
}
#lightboxes .contain #compare {
  z-index: 2;
  background: white;
  position: absolute;
  border-radius: 0.625em;
  -moz-border-radius: 0.625em;
  background-clip: padding-box;
  -moz-background-clip: padding;
  -webkit-border-radius: 0.625em;
  -webkit-background-clip: padding-box;
  width: 50em;
  /*width: 83%;*/
  /*margin-left: 5%;*/
  padding: 1.65em;
  /*padding: 4%;*/
  /* 20/16 */
  top: 3.125em;
  /* 50/16 */
  left: 50%;
  margin-left: -32em;
}
#lightboxes .contain #compare .wrapper .compare-content {
  position: relative;
}
#lightboxes .contain #compare .wrapper .compare-content .close {
  background: url('../assets/icon_lightbox_close_black.png') 0 0 no-repeat;
  height: 2.5em;
  width: 2.5em;
  position: absolute;
  top: -2.5em;
  right: -2.5em;
}
#lightboxes .contain #compare .wrapper .compare-content .header {
  padding: 0.625em 0 1.25em 0;
}
#lightboxes .contain #compare .wrapper .compare-content .header:before,
#lightboxes .contain #compare .wrapper .compare-content .header:after {
  content: " ";
  display: table;
}
#lightboxes .contain #compare .wrapper .compare-content .header:after {
  clear: both;
}
#lightboxes .contain #compare .wrapper .compare-content .header p {
  font-size: 2.375em;
  font-family: 'gothamLight';
  color: #363534;
  float: left;
}
#lightboxes .contain #compare .wrapper .compare-content .header .toggler {
  float: right;
  border: 1px solid #0583d5;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
#lightboxes .contain #compare .wrapper .compare-content .header .toggler a {
  display: block;
  float: left;
  padding: 0.3125em 0.625em;
  text-decoration: none;
  color: #363534;
  cursor: pointer;
}
#lightboxes .contain #compare .wrapper .compare-content .header .toggler a.active {
  background: #0583d5;
  color: white;
}
#lightboxes .contain #compare .wrapper .compare-content #features-table {
  margin: 0 auto;
  width: 48.3em;
}
#lightboxes .contain #compare .wrapper .compare-content #features-table .row:before,
#lightboxes .contain #compare .wrapper .compare-content #features-table .row:after {
  content: " ";
  display: table;
}
#lightboxes .contain #compare .wrapper .compare-content #features-table .row:after {
  clear: both;
}
#lightboxes .contain #compare .wrapper .compare-content #features-table .row .col {
  float: left;
  padding: 0.875em 1.5625em 1.125em 1.5625em;
  width: 6.4375em;
  height: 3.125em;
  font-weight: bold;
  border: 1px solid #cccccc;
  border-bottom: none;
  border-right: none;
}
#lightboxes .contain #compare .wrapper .compare-content #features-table .row .col:nth-of-type(2) {
  color: #666666;
  line-height: 1.375em;
  padding: 1.075em 1.5625em 0.925em 1.5625em;
  width: 11.25em;
  text-align: center;
}
#lightboxes .contain #compare .wrapper .compare-content #features-table .row .col:nth-of-type(3) {
  color: #666666;
  line-height: 1.375em;
  padding: 1.075em 1.5625em 0.925em 1.5625em;
  width: 33%;
  text-align: center;
  border-right: 1px solid #cccccc;
}
#lightboxes .contain #compare .wrapper .compare-content #features-table .row .col span {
  font-size: .7em;
  font-family: 'gothamLight';
  text-transform: uppercase;
  display: block;
  line-height: 0.875em;
}
#lightboxes .contain #compare .wrapper .compare-content #features-table .row .col a.tip {
  position: relative;
  text-decoration: none;
}
#lightboxes .contain #compare .wrapper .compare-content #features-table .row .col a.tip span {
  display: none;
}
#lightboxes .contain #compare .wrapper .compare-content #features-table .row .col a.tip:hover span {
  display: block;
  position: absolute;
  padding: 1em;
  text-align: left;
  font-family: 'gothamBook', arial, sans-serif;
  text-transform: none;
  width: 17em;
  left: -1em;
  right: 1em;
  background: white;
  border: 1px solid #dddddd;
  -webkit-border-radius: 0.625em;
  -moz-border-radius: 0.625em;
  border-radius: 0.625em;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  color: #363534;
  font-size: 1.1em;
  line-height: 1.4em;
}
#lightboxes .contain #compare .wrapper .compare-content #features-table .row .col a.tip:hover span .title {
  color: #0098db;
  font-size: 1.2em;
}
#lightboxes .contain #compare .wrapper .compare-content #features-table .row .col a.tip:hover span:after {
  position: absolute;
  display: block;
  content: "";
  border-color: white transparent transparent transparent;
  border-style: solid;
  border-width: 0.625em;
  height: 0;
  width: 0;
  bottom: -1em;
  left: 1em;
}
#lightboxes .contain #compare .wrapper .compare-content #features-table .row .topic {
  background-color: #e4eff9;
  color: #1060aa;
  font-size: 1em;
  padding-left: 5em;
  background-image: url('../assets/sprite-features.png');
  background-repeat: no-repeat;
  width: 8em;
}
#lightboxes .contain #compare .wrapper .compare-content #features-table .row .topic a {
  display: inline-block;
  font-style: normal;
  color: white;
  background: #0583d5;
  padding: 0 0.6em;
  font-size: 0.7em;
}
#lightboxes .contain #compare .wrapper .compare-content #features-table .row .two {
  background-position: 0 -91px;
}
#lightboxes .contain #compare .wrapper .compare-content #features-table .row .two a.tip:hover span {
  top: -16.5em;
}
#lightboxes .contain #compare .wrapper .compare-content #features-table .row .three {
  background-position: 0 -176px;
}
#lightboxes .contain #compare .wrapper .compare-content #features-table .row .four {
  background-position: 0 -243px;
}
#lightboxes .contain #compare .wrapper .compare-content #features-table .row .four a.tip:hover span {
  top: -12.5em;
}
#lightboxes .contain #compare .wrapper .compare-content #features-table .row .five {
  background-position: 0 -318px;
}
#lightboxes .contain #compare .wrapper .compare-content #features-table .row .five a.tip:hover span {
  top: -12.5em;
}
#lightboxes .contain #compare .wrapper .compare-content #features-table .row .six {
  background-position: 0 -409px;
}
#lightboxes .contain #compare .wrapper .compare-content #features-table .row .six a.tip:hover span {
  top: -15.2em;
}
#lightboxes .contain #compare .wrapper .compare-content #features-table .row .seven {
  background-position: 0 -318px;
}
#lightboxes .contain #compare .wrapper .compare-content #features-table .row .seven a.tip:hover span {
  top: -11em;
}
#lightboxes .contain #compare .wrapper .compare-content #features-table .row .eight {
  background-position: 0 -568px;
}
#lightboxes .contain #compare .wrapper .compare-content #features-table .row .eight a.tip:hover span {
  top: -9.7em;
}
#lightboxes .contain #compare .wrapper .compare-content #features-table .row .nine {
  background-position: 0 -656px;
}
#lightboxes .contain #compare .wrapper .compare-content #features-table .row:nth-of-type(9) {
  border-bottom: 1px solid #cccccc;
}
#lightboxes .contain #compare .wrapper .compare-content #devices-table {
  margin: 0 auto;
  width: 48.6em;
}
#lightboxes .contain #compare .wrapper .compare-content #devices-table .row:before,
#lightboxes .contain #compare .wrapper .compare-content #devices-table .row:after {
  content: " ";
  display: table;
}
#lightboxes .contain #compare .wrapper .compare-content #devices-table .row:after {
  clear: both;
}
#lightboxes .contain #compare .wrapper .compare-content #devices-table .row .col {
  float: left;
  padding: 0.875em 1.5625em 1.125em 1.5625em;
  width: 6.4375em;
  height: 3.125em;
  font-weight: bold;
  border: 1px solid #cccccc;
  border-bottom: none;
  border-right: none;
}
#lightboxes .contain #compare .wrapper .compare-content #devices-table .row .col:nth-of-type(2) {
  color: #666666;
  line-height: 1.375em;
  padding: 1.075em 1.5625em 0.925em 1.5625em;
  width: 11.45em;
  text-align: center;
}
#lightboxes .contain #compare .wrapper .compare-content #devices-table .row .col:nth-of-type(3) {
  color: #666666;
  line-height: 1.375em;
  padding: 1.075em 1.5625em 0.925em 1.5625em;
  width: 33%;
  text-align: center;
  border-right: 1px solid #cccccc;
}
#lightboxes .contain #compare .wrapper .compare-content #devices-table .row .col span {
  font-size: .7em;
  font-family: 'gothamLight';
  text-transform: uppercase;
  display: block;
  line-height: 0.875em;
}
#lightboxes .contain #compare .wrapper .compare-content #devices-table .row .col ul li {
  font-size: .7em;
  line-height: 1.2em;
  text-align: left;
}
#lightboxes .contain #compare .wrapper .compare-content #devices-table .row .col ul li a {
  color: #0098db;
  text-decoration: none;
}
#lightboxes .contain #compare .wrapper .compare-content #devices-table .row .topic {
  background-color: #e4eff9;
  color: #1060aa;
  font-size: 1em;
  padding-left: 5em;
  background-image: url('../assets/sprite-devices.png');
  background-repeat: no-repeat;
  width: 8em;
}
#lightboxes .contain #compare .wrapper .compare-content #devices-table .row .topic i {
  display: inline-block;
  font-style: normal;
  color: white;
  background: #0583d5;
  padding: 0 0.6em;
  font-size: 0.7em;
}
#lightboxes .contain #compare .wrapper .compare-content #devices-table .row .one {
  background-position: 0 18px;
}
#lightboxes .contain #compare .wrapper .compare-content #devices-table .row .two {
  background-position: 0 -72px;
}
#lightboxes .contain #compare .wrapper .compare-content #devices-table .row .three {
  background-position: 0 -146px;
}
#lightboxes .contain #compare .wrapper .compare-content #devices-table .row .four {
  background-position: 0 -214px;
}
#lightboxes .contain #compare .wrapper .compare-content #devices-table .row .five {
  background-position: 0 -290px;
}
#lightboxes .contain #compare .wrapper .compare-content #devices-table .row .six {
  background-position: 0 -375px;
}
#lightboxes .contain #compare .wrapper .compare-content #devices-table .row:nth-of-type(6) {
  border-bottom: 1px solid #cccccc;
}
#lightboxes .contain #compare .wrapper .compare-content .footnote {
  font-family: 'gothamLight';
  text-align: center;
  font-size: .8em;
  padding: 0.75em 0;
}
#lightboxes .contain #compare .wrapper .compare-content .specs {
  width: 46em;
  margin: 1em auto 0;
  font-size: .9em;
}
#lightboxes .contain #compare .wrapper .compare-content .specs:before,
#lightboxes .contain #compare .wrapper .compare-content .specs:after {
  content: " ";
  display: table;
}
#lightboxes .contain #compare .wrapper .compare-content .specs:after {
  clear: both;
}
#lightboxes .contain #compare .wrapper .compare-content .specs ul {
  float: left;
  width: 20em;
  padding: 0 6em 0 0;
}
#lightboxes .contain #compare .wrapper .compare-content .specs ul:nth-of-type(2) {
  padding: 0;
}
@media only screen and (max-width: 1039px) {
  #lightboxes .contain #compare {
    left: 60%;
  }
}
@media only screen and (max-width: 1014px) {
  #lightboxes .contain #compare {
    width: 41em;
    left: 70%;
  }
  #lightboxes .contain #compare .wrapper .compare-content #features-table {
    width: 39.1em;
  }
  #lightboxes .contain #compare .wrapper .compare-content #features-table .row .col {
    height: 3.125em;
  }
  #lightboxes .contain #compare .wrapper .compare-content #features-table .row .col:nth-of-type(2) {
    width: 7.2em;
    line-height: 1.075em;
  }
  #lightboxes .contain #compare .wrapper .compare-content #features-table .row .col:nth-of-type(3) {
    width: 27%;
    line-height: 1.075em;
  }
  #lightboxes .contain #compare .wrapper .compare-content #features-table .row .topic {
    width: 8.2em;
  }
  #lightboxes .contain #compare .wrapper .compare-content #devices-table {
    width: 40.1em;
  }
  #lightboxes .contain #compare .wrapper .compare-content #devices-table .row .col:nth-of-type(2) {
    width: 11.2em;
  }
  #lightboxes .contain #compare .wrapper .compare-content #devices-table .row .col:nth-of-type(3) {
    width: 28%;
  }
  #lightboxes .contain #compare .wrapper .compare-content #devices-table .row .topic {
    width: 4.6em;
  }
  #lightboxes .contain #compare .wrapper .compare-content .specs {
    width: 44em;
    margin: 1em 3.5em 0 3.5em;
  }
  #lightboxes .contain #compare .wrapper .compare-content .specs ul {
    width: 18em;
    padding: 0 5em 0 0;
  }
}
@media only screen and (min-width: 1139px) {
  #lightboxes .contain #compare {
    left: 57%;
  }
}
#lightboxes .contain #demo {
  position: absolute;
  width: 80%;
  background: #E5E4E4;
  z-index: 2;
  top: 10%;
  border-radius: 0.4375em;
  margin: 0 auto;
  margin-left: 10%;
}
#lightboxes .contain #demo #demo-form {
  position: relative;
}
#lightboxes .contain #demo #demo-form .demo-header {
  color: #a90000;
  font-size: 2em;
  text-align: center;
  padding: 0.7em 6em .5em;
  line-height: 1.2em;
}
#lightboxes .contain #demo #demo-form p {
  text-align: center;
  padding: 0 2em;
  font-size: 1.25em;
  line-height: 1.2em;
  color: #464544;
}
#lightboxes .contain #demo #demo-form .form-contain {
  width: 30em;
  margin: 0 auto;
}
#lightboxes .contain #demo #demo-form .form-contain #dropdown {
  width: 22em;
  margin: 1.8em auto;
  border: 1px solid #363534;
  text-align: center;
  padding: 0.5em 0;
  background: url('../assets/arrow.png') white no-repeat 96% center;
  position: relative;
}
#lightboxes .contain #demo #demo-form .form-contain #dropdown #lang-drop {
  display: none;
  position: absolute;
  top: 2.5em;
  background: white;
  width: 22em;
  border-bottom: black solid 1px;
  border-left: 1px solid black;
  border-right: 1px solid black;
  left: -0.0625em;
  right: 0;
}
#lightboxes .contain #demo #demo-form .form-contain #dropdown #lang-drop ul li {
  list-style-type: none;
  padding: .5em 0;
}
#lightboxes .contain #demo #demo-form .form-contain #dropdown #lang-drop ul li a {
  cursor: pointer;
}
#lightboxes .contain #demo #demo-form .form-contain #facebook {
  display: block;
}
#lightboxes .contain #demo #demo-form .form-contain #facebook img {
  display: block;
  margin: 0 auto;
}
@media only screen and (max-width: 743px) {
  #lightboxes .contain #demo #demo-form .form-contain #facebook img {
    width: 22em;
  }
  #lightboxes .contain #demo #demo-form .form-contain #dropdown #lang-drop {
    width: 16.2em;
  }
}
@media only screen and (max-width: 357px) {
  #lightboxes .contain #demo #demo-form .form-contain #facebook img {
    width: 13em;
  }
}
#lightboxes .contain #demo #demo-form .form-contain img {
  display: block;
  margin: 2em auto 1em;
}
#lightboxes .contain #demo #demo-form .form-contain input {
  width: 22em;
  margin: 1.5em auto;
  height: 3em;
  border: #cccccc 1px solid;
  display: block;
  font-size: 1em;
  text-align: center;
}
#lightboxes .contain #demo #demo-form .form-contain button {
  display: block;
  background: #0098DB;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  width: 15em;
  height: 3em;
  margin: 0 auto 2em;
  outline: none;
  font-size: 1em;
  color: white;
  text-transform: uppercase;
  border: none;
  font-family: 'gothamBook', arial, sans-serif;
}
#lightboxes .contain #demo #demo-form #legalDemo div {
  text-align: center;
  line-height: 1.2em;
  font-size: .8em;
  margin: auto;
  width: 70%;
}
#lightboxes .contain #demo #demo-form #legalDemo div:last-child {
  padding: 0 0 2em;
}
#lightboxes .contain #demo #demo-form #legalDemo div a {
  color: #0098db;
  text-decoration: none;
}
#lightboxes .contain #demo #demo-form .close {
  position: absolute;
  top: 10px;
  background: url('../assets/demo-close.png') 0 0 no-repeat;
  z-index: 10;
  width: 50px;
  height: 50px;
  right: 20px;
}
@media only screen and (max-width: 1039px) {
  #lightboxes .contain #demo {
    /*width: 52.375em;*/
  }
  #lightboxes .contain #demo #demo-form .form-contain input {
    width: 21em;
  }
}
@media only screen and (max-width: 1014px) {
  #lightboxes .contain #demo {
    /*width: 40.375em;*/
  }
  #lightboxes .contain #demo #demo-form .demo-header {
    padding: 0.7em 3.5em .5em;
  }
  #lightboxes .contain #demo #demo-form .form-contain input {
    width: 21em;
  }
}
@media only screen and (max-width: 743px) {
  #lightboxes .contain #demo {
    /*width: 27em;*/
    width: 80%;
    /*possible*/
  }
  #lightboxes .contain #demo #demo-form .form-contain{
    width: 18em;
    /*possible*/
  }
  #lightboxes .contain #demo #demo-form .demo-header {
    padding: 2.5em 0.2em 0.5em;
    font-size: 1.5em;
  }
  #lightboxes .contain #demo #demo-form .form-contain input {
    /*width: 21em;*/
    width: 90%;
  }
  #lightboxes .contain #demo #demo-form .form-contain #dropdown {
    width: 90%;
  }
  #lightboxes .contain #demo #demo-form .form-contain #facebook img{
    width: 90%;
    /*possible*/
  }
}
@media only screen and (max-width: 357px) {
  #lightboxes .contain #demo {
    /*width: 16.7375em;*/
  }
  #lightboxes .contain #demo #demo-form .demo-header {
    padding: 2.5em 0.2em 0.5em;
    font-size: 1.5em;
  }
  #lightboxes .contain #demo #demo-form .close {
    right: 7px;
  }
  #lightboxes .contain #demo #demo-form .form-contain {
    width: 13em;
  }
  #lightboxes .contain #demo #demo-form .form-contain #dropdown {
    width: 13em;
  }
  #lightboxes .contain #demo #demo-form .form-contain #dropdown #lang-drop {
    width: 13em;
  }
  #lightboxes .contain #demo #demo-form .form-contain #dropdown span {
    margin-right: 20px;
    font-size: 0.95em;
  }
  #lightboxes .contain #demo #demo-form .form-contain img {
    margin-top: 1.5em;
  }
  #lightboxes .contain #demo #demo-form .form-contain input {
    width: 12em;
  }
  #lightboxes .contain #demo #demo-form .form-contain button {
    width: 11em;
  }
}
body {
  font-family: 'gothamBook', arial, sans-serif;
  font-size: 16px;
  font-size: 1rem;
  position: relative;
}
#wrapper {
  margin: 0;
  padding: 0;
}
.container {
  position: relative;
  margin: 0 auto;
  max-width: 1296px;
  max-width: 81rem;
  width: 71%;
  height: 100%;
}
header {
  height: 70px;
  height: 4.375rem;
}
header .container:before,
header .container:after {
  content: " ";
  display: table;
}
header .container:after {
  clear: both;
}
@media only screen and (min-width: 884px) and (max-width: 981px) {
  header .container {
    width: 92%;
  }
}
@media only screen and (min-width: 555px) and (max-width: 883px) {
  header .container {
    width: 92%;
  }
}
header a.logo {
  display: inline-block;
  background: url('../assets/rs-logo.png') no-repeat 0 0;
  text-indent: -99999px;
  width: 7.5em;
  height: 3.4em;
  float: left;
  margin: 0.45em 0 0;
}
header a.logo:hover {
  outline: none;
}
@media only screen and (max-width: 743px) {
  header a.logo {
    display: block;
    background-position: center;
    float: none;
    width: 100%;
  }
}
header #tfn,
header #clockdown-wrapper {
  float: right;
  border-right: 1px solid #c9a600;
  padding: 0.3em 1.6875em 0 0;
}
header #tfn img a,
header #clockdown-wrapper img a {
  max-width: 100%;
  max-height: 100%;
}
@media only screen and (max-width: 743px) {
  header #tfn,
  header #clockdown-wrapper {
    display: none;
  }
}
header #lpcartchatbutton {
  float: right;
  height: 100%;
  width: 120px !important;
  border-right: 1px solid #c9a600;
  padding: 0;
}
header #lpcartchatbutton a img {
  max-width: 100%;
  max-height: 100%;
/*  max-width: 85%;
  max-height: 85%;
  padding-left: 7.5%;
  padding-top: 3.5%;*/
}
@media only screen and (max-width: 743px) {
  header #lpcartchatbutton {
    display: none;
  }
}
header #tfn {
  border-left: 1px solid #c9a600;
  padding: 1.7em 1.375em;
  font-size: 0.9em;
  font-family: gothamMedium;
  color: #363636;
}
@media only screen and (max-width: 743px) {
  header #tfn {
    display: none;
  }
}
header #clockdown-wrapper {
  padding: 0.6em 0.4em 0 0;
  width: 17em;
}
@media only screen and (min-width: 884px) and (max-width: 981px) {
  header #clockdown-wrapper {
    width: 17em;
  }
}
@media only screen and (max-width: 743px) {
  header #clockdown-wrapper {
    display: none;
  }
}

@media only screen and (min-width: 1129px) {
  #masthead {

  }
}
#lang-menu {
  display: block;
}
@media only screen and (min-width: 884px) and (max-width: 981px) {
  #lang-menu {
    font-size: 16px;
    font-size: 1rem;
  }
}
@media only screen and (min-width: 555px) and (max-width: 883px) {
  #lang-menu {
    font-size: 16px;
    font-size: 1rem;
  }
}
@media only screen and (max-width: 734px) {
  #lang-menu {
    font-size: 11px;
    font-size: 0.6875rem;
  }
}
@media only screen and (max-width: 611px) {
  #lang-menu {
    font-size: 10px;
    font-size: 0.625rem;
  }
}
@media only screen and (max-width: 743px) {
  #lang-menu {
    display: none;
  }
}
#lang-menu span {
  text-transform: uppercase;
  font-size: 1.875em;
  display: block;
  padding-top: 1.2em;
  padding-bottom: 2.188em;
  text-align: center;
}
@media only screen and (min-width: 884px) and (max-width: 981px) {
  #lang-menu span {
    font-size: 1.625em;
  }
}
#lang-menu #language-buy-lists {
  max-width: 900px;
  max-width: 56.25rem;
  width: 98%;
  margin: 0 auto;
}
@media only screen and (min-width: 884px) and (max-width: 981px) {
  #lang-menu #language-buy-lists {
    max-width: 800px;
    max-width: 50rem;
  }
}
@media only screen and (min-width: 555px) and (max-width: 883px) {
  #lang-menu #language-buy-lists {
    max-width: 680px;
    max-width: 42.5rem;
    width: 98%;
  }
}
#lang-menu #language-buy-lists .language-buy-list {
  display: inline-block;
  vertical-align: top;
  list-style-type: none;
  padding-right: 6.6em;
  padding-bottom: 3.125em;
}
#lang-menu #language-buy-lists .language-buy-list:nth-last-child(1) {
  padding-right: 0px;
  padding-right: 0rem;
}
#lang-menu #language-buy-lists .language-buy-list li {
  padding-bottom: .5em;
  font-size: .875em;
}
@media only screen and (min-width: 884px) and (max-width: 981px) {
  #lang-menu #language-buy-lists .language-buy-list {
    padding-right: 8%;
  }
}
@media only screen and (min-width: 555px) and (max-width: 883px) {
  #lang-menu #language-buy-lists .language-buy-list {
    padding-right: 5%;
  }
}
#selected-lang {
  position: relative;
  display: none;
  height: 7em;
}
@media only screen and (max-width: 1039px) {
  #selected-lang {
    height: 11.5625em;
    /* 185/16 */
  }
}
#selected-lang .container {
  width: 55em;
}
@media only screen and (max-width: 1039px) {
  #selected-lang .container {
    width: 32em;
    text-align: center;
    line-height: 2.5em;
  }
}
@media only screen and (max-width: 743px) {
  #selected-lang .container {
    font-size: 12px;
    font-size: 0.75rem;
  }
}
#selected-lang #your-lang {
  font-size: 1.875em;
  /* 30/16 */
  padding: 1em 0 0;
  text-align: center;
}
@media only screen and (max-width: 1039px) {
  #selected-lang #your-lang {
    padding: 1em 0 0;
    line-height: 1.1em;
  }
}
#selected-lang #your-lang button {
  outline: none;
  border: none;
  font-size: 0.4666666666666667em;
  width: 6.8em;
  height: 2.5em;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  margin-left: .625em;
  text-transform: uppercase;
  font-family: 'gothamMedium';
}
@media only screen and (max-width: 1039px) {
  #selected-lang #your-lang button {
    left: 40%;
    bottom: 40px;
    bottom: 2.5rem;
    position: absolute;
  }
}
@media only screen and (max-width: 743px) {
  #selected-lang #your-lang button {
    bottom: 30px;
    bottom: 1.875rem;
  }
}
@media only screen and (max-width: 743px) {
  #selected-lang {
    display: none;
  }
}
#products .container {
  width: 59.25em;
}
@media only screen and (max-width: 1039px) {
  #products .container {
    width: 50em;
  }
}
@media only screen and (max-width: 800px) {
  #products .container {
    width: 95%;
  }
}
#products .lightbox-links {
  text-align: center;
}
#products .lightbox-links div {
  text-transform: uppercase;
  padding-top: 1em;
  font-size: 1.875em;
}
@media only screen and (max-width: 800px) {
  #products .lightbox-links div {
    font-size: 1.75em;
    /* 28/16 */
  }
}
#products .lightbox-links a {
  font-size: 0.875em;
  text-transform: uppercase;
  display: inline-block;
  text-decoration: none;
  padding-top: 1.5625em;
  padding-right: .5em;
  margin-bottom: 0.5em;
}
#products .lightbox-links a:nth-of-type(2) {
  padding-left: .5em;
}
@media only screen and (max-width: 1129px) {
  #products .lightbox-links a:nth-of-type(2) {
    display: none;
  }
}
#products .lightbox-links span {
  font-size: 1em;
  font-weight: bold;
}
@media only screen and (max-width: 1129px) {
  #products .lightbox-links span {
    display: none;
  }
}
#products #prod-options {
  padding: 1.875em 0 2.688em;
}
#products #prod-options .prod-container {
  background: white;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  display: inline-block;
  vertical-align: top;
  border: 1px solid #e8e5db;
  width: 18.75em;
  margin-right: 1em;
}
#products #prod-options .prod-container .title {
  text-transform: uppercase;
  margin: 1.2em auto 0;
  width: 250px;
  font-size: 1.5em;
  padding: .5em 0;
  text-align: center;
}
#products #prod-options .prod-container p {
  background: url(http://www.rosettastone.com/lp/catalog2015/spo2/check.png) left no-repeat;
  background-position: 2.45em 12px;
  background-size: 1em;
  font-size: 0.875em;
  padding: 0.5em 2em 0 3.75em;
}
#products #prod-options .prod-container p span {
  font-family: 'gothamMedium';
}
#products #prod-options .prod-container p:nth-of-type(1) {
  padding-top: 14.5em;
}
#products #prod-options .prod-container p:nth-of-type(2) {
  padding-bottom: 0;
}
#products #prod-options .prod-container .prices {
  border-top: solid 1px #d8d8d8;
  /*border-bottom: solid 1px #d8d8d8;*/
  width: 87%;
}
#products #prod-options .prod-container .prices .options {
  padding: .5em 0;
  border-bottom: solid 1px #d8d8d8;
}
#products #prod-options .prod-container .prices .options:before,
#products #prod-options .prod-container .prices .options:after {
  content: " ";
  display: table;
}
#products #prod-options .prod-container .prices .options:after {
  clear: both;
}
#products #prod-options .prod-container .prices .options label {
  float: left;

}
#products #prod-options .prod-container .prices .options .strikethru {
  text-align: center;
}
#products #prod-options .prod-container .prices .options .strikethru .strike,
#products #prod-options .prod-container .prices .options .strikethru .sale {
  display: inline-block;
}
#products #prod-options .prod-container .prices .options .strikethru .sale {
  padding-left: 0.25em;
  font-family: 'gothamLight';
  font-size: 2.5em;
}
#products #prod-options .prod-container .prices .options .strikethru .strike {
  /*color: #a90000;*/
  color: #909090;
  font-size: 1.7em;
  font-family: 'gothamLight';
  vertical-align: super;
}
#products #prod-options .prod-container .prices .options:last-child {
  border-bottom: none;
}
@media only screen and (min-width: 1440px) {
  #products #prod-options .prod-container .prices {
    margin: 1.5em auto 1em;
  }
}
@media only screen and (max-width: 1014px) {
  #products #prod-options .prod-container .prices {
    margin: 1.5em auto 1.5em;
  }
}
@media only screen and (max-width: 1039px) {
  #products #prod-options .prod-container .prices {
    margin: 1.5em auto 0.5em;
  }
}
@media only screen and (min-width: 1040px) {
  #products #prod-options .prod-container .prices {
    margin: 1.5em auto 1.5em;
  }
}
@media only screen and (min-width: 1129px) {
  #products #prod-options .prod-container .prices {
    margin: 1.5em auto 0.5em;
  }
}
#products #prod-options .prod-container .button-wrap {
  text-align: center;
}
#products #prod-options .prod-container .button-wrap a {
  text-decoration: none;
  display: inline-block;
  margin: 0 auto 1.625em;
  padding: 0.75em 1.5em;
  text-align: center;
  font-size: 0.875em;
  /* 14/16 */
  border: solid 1px #0098db;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  color: #0098db;
  text-transform: uppercase;
  font-family: 'gothamMedium';
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
#products #prod-options .prod-container .button-wrap a:hover {
  background: #0098db;
  color: white;
}
#products #prod-options .prod-container .button-wrap a.buynow {
  background: #0098db;
  color: white;
}
#products #prod-options .prod-container .button-wrap a.buynow:hover {
  background: #0081ba;
}
#products #prod-options .prod-container:nth-of-type(3) {
  margin-right: 0;
}
@media only screen and (max-width: 1039px) {
  #products #prod-options .prod-container {
    width: 21.5625em;
    /* 345/16 */
    margin-right: 1.4em;
    margin-bottom: 1em;
  }
}
#products #prod-options .prod-container img {
  display: block;
  margin: 0 auto 2em;
}
#products #prod-options .prod-container .pFirst img {
  display: block;
  margin: 0 0 -1em -18px;
  width: 15px;
}
@media only screen and (max-width: 1039px) {
  #products #prod-options {
    padding: 1.1em 0;
    width: 45.3em;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 743px) {
  #products {
    display: none;
  }
}
#products-mobile {
  display: none;
}
@media only screen and (max-width: 743px) {
  #products-mobile {
    display: block;
    background: #f8f6f0;
    padding: 1.5em 0 0;
  }
  #products-mobile .container {
    max-width: 22.7em;
    width: 22.7em;
  }
  #products-mobile .lang-mob {
    display: none;
    background: #ecc200;
    padding: 1em;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    width: 75%;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
  }
  #products-mobile .select-holder {
    display: block;
  }
  #products-mobile .select-holder #dropdown-language {
    margin-top: 25px;
    margin-bottom: 25px;
    width: 85%;
    height: 55px;
    font-size: 18px;
    font-family: 'gothamBook', arial, sans-serif;
    background: url('../assets/arrow-select.png') 13.5em center no-repeat #ecc200;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0 1.5em;
    border: none;
  }
  #products-mobile .select-prod {
    padding: 1em 0 0;
  }
  #products-mobile .select-prod p {
    font-size: 1.375em;
    text-align: center;
  }
  #products-mobile .select-prod .desk-on-container {
    width: 85%;
    margin: 1em auto 0;
    background: white;
  }
  #products-mobile .select-prod .desk-on-container .menu:before,
  #products-mobile .select-prod .desk-on-container .menu:after {
    content: " ";
    display: table;
  }
  #products-mobile .select-prod .desk-on-container .menu:after {
    clear: both;
  }
  #products-mobile .select-prod .desk-on-container .menu a {
    float: left;
    display: inline-block;
    width: 50%;
    text-decoration: none;
    color: #363534;
    font-size: 1.125em;
    text-align: center;
    text-transform: uppercase;
    padding: 1em 0;
  }
  #products-mobile .select-prod .desk-on-container .menu a.desktop.selected {
    font-family: 'gothamMedium';
    background: #0098db;
    position: relative;
    color: white;
  }
  #products-mobile .select-prod .desk-on-container .menu a.desktop.selected:after {
    content: '';
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #0098db;
    position: absolute;
    bottom: -10px;
    left: 50%;
    margin-left: -10px;
    z-index: 2;
  }
  #products-mobile .select-prod .desk-on-container .menu a.desktop {
    background: #d1d4d3;
  }
  #products-mobile .select-prod .desk-on-container .menu a.online {
    background: #d1d4d3;
  }
  #products-mobile .select-prod .desk-on-container .menu a.online.selected {
    font-family: 'gothamMedium';
    background: #ecc200;
    position: relative;
  }
  #products-mobile .select-prod .desk-on-container .menu a.online.selected:after {
    content: '';
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #ecc200;
    position: absolute;
    bottom: -10px;
    left: 50%;
    margin-left: -10px;
    z-index: 2;
  }
  #products-mobile .select-prod .desk-on-container .content {
    border-left: solid 1px #d1d4d3;
    border-right: solid 1px #d1d4d3;
    border-bottom: solid 1px #d1d4d3;
    padding: 14em 1em 0;
  }
  #products-mobile .select-prod .desk-on-container .content p {
    text-align: left;
    font-size: .8em;
  }
  #products-mobile .select-prod .desk-on-container .content p span {
    font-family: 'gothamMedium';
    text-transform: uppercase;
  }
  #products-mobile .select-prod .desk-on-container .content.desktop {
    background: url('../assets/download.png') center 1.8em no-repeat;
  }
  #products-mobile .select-prod .desk-on-container .content.online {
    background: url('../assets/online.png') center 1.8em no-repeat;
  }
  #products-mobile .select-prod .desk-on-container .po-mobile {
    border-top: 1px solid #d1d4d3;
    margin: 2em 0 2em;
    padding-top: 0.5em;
  }
  #products-mobile .select-prod .desk-on-container .po-mobile .prod-options {
    padding: 1em 0;
    border-bottom: 1px solid #d1d4d3;
  }
  #products-mobile .select-prod .desk-on-container .po-mobile .prod-options:before,
  #products-mobile .select-prod .desk-on-container .po-mobile .prod-options:after {
    content: " ";
    display: table;
  }
  #products-mobile .select-prod .desk-on-container .po-mobile .prod-options:after {
    clear: both;
  }
  #products-mobile .select-prod .desk-on-container .po-mobile .prod-options label input,
  #products-mobile .select-prod .desk-on-container .po-mobile .prod-options label span {
    float: left;
  }
  #products-mobile .select-prod .desk-on-container .po-mobile .prod-options label .strikethru {
    /*float: right;*/
    padding: 0 0 0 1em;
  }
  #products-mobile .select-prod .desk-on-container .po-mobile .prod-options label .strikethru:before,
  #products-mobile .select-prod .desk-on-container .po-mobile .prod-options label .strikethru:after {
    content: " ";
    display: table;
  }
  #products-mobile .select-prod .desk-on-container .po-mobile .prod-options label .strikethru:after {
    clear: both;
  }
  #products-mobile .select-prod .desk-on-container .po-mobile .prod-options label .strikethru .strike,
  #products-mobile .select-prod .desk-on-container .po-mobile .prod-options label .strikethru .sale {
    float: left;
  }
  #products-mobile .select-prod .desk-on-container .po-mobile .prod-options label .strikethru .strike {
    /*color: #a90000;*/
    color: #909090;
    font-size: 1.7em;
    font-family: 'gothamLight';
    padding-top: 10px;
  }
  #products-mobile .select-prod .desk-on-container .po-mobile .prod-options label .strikethru .sale {
    padding: 0 0 0 .5em;
  }
  #products-mobile .select-prod .desk-on-container .po-mobile .prod-options label input {
    margin: 0 1em 0 0;
  }
  #products-mobile .select-prod .desk-on-container .po-mobile .prod-options:last-child {
    border-bottom: none;
  }
  #products-mobile .cd-download {
    width: 85%;
    margin: 1em auto 0;
    border: solid 1px #d1d4d3;
  }
  #products-mobile .cd-download:before,
  #products-mobile .cd-download:after {
    content: " ";
    display: table;
  }
  #products-mobile .cd-download:after {
    clear: both;
  }
  #products-mobile .cd-download a {
    display: inline-block;
    width: 50%;
    float: left;
    text-align: center;
    text-decoration: none;
    background-color: white;
  }
  #products-mobile .cd-download a.download-option {
    color: #363534;
    text-transform: uppercase;
    padding: 1em 0;
  }
  #products-mobile .cd-download a.download-option.selected {
    background: #0098db;
    font-family: 'gothamMedium';
    color: white;
  }
  #products-mobile .cd-download a.cd-option {
    background: white;
    color: #363534;
    text-transform: uppercase;
    padding: 1em 0;
  }
  #products-mobile .cd-download a.cd-option.selected {
    background: #ecc200;
    font-family: 'gothamMedium';
    color: white;
  }
  #products-mobile button.atc-mobile {
    display: block;
    margin: 1em auto 0;
    color: #363534;
    background: #ecc200;
    outline: none;
    padding: 1em 0;
    width: 85%;
    text-transform: uppercase;
    font-size: 1em;
    border: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    font-family: 'gothamMedium';
  }
  #products-mobile img {
    display: block;
    margin: 0 auto;
    padding: 1.5em 0;
  }
}
@media only screen and (max-width: 357px) {
  #products-mobile {
    font-size: 14px;
    font-size: 0.875rem;
  }
}
#tryit {
  background: #edeadf;
  -webkit-box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.25);
  padding-bottom: 3em;
}
@media only screen and (max-width: 1039px) {
  #tryit {
    font-size: 0.75em;
  }
}
@media only screen and (max-width: 743px) {
  #tryit {
    font-size: 1em;
  }
}
#tryit .container {
  width: 22.7em;
  text-align: center;
}
@media only screen and (min-width: 744px) {
  #tryit .container {
    width: 59.25em;
  }
}
@media only screen and (min-width: 853px) {
  #tryit .container {
    width: 59.25em;
  }
}
@media only screen and (max-width: 357px) {
  #tryit .container {
    width: 19.7em;
  }
}
#tryit a {
  display: inline-block;
  color: white;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'gothamLight';
  font-size: 1.125em;
  /* 18/16 */
  margin: 0;
  background: #363534;
  padding: 1em 0 0;
  width: 16.65em;
  cursor: default;
}
#tryit a span {
  font-family: 'gothamMedium';
}
#tryit a #demo-hov img,
#tryit a #works-hov img,
#tryit a #reviews-hov img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
@media only screen and (max-width: 1039px) {
  #tryit a #demo-hov img,
  #tryit a #works-hov img,
  #tryit a #reviews-hov img {
    display: none;
  }
}
#tryit a:nth-of-type(3) {
  margin: 0;
}
@media only screen and (min-width: 737px) {
  #tryit a:nth-of-type(3) {
    margin: 0 0 0 1em;
  }
}
@media only screen and (max-width: 743px) {
  #tryit a:nth-of-type(3) {
    margin: 0;
  }
}
@media only screen and (min-width: 1195px) {
  #tryit a:nth-of-type(3) {
    margin: 0 0 0 1em;
  }
}
@media only screen and (min-width: 1440px) {
  #tryit a:nth-of-type(3) {
    margin: 0;
  }
}
#tryit a:nth-of-type(1) {
  margin: 1.5em 0 0;
}
@media only screen and (min-width: 737px) {
  #tryit a:nth-of-type(1) {
    margin: 2.5em 1em 0 0;
  }
}
@media only screen and (max-width: 743px) {
  #tryit a:nth-of-type(1) {
    margin: 0;
  }
}
@media only screen and (min-width: 1195px) {
  #tryit a:nth-of-type(1) {
    margin: 2.5em 1em 0 0;
  }
}
@media only screen and (min-width: 1440px) {
  #tryit a:nth-of-type(1) {
    margin: 0;
  }
}
@media only screen and (min-width: 569px) {
  #tryit a {
    width: 16.65em;
  }
}
@media only screen and (min-width: 1440px) {
  #tryit a {
    margin: 1.5em 1em 0;
    width: 16.65em;
  }
}
@media only screen and (max-width: 743px) {
  #tryit {
    padding: 2em 0;
  }
}
#stats {
  background: #f8f6f0;
}
#stats .container {
  width: 17em;
}
@media only screen and (min-width: 744px) {
  #stats .container {
    width: 59.25em;
  }
}
@media only screen and (min-width: 1129px) {
  #stats .container {
    width: 59.25em;
  }
}
#stats .carousel {
  border-bottom: 1px solid #d1d4d3;
  margin-bottom: 2em;
}
#stats .carousel .slide {
  text-align: center;
}
@media only screen and (min-width: 569px) {
  #stats .carousel .slide {
    font-size: .9rem;
  }
}
@media only screen and (min-width: 737px) {
  #stats .carousel .slide {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 853px) {
  #stats .carousel {
    width: 44em;
    margin: 0 auto 2em;
  }
}
#stats .counter p {
  font-family: 'gothamBook', arial, sans-serif;
  text-align: center;
  font-size: 1.875em;
  /* 30/16 */
  line-height: 1.3em;
}
#stats .counter p span {
  font-size: 0.6666666666666666em;
}
#stats .counterstats {
  padding: 0 0 1em;
}
#stats .counterstats div {
  border: 1px solid #363534;
  margin-top: 1em;
  height: 4.425em;
  text-align: center;
  font-size: 0.9em;
  padding: 4.5em 0 0;
  text-transform: uppercase;
  line-height: 1.2em;
}
@media only screen and (min-width: 569px) {
  #stats .counterstats div {
    display: inline-block;
    width: 11.8em;
    margin-top: 0;
    margin-right: 0.5em;
    padding: 4.5em 0 1em;
  }
}
@media only screen and (min-width: 853px) {
  #stats .counterstats div {
    width: 20.9em;
    margin-right: 1em;
  }
}
#stats .counterstats div span {
  font-size: 1.8em;
}
#stats .counterstats div:nth-of-type(1) {
  margin-top: 1.8em;
}
@media only screen and (min-width: 569px) {
  #stats .counterstats div:nth-of-type(1) {
    margin-top: 0;
    vertical-align: top;
  }
}
#stats .counterstats div:nth-of-type(3) {
  margin-bottom: 0;
}
@media only screen and (min-width: 569px) {
  #stats .counterstats div:nth-of-type(3) {
    margin-right: 0;
  }
}
@media only screen and (min-width: 1040px) {
  #stats .counterstats div {
    width: 20.9em;
  }
}
@media only screen and (min-width: 1129px) {
  #stats .counterstats div {
    width: 20.9em;
  }
}
@media only screen and (min-width: 1195px) {
  #stats .counterstats div {
    width: 20.9em;
  }
}
@media only screen and (max-width: 1039px) {
  #stats .counterstats div {
    width: 20.8em;
    padding: 6.5em 0 1em;
  }
}
@media only screen and (max-width: 743px) {
  #stats .counterstats div {
    width: 100%;
    padding: 6.5em 0 1em;
    margin: 1em 0;
  }
}
@media only screen and (min-width: 569px) {
  #stats .counterstats {
    padding: 2em 0;
  }
}
@media only screen and (max-width: 1039px) {
  #stats {
    font-size: 0.72em;
  }
}
@media only screen and (max-width: 743px) {
  #stats {
    font-size: 1em;
  }
}
#footer {
  background: #363534;
  border-top: solid 10px #ecc200;
}
#footer .container {
  width: 17em;
  max-width: 17em;
}
#footer .container .footer-links ul {
  margin: 2em auto 1.5em;
  width: 13em;
}
#footer .container .footer-links ul li {
  list-style-type: none;
  text-indent: -9999px;
  display: inline-block;
  width: 2.2em;
  height: 2em;
}
#footer .container .footer-links ul li a {
  display: block;
  width: 100%;
  height: 100%;
}
#footer .container .footer-links p {
  color: white;
  font-size: .7em;
  margin-bottom: 1em;
}
#footer .container .footer-links p:nth-of-type(5) {
  margin-bottom: 0;
  padding-bottom: 4em;
}
@media only screen and (min-width: 569px) {
  #footer .container {
    width: 32em;
    max-width: 32em;
  }
}
@media only screen and (min-width: 737px) {
  #footer .container {
    width: 40em;
    max-width: 40em;
  }
}
@media only screen and (min-width: 1040px) {
  #footer .container {
    width: 61em;
    max-width: 61em;
  }
}
@media only screen and (min-width: 1129px) {
  #footer .container {
    width: 66em;
    max-width: 66em;
  }
}
@media only screen and (min-width: 1440px) {
  #footer .container {
    width: 78em;
    max-width: 78em;
  }
}


.demo_error_msg{
	color: #a02;
	text-align: center;
	padding: 0px 0px 20px;
	display: none;
}

.input-error{
	color: #a02;
	border: 1px solid #a02 !important;
}


