/* Layout
----------------------------------------------------------*/
body {
	margin: 0;
	padding: 0;
	background: #F8F6EF;
	text-align: center;
	color: #444;
	font-family: effra, helvetica,  Arial, sans-serif;
}

video {
	position: absolute;
	top: -130px;
	left: 0;
	min-height: 775px;
	max-width: 100%;
	width: 100%;
}

#container-top-wrapper {
	margin: 0 auto;
	min-height: 690px;
	background-image: url(img/vidbg.jpg);
	background-size: cover;
	background-color: #000;
	position: relative;
	overflow: hidden;
}

#container-top {
	max-width: 60%;
	margin: 0 auto;
	position: relative;
	z-index: 2;
}
#container-top #phones {
	float: right;
	color: #eee;
	letter-spacing: 1px;
}
#container-top #phones a { color: #eee }
#container-middle {
	margin: 0 auto;
	width: 60%;
	max-width: 850px;
}

#container-middle-wrapper {
	max-width: 100%;
	margin: 0px auto;
	background: #F8F6EF;
	position: relative;
	top: -34px;
	z-index: 2;
}

#top {
	text-align: right;
	color: #fff;
	display: block;
	padding: 20px 0;
	font-size: 105%;
}

#header {
	min-height: 200px;
	color: #ffc000;
	font-family: effralight, Helvetica;
	margin-top: 30px;
}

#form-wrapper {
	background: #ffcb00;
	color: #222;
	font-family: effralight, Helvetica;
	font-weight: bold;
	padding: 70px 45px;
	position: relative;
	top: -190px;
	margin-bottom: -70px;

}

#form-wrapper > * {opacity: 0;}

/* the 2 line sof text inside yellowbox when its not a form */
#form-wrapper p {
	font-size: 230%;
}

#how-it-works {
	font-family: effralight, Helvetica;
	padding: 0 0;
	margin-top: -160px;
}



/* Inner divs
----------------------------------------------------------*/
#top-border {
	z-index: 3;
	position: absolute;
	width: 100%;
	height: 5px;
	background: #ffcb00;
}

#overlay-video {
	background: rgba(0, 0, 0, 0.4);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
}

#input-wrapper {
	max-width: 570px;
	overflow: auto;
	margin: 20px auto 0 auto;
}

#dropdown-wrapper {
	position: relative;
	max-width: 570px;
	margin: 0 auto;
	line-height: 35px;
}

#default-option {
	cursor: default;
	/*margin: 3% auto 0 auto;*/
	margin: 3% 0 0 0;
	border: 2px solid #888;
	background-image: url(img/arrow-down.png);
	background-position: 97% 50%;
	background-repeat: no-repeat;
	background-color: #fff;
	text-align: left;
	font-size: 180%;
	font-family: efframedium;
	font-weight: bold;
	padding: 10px 0 10px 30px;
	/*max-width: 500px;*/
	max-width: 540px;
}

#stats ul li > div {
	color: #fff;
	font-size: 130%;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
}

#stats ul li > div:nth-of-type(2) {
	font-size: 230%;
	font-family: efframedium;
	font-weight: bolder;
}

#stats ul li > div:last-of-type {
	color: #444;
	font-size: 100%;
	position: relative;
	bottom: -35%;
	text-shadow: none;
}

#stats > div:last-of-type {
	font-size: 150%;
	color: #777;
	margin: 4% 0 8% 0;
}

#legalese {
	font-size: 80%;
	color: #333;
	margin: 5% 0;
}

#input-wrapper {
	display: none;
}

/* Typography
----------------------------------------------------------*/
#header > h3 {
	font-size: 178%;
	font-weight: 100;
	max-width: 620px;
	margin: 20px auto 0 auto;
	font-family: effra;
	letter-spacing: 1px;
}

#header h3 strong {
	font-family: efframedium;
}



#dropdown-wrapper > h2 {
	font-weight: 100;
	font-size: 300%;
	margin: 0 auto;
	padding: 0 0 7px 0;
	line-height: 46px;}

#how-it-works h2 {
	font-size: 270%;
	margin: 0;
	color: #444;
	padding: 0 0 10px 0;
}

#how-it-works h2 > strong {
	font-family: efframedium;
}

#how-it-works p {
	font-family: effralight, Helvetica;
	font-size: 150%;
	margin:  0;
	padding: 0;
}

#how-it-works .quote {
	font-size: 130%;
	font-style: italic;
}

#how-it-works .author {
	font-size: 120%;
	font-weight: bold;
	font-style: normal;
}

#stats h2 {
	font-size: 160%;
	color: #585858;
	font-weight: lighter;
	margin: 3% 0 5% 0;
	margin: 10% 0 1% 0;
}


/* Lists, Links, Images
----------------------------------------------------------*/
#header img {
	width: 100%;
	max-width: 550px;
}

form ul#dropdown {
	margin: 0;
	padding: 0;
	border: 2px solid #888;
	border-top: none;
	background: #fff;
	text-align: left;
	font-size: 150%;
	width: 100%;
	position: absolute;;
	left: 0;
	top: 98%;
	display: none;
	box-sizing: border-box;
}

form ul#dropdown li {
	margin: 0;
	font-weight: bold;
	padding: 0;
	list-style: none;
	display: block;
	padding: 5px 0 5px 30px;
	cursor: default;
}

form ul#dropdown li:hover {
	background: #4195d3;
	color: #fff;
}

#top > img {
	float: left; /*	logo */
}

ul#circles {
	margin: 10% 0;
	padding: 0;
}

ul#circles li,
#stats ul li {
	display: inline-block;
	background-repeat: no-repeat;
	background-position: top left;
	background-size: contain;
	margin-right: 3%;
	vertical-align: top;
	/*width: 165px;*/
	/*height: 195px;*/
	width: 20%;
	min-height: 195px;
	position: relative;

}

ul#circles li:nth-of-type(1) { background-image: url('img/circle-1.png') }
ul#circles li:nth-of-type(2) { background-image: url('img/circle-2.png') }
ul#circles li:nth-of-type(3) { background-image: url('img/circle-3.png') }
ul#circles li:nth-of-type(4) { background-image: url('img/circle-4.png'); margin-right: 0 }

ul#circles li > img {
	/*width: 225px;*/
	/*height: 256px;*/
	position: absolute;
	z-index: 3;
	width: 160%;
	top: -35px;
	left: -25%;
	display: none;
	/* taking it out. safari mobile doesnt support. use js instead.
	transition: opacity 0.4s;
	transform: scale(1.6, 1.6)*/
}

#stats ul {
	margin: 0;
	padding: 0;
}

#stats ul li {
	padding-top: 43px;
	width: 165px;
	height: 165px;
}

#stats ul li:nth-of-type(1) { background-image: url('img/stats-1.png')  }
#stats ul li:nth-of-type(2) { background-image: url('img/stats-2.png')  }
#stats ul li:nth-of-type(3) { background-image: url('img/stats-3.png'); margin-right: 0;  }

a#cta {
	display: inline-block;
	padding: 3% 4%;
	background: rgb(71, 120, 0);
	color: #fff;
	font-size: 150%;
}

#legalese a {
	color: #333;
}



/* Form elements
----------------------------------------------------------*/
input[type=text] {
	height: 56px;
	border: 2px solid #888;
	margin-bottom: 5px;
	width: 100%;
	text-align: left;
	font-size: 150%;
	box-sizing: border-box;
	padding: 0 0 0 15px;
}

.input-text-wrapper {
	width: 56%;
	vertical-align: top;
	text-align: left;
	color: #333;
	font-size: 90%;
	line-height: 19px;
	float: left;
}

.input-submit-wrapper {
	width: 40%;
	float: right;
	min-width: 195px;
	vertical-align: top;
	text-align: right;
	color: #333;
	font-size: 90%;
}

input[type=submit] {
	width: 100%;
	margin-bottom: 5px;
	border: none;
	color: #fff;
	height: 56px;
	background: rgb(71, 120, 0);
	padding: 10px 0;
	font-size: 115%;
}



/* Notifications
----------------------------------------------------------*/
#language-error,
input[type=text].input-error {
	border-color: rgb(230, 110, 110);
	background: rgb(248, 226, 226);
}

#language-error {
	border: 3px solid rgb(230, 110, 110);
	margin-top: 12px;
	display: none;
}



/* Globals
----------------------------------------------------------*/
a {
	text-decoration: none;
}

* {
	outline: none;
}

h1, h2, h3, h4, h5, p {
	padding: 0;
	margin: 0;
}



/* ----------------------------------------------------------
 * Caroussel elements
 -------------------------------------------------------------*/
#reviews {
	/*background: #eee;*/
	position: relative;
	margin-top: 80px;
}

.nav-arrows {
	width: 50px;
	height: 50px;
	margin-top: 18%;
	background-size: contain;
	z-index: 4;
}
div#arrow-left {
	float: left;
	background-image: url(img/arrow-left.png)
}
div#arrow-right {
	float: right;
	background-image: url(img/arrow-right.png)
}
#reviews ul {
	height: 407px;
	padding: 80px 0 0;
	position: relative;
	margin: 0 auto;
	width: 80%;
	overflow: hidden;
}
#reviews ul li {
	box-sizing: border-box;

	padding: 0 40px;
	width: 100%;
	text-align: center;
	display: block;
	position: absolute;
	left: 0;
	font: italic 13pt "Helvetica","sans-serif"
}
#reviews span.quote	{
	position: relative;
	display: inline-block;
	width: 49px;
	height: 41px;
	background-image: url(img/quotes.png);
	background-size: contain;
	background-repeat: no-repeat;
}

#reviews img.reviewer {
	width: 20%;
	min-width: 80px;
	display: block;
	margin: 0 auto;
	position: relative;
	top: -34px;
}
#reviews li h3 {
	padding: 20px 0;
}
#reviews li .ratings {
	font-weight: bold;
}



/* --------------------------------------------------------
 * Demo. If you're going to copy and paste the demo into
 * another page, here are all the elements.
----------------------------------------------------------*/
#lightbox-demo {
	width: 100%;
	position: absolute;
	top: 30%;
	left: 0;
	height: 60%;
	z-index: 6;
	max-width: 1083px;
	min-height: 630px;
	background: #000;
	display: none;
	outline: 9999px solid rgba(0,0,0,0.9);
}

#lightbox-demo > img.lightbox-close {
	position: absolute;
	top: -43px;
	right: 0;
	cursor: pointer;
}

iframe#demo {
	border: 0;
}

/* POST DEMO OFFER */
#lightbox-demo > #offer-postdemo {
	background: #fff;
	height: 100%;
	display: none;
}

#lightbox-demo > #offer-postdemo > div {
	overflow: auto;
	padding: 5%;
	box-sizing: border-box;
}


#lightbox-demo > #offer-postdemo > div > h1 {
	font-size: 450%;
}

#lightbox-demo > #offer-postdemo > div > h2 {
	font-size: 450%;
	font-family: effralight;
	font-weight: lighter;
}

#lightbox-demo > #offer-postdemo > div > h3 {
	font-size: 200%;
	padding: 30px 0;
}

#lightbox-demo > #offer-postdemo > div > a.shop {
	background-color: rgb(71, 120, 0);
	color: #fff;
	padding: 2% 7%;
	font-size: 150%;
	display: inline-block;
	margin-bottom: 42px;
}

#lightbox-demo > #offer-postdemo > div > p {
	font-size: 120%;
	font-family: effralight;
}
#lightbox-demo > #offer-postdemo > div > p > a {
	color: #0098db;
	font-weight: bold;
}













/* ----------------------------------------------------------
 * iPhone 5 portrait
 -------------------------------------------------------------*/
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : portrait) {
		video { display:  none; }

		#container-top {
			max-width: 100%;
		}

		#container-top-wrapper {
			min-height: 0;
			background-image: url('img/vidbg.jpg');
			background-size: contain;
		}

		#top {
			padding: 6px 0;
		}

		#header {
			margin-bottom: 50px;
		}

		#container-top-wrapper #header > h3 {
			font-size: .8em	;
			letter-spacing: normal;
			margin-top: -3px;
			text-align: center;
		}

		#container-top-wrapper #header ul {
			display:none;
		}

		#container-top-wrapper #header img {
			width: 60%;
			float:none;
		}

		#container-middle {
			min-width: 90%;
		}

		#form-wrapper {
			top: -40px;
			padding: 15px 5px;
			font-size: 120%;
		}

		/* the 2 line sof text inside yellowbox when its not a form */
		#form-wrapper p {
			font-size: 120%;
		}

		#dropdown-wrapper {
			position: relative;
			max-width: 513px;
			margin: 0 auto;
			/*padding: 6% 6% 4%;*/
			width: 90%;
			line-height: 15px;
		}

		#dropdown-wrapper > h2 {
			font-size: 120%;
			margin: 0 auto;
			padding: 10px;
			line-height: 4px;
		}

		#default-option {
			font-size: 100%;
			padding: 10px 0 10px 11px;
			font-family: effralight;
			background-size: 8%;
		}

		form ul#dropdown {
			font-size: 91%;
		}

		#how-it-works {
			padding-top: 53%;
		}

		#how-it-works h2 {
			font-size: 140%;
		}

		#how-it-works p {
			font-size: 100%;
		}

		ul#circles {
			margin: 30px 0 10px 0;
		}

		ul#circles li, #stats ul li {
			width: 40%;
			min-height: 110px;
			margin-bottom: 50px;
		}

		ul#circles li > img {
			width: 145px;
			/*height: 155px;*/
			left: -16px;
			top: -10px;
		}

		ul#circles li:nth-of-type(2) {
			margin: 0;
		}



		#how-it-works .quote {
			font-size: 95%;
		}

		#how-it-works .author {
			font-family: effra;
			font-style: normal;
			padding-top: 10px;
		}

		#stats h2 {
			font-size: 150%;
		}

		#stats ul li {
			width: 60%;
			height: 170px;
		}

		.input-submit-wrapper,
		.input-text-wrapper {
			font-size: 80%;
			margin: 0 auto;
			width: 91%;
			display: block;
			float: none;
			line-height: 16px;
		}

		.input-submit-wrapper {
			text-align: center;
		}

		input[type=text] {
			height: 39px;
			font-size: 90%;
		}

		input[type=submit] {
			display: block;
			clear: both;
			width: 95%;
			height: 46px;
			margin: 21px auto 10px auto;
		}

		a#cta {
			padding: 7% 4%;
			font-size: 120%;
			margin: 20px 0;
		}





		/****************************
		 * CAROUSSEL
		 ****************************/
		 #reviews {
		 	margin-top: 10px;
		 }
		.nav-arrows {
			width: 30px;
			height: 30px;
			position: relative;
			bottom: -52px;
			background-size: contain;
		}

		#reviews ul {
			height: 407px;
			padding: 0;
			position: relative;
			margin: 0 auto;
			width: 100%;
			overflow: hidden;
		}
		#reviews ul li {
			box-sizing: border-box;
			font-size: 90%;
			padding: 0 10px;
			width: 100%;
			text-align: center;
			display: block;
			position: absolute;

			left: 0;
			font-family: "Helvetica","sans-serif"
		}
		#reviews span.quote	{
			position: relative;
			display: inline-block;
			width: 25px;
			height: 21px;

		}

		#reviews img.reviewer {
			top: 0;
		}
		#reviews li h3 {
			padding: 20px 0;
		}
		#reviews li .ratings {
			font-weight: bold;
		}

}




/* ----------------------------------------------------------
 * iPhone portrait css fixes
 -------------------------------------------------------------*/

@media only screen and (max-device-width: 568px) and (min-device-width: 320px) and (orientation: portrait) {

	#stats ul li {
		padding-top: 53px;
		width: 170px;
		height: 170px;
	}

	#stats ul li > div:last-of-type {
		color: #444;
		font-size: 100%;
		position: relative;
		bottom: -70px;
		text-shadow: none;
	}

	#form-wrapper {
		top: -15px;
		padding: 15px 5px;
		font-size: 120%;
	}
	/* the 2 line sof text inside yellowbox when its not a form */
		#form-wrapper p {
			font-size: 120%;
		}
}






/* ----------------------------------------------------------
 * iPhone landscape
 -------------------------------------------------------------*/
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : landscape) {

	#container-top-wrapper {
		min-height: 0;
	}

	#dropdown-wrapper > h2 {
		font-size: 160%;
	}

	#header > h3 {
		margin: 140%;
		font-size: 130%;
		margin: -6px auto 0 auto;
	}

	#container-top {
		max-width: 70%;
	}

	form {
		top: -50px;
	}

	#default-option {
		font-size: 110%;
	}

	#input-wrapper {
		max-width: 283px;
	}

	#container-middle {
		width: 90%;
	}

	#form-wrapper {
		padding: 20px;
		margin: 0 auto;
		top: -64px;
		font-size: 120%;
	}
	/* the 2 line sof text inside yellowbox when its not a form */
		#form-wrapper p {
			font-size: 120%;
		}

	#dropdown-wrapper {
		max-width: 283px;
		line-height: 15px;
	}

	form ul#dropdown {
		font-size: 95%;
	}

	#default-option {
		padding: 10px 0 10px 11px;
	}

	.input-submit-wrapper,
	.input-text-wrapper {
		width: auto;
	}

	.input-submit-wrapper {
		margin-top: 25px;
	}

	input[type=text] {
		height: 39px;
		font-size: 110%;
	}

	#header img {
		width: 40%;
		margin-top: -20px;
	}

	#how-it-works {
		margin-top: -73px;
	}

	#how-it-works h2 {
		font-size: 260%;
		padding: 34px 0 10px 0;
	}

	#how-it-works .author {
		margin-top: 15px;
	}

	#how-it-works .quote {
		margin-top: 25px;
	}

	#stats ul li {
		width: 135px;
	}

	#stats h2 {
		font-size: 148%;
	}

	#stats ul li > div:nth-of-type(2) {
		font-size: 180%;
	}

	ul#circles {
		margin: 20px;
		width: 100%;
	}

	ul#circles {
		width: auto;
		height: 150px;
	}

	ul#circles  li {
		width: 23%;
		height: 150px;
		margin-right: 2%;
		vertical-align: top;
	}

	ul#circles > li > img {
		width: 145px;
		/*height: 155px;*/
		left: -16px;
		top: -10px;
	}


}






/* ----------------------------------------------------------
 * iPad mini portrait
 -------------------------------------------------------------*/
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 1)  {
	video { display:  none; }

	#dropdown-wrapper > h2 {
		font-size: 220%;
	}

	#container-middle {
		max-width: 90%;
		width: 100%;
	}

	#dropdown-wrapper {

	}

	#input-wrapper {

		margin: 0 auto;
	}
	.input-submit-wrapper,
	.input-text-wrapper {
		font-size: 80%;

		width: 100%;
		display: block;
		line-height: 16px;
	}

	.input-submit-wrapper {
		text-align: center;
	}

	input[type=text] {
		font-size: 90%;
		margin: 20px 0;
	}

	input[type=submit] {
		display: block;
		clear: both;
		width: 70%;
		height: 46px;
		margin: 21px auto 10px auto;
	}

	ul#circles li {
		width: 22%;

	}

	ul#circles li > img {
		width: 215px;
		/*height: 244px;*/
		top: -20px;
	}

	#stats ul li > div {
		font-size: 120%;
	}

	#stats ul li > div:nth-of-type(2) {
		font-size: 170%;
	}

	#stats ul li {
		padding-top: 8%;
		width: 150px;
		height: 150px;
	}

	#stats ul li > div:last-of-type {

		bottom: -27%;
	}

}



/* ----------------------------------------------------------
 * iPad mini landscape
 -------------------------------------------------------------*/
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape)
and (-webkit-min-device-pixel-ratio: 1)  {
	video { display:  none; }

	#container-middle {
		min-width: 80%;
	}
	.input-text-wrapper {
		width: 55%;
		font-size: 80%;
	}

	.input-submit-wrapper {
		font-size: 80%;
	}

	#how-it-works {
		margin-top: -120px;
	}

	ul#circles li > img {
		width: 235px;
		/*height: 267px;*/
		top: -20px;
	}

	#stats ul li > div:nth-of-type(2) {
		font-size: 170%;
	}

	#stats ul li {
		padding-top: 6%;
		width: 150px;
		height: 150px;
	}
}

	#header img {
		width: 460px;
		/*float: left;*/
		margin-top: 15px;
	}
	#header h3 {
		font-size: 32px;
		/*text-align: left;*/
		text-align: center;
		color: #fff;
		font-family: 'gothamBook';
		max-width: 1100px;
	}
	#header h3 strong {
		color: #0098db;
		font-family: 'gothamMedium';
		font-weight: normal;
	}
	#header ul {
		list-style: disc outside url(img/bullet.png);
		font-family: 'gothamMedium';
		font-size: 18px;
		left: 35px;
		text-align: left;
		color: #fff;
		position: relative;
	}
	#header li {
		padding: 7px 10px;
	}












/* Media
----------------------------------------------------------*/
@font-face {
    font-family: "effra";
    src: url("../ui/css/fonts/effra_std_rg-webfont.eot");
    src: url("fonts/effra_std_rg-webfont.eot?#iefix") format("embedded-opentype"),
         url("fonts/effra_std_rg-webfont.woff") format("woff"),
         url("fonts/effra_std_rg-webfont.ttf") format("truetype"),
         url("fonts/effra_std_rg-webfont.svg#effra") format("svg");
    font-weight: normal;
    font-style: normal;
}



@font-face {
    font-family: "efframedium";
    src: url("fonts/effra_std_md-webfont.eot");
    src: url("fonts/effra_std_md-webfont.eot?#iefix") format("embedded-opentype"),
         url("fonts/effra_std_md-webfont.woff") format("woff"),
         url("fonts/effra_std_md-webfont.ttf") format("truetype"),
         url("fonts/effra_std_md-webfont.svg#EffraMediumRegular") format("svg");
}



@font-face {
    font-family: "effralight";
 	src: url("fonts/effra_std_lt-webfont.eot");
    src: url("fonts/effra_std_lt-webfont.eot?#iefix") format("embedded-opentype"),
         url("fonts/effra_std_lt-webfont.woff") format("woff"),
         url("fonts/effra_std_lt-webfont.ttf") format("truetype"),
         url("fonts/effra_std_lt-webfont.svg#effra_lightregular") format("svg");
    font-weight: normal;
    font-style: normal;

}

/* Generated by Font Squirrel (http://www.fontsquirrel.com) on April 3, 2014 */

@font-face {
    font-family: 'gothamBold';
    src: url('fonts/gothamhtf-bold-webfont.eot');
    src: url('fonts/gothamhtf-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/gothamhtf-bold-webfont.woff') format('woff'),
         url('fonts/gothamhtf-bold-webfont.ttf') format('truetype'),
         url('fonts/gothamhtf-bold-webfont.svg#gothamBold') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'gothamBook';
    src: url('fonts/gothamhtf-book-webfont.eot');
    src: url('fonts/gothamhtf-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/gothamhtf-book-webfont.woff') format('woff'),
         url('fonts/gothamhtf-book-webfont.ttf') format('truetype'),
         url('fonts/gothamhtf-book-webfont.svg#gothamBook') format('svg');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'gothamLight';
    src: url('fonts/gothamhtf-light-webfont.eot');
    src: url('fonts/gothamhtf-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/gothamhtf-light-webfont.woff') format('woff'),
         url('fonts/gothamhtf-light-webfont.ttf') format('truetype'),
         url('fonts/gothamhtf-light-webfont.svg#gothamLight') format('svg');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'gothamMedium';
    src: url('fonts/gothamhtf-medium-webfont.eot');
    src: url('fonts/gothamhtf-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/gothamhtf-medium-webfont.woff') format('woff'),
         url('fonts/gothamhtf-medium-webfont.ttf') format('truetype'),
         url('fonts/gothamhtf-medium-webfont.svg#gothamMedium') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'gothamThin';
    src: url('fonts/gothamhtf-thin-webfont.eot');
    src: url('fonts/gothamhtf-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/gothamhtf-thin-webfont.woff') format('woff'),
         url('fonts/gothamhtf-thin-webfont.ttf') format('truetype'),
         url('fonts/gothamhtf-thin-webfont.svg#gothamThin') format('svg');
    font-weight: normal;
    font-style: normal;

}

#stats ul li {
	padding-top: 53px;
	width: 165px;
	height: 165px;
}

#stats ul li > div:last-of-type {
	color: #444;
	font-size: 100%;
	position: relative;
	bottom: -50px;
	text-shadow: none;
}

@media only screen and (max-device-width: 568px) and (min-device-width: 320px) and (orientation: portrait) {
	#stats ul li {
		width: 170px;
		height: 170px;
	}
}

@media only screen and (max-device-width: 568px) and (min-device-width: 320px) and (orientation: portrait) {
	#form-wrapper {
		top: -15px;
		padding: 15px 5px;
		font-size: 120%;
	}
	/* the 2 line sof text inside yellowbox when its not a form */
		#form-wrapper p {
			font-size: 120%;
		}
}