
#masthead {
	height: 141px;

	background-image: url('../../globals/img/mastheads/mobile/<%= mastheadimage %>');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	position: relative;
	font-family: helvetica;
}
#masthead > #offerbox {
	visibility: hidden;
}


#violator {
	display: none;
	background: #A83837;
	text-align: center;
	font-weight: bold;
	font-size: 140%;
	padding: 10px 0;
	color: #eee;
}




#violator > div {
	display:inline-block;
	vertical-align:middle;
	font-family: gothamLight;
	font-weight:lighter;
}
#violator > div > img {
	  margin-right: 5px;
  width: 20px;
}
#violator > div > span {
	color: #f7cc00;
	font-weight: bold;
}