#masthead {
	background-image: url('../../globals/img/mastheads/newlang/<%= mastheadimage %>');
	height: 285px;
	background-size: 100% 100%;
	position: relative
}

#masthead > #offerbox {
	visibility: hidden;
}

#violator {
	display: none;
	background: #A83837;
	text-align: center;
	font-weight: bold;
	font-size: 140%;
	padding: 10px 0;
	color: #eee;
}
#masthead > #offerbox {
	/*background: rgba(255,255,255, 0.3);*/
	position: absolute;
	box-sizing: border-box;
	left: 40px;
	width: 478px;
	bottom: 22px;
	color: #fff;
	font-size: 190%;
}

#masthead > #offerbox > #offertext {
	font-size: 65%;
	position: relative;
	bottom: -5x;
}

#masthead #pricing {
	display: table;
}
#masthead > #offerbox #regular-price {
	font-size: 130%;
	padding-left: 14px;
	color: #FFF;
	display: table-cell;
	font-weight: bold;
	vertical-align: middle;
}
#masthead > #offerbox #regular-price sup {
	font-weight: lighter;
	font-size: 50%;
	position: relative;
	right: -10px
}

#masthead > #offerbox #sale-price {
	font-weight: bold;
	font-size: 270%;
	display: table-cell;
	vertical-align: middle;
	font-family: gothambold;
}
#masthead > #offerbox #sale-price sup {
	font-weight: lighter;
}

/* DELETE #masthead > #offerbox #regular-price > strike > span {
	color: #fff;
}*/

#masthead > #offerbox #regular-price > span {
	display: inline-block;
	position: relative;
}

#masthead > #offerbox #regular-price .strikethrough {
	position: absolute;
	top: 49%;
	height: 2px;
	background: red;
	width: 100%;
}

#masthead > #offerbox #regular-price > span:first-of-type {
	font-size: 40%;
	margin-right: -13px;
	margin-left: -6px;
	position: relative;
	top: -5px;
}


#masthead > #offerbox #sale-price sup {
	font-size: 50%;
	font-weight: lighter;
	font-family: gothambook;
}

/*#violator {
	position: absolute;
	top: 15%;
	left: 52%;
}*/


#violator {
	background: url('../../globals/img/violators/pattern-red.jpg');
	padding: 10px 0;
	text-align: center;
	color: #fff;
	font-weight: bold;
	font-size: 140%;

	/* earth day style*/
	background: #45484d;
	background: -moz-linear-gradient(top,  #45484d 0%, #000000 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(100%,#000000));
	background: -webkit-linear-gradient(top,  #45484d 0%,#000000 100%);
	background: -o-linear-gradient(top,  #45484d 0%,#000000 100%);
	background: -ms-linear-gradient(top,  #45484d 0%,#000000 100%);
	background: linear-gradient(to bottom,  #45484d 0%,#000000 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 );
}

#violator > div {
	display:inline-block;
	vertical-align:middle;
	font-family: gothamLight;
	font-weight:lighter;
}
#violator > div > img {
	margin-right: 10px;
}
#violator > div > span {
	color: #f7cc00;
	font-weight: bold;
}