<template>
  <div v-if='$store.state.isLoggedIn'>
    <TopNav  />
    <div id="container" class="ui container">
      <router-view></router-view>
      <!-- <MastheadModal /> -->
      <Nag :nags='$store.state.nags' />
    </div>
  </div>
  <div v-else>
    <Login />
  </div>
</template>

<script>

import TopNav from './TopNav.vue'
import Login from './Login.vue'
import Nag from '../components/nag.vue'
import MastheadModal from '../components/modal-masthead.vue'
import { mapActions } from 'vuex'
//import WebSocket from 'ws'

export default {
  name: 'App',
  components: { TopNav, Login, MastheadModal, Nag },

  mounted() {
    const ws = new WebSocket('ws://localhost:3003')

    const self = this
    ws.onmessage = function(data) {
      const nag_id = Date.now()
      self.$store.dispatch('addNag', {id: nag_id, text: `${data.data}`})
      window.setTimeout(() => {
        self.$store.dispatch('removeNag', nag_id)
      },3000)
    }
  },

  updated() {
    console.log('app updated')
  },

  methods: {
    // mapActions simply allows us to do this.updatePages()
    // instead of this.$store.dispatch('updatePages', r)
    // It maps a component's method to an action method
    // of the same name.
    //...mapActions(['updatePages', 'updatePromos', 'updateMastheads', 'updateFlipsSchedule'])
  }


}
</script>