<template>
  <main>

    <h2 class="ui header">Create crescendo</h2>


    <div class="ui massive red message" v-if='editMode && !found && !isFetching'>
      <i class="warning circle icon"></i>
      Could not find this crescendo.
    </div>

    <form class="ui large form"  @submit.prevent='handleSubmit'>
      <div class="two fields">
        <div class="field">
          <label>When does this crescendo start?</label>
          <div class="ui calendar" data-start>
            <div class="ui left icon input">
              <i class="calendar icon"></i>
              <input type="text" name="date" placeholder="select start date &amp; time">
            </div>
          </div>
        </div>
        <div class="field">
          <label>When does it end?</label>
          <div class="ui calendar" data-end>
            <div class="ui left icon input">
              <i class="calendar icon"></i>
              <input type="text" name="date" placeholder="select end date &amp; time">
            </div>
          </div>
        </div>
      </div>
    </form>

  </main>
</template>


<script>

  'use strict';
// http://stackoverflow.com/questions/4413590/javascript-get-array-of-dates-between-2-dates
Date.prototype.addDays = function(days) {
   var dat = new Date(this.valueOf())
   dat.setDate(dat.getDate() + days);
   return dat;
}
function getDates(startDate, stopDate) {
  console.log(startDate)
  var dateArray = new Array();
  var currentDate = startDate;
  while (currentDate <= stopDate) {
    dateArray.push(currentDate)
    currentDate = currentDate.addDays(1);
  }
  return dateArray;
}



  export default {
    name: 'CreateCrescendo',

    data() {
      return {
        editMode: false,

        startDate: '',

        endDate: '',

      }
    },

    updated() {


    },

    computed: {
      btnText() {
        return this.editMode ? 'Update' : 'Submit'
      }
    },

    created() {

    },



    mounted() {
      const self = this

      const $startCalendar = $(this.$el).find('.ui.calendar[data-start]')
      $startCalendar.calendar({
        onChange(date) {
          self.handleStartChange(date)
        }
      }).calendar('set startDate', new Date())

      const $endCalendar = $(this.$el).find('.ui.calendar[data-end]')
      $endCalendar.calendar({
        onChange(date) {
          self.handleEndChange(date)
        }
      }).calendar('set startDate', new Date())


    },


    methods: {
      handleStartChange(date) {
        this.startDate = date
      },

      handleEndChange(date) {
        const start = new Date(this.startDate)
        var dateArray = getDates(start, date);
        for (let i = 0; i < dateArray.length; i ++) {
            console.log (dateArray[i]);
        }

      },




      handleSubmit(e) {
        if (this.isSubmitting) return
        this.isSubmitting = true
        const
          self              = this
          , constants       = {}
          , name            = this.name.trim()
          , promoset        = this.promoset.trim()
          , date            = this.rawdate
          , router          = this.router.trim()
          , config          = this.config
          , assets          = [...document.querySelector('input[type=file]').files]
          ;
      }

    }
  }







</script>