<template>
  <main>

  <div style="margin-top: 4em">
    <p>
      I am home. Show upcoming flips and recently updated pages
    </p>
    <p>
      <!-- <button @click="addNag">add nag</button> -->
    </p>
    <p>
      <!-- Pages in prod: Total pages:    {{ prodCount }} -->
    </p>
  </div>
  </main>


</template>


<script>
  import { mapState } from 'vuex'

  export default {
    name: 'Home',
    data() {
      return {
        count: 0,
      }
    },


    /*methods: {
      addNag() {
        ++this.count

        const nag_id = Date.now()
        this.$store.dispatch('addNag', {id: nag_id, text: `Count: ${this.count}`})
        const store = this.$store
        window.setTimeout(() => {
          this.$store.dispatch('removeNag', nag_id)
        },3000)
      }
    }*/

  }
</script>

