<template>
  <main>
    <div class="ui basic segment">
      <div class="ui transparent massive fluid left icon input">
        <input type="text" placeholder="Search promosets by name..." @keyup='handleKeyUp'>
        <i class="search icon"></i>
      </div>

      <div class="ui massive info message" v-if='!isFetching && !promosets.length'>
        <i class="warning circle icon"></i>
        There are no promocodes.
      </div>

      <PageLoader :isFetching='isFetching' fetchText='Fetching Promosets...' />
      <div class="ui grid basic segment">
        <div class="four wide column" v-for='promoset in promosets'>
          <a :href="`#/create/promoset/edit/${promoset}`" class="promoset-thumb">
            {{ promoset }}
          </a>
        </div>
      </div>
    </div>
  </main>
</template>


<script>

  'use strict';

  import PageLoader from '../components/page-loader.vue'

  export default {
    name: 'ListPromosets',
    components: { PageLoader },
    data() {
      return {
        isFetching: false,
        promosets: [],
        promosetscopy: []
      }
    },

    created() {
      this.isFetching = true
      $.getJSON(`${window.server}/promosets`, r => {
        this.promosets = Object.keys(r)
        this.promosetscopy = this.promosets
        this.isFetching = false
      })
    },

    methods: {
      handleKeyUp(e) {
        const regexp = new RegExp(e.target.value, 'i')
        this.promosets = this.promosetscopy.filter(p => p.match(regexp))
      }
    }
  }






</script>