<template>
  <main>
    <div class="ui basic segment">

      <div class="ui transparent massive fluid left icon input">
        <input type="text" placeholder="Search pages by name..." @keyup='handleKeyUp'>
        <i class="search icon"></i>
      </div>

      <div class="ui massive info message" v-if='!isFetching && !pages.length'>
        <i class="warning circle icon"></i>
        There are no pages. Strange.
      </div>

      <PageLoader :isFetching='isFetching' fetchText='Fetching Pages...' />

      <div class="ui basic segment grid">
        <div class="five wide column" v-for="page in pages">
          <a :href="`#/create/page/edit/${page.name}`" class="page-thumb" :data-name='page.name'>
            <div class="page-name">{{ page.name }}</div>
            <div class="page-masthead"
            :style="`background-image: url(http://localhost:3000/mastheads/${page.mastheadimage})`">
            </div>
          </a>
        </div>
      </div> <!-- /grid -->

  </div>



  </main>
</template>


<script>

  'use strict';

  import PageLoader from '../components/page-loader.vue'

  export default {
    name: 'ListPages',
    components: { PageLoader },
    data() {
      return {
        isFetching: false,
        pages: [],
        pagescopy: []
      }
    },

    created() {
      this.isFetching = true
      $.getJSON(`${window.server}/pages`, r => {
        this.pages = r
        this.pagescopy = this.pages
        this.isFetching = false
      })
    },

    methods: {
      handleKeyUp(e) {
        const regexp = new RegExp(e.target.value, 'i')
        this.pages = this.pagescopy.filter(f => f.name.match(regexp))
      }
    }


  }






</script>