<template>
  <main>
    <div class="ui basic segment">
      <div class="ui transparent massive fluid left icon input">
        <input type="text" placeholder="Search by name..." @keyup='handleKeyUp'>
        <i class="search icon"></i>
      </div>

      <PageLoader :isFetching='isFetching' fetchText='Fetching Flips...' />

      <div class="ui massive info message" v-if='!isFetching && !flips.length'>
        <i class="warning circle icon"></i>
        There are no flips scheduled.
      </div>

      <div style="margin-top: 2em">
        <div class="ui grid">
          <div class="four wide column" v-for="flip in flips">
            <a :href="`#/create/flip/edit/${flip.rawdate}`" class="flip" :data-rawdate='flip.rawdate' :data-name='flip.name'>
              <div class="flip-name">{{ flip.name }}</div>
              <div class="flip-date">
                <div class="flip-month">{{ flip.humanDate[0] }}</div>
                <div class="flip-day">{{ flip.humanDate[1] }}</div>
                <div class="flip-year">{{ flip.humanDate[2] }}</div>
              </div>
            </a>
          </div>
        </div> <!-- /grid -->
      </div>
  </div>



  </main>
</template>


<script>

  'use strict';

  import PageLoader from '../components/page-loader.vue'

  export default {
    name: 'ListFlips',
    components: { PageLoader },
    data() {
      return {
        isFetching: false,
        flips: [],
        flipscopy: []
      }
    },
    created() {
      this.isFetching = true
      $.getJSON(`${window.server}/flips`, r => {
        r = r.map(f => {
          f.humanDate = f.dirname.split(' ').slice(0, 3)
          console.log(f.humanDate)
          return f
        })
        this.flips = r
        this.flipscopy = this.flips
        this.isFetching = false

      })
    },
    methods: {
      handleKeyUp(e) {
        const regexp = new RegExp(e.target.value, 'i')
        this.flips = this.flipscopy.filter(f => f.name.match(regexp))
      }
    }


  }






</script>