<template>
  <main>
    <div class="ui basic segment">
      <h3>Change live assets in prod</h3>
    </div>
    <div class="ui icon big blue message">
      <i class="warning sign icon"></i>
      <div class="content">
        <div class="header">
          Be very careful
        </div>
        <p>New uploads will go directly to production. Triple check that you're uploading the right image.</p>
      </div>
    </div>
    <div class="ui basic segment">
      <div class="ui grid">
        <div class="eight wide column" v-for="asset in assets">
          <div class="img-container">
            <div class="title">{{ asset }}</div>
            <div class="img-wrap">
              <img :src="'http://rosettastone.com/lp/sitewide-promo/' + asset">
            </div>
            <button class="ui button" :data-asset='asset' @click='openFileDialog'>Select new image</button>
            <button class="ui teal button" :class="{'loading' : isSubmitting}" :data-asset='asset' @click='handleUpload'>Upload</button>
            <input type="file">
          </div>
        </div>
      </div>


    </div>

  </main>
</template>


<script>

  'use strict';

  export default {
    name: 'LiveAssets',

    data() {
      return {
        isSubmitting: false,
         assets: [
          'mdot-rto.jpg',
          'us-buynow.jpg',
          'us-freedemo.jpg',
          'us-freedemo-mobile.jpg',
          'us-hslpbanner.jpg',
          'es-homepage-bg.png',
          'es-catalog.jpg',
          'es-buynow.jpg'
        ]
      }
    },

    methods: {

      /*
       * Just triggers the hiddne input[type=file]
       */

      openFileDialog(e) {
        $(e.target).siblings('input').click()
      },

      handleUpload(e) {
        this.isSubmitting = true
        const file = $(e.target).siblings('input[type=file]')[0].files[0]
        const formdata = new FormData()
        const request = new XMLHttpRequest()

        formdata.append('file', file)

        request.open('POST', `${window.server}/upload/asset`, true)
        request.send(formdata)
        request.onload = () => {
          if (request.status >= 200 && request.status < 400) {
            console.log('UPLOADED')
          }
          this.isSubmitting = false
        }

        request.onerror = () => {

        }

      }
    }



  }






</script>