<template>
  <main>
    <div class="ui center aligned two column grid">
      <div class="column">
        <h2 class="ui  image header">
          <div class="content">Log-in</div>
        </h2>
        <div class="ui massive red message" v-if='formResult.result == false'>
          <i class="warning circle icon"></i>
          {{ formResult.message }}
        </div>
        <form class="ui large form" @submit.prevent='handleSubmit'>
          <div class="ui stacked segment">
            <div class="field">
              <div class="ui left icon input">
                <i class="user icon"></i>
                <input type="text" placeholder="Username" v-model='username'>
              </div>
            </div>
            <div class="field">
              <div class="ui left icon input">
                <i class="lock icon"></i>
                <input type="password" placeholder="Password" v-model='passwd'>
              </div>
            </div>

            <button
              type="submit"
              class="ui button submit large fluid teal"
              :class='{"loading" : isSubmitting}'>
                Submit
              </button>
          </div>
        </form>
      </div>
    </div>
    <div id="gradient"></div>
    <div id="img-bg"></div>
  </main>
</template>


<script>

  'use strict';

  export default {
    name: 'Login',

    data() {
      return {
        username: '',
        passwd: '',
        isSubmitting: false,
        formResult: {
          result: null,
          message: null
        }
      }
    },

    methods: {
      handleSubmit(e) {
        this.isSubmitting = true
        const self = this
        const postdata = { username: this.username, passwd: this.passwd }
        const request = new XMLHttpRequest()
        request.open('post', `${window.server}/login`, true)
        request.send(JSON.stringify(postdata))

        request.onload = function() {
          if (request.status >= 200 && request.status < 400) {
            const response = JSON.parse(request.responseText)
            if (response.result) {
              self.formResult.result = 1
              self.$store.dispatch('setUsername', self.username)
              self.$store.dispatch('logIn')
              window.sessionStorage.setItem('loggedIn', '1')
              window.sessionStorage.setItem('username', self.username)
              window.location.assign('/')
            } else {
              self.formResult = { result: 0, message: response.payload }
            }
          } else {
            self.formResult = { result: 0, message: 'Error on the Pi server.' }
          }
          self.isSubmitting = false
        }

        request.onerror = function() {
          self.formResult = { result: 0, message: 'Could not reach Pi server.' }
          self.isSubmitting = false
        }
      }
    }
  }

</script>

<style>
  #img-bg {
    background-image: url('http://localhost:3000/night.jpg');
    background-size: cover;
    position:  absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index:-2;
  }
  #gradient {
    position:  absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: -webkit-linear-gradient(top left, #47cf73, #ae63e4);
    background: -o-linear-gradient(top left, #47cf73, #ae63e4);
    background: linear-gradient(to bottom right, #47cf73, #ae63e4);
    opacity: 0.5;
    z-index: -1;
  }

  .ui.image.header {
    color: #fff;
    letter-spacing: 2px;
    font-size: 2.1em;
    margin-top: 2em;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.8);
  }
</style>
