<template>
  <main>
    <div class="ui basic segment">
      Hello, {{ $store.state.username }}
    </div>
  </main>
</template>


<script>

  'use strict';

  import PageLoader from '../components/page-loader.vue'

  export default {
    name: 'ListPromosets',
    components: { PageLoader },
    data() {
      return {
        isFetching: false,
        promosets: [],
        promosetscopy: []
      }
    },

    created() {
      this.isFetching = true
      $.getJSON(`${window.server}/promosets`, r => {
        this.promosets = Object.keys(r)
        this.promosetscopy = this.promosets
        this.isFetching = false
      })
    },

    methods: {
      handleKeyUp(e) {
        const regexp = new RegExp(e.target.value, 'i')
        this.promosets = this.promosetscopy.filter(p => p.match(regexp))
      }
    }
  }






</script>