<template>
  <div class="ui large inverted menu">
    <div class="ui container">
      <a href="#" class="header item">
        <!--<img class="logo" src="assets/images/logo.png">-->
        π
      </a>

      <div class="right menu">
        <div class="ui simple dropdown item">
          <i class="file outline icon"></i>
          Pages
          <div class="menu">
            <router-link to='/create/page' class='item'><i class="plus icon"></i>Create</router-link>
            <router-link to='/pages' class='item'><i class="edit icon"></i>View &amp; edit</router-link>
          </div>
        </div>
        <!-- <div class="ui simple dropdown item">
          <i class="line chart icon"></i>
          Crescendos
          <div class="menu">
            <router-link to='/create/crescendo' class='item'><i class="plus icon"></i>Create</router-link>
            <router-link to='/crescendos' class='item'><i class="edit icon"></i>View &amp; edit</router-link>
          </div>
        </div> -->
        <div class="ui simple dropdown item">
          <i class="dollar icon"></i>
          Promos
          <div class="menu">
            <router-link to='/create/promoset' class='item'><i class="plus icon"></i>Create</router-link>
            <router-link to='/promosets' class='item'><i class="edit icon"></i>View &amp; edit</router-link>
          </div>
        </div>
        <div class="ui simple dropdown item">
          <i class="refresh icon"></i>
          Flips
          <div class="menu">
            <router-link to='/create/flip' class='item'><i class="plus icon"></i>Create</router-link>
            <router-link to='/flips' class='item'><i class="edit icon"></i>View &amp; edit</router-link>
          </div>
        </div>
        <div class="ui simple dropdown item">
          <i class="image icon"></i>
          Mastheads
          <div class="menu">
            <div class='item' @click='toggleMastheadModal'>
              <i class="cloud upload icon"></i>Upload
            </div>
            <!-- <router-link to='/view/mastheads' class='item'>
              <i class="edit icon"></i>View &amp; edit
            </router-link> -->
          </div>
        </div>


          <router-link to='/live-assets' class='item'><i class="world icon"></i>Live Assets</router-link>


        <div class="ui simple dropdown item" style="display: none">
          New ...<i class="dropdown icon"></i>
          <div class="menu">
            <router-link to='/create/crescendo' class='item'><i class="line chart icon"></i>Crescendo</router-link>
            <router-link to='/create/promoset' class='item'><i class="dollar icon"></i>Promo set</router-link>
            <router-link to='/create/page' class='item'><i class="file outline icon"></i>Landing Page</router-link>
            <router-link to='/create/flip' class='item'><i class="repeat icon"></i>Flip</router-link>
            <a href="" class="item" @click='toggleMastheadModal'><i class="image icon"></i>Masthead images</a>
          </div>
        </div>

        <!-- <a href="#" class="item">
          <i class="unordered content icon"></i>
          feed
        </a> -->

        <a href="#" class="item" style="display: none">
          <i class="world icon"></i>
          Edit live
        </a>

        <div class="ui simple dropdown item">
          <i class="user icon"></i>
          {{ $store.state.username }}
          <div class="menu">
            <div class='item' @click='logout'>
              <i class="power icon"></i>Logout
            </div>
          </div>
        </div>
      </div>
  </div>
</template>


<script>

'use strict';

  export default {
    name: 'TopNav',
    methods: {
      toggleMastheadModal(e) {
        e.preventDefault()
        this.$store.dispatch('toggleMastheadModal')
      },

      logout() {
        window.sessionStorage.clear()
        document.cookie = 'RSSESSION=;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
        this.$store.dispatch('logOut')
      }
    }
  }

</script>

