@import url(http://fonts.googleapis.com/css?family=Teko:700);
/*! normalize.css v3.0.1 | MIT License | git.io/normalize */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  height: 100%;
}
body {
  margin: 0;
  height: 100%;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
/* min-320/16 */
/* max-415/16 */
/* min-375/16 */
/* max-413/16 */
/* min-413/16 */
/* max-420/16 */
/* min-375/16 */
/* max-420/16 */
/* 701/16 */
/* 980/16 */
/* min-1080/16 */
/* min-1080/16 */
/* 1081/16 */
/* 1290/16 */
/* 421/16 */
/* 700/16 */
@font-face {
  font-family: 'gothamBook';
  src: url('fonts/gothamhtf-book-webfont.eot');
  src: url('fonts/gothamhtf-book-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/gothamhtf-book-webfont.woff') format('woff'), url('fonts/gothamhtf-book-webfont.ttf') format('truetype'), url('fonts/gothamhtf-book-webfont.svg#gothamBook') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'gothamLight';
  src: url('fonts/gothamhtf-light-webfont.eot');
  src: url('fonts/gothamhtf-light-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/gothamhtf-light-webfont.woff') format('woff'), url('fonts/gothamhtf-light-webfont.ttf') format('truetype'), url('fonts/gothamhtf-light-webfont.svg#gothamLight') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'gothamThin';
  src: url('fonts/gothamhtf-thin-webfont.eot');
  src: url('fonts/gothamhtf-thin-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/gothamhtf-thin-webfont.woff') format('woff'), url('fonts/gothamhtf-thin-webfont.ttf') format('truetype'), url('fonts/gothamhtf-thin-webfont.svg#gothamThin') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GothamMedium';
  src: url('fonts/gothamhtf-medium-webfont.eot');
  src: url('fonts/gothamhtf-medium-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/gothamhtf-medium-webfont.woff') format('woff'), url('fonts/gothamhtf-medium-webfont.ttf') format('truetype'), url('fonts/gothamhtf-medium-webfont.svg#GothamMedium') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GothamBold';
  src: url('fonts/gothamhtf-bold-webfont.eot');
  src: url('fonts/gothamhtf-bold-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/gothamhtf-bold-webfont.woff') format('woff'), url('fonts/gothamhtf-bold-webfont.ttf') format('truetype'), url('fonts/gothamhtf-bold-webfont.svg#GothamBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: 'gothamBook', arial, sans-serif;
}
#masthead {
  background: url('../img/masthead.jpg') 0 -7em no-repeat;
  background-size: cover;
  border-top: 0.2em solid #ecc200;
  height: 28.3em;
  position: relative;
  overflow: hidden;
}
#masthead video {
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
}
@media only screen and (min-width: 20em) and (max-width: 26.25em) {
  #masthead {
    background: url('../img/masthead-ipfive.jpg') 0 0 no-repeat;
    height: 30em;
    background-size: cover;
  }
}
@media only screen and (min-width: 26.3125em) and (max-width: 43.75em) {
  #masthead {
    background: url('../img/masthead-ipfive.jpg') 0 0 no-repeat;
    height: 34em;
    background-size: cover;
  }
}
@media only screen and (min-width: 43.8125em) and (max-width: 61.25em) {
  #masthead {
    background: url('../img/masthead.jpg') -7em 0 no-repeat;
    background-size: cover;
    height: 32em;
  }
}
@media only screen and (min-width: 67.5em) {
  #masthead {
    height: 38em;
  }
}
#masthead .container {
  width: 90%;
  margin: 0 auto;
  padding: 2em 0 0;
  position: absolute;
  z-index: 10;
  left: 0;
  right: 0;
}

#masthead .container > div {
  color: #fff;
  text-align:  center;
}
#masthead .container > div > h1 {
  font-size: 1.7em;
  margin: 4% 0 0 0;
}

#masthead .container > div > h2 {
  font-size: 7em;
  font-family: 'teko', arial;
  margin: 4% 0 2% 0;
  line-height: 81px;
}

#masthead .container > div > h3 {
  margin: 0 0;
  color: #ecc200;
  font-weight:  bold;
  font-size: 1.5em;
}

@media only screen and (min-width: 20em) and (max-width: 26.25em) {
  #masthead .container > div > h1 {
    font-size: 1em;
  }
}
@media only screen and (min-width: 67.5em) {
  #masthead .container > div > h1 {

  }
}
@media only screen and (min-width: 20em) and (max-width: 26.25em) {
  #masthead .container > div > h1 {
    font-size: 0.8em;
    margin: 30% 0 0 0;
  }
  #masthead .container > div > h2 {
    line-height: 41px;
    font-size: 3em;
  }
  #masthead .container > div > h3 {
    font-size: 1em;
  }
}
@media only screen and (min-width: 67.5em) {
  #masthead .container > div > h1 {

  }
}


@media only screen and (min-width: 20em) and (max-width: 26.25em) {
  #masthead .container {
    padding: 1em 0 0;
  }
}
#masthead .container .contact:before,
#masthead .container .contact:after {
  content: " ";
  display: table;
}
#masthead .container .contact:after {
  clear: both;
}
#masthead .container .contact a {
  float: left;
  display: inline-block;
  background: url('../img/logo.png') no-repeat;
  text-indent: -9999px;
  background-size: cover;
  height: 43px;
  width: 100px;
}
#masthead .container .contact span {
  display: inline-block;
  float: right;
  color: white;
}

/* normal */
@media only screen and (min-width: 20em) and (max-width: 26.25em) {
  #masthead .container .contact span {
    padding: .5em 0 0;
  }
}

#masthead .container h1 span {
  font-family: 'gothamLight';
  font-size: 0.44em;
}
#masthead .container p {
  color: #ecc200;
  font-family: 'gothamLight';
  text-transform: uppercase;
  font-size: 1.3em;
  text-align: center;
  margin: 0;
}
@media only screen and (min-width: 20em) and (max-width: 26.25em) {
  #masthead .container p {
    font-size: 1.2em;
  }
}
@media only screen and (min-width: 67.5em) {
  #masthead .container p {
    font-size: 1.7em;
  }
}
#masthead .container a {
  text-decoration: none;
}
#masthead .container button {
  display: block;
  width: 19em;
  background: #0098db;
  color: white;
  border: none;
  outline: none;
  text-transform: uppercase;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  margin: 2em auto 0;
  padding: 1em 0;
  font-size: 1.2em;
}
@media only screen and (min-width: 20em) and (max-width: 26.25em) {
  #masthead .container button {
    width: 14em;
  }
}
@media only screen and (min-width: 67.5em) {
  #masthead .container button {
    width: 23em;
  }
}
#inspire {
  background: white;
  font-family: 'gothamLight';
}
#inspire .container {
  width: 80%;
  margin: 0 auto;
  font-size: 2.18em;
  text-align: center;
  padding: 1em 0;
  line-height: 1.3em;
}
#inspire .container span {
  font-family: 'gothamMedium';
}
@media only screen and (min-width: 20em) and (max-width: 26.25em) {
  #inspire .container {
    width: 90%;
    font-size: 1.2em;
  }
}
@media only screen and (min-width: 23.4375em) and (max-width: 26.25em) {
  #inspire .container {
    font-size: 1.3em;
    padding: 1em 0;
  }
}
@media only screen and (min-width: 26.3125em) and (max-width: 43.75em) {
  #inspire .container {
    font-size: 1.48em;
  }
}
@media only screen and (min-width: 43.8125em) and (max-width: 61.25em) {
  #inspire .container {
    width: 95%;
    font-size: 1.9em;
  }
}
@media only screen and (min-width: 67.5em) {
  #inspire .container {
    width: 72%;
    padding: .5em 0;
  }
}
.signup {
  background: #f1f1f1;
  text-align: right;
  position: relative;
}
@media only screen and (min-width: 20em) and (max-width: 26.25em) {
  .signup {
    text-align: center;
  }
}
@media only screen and (min-width: 26.3125em) and (max-width: 43.75em) {
  .signup {
    text-align: center;
  }
}
.overlay {
  display:  none;
  background: #fff;
  /*
  width: 685px;
  position: absolute;
  top: 70px;
  left: 140px;
  z-index: 100;
  */
  text-align: center;
  font-family: gothamBook, helvetica, arial;
  text-shadow: 0 1px 0 #ffffff;
  -webkit-box-shadow: #000000 0px 0px 90px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.overlay .yellow-top-bar {
  position: relative;
  height: 40px;
  background: #ecc009;
}
.overlay .yellow-top-bar a.close {
  display: block;
  position: absolute;
  right: -15px;
  top: -15px;
  height: 35px;
  width: 35px;
  background: url('../img/icon_lightbox_close_black.png') no-repeat;
}
.overlay .grey-top {
  background: #efeded;
}
.overlay .grey-top .header-text {
  font-size: 2.2em;
  padding: 20px 0;
}
.overlay .grey-top .header-text span {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 0.8em;
}
.overlay #content {
  padding: 30px 20px;
}
.overlay.button {
  width: 216px;
  height: 42px;
  background: #0994d5;
  margin: 30px auto 15px;
  line-height: 42px;
  color: #fff;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  font-size: 1.3em;
  display: block;
  font-family: helvetica, arial;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.7);
  text-decoration: none;
}
.overlay .footer {
  height: 67px;
  margin-right: 15px;
  margin-bottom: 15px;
  background: url('../img/rs-logo.png') bottom right no-repeat;
}


#trialresult {  position: absolute; display: none}
#trialresult {

  z-index: 100;
  text-shadow: 1px 1px 0 rgba(255,255,255, 1);
}
#trialresult > h2 {
  font-size: 2.0em!important;
  padding: 3%!important;
}

/* phone */
@media only screen and (min-width: 20em) and (max-width: 26.25em) {
  #trialresult > h2 {
    font-size: 1.8em!important;
    padding: 3%!important;
  }
}

#trialresult p {
  font-size: 1.3em!important;
  padding: 4% 0 !important;
}
#trialresult .button {
  width: 216px;
  height: 42px;
  background: #0994d5;
  margin: 30px auto 15px;
  line-height: 42px;
  color: #fff;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  font-size: 1.3em;
  display: block;
  font-family: helvetica, arial;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.7);
  text-decoration: none;
}

#trialresult .button span {
  color: #fff!important;
  padding: 0!important;
}


.signup .container {
  width: 95%;
  margin: 0 auto;
  padding: 4.5em 0;
  background: url('../img/hubft-devices.png') 0 50% no-repeat;
}
.signup .container:after {
  content: '';
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}
@media only screen and (min-width: 20em) and (max-width: 26.25em) {
  .signup .container {
    width: 90%;
    background: url('../img/hubft-devices.png') 50% 5em no-repeat;
    background-size: 17em;
    padding: 23em 0 0;
  }
}
@media only screen and (min-width: 26.3125em) and (max-width: 43.75em) {
  .signup .container {
    width: 90%;
    background: url('../img/hubft-devices.png') 50% 5em no-repeat;
    background-size: 17em;
    padding: 23em 0 0;
  }
}
@media only screen and (min-width: 43.8125em) and (max-width: 61.25em) {
  .signup .container {
    width: 90%;
    background: url('../img/hubft-devices.png') 0 50% no-repeat;
    background-size: 40%;
  }
}
@media only screen and (min-width: 67.5em) {
  .signup .container {
    width: 75%;
  }
}
@media only screen and (min-width: 67.5625em)and (max-width: 80.625em) {
  .signup .container {
    width: 90%;
  }
}
.signup .container .left-column {
  display: inline-block;
  width: 33em;
  position: relative
}
@media only screen and (min-width: 20em) and (max-width: 26.25em) {
  .signup .container .left-column {
    width: 100%;
  }
}
@media only screen and (min-width: 26.3125em) and (max-width: 43.75em) {
  .signup .container .left-column {
    width: 100%;
  }
}
@media only screen and (min-width: 43.8125em) and (max-width: 61.25em) {
  .signup .container .left-column {
    display: inline-block;
    width: 58%;
    font-size: 0.8em;
    text-align: center;
  }
}
.signup .container .left-column h2 {
  margin: 0;
  font-family: 'gothamLight';
  text-transform: uppercase;
  font-size: 2.2em;
  padding: 0 0 0.2em;
}
.signup .container .left-column h2 b {
  font-family: 'gothamMedium'
}

.email-privacy { font-size: 0.8em; color: #666; text-align: center }
@media only screen and (min-width: 20em) and (max-width: 26.25em) {
  .signup .container .left-column h2 {
    font-size: 1.6em;
  }
}
@media only screen and (min-width: 26.3125em) and (max-width: 43.75em) {
  .signup .container .left-column h2 {
    text-align: center;
    font-size: 1.7em;
  }
}
@media only screen and (min-width: 43.8125em) and (max-width: 61.25em) {
  .signup .container .left-column h2 {
    font-weight: normal;
  }
}
@media only screen and (min-width: 25.8125em) and (max-width: 26.25em) {
  .signup .container .left-column h2 {
    font-size: 2em;
  }
}
@media only screen and (min-width: 43.8125em) and (max-width: 61.25em) {
  .signup .container .left-column h2 {
    font-size: 2em;
  }
}
.signup .container .left-column p {
  margin: 0;
  font-size: 1.83em;
  padding: 0 0 0.2em;
}
@media only screen and (min-width: 20em) and (max-width: 26.25em) {
  .signup .container .left-column p {
    font-size: 1em;
  }
}
@media only screen and (min-width: 25.8125em) and (max-width: 26.25em) {
  .signup .container .left-column p {
    font-size: 1.2em;
  }
}
@media only screen and (min-width: 26.3125em) and (max-width: 43.75em) {
  .signup .container .left-column p {
    font-size: 1.2em;
  }
}
@media only screen and (min-width: 43.8125em) and (max-width: 61.25em) {
  .signup .container .left-column p {
    font-size: 1.55em;
  }
}
.signup .container .left-column span {
  color: #477800;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  text-align: center;
  display: block;
  padding: 0 0 1.8em;
}
@media only screen and (min-width: 20em) and (max-width: 26.25em) {
  .signup .container .left-column span {
    font-size: 0.8em;
  }
}
@media only screen and (min-width: 25.8125em) and (max-width: 26.25em) {
  .signup .container .left-column span {
    font-size: .9em;
  }
}
@media only screen and (min-width: 26.3125em) and (max-width: 43.75em) {
  .signup .container .left-column span {
    font-size: .9em;
  }
}
.signup .container .left-column form {
  position: relative;
}
.signup .container .left-column form .lang-error,
.signup .container .left-column form .email-error {
  display: block;
  text-align: left;
}
.signup .container .left-column form .loading {
  width: 100%;
  height: 100%;
  background: url('../img/loading-bar3.gif') center no-repeat rgba(0, 0, 0, 0.8);
  z-index: -1;
  position: absolute;
  color: #fff;
}
.signup .container .left-column form select {
  text-transform: uppercase;
  font-family: Helvetica, Arial, sans-serif;
  background: url('../img/ph-arrow.png') 95% 50% no-repeat #555555;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  color: white;
  display: block;
  width: 100%;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 1em 0 1em 1em;
  margin: 0 0 1em;
}
@media only screen and (min-width: 43.8125em) and (max-width: 61.25em) {
  .signup .container .left-column form select {
    padding: 1.2em 0 1.2em 1em;
    font-size: 1.6em;
  }
}
.signup .container .left-column form input {
  margin: 0;
  padding: 1em 0 1em 1em;
  border: #a4a4a4 solid 1px;
  color: #a4a4a4;
  display: block;
  width: 100%;
  margin: 0 0 1em;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media only screen and (min-width: 43.8125em) and (max-width: 61.25em) {
  .signup .container .left-column form input {
    padding: 1.5em 0 1.5em 1em;
    font-size: 1.3em;
  }
}
.signup .container .left-column form input:focus:invalid {
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
  background: url('../img/exclamation5.png') 98% 20% no-repeat #ffffff;
}
.signup .container .left-column form .names {
  text-align: left;
  position: relative;
  height: 5em;
}
@media only screen and (min-width: 20em) and (max-width: 26.25em) {
  .signup .container .left-column form .names {
    height: auto;
  }
}
.signup .container .left-column form .names input {
  margin: 0;
  padding: 1em 0 1em 1em;
  border: #a4a4a4 solid 1px;
  color: #a4a4a4;
  display: inline-block;
  width: 47%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}
@media only screen and (min-width: 20em) and (max-width: 26.25em) {
  .signup .container .left-column form .names input {
    display: block;
    width: 100%;
  }
}
@media only screen and (min-width: 26.3125em) and (max-width: 43.75em) {
  .signup .container .left-column form .names input {
    display: block;
    width: 100%;
  }
}
@media only screen and (min-width: 43.8125em) and (max-width: 61.25em) {
  .signup .container .left-column form .names input {
    width: 46%;
    padding: 1.4em 0 1.4em 1em;
  }
}
.signup .container .left-column form .names input:nth-of-type(1) {
  margin: 0 1.4em 0 0;
}
@media only screen and (min-width: 20em) and (max-width: 26.25em) {
  .signup .container .left-column form .names input:nth-of-type(1) {
    margin: 0 0 1em;
  }
}
@media only screen and (min-width: 26.3125em) and (max-width: 43.75em) {
  .signup .container .left-column form .names input:nth-of-type(1) {
    margin: 0 0 1em;
  }
}
.signup .container .left-column form .names label {
  position: absolute;
  bottom: 0;
}
.signup .container .left-column form .names #last-error {
  left: 52%;
}
.signup .container .left-column form .names input.invalid {
  border: 1px solid red;
}
.signup .container .left-column form button {
  background: #ecc200;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  outline: none;
  border: none;
  text-transform: uppercase;
  color: black;
  padding: 1em 0;
  width: 20em;
  margin: 3em auto 0;
  display: block;
}
@media only screen and (min-width: 20em) and (max-width: 26.25em) {
  .signup .container .left-column form button {
    width: 100%;
    margin: 1.5em auto;
  }
}
@media only screen and (min-width: 26.3125em) and (max-width: 43.75em) {
  .signup .container .left-column form button {
    margin: 1.5em auto 2em;
    width: 100%;
  }
}
@media only screen and (min-width: 43.8125em) and (max-width: 61.25em) {
  .signup .container .left-column form button {
    font-size: 1.4em;
  }
}
#stories {
  height: 55em;
  position: relative;
}
@media only screen and (min-width: 20em) and (max-width: 26.25em) {
  #stories {
    height: 40.5em;
  }
}
@media only screen and (min-width: 23.4375em) and (max-width: 26.25em) {
  #stories {
    height: 38.8em;
  }
}
#stories .storCarousel {
  height: 100%;
  position: relative;
}
#stories .storCarousel .owl-controls {
  margin-top: 0;
}
#stories .storCarousel .owl-controls .owl-pagination {
  background: #ecc200;
}
#stories .storCarousel .owl-controls .owl-pagination .owl-page.active span {
  background: #0098db;
}
#stories .storCarousel .owl-controls .owl-buttons {
  position: absolute;
  top: 0;
  width: 100%;
  font-family: 'gothamLight';
}
@media only screen and (min-width: 20em) and (max-width: 26.25em) {
  #stories .storCarousel .owl-controls .owl-buttons {
    display: none;
  }
}
@media only screen and (min-width: 26.3125em) and (max-width: 43.75em) {
  #stories .storCarousel .owl-controls .owl-buttons {
    display: none;
  }
}
@media only screen and (min-width: 43.8125em) and (max-width: 61.25em) {
  #stories .storCarousel .owl-controls .owl-buttons {
    display: none;
  }
}
#stories .storCarousel .owl-controls .owl-buttons div {
  background: none;
  color: black;
  position: absolute;
  top: 2em;
  font-size: 1.5em;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  margin: 0;
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  -ms-transition: 0.3s all;
  -o-transition: 0.3s all;
}
#stories .storCarousel .owl-controls .owl-buttons .owl-prev {
  left: 2em;
  padding: 0.3em 0 0.3em 2em;
  background: url('../img/ph-prev.png') 0 0 no-repeat;
}
#stories .storCarousel .owl-controls .owl-buttons .owl-next {
  right: 2em;
  padding: 0.3em 2em 0.3em 0;
  background: url('../img/ph-next.png') 100% 0 no-repeat;
}
#stories .storCarousel #mark {
  background: url('../img/mark.jpg') -16em 0 no-repeat;
  background-size: cover;
  height: 100%;
}
@media only screen and (min-width: 20em) and (max-width: 26.25em) {
  #stories .storCarousel #mark {
    background: url('../img/mark-ipfive.jpg') 0 0 no-repeat;
    background-size: cover;
  }
}
@media only screen and (min-width: 23.4375em) and (max-width: 25.8125em) {
  #stories .storCarousel #mark {
    background: url('../img/mark-ipfive.jpg') 0 -7em no-repeat;
    background-size: cover;
  }
}
@media only screen and (min-width: 25.8125em) and (max-width: 26.25em) {
  #stories .storCarousel #mark {
    background: url('../img/mark-ipfive.jpg') 0 -12em no-repeat;
    background-size: cover;
  }
}
@media only screen and (min-width: 26.3125em) and (max-width: 43.75em) {
  #stories .storCarousel #mark {
    background: url('../img/mark-ipfive.jpg') 0 -12em no-repeat;
    background-size: cover;
  }
}
@media only screen and (min-width: 43.8125em) and (max-width: 61.25em) {
  #stories .storCarousel #mark {
    background: url('../img/mark.jpg') -30em 0 no-repeat;
    background-size: cover;
  }
}
@media only screen and (min-width: 67.5em) {
  #stories .storCarousel #mark {
    background: url('../img/mark.jpg') 0 0 no-repeat;
    background-size: cover;
  }
}
#stories .storCarousel #mark .summary {
  padding: 9em 0 0;
}
@media only screen and (min-width: 20em) and (max-width: 26.25em) {
  #stories .storCarousel #mark .summary {
    padding: 1em 0 0;
  }
}
@media only screen and (min-width: 26.3125em) and (max-width: 43.75em) {
  #stories .storCarousel #mark .summary {
    padding: 1em 0 0;
  }
}
@media only screen and (min-width: 43.8125em) and (max-width: 61.25em) {
  #stories .storCarousel #mark .summary {
    padding: 3em 0 0;
  }
}
#stories .storCarousel #mark .summary .container {
  width: 95%;
  margin: 0 auto;
}
#stories .storCarousel #mark .summary .container p {
  font-family: 'gothamMedium';
  text-transform: uppercase;
  font-size: 1.5em;
  margin: 0 0 .3em;
}
@media only screen and (min-width: 20em) and (max-width: 26.25em) {
  #stories .storCarousel #mark .summary .container p {
    font-size: 1.2em;
  }
}
@media only screen and (min-width: 26.3125em) and (max-width: 43.75em) {
  #stories .storCarousel #mark .summary .container p {
    font-size: 1.2em;
  }
}
#stories .storCarousel #mark .summary .container span {
  font-family: 'gothamLight';
  font-size: 1.2em;
  line-height: 1.5em;
}
@media only screen and (min-width: 20em) and (max-width: 26.25em) {
  #stories .storCarousel #mark .summary .container span {
    font-size: 1em;
  }
}
@media only screen and (min-width: 26.3125em) and (max-width: 43.75em) {
  #stories .storCarousel #mark .summary .container span {
    font-size: 1em;
  }
}
#stories .storCarousel #mark .quote {
  background-color: rgba(255, 255, 255, 0.5);
  width: 37em;
}
@media only screen and (min-width: 20em) and (max-width: 26.25em) {
  #stories .storCarousel #mark .quote {
    width: 90%;
  }
}
@media only screen and (min-width: 26.3125em) and (max-width: 43.75em) {
  #stories .storCarousel #mark .quote {
    width: 90%;
  }
}
@media only screen and (min-width: 43.8125em) and (max-width: 61.25em) {
  #stories .storCarousel #mark .quote {
    width: 65%;
  }
}
#stories .storCarousel #mark .quote p {
  margin: 2em 0 0;
  padding: 1.5em 0.5em 1.5em 2.5em;
  text-transform: uppercase;
  color: #003c60;
  font-size: 1.5em;
  line-height: 1.5em;
}
@media only screen and (min-width: 20em) and (max-width: 26.25em) {
  #stories .storCarousel #mark .quote p {
    margin: 1.5em 0 0;
    padding: 1em 0 1em 0.5em;
    font-size: 1.1em;
  }
}
@media only screen and (min-width: 26.3125em) and (max-width: 43.75em) {
  #stories .storCarousel #mark .quote p {
    margin: 1.5em 0 0;
    padding: 1em 0 1em 0.5em;
    font-size: 1.1em;
  }
}
@media only screen and (min-width: 43.8125em) and (max-width: 61.25em) {
  #stories .storCarousel #mark .quote p {
    padding: 1.5em 0.5em 1.5em 1.2em;
  }
}
#stories .storCarousel #mark .quote p span.black {
  color: black;
}
#stories .storCarousel #mark .quote p span {
  color: #c0000f;
}
#stories .storCarousel #mark .watch a {
  text-decoration: none;
  color: #393933;
  font-size: 1.5em;
  background: url('../img/ph-watch.png') 100% 50% no-repeat;
  display: inline-block;
  padding: 3em 2.5em 3em 0;
  margin: 0 0 0 2.5em;
}
@media only screen and (min-width: 20em) and (max-width: 26.25em) {
  #stories .storCarousel #mark .watch a {
    margin: 0 0 0 0.5em;
    font-size: 1em;
    background: none;
    padding: 5.3em 2em 0.3em 0;
    color: #0098db;
    font-family: 'gothamBold';
  }
}
@media only screen and (min-width: 26.3125em) and (max-width: 43.75em) {
  #stories .storCarousel #mark .watch a {
    margin: 0 0 0 0.5em;
    font-size: 1.1em;
    background: url('../img/ph-watch.png') 100% 100% no-repeat;
    background-size: 2em;
    padding: 9em 2.5em 0.5em 0;
  }
}
@media only screen and (min-width: 43.8125em) and (max-width: 61.25em) {
  #stories .storCarousel #mark .watch a {
    margin: 0 0 0 1em;
  }
}
#stories .storCarousel #grace {
  background: url('../img/grace.jpg') -16em 0 no-repeat;
  background-size: cover;
  height: 100%;
}
@media only screen and (min-width: 20em) and (max-width: 26.25em) {
  #stories .storCarousel #grace {
    background: url('../img/grace-ipfive.jpg') 0 0 no-repeat;
    background-size: cover;
  }
}
@media only screen and (min-width: 23.4375em) and (max-width: 25.8125em) {
  #stories .storCarousel #grace {
    background: url('../img/grace-ipfive.jpg') 0 -7em no-repeat;
    background-size: cover;
  }
}
@media only screen and (min-width: 25.8125em) and (max-width: 26.25em) {
  #stories .storCarousel #grace {
    background: url('../img/grace-ipfive.jpg') 0 -12em no-repeat;
    background-size: cover;
  }
}
@media only screen and (min-width: 26.3125em) and (max-width: 43.75em) {
  #stories .storCarousel #grace {
    background: url('../img/grace-ipfive.jpg') 0 -12em no-repeat;
    background-size: cover;
  }
}
@media only screen and (min-width: 43.8125em) and (max-width: 61.25em) {
  #stories .storCarousel #grace {
    background: url('../img/grace.jpg') -30em 0 no-repeat;
    background-size: cover;
  }
}
@media only screen and (min-width: 67.5em) {
  #stories .storCarousel #grace {
    background: url('../img/grace.jpg') 0 0 no-repeat;
    background-size: cover;
  }
}
#stories .storCarousel #grace .summary {
  padding: 9em 0 0;
}
@media only screen and (min-width: 20em) and (max-width: 26.25em) {
  #stories .storCarousel #grace .summary {
    padding: 1em 0 0;
  }
}
@media only screen and (min-width: 26.3125em) and (max-width: 43.75em) {
  #stories .storCarousel #grace .summary {
    padding: 1em 0 0;
  }
}
@media only screen and (min-width: 43.8125em) and (max-width: 61.25em) {
  #stories .storCarousel #grace .summary {
    padding: 3em 0 0;
  }
}
#stories .storCarousel #grace .summary .container {
  width: 95%;
  margin: 0 auto;
}
#stories .storCarousel #grace .summary .container p {
  font-family: 'gothamMedium';
  text-transform: uppercase;
  font-size: 1.5em;
  margin: 0 0 .3em;
}
@media only screen and (min-width: 20em) and (max-width: 26.25em) {
  #stories .storCarousel #grace .summary .container p {
    font-size: 1.2em;
  }
}
@media only screen and (min-width: 26.3125em) and (max-width: 43.75em) {
  #stories .storCarousel #grace .summary .container p {
    font-size: 1.2em;
  }
}
#stories .storCarousel #grace .summary .container span {
  font-family: 'gothamLight';
  font-size: 1.2em;
  line-height: 1.5em;
}
@media only screen and (min-width: 20em) and (max-width: 26.25em) {
  #stories .storCarousel #grace .summary .container span {
    font-size: 1em;
  }
}
@media only screen and (min-width: 26.3125em) and (max-width: 43.75em) {
  #stories .storCarousel #grace .summary .container span {
    font-size: 1em;
  }
}
#stories .storCarousel #grace .quote {
  background-color: rgba(255, 255, 255, 0.5);
  width: 37em;
}
@media only screen and (min-width: 20em) and (max-width: 26.25em) {
  #stories .storCarousel #grace .quote {
    width: 90%;
  }
}
@media only screen and (min-width: 26.3125em) and (max-width: 43.75em) {
  #stories .storCarousel #grace .quote {
    width: 90%;
  }
}
@media only screen and (min-width: 43.8125em) and (max-width: 61.25em) {
  #stories .storCarousel #grace .quote {
    width: 65%;
  }
}
#stories .storCarousel #grace .quote p {
  margin: 2em 0 0;
  padding: 1.5em 0.5em 1.5em 2.5em;
  text-transform: uppercase;
  color: #003c60;
  font-size: 1.5em;
  line-height: 1.5em;
}
@media only screen and (min-width: 20em) and (max-width: 26.25em) {
  #stories .storCarousel #grace .quote p {
    margin: 1.5em 0 0;
    padding: 1em 0 1em 0.5em;
    font-size: 1.1em;
  }
}
@media only screen and (min-width: 26.3125em) and (max-width: 43.75em) {
  #stories .storCarousel #grace .quote p {
    margin: 1.5em 0 0;
    padding: 1em 0 1em 0.5em;
    font-size: 1.1em;
  }
}
@media only screen and (min-width: 43.8125em) and (max-width: 61.25em) {
  #stories .storCarousel #grace .quote p {
    padding: 1.5em 0.5em 1.5em 1.2em;
  }
}
#stories .storCarousel #grace .quote p span.black {
  color: black;
}
#stories .storCarousel #grace .quote p span {
  color: #c0000f;
}
#stories .storCarousel #grace .watch a {
  text-decoration: none;
  color: #393933;
  font-size: 1.5em;
  background: url('../img/ph-watch.png') 100% 50% no-repeat;
  display: inline-block;
  padding: 3em 2.5em 3em 0;
  margin: 0 0 0 2.5em;
}
@media only screen and (min-width: 20em) and (max-width: 26.25em) {
  #stories .storCarousel #grace .watch a {
    margin: 0 0 0 0.5em;
    font-size: 1em;
    background: none;
    padding: 4em 2em 0.3em 0;
    color: #0098db;
    font-family: 'gothamBold';
    width: 10em;
  }
}
@media only screen and (min-width: 26.3125em) and (max-width: 43.75em) {
  #stories .storCarousel #grace .watch a {
    margin: 0 0 0 0.5em;
    font-size: 1.1em;
    background: url('../img/ph-watch.png') 100% 100% no-repeat;
    background-size: 2em;
    padding: 9em 2.5em 0.5em 0;
  }
}
@media only screen and (min-width: 43.8125em) and (max-width: 61.25em) {
  #stories .storCarousel #grace .watch a {
    margin: 0 0 0 1em;
  }
}
#stories .storCarousel #chris {
  background: url('../img/chris.jpg') -16em 0 no-repeat;
  background-size: cover;
  height: 100%;
}
@media only screen and (min-width: 20em) and (max-width: 26.25em) {
  #stories .storCarousel #chris {
    background: url('../img/chris-ipfive.jpg') 0 0 no-repeat;
    background-size: cover;
  }
}
@media only screen and (min-width: 23.4375em) and (max-width: 25.8125em) {
  #stories .storCarousel #chris {
    background: url('../img/chris-ipfive.jpg') 0 -7em no-repeat;
    background-size: cover;
  }
}
@media only screen and (min-width: 25.8125em) and (max-width: 26.25em) {
  #stories .storCarousel #chris {
    background: url('../img/chris-ipfive.jpg') 0 -12em no-repeat;
    background-size: cover;
  }
}
@media only screen and (min-width: 26.3125em) and (max-width: 43.75em) {
  #stories .storCarousel #chris {
    background: url('../img/chris-ipfive.jpg') 0 -12em no-repeat;
    background-size: cover;
  }
}
@media only screen and (min-width: 43.8125em) and (max-width: 61.25em) {
  #stories .storCarousel #chris {
    background: url('../img/chris.jpg') -33em 0 no-repeat;
    background-size: cover;
  }
}
@media only screen and (min-width: 67.5em) {
  #stories .storCarousel #chris {
    background: url('../img/chris.jpg') 0 0 no-repeat;
    background-size: cover;
  }
}
#stories .storCarousel #chris .summary {
  padding: 9em 0 0;
}
@media only screen and (min-width: 20em) and (max-width: 26.25em) {
  #stories .storCarousel #chris .summary {
    padding: 1em 0 0;
  }
}
@media only screen and (min-width: 26.3125em) and (max-width: 43.75em) {
  #stories .storCarousel #chris .summary {
    padding: 1em 0 0;
  }
}
@media only screen and (min-width: 43.8125em) and (max-width: 61.25em) {
  #stories .storCarousel #chris .summary {
    padding: 3em 0 0;
  }
}
#stories .storCarousel #chris .summary .container {
  width: 95%;
  margin: 0 auto;
}
#stories .storCarousel #chris .summary .container p {
  font-family: 'gothamMedium';
  text-transform: uppercase;
  font-size: 1.5em;
  margin: 0 0 .3em;
}
@media only screen and (min-width: 20em) and (max-width: 26.25em) {
  #stories .storCarousel #chris .summary .container p {
    font-size: 1.2em;
  }
}
@media only screen and (min-width: 26.3125em) and (max-width: 43.75em) {
  #stories .storCarousel #chris .summary .container p {
    font-size: 1.2em;
  }
}
#stories .storCarousel #chris .summary .container span {
  font-family: 'gothamLight';
  font-size: 1.2em;
  line-height: 1.5em;
}
@media only screen and (min-width: 20em) and (max-width: 26.25em) {
  #stories .storCarousel #chris .summary .container span {
    font-size: 1em;
  }
}
@media only screen and (min-width: 26.3125em) and (max-width: 43.75em) {
  #stories .storCarousel #chris .summary .container span {
    font-size: 1em;
  }
}
#stories .storCarousel #chris .quote {
  background-color: rgba(255, 255, 255, 0.5);
  width: 37em;
}
@media only screen and (min-width: 20em) and (max-width: 26.25em) {
  #stories .storCarousel #chris .quote {
    width: 90%;
  }
}
@media only screen and (min-width: 43.8125em) and (max-width: 61.25em) {
  #stories .storCarousel #chris .quote {
    width: 65%;
  }
}
#stories .storCarousel #chris .quote p {
  margin: 2em 0 0;
  padding: 1.5em 0.5em 1.5em 2.5em;
  text-transform: uppercase;
  color: #003c60;
  font-size: 1.5em;
  line-height: 1.5em;
}
@media only screen and (min-width: 20em) and (max-width: 26.25em) {
  #stories .storCarousel #chris .quote p {
    margin: 1.5em 0 0;
    padding: 1em 0 1em 0.5em;
    font-size: 1.1em;
  }
}
@media only screen and (min-width: 43.8125em) and (max-width: 61.25em) {
  #stories .storCarousel #chris .quote p {
    padding: 1.5em 0.5em 1.5em 1.2em;
  }
}
#stories .storCarousel #chris .quote p span.black {
  color: black;
}
#stories .storCarousel #chris .quote p span {
  color: #c0000f;
}
#stories .storCarousel #chris .watch a {
  text-decoration: none;
  color: #393933;
  font-size: 1.5em;
  background: url('../img/ph-watch.png') 100% 50% no-repeat;
  display: inline-block;
  padding: 3em 2.5em 3em 0;
  margin: 0 0 0 2.5em;
}
@media only screen and (min-width: 20em) and (max-width: 26.25em) {
  #stories .storCarousel #chris .watch a {
    margin: 0 0 0 0.5em;
    font-size: 1em;
    background: none;
    color: #0098db;
    font-family: 'gothamBold';
    padding: 1.6em 3.7em 0em 0;
    width: 11em;
  }
}
@media only screen and (min-width: 43.8125em) and (max-width: 61.25em) {
  #stories .storCarousel #chris .watch a {
    margin: 0 0 0 1em;
  }
}
#stories .storCarousel #delaine {
  background: url('../img/delaine.jpg') -16em 0 no-repeat;
  background-size: cover;
  height: 100%;
}
@media only screen and (min-width: 20em) and (max-width: 26.25em) {
  #stories .storCarousel #delaine {
    background: url('../img/delaine-ipfive.jpg') 0 0 no-repeat;
    background-size: cover;
  }
}
@media only screen and (min-width: 23.4375em) and (max-width: 25.8125em) {
  #stories .storCarousel #delaine {
    background: url('../img/delaine-ipfive.jpg') 0 -7em no-repeat;
    background-size: cover;
  }
}
@media only screen and (min-width: 25.8125em) and (max-width: 26.25em) {
  #stories .storCarousel #delaine {
    background: url('../img/delaine-ipfive.jpg') 0 -12em no-repeat;
    background-size: cover;
  }
}
@media only screen and (min-width: 26.3125em) and (max-width: 43.75em) {
  #stories .storCarousel #delaine {
    background: url('../img/delaine-ipfive.jpg') 0 -12em no-repeat;
    background-size: cover;
  }
}
@media only screen and (min-width: 43.8125em) and (max-width: 61.25em) {
  #stories .storCarousel #delaine {
    background: url('../img/delaine.jpg') -30em 0 no-repeat;
    background-size: cover;
  }
}
@media only screen and (min-width: 67.5em) {
  #stories .storCarousel #delaine {
    background: url('../img/delaine.jpg') 0 0 no-repeat;
    background-size: cover;
  }
}
#stories .storCarousel #delaine .summary {
  padding: 9em 0 0;
}
@media only screen and (min-width: 20em) and (max-width: 26.25em) {
  #stories .storCarousel #delaine .summary {
    padding: 1em 0 0;
  }
}
#stories .storCarousel #delaine .summary .container {
  width: 95%;
  margin: 0 auto;
}
#stories .storCarousel #delaine .summary .container p {
  font-family: 'gothamMedium';
  text-transform: uppercase;
  font-size: 1.5em;
  margin: 0 0 .3em;
}
@media only screen and (min-width: 20em) and (max-width: 26.25em) {
  #stories .storCarousel #delaine .summary .container p {
    font-size: 1.2em;
  }
}
#stories .storCarousel #delaine .summary .container span {
  font-family: 'gothamLight';
  font-size: 1.2em;
  line-height: 1.5em;
}
@media only screen and (min-width: 20em) and (max-width: 26.25em) {
  #stories .storCarousel #delaine .summary .container span {
    font-size: 1em;
  }
}
#stories .storCarousel #delaine .quote {
  background-color: rgba(255, 255, 255, 0.5);
  width: 37em;
}
@media only screen and (min-width: 20em) and (max-width: 26.25em) {
  #stories .storCarousel #delaine .quote {
    width: 90%;
  }
}
@media only screen and (min-width: 43.8125em) and (max-width: 61.25em) {
  #stories .storCarousel #delaine .quote {
    width: 65%;
  }
}
#stories .storCarousel #delaine .quote p {
  margin: 2em 0 0;
  padding: 1.5em 0.5em 1.5em 2.5em;
  text-transform: uppercase;
  color: #003c60;
  font-size: 1.5em;
  line-height: 1.5em;
}
@media only screen and (min-width: 20em) and (max-width: 26.25em) {
  #stories .storCarousel #delaine .quote p {
    margin: 1.5em 0 0;
    padding: 1em 0 1em 0.5em;
    font-size: 1.1em;
  }
}
@media only screen and (min-width: 43.8125em) and (max-width: 61.25em) {
  #stories .storCarousel #delaine .quote p {
    padding: 1.5em 0.5em 1.5em 1.2em;
  }
}
#stories .storCarousel #delaine .quote p span.black {
  color: black;
}
#stories .storCarousel #delaine .quote p span {
  color: #c0000f;
}
#stories .storCarousel #delaine .watch a {
  text-decoration: none;
  color: #393933;
  font-size: 1.5em;
  background: url('../img/ph-watch.png') 100% 50% no-repeat;
  display: inline-block;
  padding: 3em 2.5em 3em 0;
  margin: 0 0 0 2.5em;
}
@media only screen and (min-width: 20em) and (max-width: 26.25em) {
  #stories .storCarousel #delaine .watch a {
    margin: 0 0 0 0.5em;
    font-size: 1em;
    background: none;
    color: #0098db;
    font-family: 'gothamBold';
    padding: 9em 1em 0.5em 0;
    width: 9em;
  }
}
@media only screen and (min-width: 43.8125em) and (max-width: 61.25em) {
  #stories .storCarousel #delaine .watch a {
    margin: 0 0 0 1em;
  }
}
#stats .title .container p {
  text-align: center;
  font-family: 'gothamBold';
  font-size: 2.2em;
  position: relative;
  margin: 1.5em auto 0;
  color: #393933;
  width: 24em;
}
@media only screen and (min-width: 20em) and (max-width: 26.25em) {
  #stats .title .container p {
    width: 90%;
    font-size: 1.7em;
    margin: 2em auto 0;
  }
}
@media only screen and (min-width: 23.4375em) and (max-width: 25.8125em) {
  #stats .title .container p {
    width: 95%;
    font-size: 1.7em;
  }
}
@media only screen and (min-width: 25.8125em) and (max-width: 26.25em) {
  #stats .title .container p {
    width: 95%;
    font-size: 1.9em;
  }
}
@media only screen and (min-width: 25.8125em) and (max-width: 26.25em) {
  #stats .title .container p {
    width: 95%;
    font-size: 1.9em;
  }
}
@media only screen and (min-width: 43.8125em) and (max-width: 61.25em) {
  #stats .title .container p {
    width: 95%;
  }
}
#stats .title .container p:after {
  border-top: solid 2px #e3e3e1;
  content: '';
  width: 9em;
  height: 1em;
  top: 50%;
  left: 0;
  position: absolute;
}
@media only screen and (min-width: 20em) and (max-width: 26.25em) {
  #stats .title .container p:after {
    width: 25%;
  }
}
@media only screen and (min-width: 43.8125em) and (max-width: 61.25em) {
  #stats .title .container p:after {
    width: 25%;
  }
}
#stats .title .container p:before {
  border-top: solid 2px #e3e3e1;
  content: '';
  width: 9em;
  height: 1em;
  top: 50%;
  right: 0;
  position: absolute;
}
@media only screen and (min-width: 20em) and (max-width: 26.25em) {
  #stats .title .container p:before {
    width: 25%;
  }
}
@media only screen and (min-width: 43.8125em) and (max-width: 61.25em) {
  #stats .title .container p:before {
    width: 25%;
  }
}
#stats .title .container span {
  text-align: center;
  display: block;
  margin: 0.3em 0 0;
  font-size: 1.3em;
}
@media only screen and (min-width: 20em) and (max-width: 26.25em) {
  #stats .title .container span {
    font-size: 1em;
  }
}
#stats #numbers div {
  display: inline-block;
  width: 24%;
  height: 6em;
  vertical-align: middle;
  padding: 5em 0 0;
  margin: 2em 0 0;
}
@media only screen and (min-width: 20em) and (max-width: 26.25em) {
  #stats #numbers div {
    display: block;
    margin: 0 auto;
    width: 90%;
  }
}
#stats #numbers div p {
  font-family: 'gothamBold';
  text-align: center;
  margin: 0;
  font-size: 2em;
}
#stats #numbers div span {
  text-align: center;
  display: block;
  font-size: 1.1em;
}
#stats #numbers .corp {
  background: url('../img/ph-corp.png') 50% 1.5em no-repeat;
  position: relative;
}
@media only screen and (min-width: 20em) and (max-width: 26.25em) {
  #stats #numbers .corp {
    margin: 1.5em auto 0;
  }
}
#stats #numbers .corp:after {
  content: '';
  position: absolute;
  border-right: solid 2px #e3e3e1;
  right: 0;
  top: 3.5em;
  height: 5em;
}
@media only screen and (min-width: 20em) and (max-width: 26.25em) {
  #stats #numbers .corp:after {
    border-right: none;
  }
}
#stats #numbers .profit {
  background: url('../img/ph-profit.png') 50% 1.5em no-repeat;
  position: relative;
}
#stats #numbers .profit:after {
  content: '';
  position: absolute;
  border-right: solid 2px #e3e3e1;
  right: 0;
  top: 3.5em;
  height: 5em;
}
@media only screen and (min-width: 20em) and (max-width: 26.25em) {
  #stats #numbers .profit:after {
    border-right: none;
  }
}
#stats #numbers .edu {
  background: url('../img/ph-edu.png') 50% 1.5em no-repeat;
  position: relative;
}
#stats #numbers .edu:after {
  content: '';
  position: absolute;
  border-right: solid 2px #e3e3e1;
  right: 0;
  top: 3.5em;
  height: 5em;
}
@media only screen and (min-width: 20em) and (max-width: 26.25em) {
  #stats #numbers .edu:after {
    border-right: none;
  }
}
#stats #numbers .world {
  background: url('../img/ph-world.png') 50% 1.5em no-repeat;
}
#video {
  margin: 2em 0 0;
}
#video .clip {
  display: inline-block;
  width: 50%;
  height: 14em;
}
@media only screen and (min-width: 20em) and (max-width: 26.25em) {
  #video .clip {
    display: block;
    width: 100%;
  }
}
@media only screen and (min-width: 67.5em) {
  #video .clip {
    width: 25%;
    height: 14em;
  }
}
#video .clip a {
  text-indent: -9999px;
  display: block;
  width: 100%;
  height: 100%;
  background: url('../img/ph-play.png') 50% 50% no-repeat;
}
#video #vid1 {
  background: url('../img/vid1.jpg') 0 0 no-repeat;
  background-size: cover;
}
@media only screen and (min-width: 20em) and (max-width: 26.25em) {
  #video #vid1 {
    background: url('../img/vid1.jpg') -4em 0 no-repeat;
    background-size: cover;
  }
}
@media only screen and (min-width: 23.4375em) and (max-width: 26.25em) {
  #video #vid1 {
    background: url('../img/vid1.jpg') 0 0 no-repeat;
    background-size: cover;
  }
}
#video #vid2 {
  background: url('../img/vid2.jpg') 0 0 no-repeat;
  background-size: cover;
}
@media only screen and (min-width: 20em) and (max-width: 26.25em) {
  #video #vid2 {
    background: url('../img/vid2.jpg') -4em 0 no-repeat;
    background-size: cover;
  }
}
@media only screen and (min-width: 23.4375em) and (max-width: 26.25em) {
  #video #vid2 {
    background: url('../img/vid2.jpg') 0 0 no-repeat;
    background-size: cover;
  }
}
#video #vid3 {
  background: url('../img/vid3.jpg') 0 0 no-repeat;
  background-size: cover;
}
@media only screen and (min-width: 20em) and (max-width: 26.25em) {
  #video #vid3 {
    background: url('../img/vid3.jpg') -4em 0 no-repeat;
    background-size: cover;
  }
}
@media only screen and (min-width: 23.4375em) and (max-width: 26.25em) {
  #video #vid3 {
    background: url('../img/vid3.jpg') 0 0 no-repeat;
    background-size: cover;
  }
}
#video #vid4 {
  background: url('../img/vid4.jpg') 0 0 no-repeat;
  background-size: cover;
}
@media only screen and (min-width: 20em) and (max-width: 26.25em) {
  #video #vid4 {
    background: url('../img/vid4.jpg') -4em 0 no-repeat;
    background-size: cover;
  }
}
@media only screen and (min-width: 23.4375em) and (max-width: 26.25em) {
  #video #vid4 {
    background: url('../img/vid4.jpg') 0 0 no-repeat;
    background-size: cover;
  }
}
#reviews {
  padding: 3em 0 4em;
  background: #f1f1f1;
}
#reviews .container {
  width: 90%;
  margin: 0 auto;
}
#reviews .container .head p {
  margin: 0;
  text-align: center;
}
#reviews .container .head p:nth-of-type(1) {
  font-family: 'gothamLight';
  font-size: 2em;
}
@media only screen and (min-width: 20em) and (max-width: 26.25em) {
  #reviews .container .head p:nth-of-type(1) {
    font-size: 1.4em;
  }
}
#reviews .container .head p:nth-of-type(2) {
  font-family: 'gothamMedium';
  font-size: 1.4em;
  margin: 2.5em 0 2em;
}
@media only screen and (min-width: 20em) and (max-width: 26.25em) {
  #reviews .container .head p:nth-of-type(2) {
    margin: 1em 0;
    font-size: .8em;
  }
}
#reviews .container #carousel {
  text-align: center;
}
#reviews .container #carousel .content {
  width: 38em;
  margin: 0 auto;
  position: relative;
}
#reviews .container #carousel .content .owl-controls {
  position: absolute;
  top: 0;
  width: 100%;
}
#reviews .container #carousel .content .owl-controls div {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
#reviews .container #carousel .content .owl-controls .owl-buttons div {
  top: 11em;
}
@media only screen and (min-width: 20em) and (max-width: 26.25em) {
  #reviews .container #carousel .content .owl-controls .owl-buttons div {
    display: none;
  }
}
@media only screen and (min-width: 23.4375em) and (max-width: 26.25em) {
  #reviews .container #carousel .content .owl-controls .owl-buttons div {
    display: none;
  }
}
#reviews .container #carousel .content .owl-controls .owl-prev {
  left: -6em;
  position: absolute;
  background: url('../img/ph-prev.png') 0 0 no-repeat;
  text-indent: -9999px;
  background-size: contain;
  height: 3em;
  width: 3em;
  padding: 0;
  margin: 0;
}
#reviews .container #carousel .content .owl-controls .owl-next {
  right: -6em;
  position: absolute;
  background: none;
  background: url('../img/ph-next.png') 0 0 no-repeat;
  text-indent: -9999px;
  background-size: contain;
  height: 3em;
  width: 3em;
  padding: 0;
  margin: 0;
}
@media only screen and (min-width: 20em) and (max-width: 26.25em) {
  #reviews .container #carousel .content {
    padding: 0;
    width: 100%;
  }
}
@media only screen and (min-width: 67.5em) {
  #reviews .container #carousel .content {
    width: 50em;
  }
}
#reviews .container #carousel .content #bruno {
  background: url('../img/rev-bruno.png') 50% 0 no-repeat;
  background-size: 6em;
  padding: 7.5em 0 0;
}
@media only screen and (min-width: 20em) and (max-width: 26.25em) {
  #reviews .container #carousel .content #bruno {
    font-size: .9em;
  }
}
#reviews .container #carousel .content #bruno p {
  margin: 0;
  font-style: italic;
  line-height: 1.5em;
}
#reviews .container #carousel .content #bruno p:nth-of-type(2) {
  padding: 1em 0 0;
}
#reviews .container #carousel .content #bruno .stars {
  padding: 3em 0;
}
#reviews .container #carousel .content #bruno .stars span {
  display: inline-block;
  background: url('../img/ratings.png') 0 50% no-repeat;
  padding: 0 0 0 7em;
}
#reviews .container #carousel .content #liran {
  background: url('../img/rev-liran.png') 50% 0 no-repeat;
  background-size: 6em;
  padding: 7.5em 0 0;
}
@media only screen and (min-width: 20em) and (max-width: 26.25em) {
  #reviews .container #carousel .content #liran {
    font-size: .9em;
  }
}
#reviews .container #carousel .content #liran p {
  margin: 0;
  font-style: italic;
  line-height: 1.5em;
}
#reviews .container #carousel .content #liran p:nth-of-type(2) {
  padding: 1em 0 0;
}
#reviews .container #carousel .content #liran .stars {
  padding: 3em 0;
}
#reviews .container #carousel .content #liran .stars span {
  display: inline-block;
  background: url('../img/ratings.png') 0 50% no-repeat;
  padding: 0 0 0 7em;
}
#reviews .container #carousel .content #susan {
  background: url('../img/rev-susan.png') 50% 0 no-repeat;
  background-size: 6em;
  padding: 7.5em 0 0;
}
@media only screen and (min-width: 20em) and (max-width: 26.25em) {
  #reviews .container #carousel .content #susan {
    font-size: .9em;
  }
}
#reviews .container #carousel .content #susan p {
  margin: 0;
  font-style: italic;
  line-height: 1.5em;
}
#reviews .container #carousel .content #susan p:nth-of-type(2) {
  padding: 1em 0 0;
}
#reviews .container #carousel .content #susan .stars {
  padding: 3em 0;
}
#reviews .container #carousel .content #susan .stars span {
  display: inline-block;
  background: url('../img/ratings.png') 0 50% no-repeat;
  padding: 0 0 0 7em;
}
#reviews .container #carousel .content #betty {
  background: url('../img/rev-betty.png') 50% 0 no-repeat;
  background-size: 6em;
  padding: 7.5em 0 0;
}
@media only screen and (min-width: 20em) and (max-width: 26.25em) {
  #reviews .container #carousel .content #betty {
    font-size: .9em;
  }
}
#reviews .container #carousel .content #betty p {
  margin: 0;
  font-style: italic;
  line-height: 1.5em;
}
#reviews .container #carousel .content #betty p:nth-of-type(2) {
  padding: 1em 0 0;
}
#reviews .container #carousel .content #betty .stars {
  padding: 3em 0;
}
#reviews .container #carousel .content #betty .stars span {
  display: inline-block;
  background: url('../img/ratings.png') 0 50% no-repeat;
  padding: 0 0 0 7em;
}
#reviews .container a {
  display: block;
  background: #0098db;
  border: none;
  outline: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  color: white;
  margin: 2em auto 0;
  width: 15.5em;
  padding: 1em 0;
  font-size: 1.2em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  text-decoration: none;
  text-align: center;
}
@media only screen and (min-width: 20em) and (max-width: 26.25em) {
  #reviews .container a {
    width: 100%;
  }
}
#reviews .container a span:nth-of-type(1) {
  font-family: 'gothamMedium';
  text-transform: uppercase;
}
#reviews .container a span:nth-of-type(2) {
  font-family: 'gothamLight';
  text-transform: uppercase;
}
#reviews .container a span:nth-of-type(3) {
  font-family: 'gothamMedium';
}
#footer {
  background: black;
}
#footer ul {
  margin: 0;
  padding: 2em 0 2em;
  text-align: center;
  border-bottom: solid 1px #555555;
}
#footer ul li {
  display: inline-block;
}
#footer ul li a {
  text-decoration: none;
  color: white;
  display: inline-block;
  width: 2em;
  height: 2em;
  text-indent: -9999px;
  padding: 0 1em 0 0;
}
#footer ul li:nth-of-type(1) a {
  background: url('../img/sm-icons-fb.png') 0 0 no-repeat;
  background-size: contain;
}
#footer ul li:nth-of-type(2) a {
  background: url('../img/sm-icons-twitter.png') 0 0 no-repeat;
  background-size: contain;
}
#footer ul li:nth-of-type(3) a {
  background: url('../img/sm-icons-yt.png') 0 0 no-repeat;
  background-size: contain;
}
#footer ul li:nth-of-type(4) a {
  background: url('../img/sm-icons-gplus.png') 0 0 no-repeat;
  background-size: contain;
}
#footer ul li:nth-of-type(5) a {
  background: url('../img/sm-icons-blog.png') 0 0 no-repeat;
  background-size: contain;
  padding: 0;
}
#footer .legal {
  padding: 2em 0;
}
#footer .legal .container {
  width: 90%;
  margin: 0 auto;
}
#footer .legal .container p {
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  font-size: .8em;
}
#footer .legal .container p a {
  color: white;
}
.featherlight-content .featherlight-close-icon.featherlight-close {
  background: #ffffff;
}
