#masthead {
	height: 141px;
	background-image: url('../../globals/img/mastheads/mobile/<%= mastheadimage %>');
	background-size: 100% 100%;
	background-repeat: no-repeat;

	font-family: helvetica;
	position: relative;
	display: table;
  width: 100%;
}
#masthead > #offerbox {

	box-sizing: border-box;
	/* text-align: right; */
	color: #222;
	font-size: 90%;
	margin-top: 68px;
	margin-right: -15%;
	position: relative;
	width: 183px;
	float: right;

}

#masthead > #offerbox > #offertext {
	font-size: 67%;
	position: relative;
	/* bottom: -13px; */
	bottom: -2px;
}

#masthead #pricing {
	display: table;
}
#masthead > #offerbox #regular-price {
	font-size: 110%;

	display: inline-block;
}

#masthead > #offerbox #regular-price sup {
	font-weight: lighter;
	font-size: 50%;
	position: relative;
	right: -2px
}

#masthead > #offerbox #sale-price {
	font-weight: bold;
	font-size: 170%;
	color: #A00203;
	display: inline-block;
	font-family: gothamlight;
	margin-top: 5px;
}

#masthead > #offerbox #sale-price sup {
	font-size: 50%;
	font-weight: lighter;
	font-family: gothambook;
	font-weight: lighter;
	top: -15px;
}
/* DELETE #masthead > #offerbox #regular-price > strike > span {
	color: #fff;
}*/

#masthead > #offerbox #regular-price > span {
	display: inline-block;
	position: relative;
}

#masthead > #offerbox #regular-price .strikethrough {
	position: absolute;
	top: 49%;
	height: 2px;
	background: red;
	width: 100%;
}

#masthead > #offerbox #regular-price > span:first-of-type {
	font-size: 40%;
	position: relative;
	top: -5px;
	right: -2px;
}




/* iphone 6+Portrait */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: portrait) {
	#masthead > #offerbox{
		margin-right: -12px;
		font-size: 110%;
	}
}

/* iphone 6+ Landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: landscape) {
	#masthead > #offerbox{
		margin-right: 65px;
		font-size: 110%;
	}
}

/* iphone 6 Portrait */
@media only screen  and (min-device-width: 375px)  and (max-device-width: 667px)  and (orientation: portrait) {
	#masthead > #offerbox {
		margin-right: -27px;
		font-size: 100%;
	}
}

/* iphone 6 Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) {
	#masthead > #offerbox {
		margin-right: 50px;
		font-size: 110%;
	}
}

/* iphone 5 landscape*/
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : landscape) {
	#masthead > #offerbox {
		margin-right: 25px;
		font-size: 110%;
	}

}


#violator {
	background: #A83837;
	text-align: center;
	font-weight: bold;
	font-size: 90%;
	padding: 10px 0;
	color: #eee;
}


#violator > div {
	display:inline-block;
	vertical-align:middle;
	font-family: gothamLight;
	font-weight:lighter;
}
#violator > div > img {
	  margin-right: 5px;
  width: 20px;
}
#violator > div > span {
	color: #f7cc00;
	font-weight: bold;
}

.bottom-html {
	padding-top: 5px;
}