<div id="violator" style="display:none"></div>
<div class="masthead" id="masthead">
	<!-- <img src="" id="violator" style="display:none" /> -->
	<div id="everystory" style=""></div>

	<div id="offerbox">

		<div id="offertext">
			<%= tophtml %>
		</div>

		<div id="sale-price">
			<sup>$</sup><%= strikethrough[1] %>
		</div>

		<div id="regular-price">
			<span>REG</span>
			<sup>$</sup>
			<span>
				<span class="strikethrough"></span>
				<%= strikethrough[0] %>
			</span>
		</div>

		<div class="bottom-html">
			<%= bottomhtml %>
		</div>

	</div><!-- /offerbox -->
</div> <!-- /masthead -->
