

/*********************************
UTILITIES
**********************************/

.zerofont{
	font-size: 0px;
}


.hide_for_test{
	display: none;
}

.show_for_test{
	display: block;
}








/*********************************
STRUCTURE
**********************************/

.oct_2016_container{
	font-family: gothambook, sans-serif;
	background-color: #F7F6F0;
	color: #333;
	padding: 40px 10px;
	text-align: center;
	font-size: 20px;
}

.oct_2016_col{
	box-sizing: border-box;
	vertical-align: top;
	font-size: 18px;
	display: inline-block;
	width: 50%;
	max-width: 540px;
	text-align: left;
	padding: 20px;

	/*border: 1px dotted red;*/
}

.oct_2016_section_header{
	font-size: 24px;
	max-width: 650px;
	margin: 0px auto 20px;

	/*border: 1px dotted orange;*/
}


.oct_2016_subscription_image{
	background-image: url('http://www.rosettastone.com/lp/spo/oct2016/assets/oct_2016_devices.png');
	background-repeat: no-repeat;
	background-position: center 18px;
	background-size: 95%;
	padding-bottom: 340px;
}

.oct_2016_cddl_image{
	background-image: url('http://www.rosettastone.com/lp/spo/oct2016/assets/oct_2016_cddl.png');
	background-repeat: no-repeat;
	background-position: center 18px;
	background-size: 95%;
	padding-bottom: 340px;
}






/*********************************
REVIEW STARS
**********************************/

.oct_2016_review_star_container{
	margin: 10px 0px 30px;
}
.hollow_stars{
	position: relative;
	display: inline-block;
	vertical-align: middle;
	font-size: 16px;
}
.filled_stars{
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: hidden;
	white-space: nowrap;
	width: 91.5%;
}

.oct_2016_review_star_text{
	font-size: 14px;
	display: inline-block;
	vertical-align: bottom;
}






/*********************************
BLUE THEME
**********************************/

.oct_2016_blue_bg{
	background-color: #0098db;
	background-image: linear-gradient(#0098db,#0088cb);
	color: #fff;
	box-shadow: 0px 0px 55px 0px rgba(33,33,33,0.5) inset;
}

.oct_2016_blue_bg .oct_2016_language_header{
	color: #EFDC00;
}

.oct_2016_blue_bg .oct_2016_product_intro{
	font-family: gothamlight;
}

.oct_2016_blue_bg .oct_2016_ul li{
	font-family: gothambook;
}

.oct_2016_blue_bg .oct_2016_ul li:before{
	border-color: #EFDC00;
}

.oct_2016_blue_bg .oct_2016_guarantee_line1{
	color: #EFDC00;
}








/*********************************
GOLD THEME
**********************************/

.oct_2016_gold_bg{
	background-color: #EFDC00;
	background-image: linear-gradient(#EFDC00,#DFCC00);
	color: #333;
	box-shadow: 0px 0px 55px 0px rgba(33,33,33,0.5) inset;
}

.oct_2016_gold_bg .oct_2016_language_header{
	color: #27a;
}

.oct_2016_gold_bg .oct_2016_ul li:before{
	border-color: #27a;
}

.oct_2016_gold_bg .oct_2016_product_square{
	background-color: #0098db;
	background-image: radial-gradient(#0088cb 83%,#0098db);
}





/*********************************
PRODUCT INFO
**********************************/

.oct_2016_language_header{
	font-size: 34px;
}
.oct_2016_language_subhead{
	font-family: gothamlight;
	font-size: 30px;
	text-transform: uppercase;
}
.oct_2016_language_subhead span{
	text-transform: none;
}

.oct_2016_product_info{
	background-image: url('http://www.rosettastone.com/lp/spo/oct2016/assets/oct_2016_devices.png');
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: 90%;
	padding-bottom: 300px;

	/*border: 1px dotted blue;*/

	text-align: left;
}

.oct_2016_product_info_square{
	text-align: left;
}

.oct_2016_product_intro{
	line-height: 1.3;
}

.oct_2016_ul{
	margin: 25px 0px 0px;
	padding: 0px 0px 0px 60px;
	list-style-type: none;
}

.oct_2016_ul li{
	position: relative;
	margin-bottom: 20px;
	font-size: 15px;
	font-family: gothambold;
}
.oct_2016_ul li:before{
	content: '';
	position: absolute;
	left: -30px;
	top: 0px;
	display: inline-block;
	border: 2px solid #0098db;
	border-top: none;
	border-right: none;
	height: 10px;
	width: 20px;

	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}





.rs_classic{
	background-color: #392E0B;
	color: #fff;
	font-size: 20px;
	padding: 20px;
	font-family: gothamlight;
	text-align: center;
	text-transform: uppercase;
	position: relative;
}
.rs_classic span{
	font-family: gothambold;
}
.rs_classic:after{
	content: '';
	border-top: 20px solid #392E0B;
	border-left: 26px solid transparent;
	border-right: 26px solid transparent;
	position: absolute;
	bottom: -20px;
	left: calc(50% - 26px);
}
@media(min-width:600px){
	.rs_classic{
		font-size: 24px;
	}
}









/*********************************
PRODUCT OPTIONS - THIN
**********************************/
.oct_2016_product_thin{
	border: 1px solid #EBEAE6;
	border-radius: 3px;
	background-color: #D6BD31;
	background-image: radial-gradient(#ca2 83%,#db3);
	margin-bottom: 18px;
}
.oct_2016_product_thin:last-of-type{
	margin-bottom: 0px;
}

.oct_2016_product_thin_content{
	display: block;
	background-color: #fff;
	border-top-left-radius: 80px 20px;
	padding: 18px;
}

.oct_2016_product_thin_header{
	text-transform: uppercase;
	font-family: gothambold;
	font-size: 14px;
}

.oct_2016_cd_link.oct_2016_product_thin{
	background-color: #ccc;
	background-image: radial-gradient(#bbb 83%,#ccc);
}

.oct_2016_cd_link.oct_2016_product_thin_content{
	padding: 0px;
}

a.oct_2016_cd_link{
	display: block;
	padding: 18px;
	font-size: 12px;
	text-decoration: none;
	color: #0098db;
	font-family: gothambold;

	background-image: url('http://www.rosettastone.com/lp/spo/oct2016/assets/cd_icon.png');
	background-repeat: no-repeat;
	background-position: 18px center;
	background-size: 24px;
	padding-left: calc(18px + 24px + 9px);
}









/*********************************
PRICES - THIN
**********************************/

.oct_2016_price_container{
	display: inline-block;
	vertical-align: middle;
	width: 31.5%;
	min-width: 168px;
}

.oct_2016_big_price{
	font-size: 43px;
	vertical-align: baseline;
	color: #0078bb;
	font-family: gothambold;
}
.oct_2016_big_price:before{
	content: '$';
	font-size: 50%;
	vertical-align: top;
	position: relative;
	top: 5px;
}
.oct_2016_big_price:after{
	content: ' / Month';
	font-size: 14px;
	vertical-align: baseline;
	position: relative;
	top: -2px;
	font-family: gothambook;
	color: #333;
}





/*********************************
GIFTING - THIN
**********************************/
.oct_2016_gifting_thin,
.oct_2016_gifting_thin *{
	vertical-align: middle;
}
.oct_2016_gifting_thin{
	font-size: 12px;
	margin-right: 18px;
	display: inline-block;

	background-image: url('http://www.rosettastone.com/lp/spo/oct2016/assets/gift.svg');
	background-repeat: no-repeat;
	background-position: left 50%;
	background-size: 12px;
	padding-left: 16px;
}



/*********************************
CART - THIN
**********************************/
.oct_2016_addtocart{
	vertical-align: middle;
	background: #0098db;
	color: #fff;
	border-radius: 3px;
	padding: 16px;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 16px;
	font-family: gothambold;
	display: inline-block;
}
.oct_2016_addtocart:hover{
	background: #1ae;
	color: #fff;
	text-decoration: none;
}






/*********************************
MULTIPAY - THIN
**********************************/

.oct_2016_product_thin_multipay{
	font-size: 13px;
}
.oct_2016_multipay_strikeprice{
	color: #d00;
	position: relative;
}
.oct_2016_multipay_strikeprice:after{
	content: '';
	position: absolute;
	width: 110%;
	left: -5%;
	top: 50%;
	border-top: 1px solid #d00;
}





















/*********************************
PRODUCT OPTIONS - SQUARE
**********************************/
.oct_2016_product_square{
	border: 1px solid #EBEAE6;
	border-radius: 3px;
	background-color: #D6BD31;
	background-image: radial-gradient(#ca2 83%,#db3);
	margin: 9px;
	display: inline-block;
	color: #333;
	width: 245px;
	vertical-align: baseline;
}
.oct_2016_product_square:last-of-type{
	margin-bottom: 0px;
}

.oct_2016_product_square_content{
	display: block;
	background-color: #fff;
	border-top-left-radius: 110px 30px;
	padding: 24px;
}

.oct_2016_product_square_header{
	text-transform: uppercase;
	font-family: gothambold;
	font-size: 14px;
	border-bottom: 1px solid #ddd;
	padding-bottom: 10px;
}

.oct_2016_product_square_subhead{
	text-transform: uppercase;
	font-family: gothamlight;
	font-size: 14px;
}






/*********************************
PRICES - SQUARE
**********************************/

.oct_2016_price_container_square{
	vertical-align: middle;
	margin: 12px 0px 2px;
}

.oct_2016_price_container_square_cddl{
	/*margin-bottom: 0px;*/
}

.oct_2016_big_price_square{
	font-size: 43px;
	vertical-align: baseline;
	color: #0078bb;
	font-family: gothambold;
}
.oct_2016_big_price_square:before{
	content: '$';
	font-size: 50%;
	vertical-align: top;
	position: relative;
	top: 5px;
}
.oct_2016_big_price_square:after{
	content: ' / Month';
	font-size: 14px;
	vertical-align: baseline;
	position: relative;
	top: -2px;
	font-family: gothambook;
	color: #333;
}
.oct_2016_big_price_square.no_month:after{
	display: none;
}








/*********************************
GIFTING - SQUARE
**********************************/
.oct_2016_gifting_square,
.oct_2016_gifting_square *{
	vertical-align: middle;
}
.oct_2016_gifting_square{
	font-size: 12px;
	margin-right: 18px;
	display: inline-block;

	background-image: url('http://www.rosettastone.com/lp/spo/oct2016/assets/gift.svg');
	background-repeat: no-repeat;
	background-position: left 50%;
	background-size: 12px;
	padding-left: 16px;

	margin-top: 10px;
	margin-bottom: 12px;
}









/*********************************
CART - SQUARE
**********************************/
.oct_2016_addtocart_square{
	vertical-align: middle;
	background: #0098db;
	color: #fff;
	border-radius: 3px;
	padding: 16px;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 14px;
	font-family: gothambold;
	display: block;
}
.oct_2016_addtocart_square:hover{
	background: #1ae;
	color: #fff;
	text-decoration: none;
}




/*********************************
MULTIPAY and MSRP - SQUARE
**********************************/

.oct_2016_product_square_multipay{
	font-size: 12px;
	margin: 0px -20px;
}
.oct_2016_multipay_strikeprice_square{
	color: #d00;
	position: relative;
}
.oct_2016_multipay_strikeprice_square:after{
	content: '';
	position: absolute;
	width: 110%;
	left: -5%;
	top: 50%;
	border-top: 1px solid #d00;
}

.oct_2016_msrp_square{
	font-size: 13px;
	margin-bottom: 18px;
}








/*********************************
BEST VALUE
**********************************/

.oct_2016_best_value{
	font-size: 14px;
	text-transform: uppercase;
	font-family: gothambold;
	background: #003C61;
	color: #fff;
	padding: 4px 22px;
	display: inline-block;
	margin-bottom: 5px;
	position: relative;
	line-height: 17px;
}

.oct_2016_best_value:before,
.oct_2016_best_value:after{
	content: '';
	position: absolute;
	left: 0px;
	top: 0px;
	width: 0px;
	height: 0px;
	border: 12px solid transparent;
	border-right: 0px;
	border-left: 7px solid #fff;
}

.oct_2016_best_value:after{
	left: auto;
	right: 0px;
	border-left: 0px;
	border-right: 7px solid #fff;
}









/*********************************
GUARANTEE
**********************************/
.oct_2016_guarantee_vertical{
	background-image: url('http://www.rosettastone.com/lp/spo/oct2016/assets/guarantee.png');
	background-repeat: no-repeat;
	background-position: center top;
	padding-top: 90px;
	margin-top: 20px;
}
.oct_2016_guarantee_line1{
	font-size: 18px;
	text-transform: uppercase;
	color: #0088cb;
	font-family: gothambold;
}
.oct_2016_guarantee_line2{
	font-size: 16px;
}











/*********************************
CD / DOWNLOAD BUTTONS
**********************************/

.oct_2016_cd_download_container{
	margin-bottom: 30px;
}

.oct_2016_cd_download_buttons{
	display: inline-block;
	border: 3px solid #333;
	border-radius: 3px;
}

.oct_2016_cd_download_container label{
	font-size: 16px;
	display: inline-block;
	padding: 16px 40px;
	text-transform: uppercase;
	cursor: pointer;
	font-family: gothambold;
}

.oct_2016_cd_download{
	display: none;
}

.oct_2016_cd_download:checked + label{
	background: #333;
	color: #fff;
}







/* To support hiding and displaying between 1m and 3m.*/
.js_hide_product{
  display: none;
}

.nov_2016_product_radios label.js_hide_product{
  display: none;
}