@font-face {
  font-family: 'gothamBook';
  src: url('fonts/gothamhtf-book-webfont.eot');
  src: url('fonts/gothamhtf-book-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/gothamhtf-book-webfont.woff') format('woff'), url('fonts/gothamhtf-book-webfont.ttf') format('truetype'), url('fonts/gothamhtf-book-webfont.svg#gothamBook') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'gothamLight';
  src: url('fonts/gothamhtf-light-webfont.eot');
  src: url('fonts/gothamhtf-light-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/gothamhtf-light-webfont.woff') format('woff'), url('fonts/gothamhtf-light-webfont.ttf') format('truetype'), url('fonts/gothamhtf-light-webfont.svg#gothamLight') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'gothamThin';
  src: url('fonts/gothamhtf-thin-webfont.eot');
  src: url('fonts/gothamhtf-thin-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/gothamhtf-thin-webfont.woff') format('woff'), url('fonts/gothamhtf-thin-webfont.ttf') format('truetype'), url('fonts/gothamhtf-thin-webfont.svg#gothamThin') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GothamMedium';
  src: url('fonts/gothamhtf-medium-webfont.eot');
  src: url('fonts/gothamhtf-medium-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/gothamhtf-medium-webfont.woff') format('woff'), url('fonts/gothamhtf-medium-webfont.ttf') format('truetype'), url('fonts/gothamhtf-medium-webfont.svg#GothamMedium') format('svg');
  font-weight: normal;
  font-style: normal;
}
