.masthead{
	background-color: #333;
	background-image: url('http://www.rosettastone.com/lp/globals/img/mastheads/mobile/<%= mastheadimage %>');

	background-size: cover;
	position: relative;

	padding-top: 43%;
}

#offerbox{
	position: absolute;
	left: 3%;
	bottom: 3%;
	color: #fff;
	text-shadow: 0px 1px 7px #000;
	line-height: 1;

	display: none;
}


#offerbox sup{
	font-size: 0.55em;
	vertical-align: top;
	position: relative;
	top: 3px;
	font-family: gothambook;
}

#sale-price{
	font-size: 40px;
	font-family: gothambold;
	display: inline-block;
	vertical-align: middle;
	padding-right: 0.1em;
}

#regular-price{
	display: inline-block;
	vertical-align: middle;
}

#regular-price > span:first-of-type{
	font-size: 10px;
	vertical-align: middle;
	display: block;
}

#regular-price{
	position: relative;
	display: inline-block;
	vertical-align: middle;
	font-size: 22px;
}

#regular-price > span:last-of-type{
	vertical-align: middle;
	position: relative;
	margin-left: -.2em;
}

#regular-price > span:last-of-type:after{
	content: '';
	position: absolute;
	width: 110%;
	height: 2px;
	background: #e12;
	left: -5%;
	top: 50%;
}

#offertext{
	text-transform: uppercase;
	font-size: 12px;
}

@media (min-width:400px) {
	#sale-price{ font-size: 50px; }
}

@media (min-width:600px) {
	.masthead{
		background-image: url('http://www.rosettastone.com/lp/globals/img/mastheads/sbsr/<%= mastheadimage %>');
		padding-top: 26%;
	}

	#sale-price{ font-size: 60px; }
	#regular-price > span:first-of-type{ font-size: 12px; display: inline-block; }
	#regular-price{ font-size: 28px; }
	#offertext{ font-size: 17px; }
}

@media (min-width:900px) {

	#sale-price{ font-size: 95px; }
	#regular-price > span:first-of-type{ font-size: 16px; }
	#regular-price{ font-size: 40px; }
	#offertext{ font-size: 20px; }
}

