
@font-face {
font-family: 'gothamBold';
src: url('../../globals/fonts/gothamhtf-bold-webfont.eot');
src: url('../../globals/fonts/gothamhtf-bold-webfont.eot?#iefix') format('embedded-opentype'),
url('../../globals/fonts/gothamhtf-bold-webfont.woff') format('woff'),
url('../../globals/fonts/gothamhtf-bold-webfont.ttf') format('truetype'),
url('../../globals/fonts/gothamhtf-bold-webfont.svg#gothamBold') format('svg');
font-weight: normal;
font-style: normal;

}


@font-face {
font-family: 'gothamBook';
src: url('../../globals/fonts/gothamhtf-book-webfont.eot');
src: url('../../globals/fonts/gothamhtf-book-webfont.eot?#iefix') format('embedded-opentype'),
url('../../globals/fonts/gothamhtf-book-webfont.woff') format('woff'),
url('../../globals/fonts/gothamhtf-book-webfont.ttf') format('truetype'),
url('../../globals/fonts/gothamhtf-book-webfont.svg#gothamBook') format('svg');
font-weight: normal;
font-style: normal;

}



@font-face {
font-family: 'gothamLight';
src: url('../../globals/fonts/gothamhtf-light-webfont.eot');
src: url('../../globals/fonts/gothamhtf-light-webfont.eot?#iefix') format('embedded-opentype'),
url('../../globals/fonts/gothamhtf-light-webfont.woff') format('woff'),
url('../../globals/fonts/gothamhtf-light-webfont.ttf') format('truetype'),
url('../../globals/fonts/gothamhtf-light-webfont.svg#gothamLight') format('svg');
font-weight: normal;
font-style: normal;

}



@font-face {
font-family: 'gothamMedium';
src: url('../../globals/fonts/gothamhtf-medium-webfont.eot');
src: url('../../globals/fonts/gothamhtf-medium-webfont.eot?#iefix') format('embedded-opentype'),
url('../../globals/fonts/gothamhtf-medium-webfont.woff') format('woff'),
url('../../globals/fonts/gothamhtf-medium-webfont.ttf') format('truetype'),
url('../../globals/fonts/gothamhtf-medium-webfont.svg#gothamMedium') format('svg');
font-weight: normal;
font-style: normal;

}


@font-face {
font-family: 'gothamThin';
src: url('../../globals/fonts/gothamhtf-thin-webfont.eot');
src: url('../../globals/fonts/gothamhtf-thin-webfont.eot?#iefix') format('embedded-opentype'),
url('../../globals/fonts/gothamhtf-thin-webfont.woff') format('woff'),
url('../../globals/fonts/gothamhtf-thin-webfont.ttf') format('truetype'),
url('../../globals/fonts/gothamhtf-thin-webfont.svg#gothamThin') format('svg');
font-weight: normal;
font-style: normal;

}


@font-face {
	font-family: "Effra";
	src: url("../../globals/fonts/effra_std_rg-webfont.eot");
	src: url("../../globals/fonts/effra_std_rg-webfont.eot?#iefix") format("embedded-opentype"),
		 url("../../globals/fonts/effra_std_rg-webfont.woff") format("woff"),
		 url("../../globals/fonts/effra_std_rg-webfont.ttf") format("truetype"),
		 url("../../globals/fonts/effra_std_rg-webfont.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
	@font-face {
		font-family: 'effra';
		url("../../globals/fonts/effra_std_rg-webfont.svg") format('svg');

	}
}

@font-face {
	font-family: "EffraMediumRegular";
	src: url("../../globals/fonts/effra_std_md-webfont.eot");
	src: url("../../globals/fonts/effra_std_md-webfont.eot?#iefix") format("embedded-opentype"),
		 url("../../globals/fonts/effra_std_md-webfont.woff") format("woff"),
		 url("../../globals/fonts/fonts/effra_std_md-webfont.ttf") format("truetype"),
		 url("../../globals/fonts/fonts/effra_std_md-webfont.svg") format("svg");
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
	@font-face {
		font-family: 'EffraMediumRegular';
		url("../../globals/fonts/effra_std_md-webfont.svg") format('svg');

	}
}

@font-face {
	font-family: "EffraLightRegular";
	src: url("../../globals/fonts/fonts/effra_std_lt-webfont.eot");
	src: url("../../globals/fonts/effra_std_lt-webfont.eot?#iefix") format("embedded-opentype"),
		 url("../../globals/fonts/effra_std_lt-webfont.woff") format("woff"),
		 url("../../globals/fonts/effra_std_lt-webfont.ttf") format("truetype"),
		 url("../../globals/fonts/effra_std_lt-webfont.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
	@font-face {
		font-family: 'EffraLightRegular';
		url("../../globals/fonts/effra_std_lt-webfont.svg") format('svg');

	}
}

#body-overlay {
	background: transparent url(../../globals/img/trial-lightbox-bg.png);
	opacity: 0.7;
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 50;
	display: none;
}
.middle h2, .middle h1, .middle h3 {
	color: #10adff;

	font-weight: light;
	font-family: effralightregular, arial;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 1);

}
/*--------------------------------------------------------------
	Full sections. Sections that can/are copied and pasted into
	other files, are here. This makes it much easier to use a
	section elsewhere, since all its styles are grouped. Just
	copy and paste. (ie, 3 reasons is a section(
--------------------------------------------------------------*/

/*--------------------------------------------------------------
	OVERVIEW
--------------------------------------------------------------*/
.overview-wrapper {
	text-align: center;
	border: 1px solid transparent;
	margin-bottom: 23px;
	clear: both;
}

#products {
	vertical-align: top;
}


.products-column > div {


}


.overview-inner p {
		margin: 0 auto;

		padding: 0;
}

.overview-inner div {

}

.overview-inner div.nuke-products {


	text-align:center;
}

.overview-inner div.nuke-products.blue {
	width:auto;
}
.overview-inner div.nuke-products.yellow {
width:277px;
}

.overview-inner div.nuke-products div{


	text-align: left;
}

.overview-inner div.nuke-products div.heading,
.column .heading  {
	float:none;
	width:auto;
	display:block;
	height: 75px;
	background: #1381cc;

}
.heading-2  {
	float:none;
	width:auto;
	display:block;
	height: 75px;
	width: 1019px;
	background: #1381cc;

}
.white-bckground  {
	background: #fff;
	padding: 12px 12px 12px 18px;

}
.overview-inner div#demozone {
	overflow: auto;
	height: 155px;
	border: 1px solid #ccc;
	background: #fff;
}

.strikeprice {
	position: absolute;
	top: -15px;
	right: 0;
	text-decoration: line-through;
	color: red;
}

.l1 .strikeprice {
	top: 55px;
	right: 26px;
}

p.demobutton {
	  background: linear-gradient(to bottom, #FCEEBA 0%, #F7DB6B 3%, #F5D23C 6%, #F2CE3A 24%, #E1B733 82%, #E0B530 85%, #DEB330 97%, #CDA804 100%) repeat scroll 0 0 transparent;
    border: 1px solid #ECBD00;
    border-radius: 4px 4px 4px 4px;
    color: #363636!important;
    display: block !important;
    font-size: 1.2em;
    margin: 15px 0;
    padding: 7px 10px;
	float: none!important;
    text-align: center;
    text-decoration: none;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
    width: 150px!important;
    z-index: 5;
}

p.demobutton a {
	color: #363636!important;
}
.strikeprice span.price {
	color: red;
	text-decoration: line-through;
}

.strikethrough-wrapper {

}

.overview-wrapper h1 {
	font-size: 2.1em;
}

.overview-wrapper h1 strong {
	font-family: effra,arial;
}
.coverall {
	background-color: rgba(204,204,204,0.5);
	position: absolute;
	top:0;
	left:0;
	height:647px;
	width:665px;
margin-top: 95px;
z-index: 50;
}



/*--------------------------------------------------------------
	METHOD
--------------------------------------------------------------*/
.method-wrapper {
	background: url(../img/bg-method.png);
	margin-bottom: 70px;
	border: 1px solid #d4d4d4;
	border-radius: 7px;
}

.method-inner {
	overflow: auto;
	padding: 40px;
}

.method-inner div.block {
	background: yellow;
	width: 215px;
	padding-top: 170px;
	float: left;
	width: 235px;
	font-size: 0.9em;
	margin-right: 40px;
	font-family: effra, arial;
}

.method-inner div.block.translation { background: url(../../globals/img/icon-notranslation.png) top center no-repeat; }
.method-inner div.block.immersion { background: url(../../globals/img/icon-immersion.png) top center no-repeat; }
.method-inner div.block.intuition { background: url(../../globals/img/icon-intuition.png) top center no-repeat; }

.method-inner h3 {
	font-style: italic;
	font-family: Georgia, 'Times New Roman',  serif!important;
	font-size: 1.5em!important ;
	margin-bottom: 60px;

}
.method-inner h2 {
	font-size: 1.5em!important;
	color: #333!important;

}

.method-inner h1 h2 h3 h4 { text-align: center; }


/*--------------------------------------------------------------
	FEATURES
--------------------------------------------------------------*/

.features-wrapper {

}

.features-inner {

	text-align: left;
}

.features-section {
	overflow: auto;


}

.features-section.social {
	margin-left: -40px;
	padding: 70px 0;
	width: 949px;
background: #e4e4e4;
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U0ZTRlNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjIyJSIgc3RvcC1jb2xvcj0iI2VmZWZlZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijg4JSIgc3RvcC1jb2xvcj0iI2VmZWZlZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk0JSIgc3RvcC1jb2xvcj0iI2U5ZTllOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkZGRkZGQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #e4e4e4 0%, #efefef 22%, #efefef 88%, #e9e9e9 94%, #dddddd 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e4e4e4), color-stop(22%,#efefef), color-stop(88%,#efefef), color-stop(94%,#e9e9e9), color-stop(100%,#dddddd));
background: -webkit-linear-gradient(top,  #e4e4e4 0%,#efefef 22%,#efefef 88%,#e9e9e9 94%,#dddddd 100%);
background: -o-linear-gradient(top,  #e4e4e4 0%,#efefef 22%,#efefef 88%,#e9e9e9 94%,#dddddd 100%);
background: -ms-linear-gradient(top,  #e4e4e4 0%,#efefef 22%,#efefef 88%,#e9e9e9 94%,#dddddd 100%);
background: linear-gradient(to bottom,  #e4e4e4 0%,#efefef 22%,#efefef 88%,#e9e9e9 94%,#dddddd 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4e4e4', endColorstr='#dddddd',GradientType=0 );

}


.features-section.live {
	 margin-left: -40px;
    padding: 70px 0;
    width: 949px;
background: #e4e4e4;
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U0ZTRlNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjE5JSIgc3RvcC1jb2xvcj0iI2VmZWZlZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZmVmZWYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #e4e4e4 0%, #efefef 19%, #efefef 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e4e4e4), color-stop(19%,#efefef), color-stop(100%,#efefef));
background: -webkit-linear-gradient(top,  #e4e4e4 0%,#efefef 19%,#efefef 100%);
background: -o-linear-gradient(top,  #e4e4e4 0%,#efefef 19%,#efefef 100%);
background: -ms-linear-gradient(top,  #e4e4e4 0%,#efefef 19%,#efefef 100%);
background: linear-gradient(to bottom,  #e4e4e4 0%,#efefef 19%,#efefef 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4e4e4', endColorstr='#efefef',GradientType=0 );

}
.features-section p {
	color: #888;
	font-size: 1.1em;
	 margin: 10px 0 0 0;
}

.features-section h3 {
	text-align: left;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style: italic;
	font-size: 1.5em;
	margin: 5px 0 18px 0;
	font-weight: lighter;
}
.features-inner h1 {
	font-size: 3.2em;
	font-family: effralightregular, arial;
	margin-bottom: 0;
	padding-bottom: 0;
	text-align: center;
}
.features-inner h2 {
	margin: -5px 0 0 0;
	padding: 0;
	font-weight: bold;
	text-align: center;
}
.features-inner h5 {
	text-align: center;
	margin: 5px 0 0 0;
	padding: 0;
	color: #555;
	font-family: effralightregular, arial;
	font-size: 1.1em;
}

.features-inner h4 {

	margin: 0 0 0 0;
	padding: 0;
	color: #444;
	text-align: left;
	font-weight: bold;
	font-family: effralightregular, arial;
	font-size: 1em;
}

.features-section:nth-of-type(1) { background: url(../../globals/img/program-screens.png) right center no-repeat  }

.features-section:nth-of-type(3) { background: url(../../globals/img/laptop.png) right  no-repeat  }


/*--------------------------------------------------------------
	WHAT'S INCLUDED
--------------------------------------------------------------*/
.whats-included-inner h1 {
	text-align: center;
	padding-bottom: 50px;
}
.whats-included-inner {
	overflow: auto;
	margin-top: 50px;
}
.whats-included-inner p {
	float: left;
	width: 155px;
	padding: 115px 0 0 0;
	font-size: 0.79em;
	margin: 0 23px 0 0;
	text-align: center;
	font-family: effra, arial;

	background-position: top center;
	background-repeat: no-repeat;
}

.whats-included-inner p > b {
	display: block;

}

.whats-included-inner p:nth-of-type(1) { background-image: url(../../globals/img/icon-interactive-software.png);}
.whats-included-inner p:nth-of-type(2) { background-image: url(../../globals/img/icon-live-lessons.png); }
.whats-included-inner p:nth-of-type(3) { background-image: url(../../globals/img/icon-games-community.png);}
.whats-included-inner p:nth-of-type(4) { background-image: url(../../globals/img/icon-pcmac.png);}
.whats-included-inner p:nth-of-type(5) { background-image: url(../../globals/img/icon-mobileapps.png);}



.button.dakr-blue {
	width: 342px;
	height: 115px;
}









/*--------------------------------------------------------------
	MASTHEAD AND OFFERBOX
--------------------------------------------------------------*/
.masthead {
	height: 272px;
	background: #f5f5f5;
	overflow: auto;
	position: relative;
}

.masthead .offerbox {
	float: right;
	margin:  30px 45px 0px 0;
	width: 345px;
}

.masthead .offerbox h1 {
	color: #0580cf;
	font-size: 37px;
	padding: 0;
	margin: 0;
	font-family: effra, arial;
	font-weight: bolder;
	text-align: center;
}


.formbox-wrapper {
	 margin-top: 30px;
	border-radius: 7px;
	position: relative;
min-height: 224px;
background: #676767;
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzY3Njc2NyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjE3JSIgc3RvcC1jb2xvcj0iIzYxNjE2MSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijc2JSIgc3RvcC1jb2xvcj0iIzNlNDAzZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzNDM3MzYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #676767 0%, #616161 17%, #3e403f 76%, #343736 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#676767), color-stop(17%,#616161), color-stop(76%,#3e403f), color-stop(100%,#343736));
background: -webkit-linear-gradient(top,  #676767 0%,#616161 17%,#3e403f 76%,#343736 100%);
background: -o-linear-gradient(top,  #676767 0%,#616161 17%,#3e403f 76%,#343736 100%);
background: -ms-linear-gradient(top,  #676767 0%,#616161 17%,#3e403f 76%,#343736 100%);
background: linear-gradient(to bottom,  #676767 0%,#616161 17%,#3e403f 76%,#343736 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#676767', endColorstr='#343736',GradientType=0 );

}

.formbox-inner {
	padding: 20px;
}

.formbox-inner h1, h2, h3, h4, h5 {
	margin: 0;
	padding: 0;
	text-align: center;
	font-weight: lighter;
}

.formbox-inner h4 {
	color: #fbcf16;
	font-size: 20px;
}

.formbox-inner h3 {
	color: #fff;
	font-size: 32px;
	margin-bottom: 10px;
}

.formbox-inner input {
	border: 1px solid transparent;
}
.formbox-inner input[type=text] {
	padding: 5px;
	font-size: 0.8em;
	border-radius: 2px;
	width: 138px;
}

.formbox-inner input[name=email] {
	width: 299px;
	padding: 5px 0 5px 5px;
	margin-top: 8px;

}

.masthead .button {
	width: 216px;
	height: 42px;
	background: #0994d5;
	margin: 15px auto;
	line-height: 42px;
	color: #fff;
	font-weight: bold;
	text-align: center;
	cursor: pointer;
	font-size: 1.3em;
	display: block;
	font-family: helvetica, arial;
	text-shadow: 0 1px 0 rgba(0,0,0,0.7);
	text-decoration: none!important;
}
.masthead a.button {
	margin-top: 30px;
}
.formbox-inner  .select-lang p {
	color: #fff;
	font-family: effra, arial;
	margin: 0;
	padding: 0;
	text-align: center;
	font-size: 17px;
}

.formbox-inner hr {
	border: none;
	border-top: 1px solid #343736;
	border-bottom: 1px solid #787979;
	margin: 15px 0;
}

.formbox-footer {
	font-size: 0.7em;
	padding: 0;
	margin: 5px 0 0 0;
	text-align: center;
	color: #fff;
}

.formbox-footer a {
	border-bottom: 1px dotted #10ADDF!important;
}


.formbox-inner input.invalid {
	/* background: #f8d1de; */
	border: 1px solid  red;
	font-color: red;
	background: url('../../globals/img/icon-invalid-input-2.png')  97% 50% no-repeat #fff;
}

.formbox-wrapper .loading-wrapper {
	width: 100%;
	height: 100%;
	background: url('../../globals/img/loading-bar3.gif') center no-repeat rgba(0,0,0,0.8);
	z-index: -1;
	position: absolute;
	color: #fff;
}


/*--------------------------------------------------------------
	LIGHTBOX IN MASTHEAD
--------------------------------------------------------------*/

.masthead  .overlay {
	width: 685px;
	background: #fff;
	display: none;
	position: absolute;
	top: 70px;
	left: 140px;;
	text-align: center;
	font-family: helvetica, arial;
	z-index: 100;
	text-shadow: 0 1px 0 rgba(255,255,255, 1);
}

.masthead  .overlay  .yellow-top-bar {
	position: relative;
	height: 40px;
	background: #ecc009;
}

.masthead  .overlay  .yellow-top-bar a.close {
	display: block;
	position: absolute;
	right: -15px;
	top: -15px;
	height: 35px;
	width: 35px;
	background: url('../../globals/img/icon_lightbox_close_black.png') no-repeat;
}

.masthead  .overlay  .grey-top {
	background: #efeded;
}

.masthead  .overlay  .grey-top .header-text {
	font-size: 2.2em;
	padding: 20px 0;
}

.masthead  .overlay  .grey-top .header-text span {
		font-family: Georgia, "Times New Roman", Times, serif;
		font-size: 0.8em;
}

.masthead .overlay .content {
	padding: 0 20px;
}

.masthead .overlay .footer {
	height: 67px;
	margin-right: 15px;
	margin-bottom: 15px;
	background: url('../../globals/img/rs-logo.png') bottom right no-repeat;
}

/*	Backgrounds
--------------------------------------------------------------*/
.yellow-top {
	height: 103px;
	background: url(../../globals/img/bg-nuke-head.png) repeat-x;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: -1;
}



/*------------------------------------------------------
 Available languages
-------------------------------------------------------*/
.languages-wrapper {
	   overflow: auto;
    padding: 11px;
	margin: 0;
	position: relative;
	background: url(../../globals/img/blacktiles.png);
}

ul.language-buy-list {
	float: left;
	width: 172px;
	margin: 0;
    padding: 0;
}

ul.language-buy-list li {
	display: block;

}

#language-buy-lists {
	margin-left: 50px;
	overflow: hidden;
	float: left;
	width: 645px;
}
.languages-wrapper ul {


}

.reviews-wrapper {
	margin: 25px 0;
}
.languages-wrapper ul li {
    float: left;
    font-size: 15px;
    line-height: 23px;
    list-style: none outside none;
    width: 180px;
	margin: 0 11px 0 0;
}
.languages-wrapper ul li a {
    color: white;
    padding: 6px;
    text-decoration: none;
}
.languages-wrapper ul li:nth-child(4n) {
	margin: none!important;
}
.languages-wrapper ul li a:hover {
	background: #FC3;
	color: #333;
}
.languages-wrapper p {
    color: #FFFFFF;
    float: left;
    font-family: Effra,Arial;
    font-size: 30px;
    font-weight: normal;
    line-height: 18px;
    text-align: center;
}

.languages-wrapper p span {
    font-size: 18px;
	color: #f7ce00;
}

a.arrow {
	padding-right: 10px;
	background: url(../../globals/img/link-blue-arrow.png)  right 6px no-repeat;
}


#response .choose-lang a {
	color: #fff!important;
}

#yourlang {
	display:none;
	background: url(../../globals/img/blacktiles.png)
}




/*	Main containers
--------------------------------------------------------------*/
body {
	margin: 0;
	padding: 0;
	text-align: center;
	background: url(../../globals/img/bg_tile_arch_texture.jpg);
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;

}

.main-container {
	width: 1100px;
	margin: 0 auto;
	text-align: left;
	position: relative;

}

.header {
	height: 103px;
}

.main-container a {
	color: #10ADFF;
	text-decoration: none;
}


.footer {
	color: #fff;
	font-size: 0.8em;
	text-align: center;
	color: #777;
}
	.footer p {
		margin: 7px 0;
		padding: 0;

	}

/*	Inner Divs
--------------------------------------------------------------*/
.logo {
	width: 150px;
	height: 63px;
	background: url(../../globals/img/logos/logo-2.png) no-repeat top left;
	float: left;
	margin-top: 14px;
}
.phone-number {
	color: #3c3c3c;
	float: right;
	margin-top: 37px;
	text-shadow: 0 1px rgba(255, 255, 255, 0.5);
	font-size: 12pt;
	font-family: Effra, Arial, Helvetica, sans-serif;
	background: url(../../globals/img/icon-phone-2.png) no-repeat left;
	padding-left: 25px;
}

.middle-wrapper {
	background: #efefef;


}

.middle {
	padding: 0 40px 0px 41px;
	margin-top: -15px;
}
a.sticker-freetrial {
	width: 58px;
	height: 137px;
	position: fixed;
	right: 50%;
	top: 30%;
	display: none;
	margin-right: -490px; /*half the width of parent*/
	background: url(../../globals/img/sticker-freetrial.png) top left no-repeat;
}

/****************************************************
NAV BAR
----------------------------------------------------*/
.nav-wrapper {
	background: #EFEFEF;
	height: 80px;

}

ul.nav {
	list-style: none;
	margin: 0;
	padding: 0;
	z-index: 500;
	border-bottom: 1px solid #9f9f9f;
	background: #fff;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.3);




}



ul.nav li {
	margin: 0;
	padding: 0;
	float: left;
}

ul.nav li a, ul.nav li a.normal {
	text-decoration: none;
	display: block;
	color: #555;
	width: 236px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	border-right: 1px solid #d49e00;
	text-shadow: 0 1px 0 rgba(255,255,255, 0.5);
	border-left: 1px solid #ffd31c;
	font-size: 1em;
	cursor: pointer;
	text-transform: uppercase;
background: #f6d121;
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y2ZDEyMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlOWI0MDEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #f6d121 0%, #e9b401 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6d121), color-stop(100%,#e9b401));
background: -webkit-linear-gradient(top,  #f6d121 0%,#e9b401 100%);
background: -o-linear-gradient(top,  #f6d121 0%,#e9b401 100%);
background: -ms-linear-gradient(top,  #f6d121 0%,#e9b401 100%);
background: linear-gradient(to bottom,  #f6d121 0%,#e9b401 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6d121', endColorstr='#e9b401',GradientType=0 );

border-left-image: gradient(linear, 0 0, 0 100%, from(#faea30), to(#f4de02)) 1 100%;
border-right-image: gradient(linear, 0 0, 0 100%, from(#edb20c), to(#d98500)) 1 100%;
}

ul.nav li a:hover {
box-shadow: -1px 0 0 rgba(0, 0, 0, 0.05), 0 0 30px rgba(0, 0, 0, 0.1) inset;
border-left: 1px solid #BA9402;
background: #FFD801;
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNmZmQ4MDEiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZWFiNzA0IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-radial-gradient(center, ellipse cover,  #FFD801 0%, #EAB704 100%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#FFD801), color-stop(100%,#EAB704));
background: -webkit-radial-gradient(center, ellipse cover,  #FFD801 0%,#EAB704 100%);
background: -o-radial-gradient(center, ellipse cover,  #FFD801 0%,#EAB704 100%);
background: -ms-radial-gradient(center, ellipse cover,  #FFD801 0%,#EAB704 100%);
background: radial-gradient(ellipse at center,  #FFD801 0%,#EAB704 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFD801', endColorstr='#EAB704',GradientType=1 );

}

ul.nav li a.active {
box-shadow: -1px 0 0 rgba(0, 0, 0, 0.05), 0 0 30px rgba(0, 0, 0, 0.4) inset;
border-left: 1px solid #BA9402;
background: #FFD801;
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNmZmQ4MDEiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZWFiNzA0IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-radial-gradient(center, ellipse cover,  #FFD801 0%, #EAB704 100%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#FFD801), color-stop(100%,#EAB704));
background: -webkit-radial-gradient(center, ellipse cover,  #FFD801 0%,#EAB704 100%);
background: -o-radial-gradient(center, ellipse cover,  #FFD801 0%,#EAB704 100%);
background: -ms-radial-gradient(center, ellipse cover,  #FFD801 0%,#EAB704 100%);
background: radial-gradient(ellipse at center,  #FFD801 0%,#EAB704 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFD801', endColorstr='#EAB704',GradientType=1 );

}

.placeholder { color: #999; }

.fixed { position: fixed }

.shopbutton {
	border: none!important;
	margin: 20px 0 0 0!important;
	text-align: center;
}


p.plsSelect {
	border: none!important;
	margin: 20px 0 0 0!important;
	color: #999;
	text-align: center;
}
/*	buttons
--------------------------------------------------------------*/
a { outline:  none; cursor: pointer}
a img { border: none }
.basketbutton {
width: 177px;
display: inline-block;
height: 32px;
cursor: pointer;
background-image: url('../../globals/img/add-to-cart-btn_esp.png');
background-position: top;
background-repeat: no-repeat;

					}


.basketbutton:hover {
	/*background-position: -2px -36px;*/
}





.clearfix { clear:both!important;float:none!important; border:0!important;}
/*	Media
--------------------------------------------------------------*/

.overlay {
	width: 940px;
	z-index: 9999;
	position: fixed;
	display: none;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	-pie-background: linear-gradient(top, rgba(242,245,246,1) 0%,rgba(227,234,237,1) 52%,rgba(200,215,220,1) 100%);
}

#faq {
text-align: left;
}

.overlay a {
	color: #0098DB;
	text-decoration: underline;
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

.overlay-inner {
	margin: 50px;
}

.overlay-inner .heading {
font-size: 1.5em;
margin: -23px 0 25px;
}

.overlay-inner #faqs-content p {
margin-bottom: 12px;
}

.overlay-inner #faqs-content ul {
margin: 12px 16px;
}

#faq.overlay a.overlay-close {
	display: block;
	position:absolute;
	right:-13px;
	top: -13px;
	height: 26px;
	width: 26px;
	background: transparent url(../../globals/img/demo_lightbox_close.png) no-repeat;
}


/****************************************************
HOW IT WORKS
----------------------------------------------------*/

div#howitworks {
	display: none;
}


/****************************************************
REVIEWS
----------------------------------------------------*/


div#reviews {
	width:790px;
	margin: auto;
	display:none;
}

#reviews .nuke-column {
	width: 380px;
	display:inline-block;
	vertical-align: top;
}

#reviews .nuke-column.left {
	margin-right:10px;
}

#reviews .nuke-column.right {
	margin-left: 10px;
}

#reviews .nuke-column div {
	display: inline-block;
	padding: 0;
	border: 5px solid #ababab;
	height: 148px;
	overflow:hidden;
}

#reviews .nuke-column div.nuke-video {
	width: 362px;
	height: 211px;
	border-width: 6px;
}

#reviews .nuke-column div.nuke-video a {
	width: 362px;
	height: 211px;
	display: block;
	vertical-align: middle;
	text-align: center;
}

#reviews .nuke-column div.nuke-sthumb {
	width: 108px;
	margin: 0 8px 2px 0;
	height:150px;
}

#reviews .nuke-column div.nuke-lthumb {
	width: 172px;
	margin: 9px 5px 0 0;
}

#reviews .nuke-video a img {
	height:91px;
	width:92px;
	margin-top:66px;
}

#reviews .lightbox {
background-color: transparent;
display: none;
min-height: 200px;
text-align: left;
z-index: 10000;
}

#reviews .review-lightbox {
display: none;
height: 458px;
width: 960px;
z-index: 10000;
}

#reviews .lightbox a.close {
background: url("../img/lightbox-close-en.png") no-repeat scroll 0 0 transparent;
cursor: pointer;
display: block;
height: 18px;
position: absolute;
right: 64px;
top: 18px;
width: 89px;
z-index: 10001;
}

#reviews .fl, .column {
float: left;
}

#reviews .scrollnav {
padding-top: 210px;
}

#reviews a.link-page-nav {
display: block;
height: 67px;
text-indent: -9000px;
width: 24px;
cursor: pointer;
}

#reviews a#link-prev-page {
background: url("../../globals/img/scroll-nav.png") no-repeat scroll 2px -1px transparent;
float: left;
}

#reviews a#link-next-page {
float: left;
background: url("../../globals/img/scroll-nav.png") -26px -1px no-repeat;
}

#reviews #reviews-scroller.scroller {
width: 894px;
-moz-border-radius: 6px;
-webkit-border-radius: 6px;
border-radius: 6px;
background-color: #f0efef;
border: #FFF 9px solid;
}

#reviews .scroller {
overflow: hidden;
}

#reviews .scroller {
float: left;
position: relative;
padding: 0!important;
}

#reviews .scroller .items {
width: 20000em;
position: absolute;
}

#reviews .scroller .items div.item {
float: left;
}

#reviews .fl,
#reviews .column {
float: left;
}

#reviews .review-content {
width: 874px;
}

#reviews .review-content .review-top {
height: 58px;
padding-top: 50px;
padding-left: 28px;
}

#reviews .review-content .review-story {
background: url(../../globals/img/bg_tile_fleurdelis_watermark.jpg) #e6e5e5;
border: #DFDFDF 1px solid;
padding: 20px;
position: relative;
float: left;
width: 100%;
}

#reviews .review-content .review-top h1 {
color: #F0B009;
font-size: 42px;
font-weight: bold;
font-family: effra;
float: left;
display: inline-block;
}

#reviews .review-content .reviewer-info {
float: left;
padding-top: 6px;
}

#reviews .review-content .reviewer-divider {
font-size: 50px;
color: #666;
display: inline-block;
float: left;
padding: 0 14px 0;
margin-bottom: 0;
line-height: 1em;
}

#reviews .review-content .review-top h2 {
color: #666;
font-size: 31px;
font-family: effra;
float: left;
width: 100%;
text-align: left;
line-height: .8em;
font-weight: normal;
}

#reviews .review-content .review-top h3 {
color: #666;
font-size: 15px;
font-family: effra;
font-weight: normal;
text-align: left;
float: left;
width: 100%;
}

#reviews .review-content .review-story .background-decoration {
position: absolute;
top: -1px;
left: 136px;
}

#reviews .review-content .review-story .reviewer-photo {
float: left;
margin: 10px;
}

#reviews .review-content .review-story .reviewer-photo img {
border: #FFF 6px solid;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
}

#reviews .review-content .review-story blockquote {
background: url(../../globals/img/bg_quote_box.png) left top no-repeat;
font-size: 1.4em;
line-height: 1.4em;
font-family: effra;
color: #666;
padding: 8px 0 0 28px;
width: 420px;
float: left;
margin: 38px 0 0 28px;
}

#reviews .review-content .review-story blockquote p {
color: #666;
}

#reviews .review-content .review-story .close-quote {
padding: 6px 10px;
position: absolute;
}

#colorbox {
	overflow: visible !important;
}
/*
#cboxClose, #cboxClose a, #cboxWrapper div, #cboxWrapper, #colorbox, body { border: 0 !important; outline: none !important; }
*/
#lightboxplayer { height: 0px !important; }