#masthead{
	background-color: #333;
	background-image: url('../../globals/img/mastheads/mobile/<%= mastheadimage %>');
	background-size: 100% 100%;
}

#offerbox{
    color: #222;
    line-height: 1;
    padding: 15% 0% 5% 63%;
    /*width: 22%;*/
    font-size: 1.5vw;
}

#offertext {
	font-size: 1.1em;
}

#offerbox sup {
	font-family: gothambook;
}

#sale-price{
	font-size: 4em;
	display: inline-block;
	color: #A00203;
	vertical-align:  middle;
	font-weight: bold;
}

#sale-price sup {
	font-size: 0.5em;
    position: relative;
    top: 0.3vw;
    left: -5px;
}


#regular-price {
	display: inline-block;
	vertical-align: middle;
	padding-left: 3%;
}

#regular-price sup {

}



#regular-price > span:first-of-type{


}

#regular-price{


}

#regular-price > span:last-of-type{
	position:  relative;
}

#regular-price > span:last-of-type:after{
	content: '';
    		position: absolute;
    		width: 106%;
    		height: 2px;
    		background: #e12;
    		left: 0;
   		top: 42%;
}

#offertext{

}

@media (min-width:400px) {
	#sale-price{

	 }
}

@media (min-width:600px) {
	#masthead{
		background-image: url('../../globals/img/mastheads/sbsr/<%= mastheadimage %>');

	}

	#sale-price{  }
	#regular-price > span:first-of-type{   }
	#regular-price{  }
	#offertext{  }
}






/* iphone 5 portrait*/
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : portrait) {
	#offerbox {
		padding: 23% 0% 10% 60%;
	}
	#offertext {

	}

	#sale-price {
		font-size: 6em;
	}

	#sale-price sup {

	}

	#regular-price {
		font-size: 2.5em;
		padding-left: 7px;
	}
	#regular-price > span:first-of-type {
		font-size: 1.5vh;
  		display: block;
	}
	#regular-price sup {
		vertical-align: top;
	}
	#regular-price > span:last-of-type:after{
		content: '';
    		position: absolute;
    		width: 106%;
    		height: 2px;
    		background: #e12;
    		left: 0;
   		top: 42%
  	}
}


/* iphone 5 landscape*/
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : landscape) {
	#offerbox {
		padding: 24% 0% 12% 61%;
	}
	#regular-price {
		font-size: 3vw;
	}
}



/* iphone6 landscape */
@media only screen and (min-device-width : 375px) and (max-device-width : 667px) and (orientation : landscape) {
	#offerbox {
		/*padding: 17% 0% 2% 55%;*/
	}
	#regular-price {


	}
	#regular-price > span:first-of-type {

	}
}

/*  iphone6 portrait */
@media only screen and (min-device-width : 375px) and (max-device-width : 667px) and (orientation : portrait) {
	#offerbox {


	}

	#offertext {
		font-weight: normal;
		font-size: 1.6em;
	}

	#sale-price {

	}

	#regular-price {

   }
}


/*ipad mini  lanscape*/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape)  {
	#offerbox {


	}
	#offertext {


	}
	#sale-price sup {

	}
	#regular-price {

	}


}

/*ipad mini  portrait */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait)   {
	#offerbox {

	}
	#regular-price {

	}

	#offertext {

	}

	#sale-price sup {


	}

}

#everystory { display: none}



#violator {
	background: #A83837;
	text-align: center;
	font-weight: bold;

	padding: 10px 0;
	color: #eee;
}

#violator > div {
	display:inline-block;
	vertical-align:middle;
	font-family: gothamLight;
	font-weight:lighter;
}
#violator > div > img {
	margin-right: 10px;
}
#violator > div > span {
	color: #f7cc00;
	font-weight: bold;
}