/* ==========================================================================
   Media Queries
   ========================================================================== */
   /* and (max-device-width: 1439px) */ 
@media only screen and (min-width: 960px) and (max-width: 1297px) { 
    h2.headline { font-size: 4em;  }
    h2.headline.medium { font-size: 3em; }
    .header-container h2 { font-size: .9em; }
    .footer-container .row .col-left {
        width: 37%;
    }
    .footer-container .row .col-right {
        width: 58%;
    }
    #top header h2 {
        font-size: 3em;
        margin-top: 15px;
    }
    .tiles .tile {
        position: relative!important;
    }
    .tiles .tile .tile-content {
        width: 100%!important;
        height: 100%!important;
    }

    .tiles .row.first #journey-begins{
        width: 23%;
        height: 248px;
    }
    .tiles .row.first #peter-begins{
        width: 56%;
        height: 248px;
    }

    .tiles .row.first #demo-tile1{
        width: 21%;
        height: 248px;
    }
    .tiles .tile#demo-tile1 img.demo-img {
        width: 86%;
    }
    .tiles .tile#demo-tile1 img.demo-img {
        top: -7%;
    }
    .tiles .tile.blue-tile h3 {
        font-size: 3em;   
    }
    .tiles .tile.blue-tile .rs-stamp {
        top: -4%;
    }
    .tiles .tile#journey-begins span {
        left: 10%;
    }
    .tiles .tile#peter-learning {
        width: 33%;
        height: 248px;
    }
    .tiles .tile#about-cuba {
        width: 67%;
        height: 248px;
    }
    .tiles .tile#far-from-perfect {
        width: 67%;
        height: 248px;
    }
    .tiles .tile .link-button {
        font-size: 1.2em;
        padding: 10px 30px;
    }
    .tiles .tile#family-travel-tips .inner-wrapper h2 {
        margin: 23px auto 9px auto;
        font-size: 3em;
        line-height: .8em;
    }
    .tiles .tile#family-travel-tips h2 {
        margin: 31px 0 10px;
    }
    .tiles .tile#family-travel-tips p, .tiles .tile#far-from-perfect p {
        height: 64px;
        font-size: 1em;
    }
    .tiles .tile#peter-food {
        height: 248px;
        width: 58%;
    }
    .tiles .tile#spanish-tile4 {
        height: 248px;
        width: 10%;
        background-color: #1C2B38;
    }
    .tiles .tile#going-foot{
        height: 233px;
        width: 62%;
    }
    .tiles .tile#going-foot .link-button {
        left: 511px;
        top: 170px;
    }
    .tiles .tile#going-foot .inner-wrapper {
        margin: 0 67px;
    }
    .tiles .tile#going-foot h2 small {
        left: 189px;
    }
    .tiles .tile#family-travel-tips{
        height: 233px;
        width: 38%;
    }
    .tiles .tile#deck-shoes {
        height: 248px;
        width: 32%;
    }
    .tiles .tile#peter-sailing {
        height: 248px;
        width: 68%;
    }
    .tiles .tile#peter-sailing .link-video.with-icon {
        left: 489px;
    }
    .tiles .tile#coaching-session {
        width: 60%;
        height: 248px;
    }
    .tiles .tile#peter-onaboat {
        height: 248px;
        width: 40%;
    }

    .tiles .tile#demo-tile2 {
        width: 32%;
        height: 248px;
    }
    .tiles .tile#demo-tile2 img.demo-img {
        width: 62%;
        left: 63%;
        margin-left: -43%;
        top: 1%!important;
    }
    .tiles .tile#demo-tile2 .tile-content h4 {
        top: 72%!important;
    }
    a.link-demo {
        font-size: 1.3em;
    }
    footer h3 {
        font-size: 1.5em;
    }
    a.link-demo {
        margin-top: 0;
    }
}
@media only screen and (min-width: 960px) and (max-width: 1439px) { 
    #top,
    #top #street-scene {
        height: 572px;
    }
    #top #feature-girls {
        bottom: -2px;
        left: 31%;
        width: 592px;
    }
    article#top section {
        width: 40%;
    }
   
    #cuba-peter .row .col.first h1 {
        font-size: 2em;
        line-height: 1em;
        margin: 15px auto 0 0;
    }

    h2 {
        font-size: 2em;
    }

    .header-container h2 {
        font-size: .9em;
    }
    .header-container h2 {
        font-size: 12px;
    }
    #meet-peter {
        height: 400px;
    }
    #meet-peter header, #meet-peter section.content {
        margin-left: 454px;
    }
    #meet-peter section.content article p {
        font-size: 1em;
        margin: .3em 0;
        line-height: 1em;
    }
    #meet-peter .video-player {
        height: 165px;
        width: 260px;
        font-size: .7em;
    }
    #meet-peter .video-player video {
        height: 142px;
        width: 262px;
        font-size: .7em;
    }

    section#peters-headshot {
       width: 550px;
    }
    #cuba-peter p {
        font-size: .9em;
        margin-top: 16px;
        line-height: 1em;
    }
    #donde {
        height: 585px;
    }
    #donde header {
        top: 117px;
        left: 200px;
    }
    #donde header p {
        font-size: 1em;
    }
    #us-map img#sticker-foodtruck {
        left: 28px;
        top: 35%;
    }
    #us-map img#sticker-pineapple {
        left: 62px;
        top: 46%;
    }
    #us-map img#sticker-plane {
        left: 37%;
        top: 47%;
    }
    #us-map object#us-map-img {
        width: 940px;
        height: 708px;
    }
    a.link-demo {
        margin-top: 0;
    }
}
