<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8"></meta>
        <title>Rosetta Stone&reg; - Mobile Language Learning</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <link rel="stylesheet" href="stylesheets/screen.css">
        
        
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="../ui/jslibs/jquery-1.10.2.js"><\/script>')</script>
        
        <script src="../ui/js/utils.js"></script>
        <script src="../ui/js/rs-config.js"></script>
        <script src="../ui/js/pages.js"></script>
        <script src="../ui/jslibs/tempo.js"></script>
            
        <script src="js/mobile.js"></script>

        
        
    </head>
    <body id="home" class="pattern-bg">
      
        <!-- ******** Omniture & T&T ******** -->
        <script src='../ui/js/tagmanagement.js'></script>
        <script src='../ui/jslibs/mbox-rsi.js'></script>
        <div id="us_mobile" class="mboxDefault"></div>
        <!--<script type="text/javascript">mboxCreate('us_mobile', rs.mbox_env);</script>-->
        <!-- ******** /end Omniture & T&T ******** -->
        <script type="text/javascript">
            /*
             * Get our rsi value and look for it in the `pages` object
             * The returned value, `page`, will be sent to the template
             * renderer. We also call its init() method.
             */ 
            var rsi = s.getQueryParam('rsi') || ''
            var page = pages[rsi] || pages[''];
            page.init()

            // Set the promocode
            rs.promo = page.promo
        </script>
      
      
        <header id="global-header">
        
            <nav class="meta-nav clearfix">
                <a href="#" class="icon-cart" id="meta-nav--cart" title="Your Cart">
                    <span class="cart-wrap"></span>
                </a>
                <a href="#" class="icon-menu" id="meta-nav--toggle"></a>
                <a href="index.html" id="meta-nav--logo" class="ir">Rosetta Stone</a>
            </nav>
            
            <div class="cart-dropdown" style='display: none'>                
                <!--<a href="/checkout.html" class="button-standard">Checkout</a>-->
            </div>

            
            <nav class="nav-dropdown is-closed is-menu-hidden" id="global-nav">
                <ul>
                    <li><a class="icon-phone main-nav--alternate" id="main-nav--reviews" href="tel:18007673882">Call Us</a></li>
                    <li>
                        <a class="icon-menu-languages" id="main-nav--languages" href="index.html" data-swipable>Our Products</a>
                    </li>
                    
                    <li>
                        <a class="icon-menu-method" id="main-nav--method" href="methodology.html" data-swipable>How It Works</a>
                    </li>
                    
                    <li>
                        <a class="icon-reviews" id="main-nav--reviews" href="reviews.html" data-swipable>Customer Reviews</a>
                    </li>
                    <li>
                        <a class="icon-free-trial" id="main-nav--reviews" href="why.html" data-swipable>Demo</a>
                    </li>
                </ul>
            </nav>
            
            
            
        </header>



        <div class="container-wrap clearfix" data-template>
            <div class="container">
                 

            <section class="masthead" style="position:relative;">
                    <!--<img src="../ui/img/urgency_violator_finalhours.png" style='position:absolute;top: 5px; right: 127px; width:47px; ' />-->
        
                    <img id='masthead-image' src="../ui-m/img/mastheads/{{mastheadImage}}" width="100%">
                
                    <div class="pricingbox">
                        <div class="pricerow">
                            <div class="priceside"><span class="black">WAS</span><br/>
                                <span class="price"><sup>$</sup>{{strikeThrough[0]}}</span>
                                <div class="striker"></div>
                            </div>
                            <div class="spacer" style=""></div>
                            <div class="priceside"><span class="black2">NOW</span><br/>
                                <span class="price"><sup>$</sup>{{strikeThrough[1]}}</span>
                            </div>
                        </div>
                        
                        <div class="shipmsg">{{shipping}}</div>
                    </div><!-- /pricingbox -->


                </section>








<style>
.info-section {
    padding: 1em 5.3125%;
}
        </style>    
                 <section id='blue-nav'>
                    <a href="index.html">Our<br />Products</a>
                    <a href='methodology.html'>How it<br />Works</a>
                    <a href='reviews.html' class='active'>Customer<br />Reviews</a>
                    <a href='why.html'>Try it<br />Free</a>
                </section>

    <div style='font-size: 1.5em;text-align: center;padding: 1em;font-weight: bold;line-height: 20px;'>
        Here's what our customers have to say
    </div>
<div style="padding: 0 15px;background: url('./images/bg-pattern.jpg?1375817538');">
       

        <section class="info-section page-row callout-bubble page-row--divided">
            <section class="clearfix two-col-header">
                <img src="images/reviews/laurel-ryan.jpg">
                <div class="two-col-header--text">
                    <h1>Laurel Ryan</h1>
                    <h2>French student</h2>
                </div>
            </section>
            <div class="common-col--support">
                <p>Thanks to Rosetta… I will feel confident in my ability to field questions about my research in French.</p>
            </div>
        </section>

        <section class="info-section page-row callout-bubble page-row--divided">
            <section class="clearfix two-col-header">
                <img src="images/reviews/eli-seagraves.jpg">
                <div class="two-col-header--text">
                    <h1>Eli Seagraves</h1>
                    <h2>Classical Singer</h2>
                </div>
            </section>
            <div class="common-col--support">
                <p>..the joy of being able to speak, even a few words, had me hooked. I was off on the journey and there was no turning back.</p>
            </div>
        </section>

        <section class="info-section page-row callout-bubble page-row--divided common-col--right">
            <section class="clearfix two-col-header">
                <img src="images/reviews/ruth-rootberg.jpg">
                <div class="two-col-header--text">
                    <h1>Ruth Rootberg</h1>
                    <h2>Lifelong Learner</h2>
                </div>
            </section>
            <div class="common-col--support">
                <p>Rosetta Stone suits me perfectly: studying when I want, for as long as I want, and easily showing me what mistakes I make.</p>
            </div>
        </section>

        <section class="info-section page-row callout-bubble page-row--divided">
            <section class="clearfix two-col-header">
                <img src="images/reviews/sonali-rao.jpg">
                <div class="two-col-header--text">
                    <h1>Sonali Rao</h1>
                    <h2>Confident Employee</h2>
                </div>
            </section>
            <div class="common-col--support">
                <p>The German I've learned using Rosetta Stone has helped me tremendously and has helped me acclimate to my new environment... Thank you for such a wonderful product!</p>
            </div>
        </section>

       </div>
            </div>
        
        <footer id="global-footer">
            <nav class="page-row" id="global-footer--social">
                <ul>
                    <li><a href="http://www.facebook.com/RosettaStone"><span class="icon-facebook"></span></a></li>
                    <li><a href="http://twitter.com/rosettastone"><span class="icon-twitter"></span></a></li>
                    <li><a href="http://www.youtube.com/user/rosettastone"><span class="icon-youtube"></span></a></li>
                    <li><a href="http://plus.google.com/+RosettaStone"><span class="icon-googlePlus"></span></a></li>
                </ul>
            </nav>
            <div class="page-row clearfix" id="global-footer--nav">
                <nav class="global-footer--nav-menu">
                    <h2>OFFER DETAILS</h2>
                        
                    <p>
                        Free shipping on products shipped within the U.S. only. Offer limited to purchases made directly from Rosetta Stone and cannot be combined with any other offer. Offer valid through {{expirationDate}} while quantities last. Online services must be activated within 6 months of purchase or are subject to forfeiture. Mobile apps are not available for Arabic and Persian (Farsi)
                    </p>
                    <p>
                        The 5-Pay Easy Payment plan is available for select orders with a billing address in the U.S. only. The first payment of 20% of the total price is charged when the order is placed (plus tax). Four additional payments of 20% will be charged monthly thereafter, with 0% APR and no interest charges from Rosetta Stone.
                    </p>
                    <p>
                        † 3 months online access included with purchase for one user.
                    </p>
                    <p>
                        The thirty-day (30-day) money back guarantee is limited to software purchases made directly from Rosetta Stone, and does not apply to any supplemental purchases, including additional online access, subscription renewals, and headsets.
                    </p>

                <nav class="global-footer--nav-menu"  style='padding:0'>
                    <h2>Customer Support</h2>
                    <ul>
                        <li><a href="tel:18007673882">1.800.767.3882</a></li>
                    </ul>
                </nav>
            </div>
            
            <div class="page-row" id="global-footer--rights">
                <p>&copy; Copyright Rosetta Stone 2014, All Rights Reserved.</p>
                <li><a href="terms.html">Terms &amp; Conditions</a></li>                
            </div>
        </footer>

 
        

        
        <script src="js/scripts.min.js"></script>
		<script>
		
							
							$("#masthead").click(function() {
								location.assign('../../mobile-lp/'+RSI.rsi+'/#shopnow');
							})
		
		</script>






 

    </body>
</html>
