#masthead {
	background: url('../../globals/img/mastheads/sbs/<%= mastheadimage %>') no-repeat;
	height: 316px;
	position: relative
}
#masthead > #offerbox {
	/*background: rgba(255,255,255, 0.3);*/
	position: absolute;
	box-sizing: border-box;
	left: 40px;
	width: 478px;
	bottom: 4px;
	color: #ffffff;
	font-size: 190%;
}

#masthead > #offerbox > #offertext {
	font-size: 51%;
	position: relative;
	bottom: 20px;
}

#masthead #pricing {
	display: table;
}
#masthead > #offerbox #regular-price {
	font-size: 130%;
	padding-left: 14px;
	color: #ffffff;
	display: table-cell;
	font-weight: bold;
	vertical-align: middle;
}
#masthead > #offerbox #regular-price sup {
	font-weight: lighter;
	font-size: 50%;
	position: relative;
	right: -10px
}


/*  ahora */
#masthead > #offerbox #sale-price sup::before {
  content: "AHORA";
  font-size: 32%;
  position: absolute;
  top: -1px;
  font-weight: bold;
}
/* USD */
#masthead > #offerbox #sale-price sup::after {
  content: "USD";
  display: inline-block;
  bottom: 13px;
  position: absolute;
  left: -3px;
  font-size: 50%;
  letter-spacing: -2px;
  font-weight: bold;
}

#masthead > #offerbox #sale-price {
	font-weight: bold;
	font-size: 320%;
	display: table-cell;
	vertical-align: middle;
	font-family: gothambold;
	padding-left: 10px;
}
#masthead > #offerbox #sale-price sup {
	font-weight: lighter;
	padding-right: 5px;
}


/* strikethrough price */
#masthead > #offerbox #regular-price > span {
	display: inline-block;
	position: relative;
	font-size: 130%;
}

#masthead > #offerbox #regular-price .strikethrough {
	position: absolute;
	top: 49%;
	height: 2px;
	background: red;
	width: 100%;
}

#masthead > #offerbox #regular-price > span:first-of-type {
	font-size: 40%;
	margin-right: -13px;
	margin-left: -6px;
	position: relative;
	top: -5px;
	visibility: hidden;
	 margin-left: -40px;
}

/*  antes */
#masthead > #offerbox #regular-price > span:first-of-type::after {
  content: "ANTES";
  visibility: visible;
  position: absolute;
  top: -39px;
  right: -87px;
  font-size: 92%;
}

#masthead > #offerbox #sale-price sup {
	font-size: 50%;
	font-weight: lighter;
	font-family: gothambook;
}

/*#violator {
	position: absolute;
	top: 15%;
	left: 51%;
}*/
#violator {
	background: #A83837;
	text-align: center;
	font-weight: bold;
	font-size: 140%;
	padding: 10px 0;
	color: #eee;
}

#violator > div {
	display:inline-block;
	vertical-align:middle;
	font-family: gothamLight;
	font-weight:lighter;
}
#violator > div > img {
	margin-right: 10px;
}
#violator > div > span {
	color: #f7cc00;
	font-weight: bold;
}

