//Declare Border Color
@rsYellowDark: #C9A600;

//Declare Main Colors
@rsYellow:            #ECC200;
@charcoalBlack:       #363534;
@vanillaCreme:        #F8F6F0;
@tanKhaki:            #EDEADF;
@rsBlue:              #0098DB;
@rsBlueHover:         #0081BA;
@borderKhaki:         #E8E5DB;
@forestGreen:         #467700;
@lightGray:           #D8D8D8;
@strikeRed:           #A90000;
@mobileGray:          #D1D4D3;
// Lightbox Colors
@lightboxGrayBuy:     #EEE;
@lightboxShadow:      #A8A8A8;
@lightboxBorder:      #8BB7CF;
@lightboxContentGray: #E8E8E8;
@accordionBorder:     #4E9BBF;
@accordionActive:     #57B7E4;
@accordionInactive:   #1280b3;
@accordionContBorder: #DADADA;
@accordionDarkBlue:   #0994d5;
@accordionBordtitle:  #3AA9DD;
@accordianTextBlue:   #09c;
@sidebarBlue:         #069;
@sidebarLink:         #1C93EC;
@togglerBlue:         #0583d5;
@tableGray:           #CCC;
@tableBlue:           #1060AA;
@tablePerri:          #E4EFF9;
@tableTextDarkGray:   #666;
@tooltipBorder:       #DDDDDD;
@demoRed:             #A90000;
@demoGray:            #464544;

// Create Mixin for font-face declaration
.Fontface(@fontname, @fontfile) {
        font-family: '@{fontname}';
        src: url('fonts/@{fontfile}-webfont.eot');
        src: url('fonts/@{fontfile}-webfont.eot?#iefix') format('embedded-opentype'),
             url('fonts/@{fontfile}-webfont.woff') format('woff'),
             url('fonts/@{fontfile}-webfont.ttf') format('truetype'),
             url('fonts/@{fontfile}-webfont.svg#@{fontname}') format('svg');
        font-weight: normal;
        font-style: normal;
}

// Webkit Appearance None prefixes
.appearance-none(){
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}

//Clearfix Mixin
.clearfix() {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}

//Media Query for Retina Displays
@highdensity:          ~"only screen and (-webkit-min-device-pixel-ratio: 1.5)",
                       ~"only screen and (min--moz-device-pixel-ratio: 1.5)",
                       ~"only screen and (-o-min-device-pixel-ratio: 3/2)",
                       ~"only screen and (min-device-pixel-ratio: 1.5)";

//Media Query Default from Bootstrap Breakpoints
@mobile:               ~"only screen and (max-width: 743px)";
@tablet-font-2:        ~"only screen and (max-width: 611px)";
@tablet-font:          ~"only screen and (max-width: 734px)";
@tablet-sm2:            ~"only screen and (max-width: 800px)";
@tablet-sm:            ~"only screen and (min-width: 555px) and (max-width: 883px)";
@tablet:               ~"only screen and (min-width: 884px) and (max-width: 981px)";
@desktop:              ~"only screen and (min-width: 982px) and (max-width: 1129px)";
@desktoplightbox:      ~"only screen and (max-width: 1129px)";
@desktop-xl:           ~"only screen and (min-width: 1129px)";
@desktop-xxl:          ~"only screen and (min-width: 1440px)";

//Media Query Breakpoints for Landscape mode | Products Section
@landscape-product:    ~"only screen and (max-width: 677px)";

//Media Query Breakpoints | Mobile | Products Section
@mobile-2:             ~"only screen and (max-width: 357px)";

//Media Query Breakpoints for Products Section
@tablet-product-6:     ~"only screen and (max-width: 693px)";
@tablet-product-5:     ~"only screen and (max-width: 764px)";
@tablet-product-4:     ~"only screen and (max-width: 852px)";
@tablet-product-3:     ~"only screen and (max-width: 921px)";
@tablet-product-2:     ~"only screen and (max-width: 1014px)";
@tablet-product:       ~"only screen and (max-width: 1039px)";
@product-section-3:    ~"only screen and (min-width: 1040px)";
@product-section-2:    ~"only screen and (min-width: 1139px)";
@product-section-1:    ~"only screen and (min-width: 1184px)";

//Media Query Breakpoints for links Section
@tryit-small:         ~"only screen and (min-width: 569px)";
@tryit-medium:        ~"only screen and (min-width: 737px)";
@tryit-tablet:        ~"only screen and (min-width: 744px)";
@tryit-medium-2:      ~"only screen and (min-width: 853px)";
@tryit-desktop:       ~"only screen and (min-width: 1040px)";
@tryit-desktop-xl:    ~"only screen and (min-width: 1195px)";

//Media Query Breakpoints for links Section
@selected-lang:       ~"only screen and (max-width: 1039px)";

//Declare Fonts
@font-face { .Fontface(gothamBook, gothamhtf-book); }
@font-face { .Fontface(gothamLight, gothamhtf-light); }
@font-face { .Fontface(gothamThin, gothamhtf-thin); }
@font-face { .Fontface(GothamMedium, gothamhtf-medium); }

//Create Mixin for font-family
#Fonts() {
    .GothamLight {
        font-family: 'gothamLight';
    }
    .GothamBook {
        font-family: 'gothamBook', arial, sans-serif;
    }
    .Helvetica {
      font-family: Helvetica, Arial, sans-serif;
    }
    .GothamMedium {
        font-family: 'gothamMedium';
    }
    .Palatino {
        font-family: "Palatino Linotype";
    }
    .Georgia {
        font-family: georgia, arial;
    }
}

//Border Radius Mixin
.border-radius (@radius: 5px) {
    -webkit-border-radius: @radius;
    -moz-border-radius:    @radius;
    border-radius:         @radius;

    -moz-background-clip:    padding;
    -webkit-background-clip: padding-box;
    background-clip:         padding-box;
}

//Drop Shadow Mixin
.drop-shadow (@x: 0, @y: 1px, @blur: 2px, @spread: 0, @alpha: 0.25) {
    -webkit-box-shadow: @x @y @blur @spread rgba(0, 0, 0, @alpha);
    -moz-box-shadow:    @x @y @blur @spread rgba(0, 0, 0, @alpha);
    box-shadow:     @x @y @blur @spread rgba(0, 0, 0, @alpha);
}

//Inner Shadow Mixin
.inner-shadow (@x: 0, @y: 1px, @blur: 2px, @spread: 0, @alpha: 0.25) {
    -webkit-box-shadow: inset @x @y @blur @spread rgba(0, 0, 0, @alpha);
    -moz-box-shadow:    inset @x @y @blur @spread rgba(0, 0, 0, @alpha);
    box-shadow:         inset @x @y @blur @spread rgba(0, 0, 0, @alpha);
}

//transition for animations
.transition (@transition) {
    -webkit-transition: @transition;  
    -moz-transition:    @transition;
    -ms-transition:     @transition; 
    -o-transition:      @transition;  
}