//import rem mixins for measurement
@import "remixin.less";
//import mixin with page features
@import "sbsrmixin.less";


header {
    background: @rsYellow;
}

#lang-menu {
    background: @charcoalBlack;
    span {
        color: @rsYellow;
    }
    .language-buy-list li a {
        color: white;
        text-decoration: none;
        cursor: pointer;
        padding: 0.375em; /* 6/16 */
        &:hover{
            background: @rsYellow;
            color: @charcoalBlack;
        }
    }
}

#selected-lang {
    background: @charcoalBlack;
    color: white;
    span {
        color: @rsYellow;
    }
    button {
        background: @rsBlue;
        color: white;
    }
}

#products {
    background: @vanillaCreme;
    .lightbox-links {
        a {
            color: @rsBlue;
        }
    }
    #prod-options {
        .prod-container {
            .prices {
                .options {
                    label {
                        cursor:pointer;
                        input[type="radio"] {
                            display: none;
                            &:checked {
                                display: none;
                            }
                            &:checked + span {
                                display:inline-block;
                                height:14px;
                                padding: 2px 0 0 16px;
                                margin: 4px 4px 0 0;
                                vertical-align:middle;
                                background:url('../assets/radio.png') 0 0 no-repeat;
                                cursor:pointer;
                            }
                        }
                        input[type="radio"] + span {
                            display:inline-block;
                            height:14px;
                            padding: 2px 0 0 16px;
                            margin: 4px 4px 0 0;
                            vertical-align:middle;
                            background: url('../assets/radio.png') 0 -24px no-repeat;
                            cursor:pointer;
                            float: left;
                        }
                    }
                }
            }
        }
        .cdrom {
            @media @product-section-3 {
                .prices-pad {
                    display: none;
                }
            }
            @media @tablet-product {
                .prices {
                    display:none;
                }
                .prices-pad {
                    display: block;
                    margin: 1.9em 0 2.4em;
                    .dl-cd {
                        .menu{
                            margin: 0 auto 1.25em;
                            width: 18.3125em;
                            .clearfix();
                            a {
                                display: inline-block;
                                float: left;
                                border:none;
                                .border-radius(0);
                                background: @tanKhaki;
                                color: @charcoalBlack;
                                text-decoration: none;
                                height: 3.125em;
                                width: 50%;
                                text-align: center;
                                text-transform: uppercase;
                                line-height: 3.125em;
                            }
                            a.cd {
                                background: @rsBlue;
                                color: white;
                                #Fonts > .GothamMedium;
                            }
                        }
                        select {
                            margin: 0 auto;
                            width: 18.3125em;
                            display: block;
                            .appearance-none();
                            font-size: 1em;
                            border: 1px solid @charcoalBlack;
                            background: url('../assets/arrow-select.png') 95% 50% no-repeat white;
                            padding: .5em;
                            .border-radius(0);
                            #Fonts > .GothamBook;

                        }
                    }
                }
            }
            @media @tablet-product-6 {
                .prices-pad {
                    a {
                        width: 33%;
                    }
                }
            }
            .title {
                background: @rsBlue;
                color: white;
            }
            p {
                &:nth-of-type(1) {
                    background: url('../assets/cd-box.png') center 1em no-repeat;
                    padding-top: 14.11em;
                }
                &:nth-of-type(2) {
                    padding-bottom: 2.1em; /* 10/16 */
                    @media @tablet-product {
                        padding-bottom: 1.7em;
                    }
                }
            }
        }
        .download {
            .title {
                background: @rsYellow;
                color: white;
            }
            @media @product-section-3 {
                .prices-pad {
                    display: none;
                }
            }
            @media @tablet-product {
                .prices {
                    display:none;
                }
                .prices-pad {
                    display: block;
                    margin: 1.9em 0 2.4em;
                    .dl-cd {
                        .menu{
                            margin: 0 auto 1.25em;
                            width: 18.3125em;
                            .clearfix();
                            a {
                                display: inline-block;
                                width: 36%;
                                display: inline-block;
                                float: left;
                                border:none;
                                .border-radius(0);
                                background: @tanKhaki;
                                color: @charcoalBlack;
                                text-decoration: none;
                                height: 3.125em;
                                width: 50%;
                                text-align: center;
                                text-transform: uppercase;
                                line-height: 3.125em;
                            }
                            a.dl{
                                background: @rsYellow;
                                color: white;
                                #Fonts > .GothamMedium;
                            }
                        }
                        select {
                            margin: 0 auto 1em;
                            width: 18.3125em;
                            display: block;
                            .appearance-none();
                            font-size: 1em;
                            border: 1px solid @charcoalBlack;
                            background: url('../assets/arrow-select.png') 95% 50% no-repeat white;
                            padding: .5em;
                            .border-radius(0);
                            #Fonts > .GothamBook;

                        }
                    }
                }
            }
            p {
                &:nth-of-type(1) {
                    background: url('../assets/download.png') center 1em no-repeat;
                }
                &:nth-of-type(2) {
                    padding-bottom: 1.6em; /* 10/16 */
                    @media @tablet-product {
                        padding-bottom: 2.8em;
                    }
                }
            }
        }
        @media @mobile {
            .download {
                display: none;
            }
        }
        @media @tablet-product-2 {
            .cdrom {
                display: none;
            }
        }
        @media @tablet-product {
            .cdrom {
                display: none;
            }
        }
        .online {
            .title {
                background: @forestGreen;
                color: white;
            }
            p {
                &:nth-of-type(1) {
                    background: url('../assets/online.png') center 1em no-repeat;
                }
            }
        }
    }
}

#products-mobile {
    .container {
        form {
            .select-prod {
                .desk-on-container {
                    .desktop {
                        .po-mobile {
                            .prod-options {
                                label {
                                    cursor:pointer;
                                    input[type="radio"] {
                                        display: none;
                                        &:checked {
                                            display: none;
                                        }
                                        &:checked + span {
                                            display:inline-block;
                                            height:14px;
                                            padding: 2px 11px 8px 22px;
                                            vertical-align:middle;
                                            background:url('../assets/radio.png') 0 6px no-repeat;
                                            cursor:pointer;
                                        }
                                    }
                                    input[type="radio"] + span {
                                        display:inline-block;
                                        height:14px;
                                        padding: 2px 11px 8px 22px;
                                        vertical-align:middle;
                                        background: url('../assets/radio.png') 0 -18px no-repeat;
                                        cursor:pointer;
                                        float: left;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

#tryit {
    a.demo div {
        background: url('../assets/block-demo-roll.png') 0 0 no-repeat transparent;
        background-size: cover;
        height: 13em;
        margin: 1.09em 0 0;
        .transition(.5s ease all);
    }
    a.works div {
        background: url('../assets/block-watch-roll.png') 0 0 no-repeat transparent;
        background-size: cover;
        height: 13em;
        margin: 1.09em 0 0;
        .transition(.5s ease all);
    }
    a.reviews div {
        background: url('../assets/block-review-roll.png') 0 0 no-repeat transparent;
        background-size: cover;
        height: 13em;
        margin: 1.09em 0 0;
        .transition(.5s ease all);
    }
}

#stats {
    .carousel {
        .cnn {
            span {
                #Fonts > .Palatino;
                font-style: italic;
                background: url('../assets/cnn.png') center 70% no-repeat;
                display: inline-block;
                padding: 1em 0 5em;
                font-size: 1.5em;
            }
        }
    }
    .counterstats {
        .corp {
            background: url('../assets/icon-corp.png') center 10% no-repeat;
        }
        .public {
            background: url('../assets/icon-public.png') center 10% no-repeat;
        }
        .edu {
            background: url('../assets/icon-edu.png') center 10% no-repeat;
            vertical-align: top;
        }
    }
}

#footer {
    .container {
        .footer-links {
            p {
                a {
                    color: #10ADFF;
                    text-decoration: none;
                }
            }
            ul {
                li {
                    a.facebook {
                        background: url('../assets/icon-fb.png') 0 0 no-repeat;
                    }
                    a.twitter {
                        background: url('../assets/icon-twitter.png') 0 0 no-repeat;
                    }
                    a.youtube {
                        background: url('../assets/icon-youtube.png') 0 0 no-repeat;
                    }
                    a.google {
                        background: url('../assets/icon-google.png') 0 0 no-repeat;
                    }
                    a.blog {
                        background: url('../assets/icon-blog.png') 0 0 no-repeat;
                    }
                }
            }
        }
    }
}