#select-month > div[data-lvl="18"]
 { display: none }
/***Icons
*******************************/

@font-face {
    font-family:"icons";
    src:url(icon/icons-45d7a985fdac14c25c40db2807712223.eot);
    src:url(icon/icons-45d7a985fdac14c25c40db2807712223.eot?#iefix) format("embedded-opentype"),url(icon/icons-45d7a985fdac14c25c40db2807712223.woff) format("woff"),url(icon/icons-45d7a985fdac14c25c40db2807712223.ttf) format("truetype"),url(icon/icons-45d7a985fdac14c25c40db2807712223.svg?#webfont) format("svg");
    font-weight:400;
    font-style:normal
}

[class^="icon-"]:before,[class*=" icon-"]:before {
    font-family:"icons";
    display:inline-block;
    font-weight:400;
    font-style:normal;
    text-decoration:inherit
}

[class^="icon-"]:before,[class*=" icon-"]:before {
    -webkit-font-smoothing:antialiased
}

.icon-menu-languages:before {
    content:"\f116"
}

.icon-menu-method:before {
    content:"\f118"
}

.icon-reviews:before {
    content:"\f120"
}

.icon-free-trial:before {
    content:"\f10d"
}

.icon-phone:before {
    content:"\f11d"
}

.icon-menu:before {
  content: "\f11a";
  color: #1899d8;
  padding: 0;
  padding-top: 5px;
  font-size: .8em;
  font-weight: 700;
}

/***Font Setup
*******************************/

@font-face {
    font-family:'Source Sans';
    src:url(fonts/Source_Sans_Pro/SourceSansPro-Light.ttf) format("truetype");
    font-weight:400;
    font-style:normal
}

@font-face {
    font-family:'Source Sans';
    src:url(fonts/Source_Sans_Pro/SourceSansPro-Semibold.ttf) format("truetype");
    font-weight:600;
    font-style:normal
}

@font-face {
    font-family:'Source Sans';
    src:url(fonts/Source_Sans_Pro/SourceSansPro-SemiboldItalic.ttf) format("truetype");
    font-weight:600;
    font-style:italic
}

@font-face {
    font-family:'Source Sans';
    src:url(fonts/Source_Sans_Pro/SourceSansPro-Bold.ttf) format("truetype");
    font-weight:700;
    font-style:normal
}

@font-face {
    font-family:'Source Sans';
    src:url(fonts/Source_Sans_Pro/SourceSansPro-BoldItalic.ttf) format("truetype");
    font-weight:700;
    font-style:italic
}

@font-face {
    font-family:"Effra W01 Bold";
    src:url(fonts/effra/bf129681-00b0-4e8b-afb9-03a5b3673b2e.eot?#iefix);
    src:url(fonts/effra/bf129681-00b0-4e8b-afb9-03a5b3673b2e.eot?#iefix) format("eot"),url(fonts/effra/d9c686bd-1b2c-4730-a0b4-9376d5cc0217.woff) format("woff"),url(fonts/effra/f6eb1dc4-bd7a-4ec7-8efa-af82ddea3829.ttf) format("truetype"),url(fonts/effra/51807340-4baf-41b5-a341-d06a17d6442a.svg#51807340-4baf-41b5-a341-d06a17d6442a) format("svg")
}

@font-face {
    font-family:"Effra W01 Regular";
    src:url(fonts/effra/22d5253a-df89-458b-b414-0191063f0b7f.eot?#iefix);
    src:url(fonts/effra/22d5253a-df89-458b-b414-0191063f0b7f.eot?#iefix) format("eot"),url(fonts/effra/07f98c09-a3b5-4ab3-a35e-9d9474d19279.woff) format("woff"),url(fonts/effra/c95fc487-48ab-48c1-b4da-f9478f900fdb.ttf) format("truetype"),url(fonts/effra/7edd076c-820b-4d62-8cda-94cbed70c375.svg#7edd076c-820b-4d62-8cda-94cbed70c375) format("svg")
}
@font-face {
    font-family: 'gothamBold';
    src: url('fonts/gothamhtf-bold-webfont.eot');
    src: url('fonts/gothamhtf-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/gothamhtf-bold-webfont.woff') format('woff'),
         url('fonts/gothamhtf-bold-webfont.ttf') format('truetype'),
         url('fonts/gothamhtf-bold-webfont.svg#gothamBold') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'gothamBook';
    src: url('fonts/gothamhtf-book-webfont.eot');
    src: url('fonts/gothamhtf-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/gothamhtf-book-webfont.woff') format('woff'),
         url('fonts/gothamhtf-book-webfont.ttf') format('truetype'),
         url('fonts/gothamhtf-book-webfont.svg#gothamBook') format('svg');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'gothamLight';
    src: url('fonts/gothamhtf-light-webfont.eot');
    src: url('fonts/gothamhtf-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/gothamhtf-light-webfont.woff') format('woff'),
         url('fonts/gothamhtf-light-webfont.ttf') format('truetype'),
         url('fonts/gothamhtf-light-webfont.svg#gothamLight') format('svg');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'gothamMedium';
    src: url('fonts/gothamhtf-medium-webfont.eot');
    src: url('fonts/gothamhtf-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/gothamhtf-medium-webfont.woff') format('woff'),
         url('fonts/gothamhtf-medium-webfont.ttf') format('truetype'),
         url('fonts/gothamhtf-medium-webfont.svg#gothamMedium') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'gothamThin';
    src: url('fonts/gothamhtf-thin-webfont.eot');
    src: url('fonts/gothamhtf-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/gothamhtf-thin-webfont.woff') format('woff'),
         url('fonts/gothamhtf-thin-webfont.ttf') format('truetype'),
         url('fonts/gothamhtf-thin-webfont.svg#gothamThin') format('svg');
    font-weight: normal;
    font-style: normal;

}

/***Learn Rosetta Stone
*******************************/

#learn-rs {
    border-radius: 4px;
    background: white;
    border: 2px solid #e8e6da;
      margin: 1.5em 0;
}

#learn-rs h1 {
    background-image: url('../assets/pattern-spanish-mobile.png');
    border-bottom: solid 5px #a90000;
    color: white;
    font-family: 'gothamMedium';
    text-align: center;
    font-size: 1.3em;
    padding: 0.5em 0;
    line-height: 1.3em;
    margin: 1em 0.7em;
}

#learn-rs h1 span {
  font-family: 'gothamLight';
}

#learn-rs ul {
  margin: 0;
  padding: 9.5em 2em 0;
  background: url('../../globals/img/devices.png') center 0 no-repeat;
  background-size: 12em;
  font-size: .9em;
}

#learn-rs ul li {
  font-family: 'gothamLight';
  line-height: 1.1em;
  padding: 0 0 1em;
}

#learn-rs ul li:last-child {
  padding: 0 0 1em;
}

#learn-rs ul li span {
  font-family: 'gothamMedium';
}

/***Online Form
*******************************/

#learn-rs .online,
#learn-rs .cdrom-id {
  background: white;
  border: 1px solid #e8e6da;
  margin: 0.5em 1em 1.5em 1em;
  padding: 1.5em 1em;

}


#learn-rs .online.active,
#learn-rs .cdrom-id.active {
  background: #f8f6f0;
}

.option {
  margin: 0 0 1em;
}

.option:last-child {
  margin: 0;
}

.option label {
  font-family: 'gothamBook';
  font-size: 0.9em;
}

.option label input[type=radio] {
  display: none;
}

.option label input[type=radio] + span {
  display: inline-block;
  height: 21px;
  padding: 2px 0px 8px 22px;
  vertical-align: middle;
  background: url('../../globals/img/radio.png') 0 -30px no-repeat;
  cursor: pointer;
  background-size: 1.4em;
  margin: 0 0.3em 0 0;
}

.option label input[type=radio]:checked + span {
  display: inline-block;
  height: 21px;
  padding: 2px 0px 8px 22px;
  vertical-align: middle;
  background: url('../../globals/img/radio.png') 0 0 no-repeat;
  cursor: pointer;
  background-size: 1.4em;
}

.option .strike {
  display: inline-block;
  padding: 0 0 0 0.4em;
}

.option:nth-of-type(2) .strike {
  padding: 0 0 0 .8em;
}

.option:nth-of-type(2) .strike span {
  padding: 0 0 0 .4em;
}

.option:nth-of-type(3) .strike {
  padding: 0 0 0 1em;
}

.option .strike p {
  font-family: 'gothamBold';
  display: inline-block;
  font-size: 1.3em;
  margin: 0;
}

.option .strike span {
  font-family: 'gothamBook';
  display: inline-block;
  color: red;
  text-decoration: line-through;
  padding: 0 0 0 0.5em;
  font-size: 0.9em;
}

a.checkout {
  text-transform: uppercase;
  display: block;
  margin: 1em auto;
  font-family: 'gothamMedium';
  width: 100%;
  color: #acacac;
  background: white;
  text-align: center;
  padding: 1em 0;
  border-radius: .3em;
  transition: all 0.5s ease;
  border: solid 2px #acacac;
}

.online.active a.checkout,
.cdrom-id.active a.checkout {
  text-transform: uppercase;
  display: block;
  margin: 1em auto;
  font-family: 'gothamMedium';
  width: 100%;
  color: white;
  background: #0098db;
  border: none;
}

.online.active a.checkout:hover,
.cdrom-id.active a.checkout:hover {
  background: #006a99;
}

.online img {
  display: block;
  margin: 0 auto;
}

p.three-g {
  font-family: 'gothamBook';
  text-align: center;
  margin: 0;
  font-size: 0.9em;
  padding: 0.7em 0 0;
}

/***Divider
*******************************/

.break {
  padding: 0.2em 0;
  border-top: solid 2px #e8e6da;
  border-bottom: solid 2px #e8e6da;
  margin: 0 0 1em;
}

/***CDROM - Instant Download
*******************************/

.cdrom-id h2 {
  font-family: 'gothamMedium';
  text-align: center;
  font-size: 1.1em;
}

.cdrom-id p {
  font-family: 'gothamBook';
  text-align: center;
  font-size: 0.82em;
  margin: 0 0 0.5em;
}

.cdrom-id p:nth-of-type(2) {
  margin: 0 0 1.5em;
}

#select-level .option:nth-of-type(1) .strike {
  padding: 0 0 0 0.6em;
}

#select-level .option:nth-of-type(2) .strike {
  padding: 0 0 0 .6em;
}

#select-level .option:nth-of-type(1) .strike span {
  padding: 0 0 0 .2em;
}

#select-level .option:nth-of-type(3) .strike {
  padding: 0 0 0 2.3em;
}

.splitter {
  border: solid 1px #e7e7e7;
  margin: 1em 0 0;
}

.cdrom-id h3 {
  font-family: 'gothamMedium';
  font-size: 1em;
  text-align: center;
}



