@import 'reset.css'

// F#&* variables!

body
  //background #fff//cadetblue
  //background linear-gradient(top left, green, purple)
main
  padding-top 2em

section
  background #F8F8F9


/* This is on the Create Page component */
.mastheads-container
  display flex
  flex-wrap wrap
  justify-content space-between
  .masthead-wrap
    flex-basis 33%
    color white
    text-align center
    padding 0 5px 5px
    cursor pointer
    background alpha(black, 50%)
    transition background .2s
    margin-bottom 5px
    &.selected
      background alpha(black, 80%)
    img
      display block
      width 100%



/* Flips Listing */
a.flip
  border 1px solid #43505D
  display block
  .flip-name
    text-align center
    background #43505D
    color #fff
    padding 3px 0
    font-size 1.1em
    letter-spacing 1px
    transition background 0.15s
  .flip-date

    text-align center
    padding 10px
    box-sizing border-box
    //text-transform uppercase
    line-height 38px
    background #fcfcfc
  .flip-month
    font-size 2em
  .flip-day
    font-size 3em
  .flip-year
    font-size 0.9em
    display none
  &:hover
    border-color indianred
    .flip-name
      background indianred
    .flip-date
      color indianred



/* ListPages thumbnails */
a.page-thumb
  border 1px solid transparent
  display block
  transition border 0.15s
  .page-name
    text-align center
    font-size 1.3em
    background #eee
    padding 3px 0
    transition background 0.15s
  .page-masthead
    background #ccc
    height 100px
    background-size 100% 100%
  &:hover
    border 1px solid indianred
    .page-name
      background indianred
      color #fff

/* ListPpromos thumbnails */
a.promoset-thumb
  display block
  padding 10px 20px
  /*background lightslategrey
  color #fff
  border 2px solid darken(lightslategrey, 14%)
  transition background 0.2s
  border-radius 4px*/
  font-size 2em
  //background slategrey
  //color #fff
  border 1px dashed slategrey
  text-align center
  //text-shadow 1px 1px 0 alpha(#000, 50%)
  &:hover
    color #fff
    //background lighten(lightslategrey, 10%)
    background darken(slategrey, 20%)




/* Overwrite some Semantic-ui */
label ~ i
  font-size: 90%
  color #666
  display block
  padding-bottom 0.5em
.ui.inverted.menu
  background #43505d!important
  border-radius 0

h2.ui.header
  font-weight 100


input[name=masthead-files]
  display none


div.img-container
  button
    margin 1em !important
  input[type=file]
    display none

  border 5px solid #333
  border-top 0
  .title
    background #333
    color #fff
    padding 5px 0
    text-align center
    text-transform uppercase
    letter-spacing 1px

  .img-wrap
    img
      display block
      width 100%
      height 250px



.nag
  ul

    position fixed
    bottom 10px
    left 1em
    width 400px
    display flex
    flex-direction column
    justify-content flex-end
    overflow hidden
    li
      background #444
      color #fff
      border-radius 3px
      margin-bottom 0.5em
      padding 1em 2em
      display block
      z-index 1
      font-size 120%







.nag-enter-active, .nag-leave-active
  transition: all 0.5s


.nag-enter, .nag-leave-to
  opacity: 0
  transform: translateY(30px)


