#masthead {
	background: url('../../globals/img/mastheads/sbs/<%= mastheadimage %>')
	no-repeat;
	height: 316px;
	position: relative
}
#masthead > #offerbox {
	visibility: hidden;
}


#violator {
	display: none;
background: #A83837;
	text-align: center;
	font-weight: bold;
	font-size: 140%;
	padding: 10px 0;
	color: #eee;
}

#violator > div {
	display:inline-block;
	vertical-align:middle;
	font-family: gothamLight;
	font-weight:lighter;
}
#violator > div > img {
	margin-right: 10px;
}
#violator > div > span {
	color: #f7cc00;
	font-weight: bold;
}
