header {
  background: #ecc200;
}
#lang-menu {
  background: #363534;
  width: 100%;
}
#lang-menu span {
  color: #ecc200;
}
#lang-menu .language-buy-list li a {
  color: white;
  text-decoration: none;
  cursor: pointer;
  padding: 0.375em;
  /* 6/16 */
}
#lang-menu .language-buy-list li a:hover {
  background: #ecc200;
  color: #363534;
}
#selected-lang {
  background: #363534;
  color: white;
}
#selected-lang span {
  color: #ecc200;
}
#selected-lang button {
  background: #0098db;
  color: white;
}
#products {
  background: #f8f6f0;
}
#products .lightbox-links a {
  color: #0098db;
}
#products #prod-options .prod-container .prices .options label {
  cursor: pointer;
  display: none;
}
#products #prod-options .prod-container .prices .options label input[type="radio"] {
  display: none;
}
#products #prod-options .prod-container .prices .options label input[type="radio"]:checked {
  display: none;
}
#products #prod-options .prod-container .prices .options label input[type="radio"]:checked + span {
  display: inline-block;
  height: 14px;
  padding: 2px 0 0 16px;
  margin: 4px 4px 0 0;
  vertical-align: middle;
  background: url('../assets/radio.png') 0 0 no-repeat;
  cursor: pointer;
}
#products #prod-options .prod-container .prices .options label input[type="radio"] + span {
  display: inline-block;
  height: 14px;
  padding: 2px 0 0 16px;
  margin: 4px 4px 0 0;
  vertical-align: middle;
  background: url('../assets/radio.png') 0 -24px no-repeat;
  cursor: pointer;
  float: left;
}
@media only screen and (min-width: 1040px) {
  #products #prod-options .cdrom .prices-pad {
    display: none;
  }
}
@media only screen and (max-width: 1039px) {
  #products #prod-options .cdrom .prices {
    display: none;
  }
  #products #prod-options .cdrom .prices-pad {
    display: block;
    margin: 1.9em 0 1em;
  }
  #products #prod-options .cdrom .prices-pad .dl-cd .menu {
    margin: 0 auto 0.25em;
    width: 18.3125em;
  }
  #products #prod-options .cdrom .prices-pad .dl-cd .menu:before,
  #products #prod-options .cdrom .prices-pad .dl-cd .menu:after {
    content: " ";
    display: table;
  }
  #products #prod-options .cdrom .prices-pad .dl-cd .menu:after {
    clear: both;
  }
  #products #prod-options .cdrom .prices-pad .dl-cd .menu a {
    display: inline-block;
    float: left;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background: #edeadf;
    color: #363534;
    text-decoration: none;
    height: 3.125em;
    width: 50%;
    text-align: center;
    text-transform: uppercase;
    line-height: 3.125em;
  }
  #products #prod-options .cdrom .prices-pad .dl-cd .menu a.cd {
    background: #0098db;
    color: white;
    font-family: 'gothamMedium';
  }
  #products #prod-options .cdrom .prices-pad .dl-cd select {
    margin: 0 auto;
    width: 18.3125em;
    display: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 1em;
    border: 1px solid #363534;
    background: url('../assets/arrow-select.png') 95% 50% no-repeat white;
    padding: .5em;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    font-family: 'gothamBook', arial, sans-serif;
  }
}
@media only screen and (max-width: 693px) {
  #products #prod-options .cdrom .prices-pad a {
    width: 33%;
  }
}
#products #prod-options .cdrom .title {
  background: #0098db;
  color: white;
}
#products #prod-options .cdrom p:nth-of-type(1) {
  background: url(../../globals/img/devices.png) center 1.4em no-repeat;
  
  background-size: 53%;
}
#products #prod-options .cdrom p:nth-of-type(4) {
  
  /* 10/16 */
}
#products #prod-options .download .title {
  background: #ecc200;
  color: white;
}
@media only screen and (min-width: 1040px) {
  #products #prod-options .download .prices-pad {
    display: none;
  }
}
@media only screen and (max-width: 1039px) {
  #products #prod-options .cdrom p:nth-of-type(4) {
    
  }
  #products #prod-options .download .prices {
    display: none;
  }
  #products #prod-options .download .prices-pad {
    display: block;
    margin: 1.9em 0 1em;
  }
  #products #prod-options .download .prices-pad .dl-cd .menu {
    margin: 0 auto 0.25em;
    width: 18.3125em;
  }
  #products #prod-options .download .prices-pad .dl-cd .menu:before,
  #products #prod-options .download .prices-pad .dl-cd .menu:after {
    content: " ";
    display: table;
  }
  #products #prod-options .download .prices-pad .dl-cd .menu:after {
    clear: both;
  }
  #products #prod-options .download .prices-pad .dl-cd .menu a {
    width: 36%;
    display: inline-block;
    float: left;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background: #edeadf;
    color: #363534;
    text-decoration: none;
    height: 3.125em;
    width: 50%;
    text-align: center;
    text-transform: uppercase;
    line-height: 3.125em;
  }
  #products #prod-options .download .prices-pad .dl-cd .menu a.dl {
    background: #ecc200;
    color: white;
    font-family: 'gothamMedium';
  }
  #products #prod-options .download .prices-pad .dl-cd select {
    margin: 0 auto 1em;
    width: 18.3125em;
    display: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 1em;
    border: 1px solid #363534;
    background: url('../assets/arrow-select.png') 95% 50% no-repeat white;
    padding: .5em;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    font-family: 'gothamBook', arial, sans-serif;
  }
}
#products #prod-options .download p:nth-of-type(1) {
  background: url('../assets/download.png') center 1em no-repeat;

}
#products #prod-options .download p:nth-of-type(4) {
  padding-bottom: 0;
}
#products #prod-options .online p:nth-of-type(4) {
  padding-bottom: 2.5em;
}
@media only screen and (max-width: 1039px) {
  #products #prod-options .download p:nth-of-type(4) {
    
  }
  #products #prod-options .online p:nth-of-type(4) {
    padding-bottom: 6.5em;
  }
}
@media only screen and (max-width: 743px) {
  #products #prod-options .download {
    display: none;
  }
  #products #prod-options .prod-container .prices .options label {
    display: block;
  }
  #products-mobile .container form .select-prod .desk-on-container .desktop .po-mobile .prod-options label {
    display: block;
  }
}
@media only screen and (max-width: 1014px) {
  #products #prod-options .cdrom {
    
  }
}
@media only screen and (max-width: 1039px) {
  #products #prod-options .cdrom {

  }
}
#products #prod-options .online .title {
  background: #467700;
  color: white;
}
#products #prod-options .online p:nth-of-type(1) {
  background: url('../assets/online.png') center 1em no-repeat;
}
#products-mobile .container form .select-prod .desk-on-container .desktop .po-mobile .prod-options label {
  cursor: pointer;
  display: none;
}
#products-mobile .container form .select-prod .desk-on-container .desktop .po-mobile .prod-options label input[type="radio"] {
  display: none;
}
#products-mobile .container form .select-prod .desk-on-container .desktop .po-mobile .prod-options label input[type="radio"]:checked {
  display: none;
}
#products-mobile .container form .select-prod .desk-on-container .desktop .po-mobile .prod-options label input[type="radio"]:checked + span {
  display: inline-block;
  height: 14px;
  padding: 2px 11px 8px 22px;
  vertical-align: middle;
  background: url('../assets/radio.png') 0 6px no-repeat;
  cursor: pointer;
  display: none;
}
#products-mobile .container form .select-prod .desk-on-container .desktop .po-mobile .prod-options label input[type="radio"] + span {
  display: inline-block;
  height: 14px;
  padding: 2px 11px 8px 22px;
  vertical-align: middle;
  background: url('../assets/radio.png') 0 -18px no-repeat;
  cursor: pointer;
  float: left;
}
#tryit a.demo div {
  background: url('../assets/block-demo-roll.png') 0 0 no-repeat transparent;
  background-size: cover;
  height: 13em;
  margin: 1.09em 0 0;
  -webkit-transition: 0.5s ease all;
  -moz-transition: 0.5s ease all;
  -ms-transition: 0.5s ease all;
  -o-transition: 0.5s ease all;
}
#tryit a.works div {
  background: url('../assets/block-watch-roll-resize.png') 0 0 no-repeat transparent;
  background-size: cover;
  height: 13em;
  margin: 1.09em 0 0;
  -webkit-transition: 0.5s ease all;
  -moz-transition: 0.5s ease all;
  -ms-transition: 0.5s ease all;
  -o-transition: 0.5s ease all;
}
#tryit a.reviews div {
  background: url('../assets/block-review-roll-resize.png') 0 0 no-repeat transparent;
  background-size: cover;
  height: 13em;
  margin: 1.09em 0 0;
  -webkit-transition: 0.5s ease all;
  -moz-transition: 0.5s ease all;
  -ms-transition: 0.5s ease all;
  -o-transition: 0.5s ease all;
}
#stats .carousel .cnn span {
  font-family: "Palatino Linotype";
  font-style: italic;
  background: url('../assets/CNN.png') center 70% no-repeat;
  display: inline-block;
  padding: 1em 0 5em;
  font-size: 1.5em;
}
#stats .counterstats .corp {
  background: url('../assets/icon-corp.png') center 10% no-repeat;
}
#stats .counterstats .public {
  background: url('../assets/icon-public.png') center 10% no-repeat;
}
#stats .counterstats .edu {
  background: url('../assets/icon-edu.png') center 10% no-repeat;
  vertical-align: top;
}
#footer .container .footer-links p a {
  color: #10ADFF;
  text-decoration: none;
}
#footer .container .footer-links ul li a.facebook {
  background: url('../assets/icon-fb.png') 0 0 no-repeat;
}
#footer .container .footer-links ul li a.twitter {
  background: url('../assets/icon-twitter.png') 0 0 no-repeat;
}
#footer .container .footer-links ul li a.youtube {
  background: url('../assets/icon-youtube.png') 0 0 no-repeat;
}
#footer .container .footer-links ul li a.google {
  background: url('../assets/icon-google.png') 0 0 no-repeat;
}
#footer .container .footer-links ul li a.blog {
  background: url('../assets/icon-blog.png') 0 0 no-repeat;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  #clock-wrapper .sale-ends {
    width: 105px !important;
  }
}

.strikethru{
  text-align: center;
  display: block;
  margin-top: 10px;
}
.strike{
  display: inline-block;
}
.strike del{
  color: #909090;
  font-size: 1.7em;
  text-decoration: none;
  vertical-align: super;
  display: inline-block;
  font-family: 'gothamLight';
}
.sale{
  padding-left: 0.25em;
  font-family: 'gothamLight';
  font-size: 2.5em;
  display: inline-block;
}

.prices .strike del {
  font-size: 1em;
  vertical-align: baseline;
}
#pOne, #pTwo, #pThree, #pFour {
  background: url(http://www.rosettastone.com/lp/catalog2015/spo2/check.png) left no-repeat;
  background-position: 0.5em 12px;
  padding: 0.5em 2em 0 2em;
  background-size: 1em;
  font-size: 0.875em;
}


#violator {
  background: #A83837;
  text-align: center;
  font-weight: bold;
  font-size: 140%;
  padding: 10px 0;
  color: #eee;
}

#violator > div {
  display:inline-block;
  vertical-align:middle;
  font-family: gothamLight;
  font-weight:lighter;
}
#violator > div > img {
  margin-right: 10px;
}
#violator > div > span {
  color: #f7cc00;
  font-weight: bold;
}

.bottom-html {
  padding-top: 5px;
}

#works-hov img, #reviews-hov img{
  opacity: 1;
  transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
}

#works-hov img:hover, #reviews-hov img:hover{
  opacity: 0;
}









/*********************************************************
TOP BAR
**********************************************************/

.topbar{
	background: #ecc200;
	text-align: left;
	padding: 0px;
	position: relative;
}

.svglogo{
	display: inline-block;
	padding: 10px 20px;
}


.topbar_buttons_container{
	position: absolute;
	right: 0px;
	top: 0px;
	height: 100%;
}

.topbar_buttons{
	text-transform: uppercase;
	padding: 22px;
	font-size: 16px;
	border-left: 1px solid #ba7;
	display: inline-block;
	height: 100%;
	box-sizing: border-box;
	text-decoration: none;
	color: #333;
}

.topbar_phone{
	display: none;
}

.topbar_call_button{
	padding: 22px 10px;
}





#mobile-chat{
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
}

#mobile-chat .LPMoverlay{
	width: auto !important;
	height: auto !important;
	outline: none !important;
	display: inline-block !important;
}

#mobile-chat .LPMimage{
	position: relative !important;
	width: 90px !important;
	display: block !important;
}

@media (max-width:290px) {
	#mobile-chat{
		display: none;
	}
}

#lp-chat-header{
	display: none;
	vertical-align: middle;
	margin-right: 15px;
	margin-bottom: 2px;
}

#lp-chat-header .LPMcontainer{
	cursor: pointer !important;
}



@media (min-width:600px) {
	.topbar_phone{
		display: inline-block;
	}
	.topbar_call_button{
		display: none;
	}
	#mobile-chat{
		display: none;
	}
	#lp-chat-header{
		display: inline-block;
	}
}