#masthead {
	background: url('../../globals/img/mastheads/newlang/<%= mastheadimage %>') no-repeat;
	height: 316px;
	position: relative;
	display: table;
  width: 100%;
}
#masthead > #offerbox {
	box-sizing: border-box;
    color: #222;
    font-size: 190%;
    vertical-align: middle;
    display: table-cell;
    text-align: right;
    padding-right: 170px;
    padding-top: 125px;
	position: relative;

}

#masthead > #offerbox > #offertext {
	font-size: 50%;
	bottom: -5px;
}

#masthead #pricing {
	display: table;
}
#masthead > #offerbox #regular-price {
	font-size: 110%;
	position:  relative;
	color: #222;
	top: -50px;
  right: -70px;
}


div#regular-price sup {
	font-weight: lighter;
	font-size: 50%;
	position: relative;
	right: -5px;
	top: -13px;
	font-size: 45%;

}

#masthead > #offerbox #sale-price {
	font-size: 280%;
	color: #F5C30B;
	font-family: gothambook;
}
#masthead > #offerbox #sale-price sup {
	font-weight: lighter;
	font-size: 40%;
	font-weight: lighter;
	font-family: gothambook;
	right: -1px;
  top: -35px;
}

/* DELETE #masthead > #offerbox #regular-price > strike > span {
	color: #fff;
}*/

#masthead > #offerbox #regular-price > span {
	display: inline-block;
	position: relative;
}

#masthead > #offerbox #regular-price .strikethrough {
	position: absolute;
	top: 49%;
	height: 2px;
	background: red;
	width: 100%;
}

#masthead > #offerbox #regular-price > span:first-of-type {
	font-size: 40%;
	right: 40px;
	position: absolute;
	margin-top: -10px;
}




/*#violator {
	position: absolute;
	top: 15%;
	left: 52%;
}*/


#violator {
	background: #A83837;
	text-align: center;
	font-weight: bold;
	font-size: 140%;
	padding: 10px 0;
	color: #eee;
}

#violator > div {
	display:inline-block;
	vertical-align:middle;
	font-family: gothamLight;
	font-weight:lighter;
}
#violator > div > img {
	margin-right: 10px;
}
#violator > div > span {
	color: #f7cc00;
	font-weight: bold;
}


.bottom-html {
  font-size: 0.5em;
  position: relative;
  top: -36px;
  right: -29px;
}