//Declare Border Color
@rsYellowDark: #C9A600;

//Declare Main Colors
@rsYellow:            #ECC200;
@darkGray:            #555555;
@charcoalBlack:       #4c4c45;
@shadowBlack:         #393933;
@darkCharcoal:        #202020;
@darkToneGray:        #8b8d8e;
@dimGray:             #e3e3e1;  
@vanillaCreme:        #F8F6F0;
@tanKhakiHover:       #dbd5be;
@tanKhaki:            #EDEADF;
@royalBlue:           #003c60;
@rsBlue:              #0098DB;
@rsBlueHover:         #0081BA;
@borderKhaki:         #E8E5DB;
@forestGreen:         #477800;
@lightGray:           #D8D8D8;
@strikeRed:           #A90000;
@mobileGray:          #D1D4D3;
@lightGray:           #f1f1f1;
@brown:               #555555;
@borderGray:          #a4a4a4;
@brightRed:           #c0000f;

// Create Mixin for font-face declaration
.Fontface(@fontname, @fontfile) {
        font-family: '@{fontname}';
        src: url('fonts/@{fontfile}-webfont.eot');
        src: url('fonts/@{fontfile}-webfont.eot?#iefix') format('embedded-opentype'),
             url('fonts/@{fontfile}-webfont.woff') format('woff'),
             url('fonts/@{fontfile}-webfont.ttf') format('truetype'),
             url('fonts/@{fontfile}-webfont.svg#@{fontname}') format('svg');
        font-weight: normal;
        font-style: normal;
}

// Webkit Appearance None prefixes
.appearance-none(){
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}

//Clearfix Mixin
.clearfix() {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}

//Media Query for Retina Displays
@highdensity:          ~"only screen and (-webkit-min-device-pixel-ratio: 1.5)",
                       ~"only screen and (min--moz-device-pixel-ratio: 1.5)",
                       ~"only screen and (-o-min-device-pixel-ratio: 3/2)",
                       ~"only screen and (min-device-pixel-ratio: 1.5)";

//Media Query Default from Bootstrap Breakpoints
@iphones :        ~"only screen and (min-width: 20em) and (max-width: 26.25em)"; /* min-320/16 */ /* max-415/16 */
@ipSix :          ~"only screen and (min-width: 23.4375em) and (max-width: 25.8125em)"; /* min-375/16 */ /* max-413/16 */
@ipSixPlus :      ~"only screen and (min-width: 25.8125em) and (max-width: 26.25em)";/* min-413/16 */ /* max-420/16 */
@ipSixAll :       ~"only screen and (min-width: 23.4375em) and (max-width: 26.25em)";/* min-375/16 */ /* max-420/16 */
@medScreen:       ~"only screen and (min-width: 43.8125em) and (max-width: 61.25em)"; /* 701/16 */ /* 980/16 */
@largeDesktop :   ~"only screen and (min-width: 67.5em)"; /* min-1080/16 */
@lrgLrgr :        ~"only screen and (min-width: 67.5625em)and (max-width: 80.625em)"; /* min-1080/16 */ /* 1081/16 */ /* 1290/16 */
@miscMobile :     ~"only screen and (min-width: 26.3125em) and (max-width: 43.75em)"; /* 421/16 */ /* 700/16 */


//Declare Fonts
@font-face { .Fontface(gothamBook, gothamhtf-book); }
@font-face { .Fontface(gothamLight, gothamhtf-light); }
@font-face { .Fontface(gothamThin, gothamhtf-thin); }
@font-face { .Fontface(GothamMedium, gothamhtf-medium); }
@font-face { .Fontface(GothamBold, gothamhtf-bold); }

//Create Mixin for font-family
#Fonts() {
    .GothamLight {
        font-family: 'gothamLight';
    }
    .GothamBook {
        font-family: 'gothamBook', arial, sans-serif;
    }
    .Helvetica {
      font-family: Helvetica, Arial, sans-serif;
    }
    .GothamMedium {
        font-family: 'gothamMedium';
    }
    .GothamBold {
        font-family: 'gothamBold';
    }
    .Palatino {
        font-family: "Palatino Linotype";
    }
    .Georgia {
        font-family: georgia, arial;
    }
    .Teko {
        font-family: 'teko', arial;
    }
}

//Border Radius Mixin
.border-radius (@radius: 5px) {
    -webkit-border-radius: @radius;
    -moz-border-radius:    @radius;
    border-radius:         @radius;

    -moz-background-clip:    padding;
    -webkit-background-clip: padding-box;
    background-clip:         padding-box;
}

//Drop Shadow Mixin
.drop-shadow (@x: 0, @y: 1px, @blur: 2px, @spread: 0, @alpha: 0.25) {
    -webkit-box-shadow: @x @y @blur @spread rgba(0, 0, 0, @alpha);
    -moz-box-shadow:    @x @y @blur @spread rgba(0, 0, 0, @alpha);
    box-shadow:     @x @y @blur @spread rgba(0, 0, 0, @alpha);
}

//Inner Shadow Mixin
.inner-shadow (@x: 0, @y: 1px, @blur: 2px, @spread: 0, @alpha: 0.25) {
    -webkit-box-shadow: inset @x @y @blur @spread rgba(0, 0, 0, @alpha);
    -moz-box-shadow:    inset @x @y @blur @spread rgba(0, 0, 0, @alpha);
    box-shadow:         inset @x @y @blur @spread rgba(0, 0, 0, @alpha);
}

//transition for animations
.transition (@transition) {
    -webkit-transition: @transition;  
    -moz-transition:    @transition;
    -ms-transition:     @transition; 
    -o-transition:      @transition;  
}

//border box
.box-sizing (@type: border-box) {
  -webkit-box-sizing: @type;
  -moz-box-sizing:    @type;
  box-sizing:         @type;
}
