//import google font
@import url(http://fonts.googleapis.com/css?family=Teko:700);
//import normalize
@import "normalize.less";
//import main mixin
@import "mainmixin.less";

body {
    #Fonts > .GothamBook;
}

//masthead
#masthead {
    background: url('../img/masthead.jpg') 0 -7em no-repeat;
    background-size: cover;
    border-top: .2em solid @rsYellow;
    height: 28.3em;
    position: relative;
    overflow: hidden;
    video {
        position: absolute;
        z-index: 1;
        height: 100%;
        width: 100%;
    }
    @media @iphones {
        background: url('../img/masthead-ipfive.jpg') 0 0 no-repeat;
        height: 30em;
        background-size: cover;
    }
    @media @miscMobile {
        background: url('../img/masthead-ipfive.jpg') 0 0 no-repeat;
        height: 34em;
        background-size: cover;
    }
    @media @medScreen {
        background: url('../img/masthead.jpg') -7em 0 no-repeat;
        background-size: cover;
        height: 32em;
    }
    @media @largeDesktop {
        height: 38em;
    }
    .container {
        width: 90%;
        margin: 0 auto;
        padding: 2em 0 0;
        position: absolute;
        z-index: 10;
        left: 0;
        right: 0;
        @media @iphones {
            padding: 1em 0 0;
        }
        .contact {
            .clearfix();
            a {
                float: left;
                display: inline-block;
                background: url('../img/logo.png') no-repeat;
                text-indent: -9999px;
                background-size: cover;
                height: 43px;
                width: 100px;
            }
            span {
                display: inline-block;
                float: right;
                color: white;
                @media @iphones {
                    padding: .5em 0 0;
                }
            }
        }
        h1 {
            #Fonts > .Teko;
            margin: .5em 0 0;
            line-height: .75em;
            text-align: center;
            color: white;
            text-transform: uppercase;
            font-size: 6em;
            @media @iphones {
                font-size: 4.5em;
                line-height: .8em;
            }
            @media @largeDesktop {
                font-size: 7.8em;
            }
            span {
                #Fonts > .GothamLight;
                font-size: 0.44em;
            }
        }
        p {
            color: @rsYellow;
            #Fonts > .GothamLight;
            text-transform: uppercase;
            font-size: 1.3em;
            text-align: center;
            margin: 0;
            @media @iphones {
                font-size: 1.2em;
            }
            @media @largeDesktop {
                font-size: 1.7em;
            }
        }
        a {
            text-decoration: none;
        }
        button {
            display: block;
            width: 19em;
            background: @rsBlue;
            color: white;
            border: none;
            outline: none;
            text-transform: uppercase;
            .border-radius(3px);
            margin: 2em auto 0;
            padding: 1em 0;
            font-size: 1.2em;
            @media @iphones {
                width: 14em;
            }
            @media @largeDesktop {
                width: 23em;
            }
        }
    }
}
//inspire quote
#inspire {
    background: white;
    #Fonts > .GothamLight;
    .container {
        width: 80%;
        margin: 0 auto;
        font-size: 2.18em;
        text-align: center;
        padding: 1em 0;
        line-height: 1.3em;
        span {
            #Fonts > .GothamMedium;
        }
        @media @iphones {
            width: 90%;
            font-size: 1.2em;
        }
        @media @ipSixAll {
            font-size: 1.3em;
            padding: 1em 0;
        }
        @media @miscMobile {
            font-size: 1.48em;
        }
        @media @medScreen {
            width: 95%;
            font-size: 1.9em;
        }
        @media @largeDesktop {
            width: 72%;
        padding: .5em 0;
        }
    }
}
//signup section
#signup {
    background: @lightGray;
    text-align: right;
    position: relative;
    @media @iphones {
        text-align: center;
    }
    @media @miscMobile {
        text-align: center;
    }
    .overlay {
        width: 685px;
        background: #fff;
        display: none;
        position: absolute;
        top: 70px;
        left: 140px;
        text-align: center;
        font-family: helvetica, arial;
        z-index: 100;
        text-shadow: 0 1px 0 rgba(255,255,255, 1);
        -webkit-box-shadow: rgb(0, 0, 0) 0px 0px 90px;
        .border-radius(6px);
        .yellow-top-bar {
            position: relative;
            height: 40px;
            background: #ecc009;
            a.close {
                display: block;
                position: absolute;
                right: -15px;
                top: -15px;
                height: 35px;
                width: 35px;
                background: url('../img/icon_lightbox_close_black.png') no-repeat;
            }
        }
        .grey-top {
            background: #efeded;
            .header-text {
                font-size: 2.2em;
                padding: 20px 0;
                span {
                    font-family: Georgia, "Times New Roman", Times, serif;
                    font-size: 0.8em;
                }
            }
        }
        #content {
            padding: 0 20px;
            .button {
                width: 216px;
                height: 42px;
                background: #0994d5;
                margin: 30px auto 15px;
                line-height: 42px;
                color: #fff;
                font-weight: bold;
                text-align: center;
                cursor: pointer;
                font-size: 1.3em;
                display: block;
                font-family: helvetica, arial;
                text-shadow: 0 1px 0 rgba(0,0,0,0.7);
                text-decoration: none;
            }
        }
        .footer {
            height: 67px;
            margin-right: 15px;
            margin-bottom: 15px;
            background: url('../img/rs-logo.png') bottom right no-repeat;
        }
    }
    .container {
        width: 95%;
        margin: 0 auto;
        padding: 3.5em 0;
        background: url('../img/hubft-devices.png') 0 50% no-repeat;

        &:after {
            content: '';
            width: 0;
            height: 0;
            border-left: 20px solid transparent;
            border-right: 20px solid transparent;
            border-top: 20px solid white;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            margin: 0 auto;
        }
        @media @iphones {
            width: 90%;
            background: url('../img/hubft-devices.png') 50% 5em no-repeat;
            background-size: 17em;
            padding: 23em 0 0;
        }
        @media @miscMobile {
            width: 90%;
            background: url('../img/hubft-devices.png') 50% 5em no-repeat;
            background-size: 17em;
            padding: 23em 0 0;
        }
        @media @medScreen {
            width: 90%;
            background: url('../img/hubft-devices.png') 0 50% no-repeat;
            background-size: 40%;
        }
        @media @largeDesktop {
            width: 75%;
        }
        @media @lrgLrgr {
            width: 90%;
        }
        .left-column { 
            display: inline-block;
            width: 33em;
            @media @iphones {
                width: 100%;
            }
            @media @miscMobile {
                width: 100%;
            }
            @media @medScreen {
                display: inline-block;
                width: 58%;
                font-size: 0.8em;
                text-align: center;
            }
            h2 {
                margin: 0;
                #Fonts > .GothamLight;
                text-transform: uppercase;
                font-size: 2.3em;
                padding: 0 0 0.2em;
                @media @iphones {
                    font-size: 1.6em;
                }
                @media @miscMobile {
                    text-align: center;
                    font-size: 1.7em;
                }
                @media @medScreen {
                    font-weight: normal;
                }
                @media @ipSixPlus {
                    font-size: 2em;
                }
                @media @medScreen {
                    font-size: 2em;
                }
            }
            p {
                margin: 0;
                font-size: 1.85em;
                padding: 0 0 0.2em;
                @media @iphones {
                    font-size: 1em;
                }
                @media @ipSixPlus {
                    font-size: 1.2em;
                }
                @media @miscMobile {
                    font-size: 1.2em;
                }
                @media @medScreen {
                    font-size: 1.55em;
                }
            }
            span {
                color: @forestGreen;
                #Fonts > .Helvetica;
                font-weight: bold;
                text-align: center;
                display: block;
                padding: 0 0 1.8em;
                @media @iphones {
                    font-size: 0.8em;
                }
                @media @ipSixPlus {
                    font-size: .9em;
                }
                @media @miscMobile {
                    font-size: .9em;
                }
            }
            form {
                position: relative;
                .lang-error,
                .email-error {
                    display: block;
                    text-align: left;
                }
                .loading {
                    width: 100%;
                    height: 100%;
                    background: url('../img/loading-bar3.gif') center no-repeat rgba(0,0,0,0.8);
                    z-index: -1;
                    position: absolute;
                    color: #fff;
                }
                select {
                    text-transform: uppercase;
                    #Fonts > .Helvetica;
                    background: url('../img/ph-arrow.png') 95% 50% no-repeat @brown;
                    .appearance-none();
                    outline: none;
                    color: white;
                    display: block;
                    width: 100%;
                    border: none;
                    .border-radius(0);
                    padding: 1em 0 1em 1em;
                    margin: 0 0 1em;
                    @media @medScreen {
                        padding: 1.2em 0 1.2em 1em;
                        font-size: 1.6em
                    }
                }
                input {
                    margin: 0;
                    padding: 1em 0 1em 1em;
                    border: @borderGray solid 1px;
                    color: @borderGray;
                    display: block;
                    width: 100%;
                    margin: 0 0 1em;
                    outline: none;
                    .box-sizing();
                    @media @medScreen {
                        padding: 1.5em 0 1.5em 1em;
                        font-size: 1.3em;
                    }
                    &:required {
                        &:valid {
                            // background: url('../img/valid.png') 100% 0 no-repeat #fff;
                        }
                    }
                    &:focus {
                        &:invalid {
                            .drop-shadow();
                            background: url('../img/exclamation5.png') 98% 20% no-repeat #ffffff;
                            
                        }
                    }
                }
                // input.invalid {
                //     border: 1px solid red;
                // }
                .names {
                    text-align: left;
                    position: relative;
                    height: 5em;
                    @media @iphones {
                        height: auto;
                    }
                    input {
                        margin: 0;
                        padding: 1em 0 1em 1em;
                        border: @borderGray solid 1px;
                        color: @borderGray;
                        display: inline-block;
                        width: 47%;
                        .box-sizing();
                        outline: none;
                        @media @iphones {
                            display: block;
                            width: 100%;
                        }
                        @media @miscMobile {
                            display: block;
                            width: 100%;
                        }
                        @media @medScreen {
                            width: 46%;
                            padding: 1.4em 0 1.4em 1em;
                        }
                        &:nth-of-type(1) {
                            margin: 0 1.4em 0 0;
                            @media @iphones {
                                margin: 0 0 1em;
                            }
                            @media @miscMobile {
                                margin: 0 0 1em;
                            }
                        }
                    }
                    label {
                        position: absolute;
                        bottom: 0;
                    }
                    #last-error {
                        left: 52%;

                    }
                    input.invalid {
                        border: 1px solid red;
                    }
                }
                button {
                    background: @rsYellow;
                    .border-radius();
                    outline: none;
                    border: none;
                    text-transform: uppercase;
                    color: black;
                    padding: 1em 0;
                    width: 20em;
                    margin : 3em auto 0;
                    display: block;
                    @media @iphones {
                        width: 100%;
                        margin: 1.5em auto;
                    }
                    @media @miscMobile {
                        margin: 1.5em auto 2em;
                        width: 100%;
                    }
                    @media @medScreen {
                        font-size: 1.4em;
                    }
                }
            }
        }
    }
}
//stories
#stories {
    height: 55em;
    position: relative;
    @media @iphones {
        height: 40.5em;
    }
    @media @ipSixAll {
        height: 38.8em;
    }
    .storCarousel {
        height: 100%;
        position: relative;
        .owl-controls {
            margin-top: 0;
            .owl-pagination {
                background: @rsYellow;
                .owl-page.active {
                    span {
                        background: @rsBlue;
                    }
                }
            } 
            .owl-buttons {
                position: absolute;
                top: 0;
                width: 100%;
                #Fonts > .GothamLight;
                @media @iphones {
                    display: none;
                }
                @media @miscMobile {
                    display: none;
                }
                @media @medScreen {
                    display: none;
                }
                div {
                    background: none;
                    color: black;
                    position: absolute;
                    top: 2em;
                    font-size: 1.5em;
                    .border-radius(0);
                    margin: 0;
                    .transition(.3s all);
                }
                .owl-prev {
                    left: 2em;
                    padding: 0.3em 0 0.3em 2em;
                    background: url('../img/ph-prev.png') 0 0 no-repeat;
                }
                .owl-next {
                    right: 2em;
                    padding: 0.3em 2em 0.3em 0;
                    background: url('../img/ph-next.png') 100% 0 no-repeat;
                }
            }
        }
        //mark section
        #mark {
            background: url('../img/mark.jpg') -16em 0 no-repeat;
            background-size: cover;
            height: 100%;
            @media @iphones {
                background: url('../img/mark-ipfive.jpg') 0 0 no-repeat;
                background-size: cover;
            }
            @media @ipSix {
                background: url('../img/mark-ipfive.jpg') 0 -7em no-repeat;
                background-size: cover;
            }
            @media @ipSixPlus {
                background: url('../img/mark-ipfive.jpg') 0 -12em no-repeat;
                background-size: cover;
            }
            @media @miscMobile {
                background: url('../img/mark-ipfive.jpg') 0 -12em no-repeat;
                background-size: cover;
            }
            @media @medScreen {
                background: url('../img/mark.jpg') -30em 0 no-repeat;
                background-size: cover;
            }
            @media @largeDesktop {
                background: url('../img/mark.jpg') 0 0 no-repeat;
                background-size: cover;
            }
            .summary {
                padding: 9em 0 0;
                @media @iphones {
                    padding: 1em 0 0;
                }
                @media @miscMobile {
                    padding: 1em 0 0;
                }
                @media @medScreen {
                    padding: 3em 0 0;
                }
                .container {
                    width: 95%;
                    margin: 0 auto;
                    p {
                        #Fonts > .GothamMedium;
                        text-transform: uppercase;
                        font-size: 1.5em;
                        margin: 0 0 .3em;
                        @media @iphones {
                            font-size: 1.2em;
                        }
                        @media @miscMobile {
                            font-size: 1.2em;
                        }
                    }
                    span {
                        #Fonts > .GothamLight;
                        font-size: 1.2em;
                        line-height: 1.5em;
                        @media @iphones {
                            font-size: 1em;
                        }
                        @media @miscMobile {
                            font-size: 1em;
                        }
                    }
                }
            }
            .quote {
                background-color: rgba(255, 255, 255, 0.5);
                width: 37em;
                @media @iphones {
                    width: 90%;
                }
                @media @miscMobile {
                    width: 90%;
                }
                @media @medScreen {
                    width: 65%;
                }
                p {
                    margin: 2em 0 0;
                    padding: 1.5em 0.5em 1.5em 2.5em;
                    text-transform: uppercase;
                    color: @royalBlue;
                    font-size: 1.5em;
                    line-height: 1.5em;
                    @media @iphones {
                        margin: 1.5em 0 0;
                        padding: 1em 0 1em 0.5em;
                        font-size: 1.1em;
                    }
                    @media @miscMobile {
                        margin: 1.5em 0 0;
                        padding: 1em 0 1em 0.5em;
                        font-size: 1.1em;
                    }
                    @media @medScreen {
                        padding: 1.5em 0.5em 1.5em 1.2em;
                    }
                    span.black {
                        color: black;
                    }
                    span {
                        color: @brightRed;
                    }
                }
            }
            .watch {
                a {
                    text-decoration: none;
                    color: @shadowBlack;
                    font-size: 1.5em;
                    background: url('../img/ph-watch.png') 100% 50% no-repeat;
                    display: inline-block;
                    padding: 3em 2.5em 3em 0;
                    margin: 0 0 0 2.5em;
                    @media @iphones {
                        margin: 0 0 0 0.5em;
                        font-size: 1em;
                        background: none;
                        padding: 5.3em 2em 0.3em 0;
                        color: @rsBlue;
                        #Fonts > .GothamBold;
                    }
                    @media @miscMobile {
                        margin: 0 0 0 0.5em;
                        font-size: 1.1em;
                        background: url('../img/ph-watch.png') 100% 100% no-repeat;
                        background-size: 2em;
                        padding: 9em 2.5em 0.5em 0;
                    }
                }
            }
        }
        //grace section
        #grace {
            background: url('../img/grace.jpg') -16em 0 no-repeat;
            background-size: cover;
            height: 100%;
            @media @iphones {
                background: url('../img/grace-ipfive.jpg') 0 0 no-repeat;
                background-size: cover;
            }
            @media @ipSix {
                background: url('../img/grace-ipfive.jpg') 0 -7em no-repeat;
                background-size: cover;
            }
            @media @ipSixPlus {
                background: url('../img/grace-ipfive.jpg') 0 -12em no-repeat;
                background-size: cover;
            }
            @media @miscMobile {
                background: url('../img/grace-ipfive.jpg') 0 -12em no-repeat;
                background-size: cover;
            }
            @media @medScreen {
                background: url('../img/grace.jpg') -30em 0 no-repeat;
                background-size: cover;
            }
            @media @largeDesktop {
                background: url('../img/grace.jpg') 0 0 no-repeat;
                background-size: cover;
            }
            .summary {
                padding: 9em 0 0;
                @media @iphones {
                    padding: 1em 0 0;
                }
                @media @miscMobile {
                    padding: 1em 0 0;
                }
                @media @medScreen {
                    padding: 3em 0 0;
                }
                .container {
                    width: 95%;
                    margin: 0 auto;
                    p {
                        #Fonts > .GothamMedium;
                        text-transform: uppercase;
                        font-size: 1.5em;
                        margin: 0 0 .3em;
                        @media @iphones {
                            font-size: 1.2em;
                        }
                        @media @miscMobile {
                            font-size: 1.2em;
                        }
                    }
                    span {
                        #Fonts > .GothamLight;
                        font-size: 1.2em;
                        line-height: 1.5em;
                        @media @iphones {
                            font-size: 1em;
                        }
                        @media @miscMobile {
                            font-size: 1em;
                        }
                    }
                }
            }
            .quote {
                background-color: rgba(255, 255, 255, 0.5);
                width: 37em;
                @media @iphones {
                    width: 90%;
                }
                @media @miscMobile {
                    width: 90%;
                }
                @media @medScreen {
                    width: 65%;
                }
                p {
                    margin: 2em 0 0;
                    padding: 1.5em 0.5em 1.5em 2.5em;
                    text-transform: uppercase;
                    color: @royalBlue;
                    font-size: 1.5em;
                    line-height: 1.5em;
                    @media @iphones {
                        margin: 1.5em 0 0;
                        padding: 1em 0 1em 0.5em;
                        font-size: 1.1em;
                    }
                    @media @miscMobile {
                        margin: 1.5em 0 0;
                        padding: 1em 0 1em 0.5em;
                        font-size: 1.1em;
                    }
                    @media @medScreen {
                        padding: 1.5em 0.5em 1.5em 1.2em;
                    }
                    span.black {
                        color: black;
                    }
                    span {
                        color: @brightRed;
                    }
                }
            }
            .watch {
                a {
                    text-decoration: none;
                    color: @shadowBlack;
                    font-size: 1.5em;
                    background: url('../img/ph-watch.png') 100% 50% no-repeat;
                    display: inline-block;
                    padding: 3em 2.5em 3em 0;
                    margin: 0 0 0 2.5em;
                    @media @iphones {
                        margin: 0 0 0 0.5em;
                        font-size: 1em;
                        background: none;
                        padding: 4em 2em 0.3em 0;
                        color: @rsBlue;
                        #Fonts > .GothamBold;
                        width: 10em;
                    }
                    @media @miscMobile {
                        margin: 0 0 0 0.5em;
                        font-size: 1.1em;
                        background: url('../img/ph-watch.png') 100% 100% no-repeat;
                        background-size: 2em;
                        padding: 9em 2.5em 0.5em 0;
                    }
                }
            }
        }
        //chris section
        #chris {
            background: url('../img/chris.jpg') -16em 0 no-repeat;
            background-size: cover;
            height: 100%;
            @media @iphones {
                background: url('../img/chris-ipfive.jpg') 0 0 no-repeat;
                background-size: cover;
            }
            @media @ipSix {
                background: url('../img/chris-ipfive.jpg') 0 -7em no-repeat;
                background-size: cover;
            }
            @media @ipSixPlus {
                background: url('../img/chris-ipfive.jpg') 0 -12em no-repeat;
                background-size: cover;
            }
            @media @miscMobile {
                background: url('../img/chris-ipfive.jpg') 0 -12em no-repeat;
                background-size: cover;
            }
            @media @medScreen {
                background: url('../img/chris.jpg') -33em 0 no-repeat;
                background-size: cover;
            }
            @media @largeDesktop {
                background: url('../img/chris.jpg') 0 0 no-repeat;
                background-size: cover;
            }
            .summary {
                padding: 9em 0 0;
                @media @iphones {
                    padding: 1em 0 0;
                }
                @media @miscMobile {
                    padding: 1em 0 0;
                }
                @media @medScreen {
                    padding: 3em 0 0;
                }
                .container {
                    width: 95%;
                    margin: 0 auto;
                    p {
                        #Fonts > .GothamMedium;
                        text-transform: uppercase;
                        font-size: 1.5em;
                        margin: 0 0 .3em;
                        @media @iphones {
                            font-size: 1.2em;
                        }
                        @media @miscMobile {
                            font-size: 1.2em;
                        }
                    }
                    span {
                        #Fonts > .GothamLight;
                        font-size: 1.2em;
                        line-height: 1.5em;
                        @media @iphones {
                            font-size: 1em;
                        }
                        @media @miscMobile {
                            font-size: 1em;
                        }
                    }
                }
            }
            .quote {
                background-color: rgba(255, 255, 255, 0.5);
                width: 37em;
                @media @iphones {
                    width: 90%;
                }
                @media @medScreen {
                    width: 65%;
                }
                p {
                    margin: 2em 0 0;
                    padding: 1.5em 0.5em 1.5em 2.5em;
                    text-transform: uppercase;
                    color: @royalBlue;
                    font-size: 1.5em;
                    line-height: 1.5em;
                    @media @iphones {
                        margin: 1.5em 0 0;
                        padding: 1em 0 1em 0.5em;
                        font-size: 1.1em;
                    }
                    @media @medScreen {
                        padding: 1.5em 0.5em 1.5em 1.2em;
                    }
                    span.black {
                        color: black;
                    }
                    span {
                        color: @brightRed;
                    }
                }
            }
            .watch {
                a {
                    text-decoration: none;
                    color: @shadowBlack;
                    font-size: 1.5em;
                    background: url('../img/ph-watch.png') 100% 50% no-repeat;
                    display: inline-block;
                    padding: 3em 2.5em 3em 0;
                    margin: 0 0 0 2.5em;
                    @media @iphones {
                        margin: 0 0 0 0.5em;
                        font-size: 1em;
                        background: none;
                        color: @rsBlue;
                        #Fonts > .GothamBold;
                        padding: 1.6em 3.7em 0em 0;
                        width: 11em;
                    }
                }
            }
        }
        //delaine section
        #delaine {
            background: url('../img/delaine.jpg') -16em 0 no-repeat;
            background-size: cover;
            height: 100%;
            @media @iphones {
                background: url('../img/delaine-ipfive.jpg') 0 0 no-repeat;
                background-size: cover;
            }
            @media @ipSix {
                background: url('../img/delaine-ipfive.jpg') 0 -7em no-repeat;
                background-size: cover;
            }
            @media @ipSixPlus {
                background: url('../img/delaine-ipfive.jpg') 0 -12em no-repeat;
                background-size: cover;
            }
            @media @miscMobile {
                background: url('../img/delaine-ipfive.jpg') 0 -12em no-repeat;
                background-size: cover;
            }
            @media @medScreen {
                background: url('../img/delaine.jpg') -30em 0 no-repeat;
                background-size: cover;
            }
            @media @largeDesktop {
                background: url('../img/delaine.jpg') 0 0 no-repeat;
                background-size: cover;
            }
            .summary {
                padding: 9em 0 0;
                @media @iphones {
                    padding: 1em 0 0;
                }
                .container {
                    width: 95%;
                    margin: 0 auto;
                    p {
                        #Fonts > .GothamMedium;
                        text-transform: uppercase;
                        font-size: 1.5em;
                        margin: 0 0 .3em;
                        @media @iphones {
                            font-size: 1.2em;
                        }
                    }
                    span {
                        #Fonts > .GothamLight;
                        font-size: 1.2em;
                        line-height: 1.5em;
                        @media @iphones {
                            font-size: 1em;
                        }
                    }
                }
            }
            .quote {
                background-color: rgba(255, 255, 255, 0.5);
                width: 37em;
                @media @iphones {
                    width: 90%;
                }
                @media @medScreen {
                    width: 65%;
                }
                p {
                    margin: 2em 0 0;
                    padding: 1.5em 0.5em 1.5em 2.5em;
                    text-transform: uppercase;
                    color: @royalBlue;
                    font-size: 1.5em;
                    line-height: 1.5em;
                    @media @iphones {
                        margin: 1.5em 0 0;
                        padding: 1em 0 1em 0.5em;
                        font-size: 1.1em;
                    }
                    @media @medScreen {
                        padding: 1.5em 0.5em 1.5em 1.2em;
                    }
                    span.black {
                        color: black;
                    }
                    span {
                        color: @brightRed;
                    }
                }
            }
            .watch {
                a {
                    text-decoration: none;
                    color: @shadowBlack;
                    font-size: 1.5em;
                    background: url('../img/ph-watch.png') 100% 50% no-repeat;
                    display: inline-block;
                    padding: 3em 2.5em 3em 0;
                    margin: 0 0 0 2.5em;
                    @media @iphones {
                        margin: 0 0 0 0.5em;
                        font-size: 1em;
                        background: none;
                        color: @rsBlue;
                        #Fonts > .GothamBold;
                        padding: 9em 1em 0.5em 0;
                        width: 9em;
                    }
                }
            }
        } // end Delaine
    } //end storCarousel
}
// stats section
#stats {
    .title {
        .container {
            p {
                text-align: center;
                #Fonts > .GothamBold;
                font-size: 2.2em;
                position: relative;
                margin: 1.5em auto 0;
                color: @shadowBlack;
                width: 24em;
                @media @iphones {
                    width: 90%;
                    font-size: 1.7em;
                    margin: 2em auto 0;
                }
                @media @ipSix {
                    width: 95%;
                    font-size: 1.7em;
                }
                @media @ipSixPlus {
                    width: 95%;
                    font-size: 1.9em;
                }
                @media @ipSixPlus {
                    width: 95%;
                    font-size: 1.9em;
                }
                @media @medScreen {
                    width: 95%;
                }
                &:after {
                    border-top: solid 2px @dimGray;
                    content: '';
                    width: 9em;
                    height: 1em;
                    top: 50%;
                    left: 0;
                    position: absolute;
                    @media @iphones {
                        width: 25%;
                    }
                    @media @medScreen {
                        width: 25%;
                    }
                }
                &:before {
                    border-top: solid 2px @dimGray;
                    content: '';
                    width: 9em;
                    height: 1em;
                    top: 50%;
                    right: 0;
                    position: absolute;
                    @media @iphones {
                        width: 25%;
                    }
                    @media @medScreen {
                        width: 25%;
                    }
                }
            }
            span {
                text-align: center;
                display: block;
                margin: 0.3em 0 0;
                font-size: 1.3em;
                @media @iphones {
                    font-size: 1em;
                }
            }
        }
    }
    #numbers {
        div {
            display: inline-block;
            width: 24%;
            height: 6em;
            vertical-align: middle;
            padding: 5em 0 0;
            margin: 2em 0 0;
            @media @iphones {
                display: block;
                margin: 0 auto;
                width: 90%;
            }
            p {
                #Fonts > .GothamBold;
                text-align: center;
                margin: 0;
                font-size: 2em;
            }
            span {
                text-align: center;
                display: block;
                font-size: 1.1em;
            }
        }
        .corp {
            background: url('../img/ph-corp.png') 50% 1.5em no-repeat;
            position: relative;
            @media @iphones {
                margin: 1.5em auto 0;
            }
            &:after {
                content: '';
                position: absolute;
                border-right: solid 2px @dimGray;
                right: 0;
                top: 3.5em;
                height: 5em;
                @media @iphones {
                    border-right: none;
                }
            }
        }
        .profit {
            background: url('../img/ph-profit.png') 50% 1.5em no-repeat;
            position: relative;
            &:after {
                content: '';
                position: absolute;
                border-right: solid 2px @dimGray;
                right: 0;
                top: 3.5em;
                height: 5em;
                @media @iphones {
                    border-right: none;
                }
            }
        }
        .edu {
            background: url('../img/ph-edu.png') 50% 1.5em no-repeat;
            position: relative;
            &:after {
                content: '';
                position: absolute;
                border-right: solid 2px @dimGray;
                right: 0;
                top: 3.5em;
                height: 5em;
                @media @iphones {
                    border-right: none;
                }
            }
        }
        .world {
            background: url('../img/ph-world.png') 50% 1.5em no-repeat;
        }
    }
}
//videos
#video {
    margin: 2em 0 0;
    .clip {
        display: inline-block;
        width: 50%;
        height: 14em;
        @media @iphones {
            display: block;
            width: 100%;
        }
        @media @largeDesktop {
            width: 25%;
            height: 14em;
        }
        a {
            text-indent: -9999px;
            display: block;
            width: 100%;
            height: 100%;
            background: url('../img/ph-play.png') 50% 50% no-repeat;
        }
    }
    #vid1 {
        background: url('../img/vid1.jpg') 0 0 no-repeat;
        background-size: cover;
        @media @iphones {
            background: url('../img/vid1.jpg') -4em 0 no-repeat;
            background-size: cover;
        }
        @media @ipSixAll {
            background: url('../img/vid1.jpg') 0 0 no-repeat;
            background-size: cover;
        }
    }
    #vid2 {
        background: url('../img/vid2.jpg') 0 0 no-repeat;
        background-size: cover;
        @media @iphones {
            background: url('../img/vid2.jpg') -4em 0 no-repeat;
            background-size: cover;
        }
        @media @ipSixAll {
            background: url('../img/vid2.jpg') 0 0 no-repeat;
            background-size: cover;
        }
    }
    #vid3 {
        background: url('../img/vid3.jpg') 0 0 no-repeat;
        background-size: cover;
        @media @iphones {
            background: url('../img/vid3.jpg') -4em 0 no-repeat;
            background-size: cover;
        }
        @media @ipSixAll {
            background: url('../img/vid3.jpg') 0 0 no-repeat;
            background-size: cover;
        }
    }
    #vid4 {
        background: url('../img/vid4.jpg') 0 0 no-repeat;
        background-size: cover;
        @media @iphones {
            background: url('../img/vid4.jpg') -4em 0 no-repeat;
            background-size: cover;
        }
        @media @ipSixAll {
            background: url('../img/vid4.jpg') 0 0 no-repeat;
            background-size: cover;
        }
    }
}
//reviews
#reviews {
    padding: 3em 0 4em;
    background: @lightGray;
    .container {
        width: 90%;
        margin: 0 auto;
        .head {
            p {
                margin: 0;
                text-align: center;
                &:nth-of-type(1) {
                    #Fonts > .GothamLight;
                    font-size: 2em;
                    @media @iphones {
                        font-size: 1.4em;
                    }
                }
                &:nth-of-type(2) {
                    #Fonts > .GothamMedium;
                    font-size: 1.4em;
                    margin: 2.5em 0 2em;
                    @media @iphones {
                        margin: 1em 0;
                        font-size: .8em;
                    }
                }
            }
        }
        #carousel {
            text-align: center;
            .content {
                width: 38em;
                margin: 0 auto;
                position: relative;
                .owl-controls {
                    position: absolute;
                    top: 0;
                    width: 100%;
                    div {
                        .border-radius(0);
                    }
                    .owl-buttons {
                        div {
                            top: 11em;
                            @media @iphones {
                                display: none;
                            }
                            @media @ipSixAll {
                                display: none;
                            }
                        }
                    }
                    .owl-prev {
                        left: -6em;
                        position: absolute;
                        background: url('../img/ph-prev.png') 0 0 no-repeat;
                        text-indent: -9999px;
                        background-size: contain;
                        height: 3em;
                        width: 3em;
                        padding: 0;
                        margin: 0;
                    }
                    .owl-next {
                        right: -6em;
                        position: absolute;
                        background: none;
                        background: url('../img/ph-next.png') 0 0 no-repeat;
                        text-indent: -9999px;
                        background-size: contain;
                        height: 3em;
                        width: 3em;
                        padding: 0;
                        margin: 0;
                    }
                }
                @media @iphones {
                    padding: 0;
                    width: 100%;
                }
                @media @largeDesktop {
                    width: 50em;
                }
                #bruno {
                    background: url('../img/rev-bruno.png') 50% 0 no-repeat;
                    background-size: 6em;
                    padding: 7.5em 0 0;
                    @media @iphones {
                        font-size: .9em;
                    }
                    p {
                        margin: 0;
                        font-style: italic;
                        line-height: 1.5em;
                        &:nth-of-type(2) {
                            padding: 1em 0 0;
                        }
                    }
                    .stars {
                        padding: 3em 0;
                        span {
                            display: inline-block;
                            background: url('../img/ratings.png') 0 50% no-repeat;
                            padding: 0 0 0 7em;
                        }
                    }
                }
                #liran {
                    background: url('../img/rev-liran.png') 50% 0 no-repeat;
                    background-size: 6em;
                    padding: 7.5em 0 0;
                    @media @iphones {
                        font-size: .9em;
                    }
                    p {
                        margin: 0;
                        font-style: italic;
                        line-height: 1.5em;
                        &:nth-of-type(2) {
                            padding: 1em 0 0;
                        }
                    }
                    .stars {
                        padding: 3em 0;
                        span {
                            display: inline-block;
                            background: url('../img/ratings.png') 0 50% no-repeat;
                            padding: 0 0 0 7em;
                        }
                    }
                }
                #susan {
                    background: url('../img/rev-susan.png') 50% 0 no-repeat;
                    background-size: 6em;
                    padding: 7.5em 0 0;
                    @media @iphones {
                        font-size: .9em;
                    }
                    p {
                        margin: 0;
                        font-style: italic;
                        line-height: 1.5em;
                        &:nth-of-type(2) {
                            padding: 1em 0 0;
                        }
                    }
                    .stars {
                        padding: 3em 0;
                        span {
                            display: inline-block;
                            background: url('../img/ratings.png') 0 50% no-repeat;
                            padding: 0 0 0 7em;
                        }
                    }
                }
                #betty {
                    background: url('../img/rev-betty.png') 50% 0 no-repeat;
                    background-size: 6em;
                    padding: 7.5em 0 0;
                    @media @iphones {
                        font-size: .9em;
                    }
                    p {
                        margin: 0;
                        font-style: italic;
                        line-height: 1.5em;
                        &:nth-of-type(2) {
                            padding: 1em 0 0;
                        }
                    }
                    .stars {
                        padding: 3em 0;
                        span {
                            display: inline-block;
                            background: url('../img/ratings.png') 0 50% no-repeat;
                            padding: 0 0 0 7em;
                        }
                    }
                }
            }
        }
        button {
            display: block;
            background: @rsBlue;
            border: none;
            outline: none;
            .border-radius();
            color: white;
            margin: 2em auto 0;
            width: 15.5em;
            padding: 1em 0;
            font-size: 1.2em;
            .box-sizing();
            @media @iphones {
                width: 100%;
            }
            span {
                &:nth-of-type(1) {
                    #Fonts > .GothamMedium;
                    text-transform: uppercase;
                }
                &:nth-of-type(2) {
                    #Fonts > .GothamLight;
                    text-transform: uppercase;
                }
                &:nth-of-type(3) {
                    #Fonts > .GothamMedium;
                }
            }
        }
    }
}
//footer
#footer {
    background: black;
    ul {
        margin: 0;
        padding: 2em 0 2em;
        text-align: center;
        border-bottom: solid 1px @darkGray;
        li {
            display: inline-block;
            a {
                text-decoration: none;
                color: white;
                display: inline-block;
                width: 2em;
                height: 2em;
                text-indent: -9999px;
                padding: 0 1em 0 0;
            }
            &:nth-of-type(1) {
                a {
                    background: url('../img/sm-icons-fb.png') 0 0 no-repeat;
                    background-size: contain;
                }
            }
            &:nth-of-type(2) {
                a {
                    background: url('../img/sm-icons-twitter.png') 0 0 no-repeat;
                    background-size: contain;
                }
            }
            &:nth-of-type(3) {
                a {
                    background: url('../img/sm-icons-yt.png') 0 0 no-repeat;
                    background-size: contain;
                }
            }
            &:nth-of-type(4) {
                a {
                    background: url('../img/sm-icons-gplus.png') 0 0 no-repeat;
                    background-size: contain;
                }
            }
            &:nth-of-type(5) {
                a {
                    background: url('../img/sm-icons-blog.png') 0 0 no-repeat;
                    background-size: contain;
                    padding: 0;
                }
            }
        }
    }
    .legal {
        padding: 2em 0;
        .container {
            width: 90%;
            margin: 0 auto;
            p {
                color: white;
                #Fonts > .Helvetica;
                font-size: .8em;
                a {
                    color: white;
                }
            }
        }
    }
}

.featherlight-content {
    .featherlight-close-icon.featherlight-close {
        background: rgba(255,255,255,1);
    }
}