#masthead {
	background: url('../../globals/img/mastheads/sbs/<%= mastheadimage %>') no-repeat;
	height: 316px;
	position: relative
}
#masthead > #offerbox {
	/*background: rgba(255,255,255, 0.3);*/
	position: absolute;
	box-sizing: border-box;
	left: 40px;
	width: 478px;
	bottom: 4px;
	color: #ffffff;
	font-size: 190%;
}

#masthead > #offerbox > #offertext {
	font-size: 65%;
	position: relative;
	bottom: -10px;
}

#masthead #pricing {
	display: table;
}
#masthead > #offerbox #regular-price {
	font-size: 130%;
	padding-left: 14px;
	color: #ffffff;
	display: table-cell;
	font-weight: bold;
	vertical-align: middle;
}
#masthead > #offerbox #regular-price sup {
	font-weight: lighter;
	font-size: 50%;
	position: relative;
	right: -10px
}

#masthead > #offerbox #sale-price {
	font-weight: bold;
	font-size: 270%;
	display: table-cell;
	vertical-align: middle;
	font-family: gothambold;
}
#masthead > #offerbox #sale-price sup {
	font-weight: lighter;
}

/* DELETE #masthead > #offerbox #regular-price > strike > span {
	color: #fff;
}*/

#masthead > #offerbox #regular-price > span {
	display: inline-block;
	position: relative;
}

#masthead > #offerbox #regular-price .strikethrough {
	position: absolute;
	top: 49%;
	height: 2px;
	background: red;
	width: 100%;
}

#masthead > #offerbox #regular-price > span:first-of-type {
	font-size: 40%;
	margin-right: -13px;
	margin-left: -6px;
	position: relative;
	top: -5px;
}


#masthead > #offerbox #sale-price sup {
	font-size: 50%;
	font-weight: lighter;
	font-family: gothambook;
}

/*#violator {
	position: absolute;
	top: 15%;
	left: 51%;
}*/
#violator {
	background: #A83837;
	text-align: center;
	font-weight: bold;
	font-size: 140%;
	padding: 10px 0;
	color: #eee;
}

#violator > div {
	display:inline-block;
	vertical-align:middle;
	font-family: gothamLight;
	font-weight:lighter;
}
#violator > div > img {
	margin-right: 10px;
}
#violator > div > span {
	color: #f7cc00;
	font-weight: bold;
}


.bottom-html {
	padding-top: 5px;
}