// So i made this with a mobile-first approach,
// but i think i should've done it desktop-first.
//  you'll just have to
// (•_•)
// ( •_•)>⌐■-■
// (⌐■_■)       deal with it.


// Media sizes
$mobile-screen-xs = 20em
$mobile-screen    = 34em
$tablet-screen    = 48em
$desktop-screen   = 62em

$screen     = "only screen";
$mobile-xs  = "only screen and (max-width: " + $mobile-screen-xs + ")"
$mobile     = "only screen and (min-width: " + $mobile-screen + ")"
$tablet     = "only screen and (min-width: " + $tablet-screen + ")"
$desktop    = "only screen and (min-width: " + $desktop-screen + ")"
$landscape  = "only screen and (orientation: landscape)"
$portrait   = "only screen and (orientation: portrait)"


$darkgreen = #343a2c
$margin-padding-mobile = 1em


@import 'reset.css'

transform(arg)
  -webkit-transform arg
  -moz-transform arg
  -o-transform arg
  -ms-transform arg

appearance(n)
  -webkit-appearance none
  -moz-appearance none
  -o-appearance none
  -ms-appearance none

// All actions link in the mock have the same style,
// just different color. Make it a function, and, if
// needed, overwrite this values after invoking it
demo_button($color)
  // red #b01d2b
  color $color
  border 3px solid $color
  padding 0.8em 1.4em
  text-decoration none
  display inline-block
  font-weight 700
  letter-spacing 1px
  line-height 16px
  font-size 68%
  &:hover
    background $color
    color #fff
    transition background 0.25s, color 0.25s
  @media $desktop
    font-size 110%
  @media $mobile-xs
    padding 2px 5px
    font-size 60%
    letter-spacing normal
    border-width 1px


body
  //display none
  margin 0
  padding 0
  background-color #F6F0E4
  font-family "museo-slab"


#main-container
  overflow auto
// placed inside each main div
// in case we need to set a max-width on all main divs
.container
  max-width 1113px
  box-sizing border-box
  //background rgba(0,0,0,0.05)
  margin 0 auto


/*********************************************
* NAVBAR
*********************************************/

#nav
  background-color #fff
  font-family 'futura-pt'
  padding 0 1em
  position fixed
  width 100%
  z-index 5
  border-bottom 1px solid #ccc
  box-sizing border-box

  div.container
    height 59px
    display table
    width 100%
    a.logo
      background url('../assets/logo-header.png') no-repeat center
      background-size contain
      display table-cell
      //width 25%
      width 90px
      @media $mobile-xs
        width 65px

    div.right-side
      display table-cell
      div.right-side-inner
        float right
        & > div
          margin-left 20px
          display inline-block
          vertical-align middle
        div.data, div.avatar, div.mood-icon
          display none
        a.sweepstakes
          demo_button($darkgreen)
          padding 5px
        div.icon-location a, div.icon-checkpoints a
          width 50px
          height 59px
          display block
          background-size 40%
          background-position center
          background-repeat no-repeat
          @media $mobile-xs
            width 40px
            height 49px
        div.icon-location
          margin 0
          a
            background-image url('../assets/icon-location-80p.png')
        div.icon-checkpoints
          margin-left -10px
          position relative
          a
            background-image url('../assets/icon-checkpoints-80p.png')
          div.notification

            width 15px
            height 15px
            border-radius 10px
            text-align center
            line-height 15px
            font-weight 700
            font-size 60%
            background $darkgreen
            color #fff
            position absolute
            top 10px
            right 4px



  @media $desktop
    &
      padding 0.6em 0
    div.container
      div.right-side
        div.right-side-inner
          div a.sweepstakes
            demo_button($darkgreen)
            font-size 100%
            font-family museo-slab
          div.avatar
            display inline-block
            position relative
            img
              width 50px
           div.mood-icon
            display inline-block
            width 20px
            height 20px
            position absolute
            bottom 0
            right -15px
            border 4px solid #fff
            border-radius 15px
            background url('../assets/mood-icon.png') #fff
            background-size contain
          div.icon-location
            margin-left 15px
          div.data
            display inline-block
            color #a4a4a4
            line-height 1.2em
            font-size 90%
            .location
              color $darkgreen
            .time, .temp
              display inline-block
            .temp
              float right





/*********************************************
* HEADER/MASTHEAD (scooter) SECTION
*********************************************/
#header
  background url('../assets/masthead-60-40p.jpg') no-repeat left #fff
  background-size 100% 100%
  box-shadow 0 1px 5px rgba(0,0,0,0.2) inset
  margin-top 59px // same height as nav

  div.header-content
    height 70vmin
    overflow auto
    div.left
      display none
    div.right
      float right
      height 100%
      text-align center
      width 65%
      div.avventura
        height 70%
      a
        demo_button($darkgreen)
        padding 0.5em 0.6em 0.3em
        width 45%
        margin-top 49vw

  @media $desktop
    &
      background #fff
      overflow auto
    div.header-content
      height 47vw
      max-height 717px
      background #fff
      padding-top 2vh
      box-shadow 0 1px 5px rgba(0,0,0,0.2) inset
      div.left
        display block
        width 61%
        float left
        background url('../assets/scooter-50-full.jpg') no-repeat 0 3px
        background-size cover
        height 100%
      div.right
        float right
        width 37%
        padding-right 2vw
        box-sizing border-box
        position relative
        height 100%
        margin 0
        div.map
          position relative
          left -13vw
          display table
          width 120% //100%
          height 100%
          background url("../assets/map-desktop.png") no-repeat 0vh 0vh
          background-size cover //contain
          div.avventura
            //width 100%
            //max-height 717px
            display block
            //height 56%
            //vertical-align bottom
            text-align center
            //position static
            background url(../assets/avventura.png) no-repeat 0 top
            background-size contain
            margin-top 4em
            max-width 764px

          a
            width auto
            margin-top 28vw
            padding 0.8em 1.2em




/*********************************************
* INTRODUCTION SECTION
*********************************************/
#introduction
  text-align center
  padding 1em 0
  background  url(../assets/bg-meetpeter-60-60p.jpg) -338px 0 // TODO crop mobile version of meetpeter
  background-size cover
  overflow auto
  h2
    color #fff
    font-size 11vw
    font-weight 500
    letter-spacing 1px
    width 130%
    text-indent -1em
  div.about-peter
    text-align left
    width 70%
    float right
    padding-right 1em
    div.video
      height 30vh
      width 39vh
      background url(../assets/video-peter-60-50p.jpg) no-repeat
      background-size cover
      margin 0.7em 0 0.5em
      iframe
        height 100%
        width 100%
        //visibility hidden

    p:first-of-type
      color #D9212A
      font-size 114%
      line-height 23px
    p:last-of-type
      color #fff
      font-family 'futura-pt'
      margin-top 0.5em
  @media $desktop
    &
      background-position 0 0
      padding 2em 0
    h2
      font-size 4.4em
      text-indent 0
      width 100%
      span
        display block
    div.about-peter
      width 40%
      margin-right 21em
      position relative
      div.video
        position absolute
        right -320px // width of .video + extra space
        bottom 0
        width 300px
        height 230px
        background-position bottom
      p:first-of-type
        font-size 174%
        line-height 33px
      p:last-of-type
        font-size 110%
        font-family 'futura-pt'
        line-height 24px



/*********************************************
* CHAPTER VIDEO SECTION
*********************************************/
.chapter-video
  color #333
  padding-top 2em
  background-repeat no-repeat
  background-size 60%
  background-position top right
  div.container
    padding 15px
  div.chapter-name

    padding-left 15px // same as container padding
    height 150px
    background url(../assets/chapter1-mobile.png) no-repeat
    background-size 100% 100%
  div.video
    color #b82026
    padding 16px
    background #fff
    margin-top 2em
    box-shadow 0 0 15px alpha(#000, 0.15)
    div.column-1,
    div.column-2
      display block
      width 100%
      vertical-align top
      img
      iframe
        width 100%
    div.column-1 p
      display none
    div.column-2
      img
        // the backpack
        display none
      p
        font-weight 500
        font-size 95%
        margin-top 1em
        line-height 19px
  @media $desktop
    &
      background-position 43vw 2vw
      background-size 83vh
      //background-position right
      background-repeat no-repeat

    div.container
      padding 2em 0
    div.chapter-name
      height 426px
      width auto
      //background url(../assets/chapter1-70p.png) no-repeat

    div.video
      margin-top 1em
      padding 40px
      div.column-1, div.column-2
        display inline-block
        width 49%
        vertical-align top
      div.column-1 p
        display block
        color #333
        font-size 1.4em
        padding-top 2em
        line-height 28px
      div.column-2
        img
          // show backpack
          width 90%
          float right
          position relative
          right -58px
          display block
        p
          margin 0 0 2em 2em
          font-size 160%
          line-height 34px



  img.pattern
    margin 0 auto
    z-index -1
    display block
    width 60%
    @media $desktop
      width 30%



/*********************************************
* CHAPTER PHOTOS SECTION
*********************************************/
#chapters
  .chapter
    background: url('../assets/scenery-como-md-original.jpg') no-repeat bottom center
    background-size 100%
    &:nth-of-type(2)
      background: url('../assets/scenery-emilia.jpg') no-repeat bottom center
      background-size contain
    &:nth-of-type(3)
      background: url('../assets/scenery-cinque.jpg') no-repeat bottom center
      background-size contain
    &:nth-of-type(4)
      background: url('../assets/chapter4/scenery-firenze.jpg') no-repeat bottom center
      background-size contain
    &:nth-of-type(5)
      background: url('../assets/chapter5/scenery-rome.jpg') no-repeat bottom center
      background-size contain
    &:nth-of-type(6)
      background: url('../assets/chapter6/scenery-rome2.jpg') no-repeat bottom center
      background-size contain
    &:nth-of-type(7)
      background: url('../assets/chapter7/scenery-pacentro.jpg') no-repeat bottom center
      background-size contain

  &> div:nth-of-type(10)
    background: url('../assets/chapter8/Chapter_Etching.jpg') no-repeat bottom center
    background-size contain
  &> div:nth-of-type(11)
    background: url('../assets/chapter9/Chapter_Etching.jpg') no-repeat bottom center
    background-size contain
  &> div:nth-of-type(12)
    background: url('../assets/chapter10/Chapter_Etching.jpg') no-repeat bottom center
    background-size contain
  @media $desktop
    .chapter:nth-of-type(even)
      .column-2 p
        padding-right 20px
        margin 0

.chapter-photos
  padding 0 $margin-padding-mobile 1.5em
  img
    width 44%
    border 7px solid #fff
    box-shadow 0 0 15px alpha(#000, 0.15)
    margin 0 3% 15px 0
    display inline-block
    vertical-align top
    &:nth-of-type(odd)
      float left
    &:nth-of-type(even)
      margin-right 0
      float right
  div.demo-cta
    clear both
    padding-top 3em
    text-align center
    font-weight 500
    margin 2em 0  1em
    h3
      color $darkgreen
      margin-bottom 7px
    a
      margin-top 0.5em
      demo_button(#b01d2b)
    form
      padding-top 2em
      width 100%

      display none
      & > *
        display block
        width 100%
        height 35px
        margin 0 0 10px 0
        box-sizing border-box
        font-family inherit
        &:last-child
          margin-right 0

      div.input-email
        position relative
        & > input[type=email]
          border 2px solid transparent
          padding 0 0.5em 0 0.7em
          letter-spacing 1px
          color #222
          display block
          width 100%
          height inherit
          &.error
            padding 6px 0.7em
            text-align left
            font-style italic
            background #F5A6A6
            color #C82929
            color red
            border-color red
        & .notification
          display none
          position absolute
          top -20px
          left 0
          color red


      div.select
        background white
        position relative
        padding 0
        &:after
          content ''
          color #fff
          font-size 0.65em
          background url(../assets/dropdown-arrow.png) no-repeat center center #96232f
          background-size 60%
          font-weight bold
          line-height 32px
          position absolute
          right 0
          top 0
          width 35px
          height 100%
        select
          // get rid of browser defaults
          appearance none
          border none
          background transparent
          text-transform uppercase
          position relative
          width 100%
          height 100%
          z-index 1
          padding 10px
          font-size 0.8em
          letter-spacing 1px
          font-family inherit
      div.input-submit
        position relative
        overflow hidden
        input[type=submit], div.loader
          border 2px solid transparent
          width 100%
          height 100%
          font-family inherit
          background #96232F
          color #fff
          font-size 1.1em

        div.loader
          position absolute
          width 100%
          text-align center
          top 0
          left 0
          display none
          padding 0
          line-height 31px
          span
            display inline-block
            width 49%
            text-align right
          & > div
            display inline-block
            width 49%
            text-align left

  @media $desktop
    &
      background-size 100% 100%
      img
        display inline-block
        width auto // 25%
        transition transform 0.3s, box-shadow 0.5s
        cursor pointer
        &:nth-of-type(odd)
          float right
          margin 0
        &:nth-of-type(even)
          float left
          margin 0
        &:hover
          transform scale(1.02)
          box-shadow 0 0 15px alpha(black, 0.5)
        &:nth-of-type(3n)
          clear both
          display block
          margin 0 auto
          float none
    div.demo-cta
      text-align center
      font-weight 500
      margin-bottom 2em
      padding-top 4em
      clear both
      h3
        font-size 180%
        color $darkgreen
        margin-bottom 20px
      form
        width 80%
        margin 0 auto
        & > *
          height 55px
          vertical-align top
          display inline-block
          font-size 1.2em
          margin-right 11px
        div.input-email
          width 40%
          input[type=email]
            font-size 1.2em
        div.select
          padding 0
          height 55px
          width 30%
          &:after
            width 55px
            line-height 47px

        div.input-submit
          position relative
          width 24%
          overflow hidden
          input[type=submit], div.loader
            border 2px solid transparent
            width 100%
          div.loader
            line-height 50px
            & > div
              width 40%
              padding-left 10px




/*  @media $desktop
    &
      background-size 100% 100%
      img
        display inline-block
        width auto // 25%
        transition transform 0.3s, box-shadow 0.5s
        cursor pointer
        &:nth-of-type(odd)
          float right
          margin 0
        &:nth-of-type(even)
          float left
          margin 0
        &:hover
          transform scale(1.02)
          box-shadow 0 0 15px alpha(black, 0.5)
        &:nth-of-type(3n)
          clear both
          display block
          margin 0 auto
          float none
    div.demo-cta
      text-align center
      font-weight 500
      margin-bottom 2em
      padding-top 4em
      clear both
      h3
        font-size 180%
        color $darkgreen
        margin-bottom 20px*/



/*********************************************
* CROSSROADS SECTION /  BIVIO
*********************************************/
// .crossroads {
//   position: relative;
//   display: table;
//   width: 100%;
//   color: #fff;
// }
// .crossroads > div:not(.text) {
//   height: 250px;
//   background: url("../assets/bari.jpg") no-repeat top center;
//   display: table-cell;
//   background-size: cover;
//   width: 50%;
// }
// .crossroads > div:not(.text):first-of-type {
//   background: url("../assets/napoli.jpg") no-repeat top center;
// }
// .crossroads .text {
//   width: 100%;
//   height: 100%;
//   margin: 0 auto;
//   position: absolute;
//   top: 0;
//   left: 0;
//   text-align: center;
// }
// .crossroads .text img {
//   display: block;
//   margin: 0 auto;
//   width: 16%;
//   margin-top: 30px;
//   margin-bottom: 15px;
// }
// .crossroads .text h2 {
//   font-size: 200%;
//   letter-spacing: 5px;
//   margin: 0 auto;
//   margin-bottom: 10px;
// }
// .crossroads .text h2 ~ div {
//   margin-bottom: 20px;
// }
// .crossroads .text .cities {
//   width: 90%;
//   margin: 0 auto;
//   height: 50px;
//   background: url("../assets/bivio.png") no-repeat;
//   background-size: contain;
// }
// .crossroads .text p {
//   color: #fccf1a;
//   margin-top: 7px;
//   font-family: "museo-slab";
//   letter-spacing: 1px;
// }
// .crossroads .text p a {
//   color: inherit;
// }
// @media only screen and (min-width: 62em) {
//   .crossroads > div:not(.text) {
//     height: 450px;
//   }
//   .crossroads .text img {
//     width: 6%;
//     margin-top: 50px;
//   }
//   .crossroads .text h2 {
//     font-size: 300%;
//   }
//   .crossroads .text h2 ~ div {
//     margin-bottom: 50px;
//   }
//   .crossroads .text .cities {
//     width: 800px;
//     height: 100px;
//     position: relative;
//     left: -30px;
//   }
//   .crossroads .text p {
//     margin-top: 20px;
//   }
//   .crossroads .text p a {
//     font-size: 140%;
//   }
// }
/*********************************************
* CROSSROADS STATISTICS
*********************************************/
// .crossroads-stats {
//   color: #fff;
//   overflow: auto;
//   text-align: center;
// }
// .crossroads-stats div.numbers {
//   display: table;
//   width: 100%;
// }
// .crossroads-stats div.numbers div.number {
//   display: table-cell;
//   vertical-align: middle;
//   width: 50%;
//   padding: 2em 1em;
//   background-repeat: no-repeat;
//   background-size: cover;
// }
// .crossroads-stats div.numbers div.number h3 {
//   font-size: 160%;
// }
// .crossroads-stats div.numbers div.number > span {
//   font-size: 150%;
// }
// .crossroads-stats div.numbers div.number > div {
//   font-size: 620%;
//   font-family: 'futura-pt-condensed';
// }
// .crossroads-stats div.numbers div.number:first-of-type {
//   background-image: url("../assets/milano.jpg");
// }
// .crossroads-stats div.numbers div.number:last-of-type {
//   background-image: url("../assets/parma.jpg");
// }
// @media only screen and (min-width: 62em) {
//   .crossroads-stats div.numbers div.number {
//     padding: 5em 0;
//   }
//   .crossroads-stats div.numbers div.number > div {
//     font-size: 12em;
//   }
// }
/*********************************************
* CROSSROADS SECTION /  BIVIO
*********************************************/
.crossroads
  background-color #AF1C2E
  color #fff
  text-align center
  padding 1em 0 1.7em
  div.container
    padding 0 15px
  img
    width 12%
    margin-bottom 5px
  h2
    font-size 300%
    letter-spacing 5px
    // this font's weird. need this to align with the text below
    text-indent 10px
    & ~ div
      font-size 67%
    & ~ p
      margin-top 1.5em
      line-height 19px
  @media $desktop
    &
      padding 2em 0 2em
    img
      width 65px
      display block
      margin 0 auto
    h2:first-of-type
      margin 10px 0 5px
      font-size 460% // TODO use right bolder font
      & ~ div
        font-size 100%
      & ~ p
        font-size 185%
        line-height 37px
        width 85%
        margin 20px auto


/*********************************************
* CROSSROADS STATISTICS
*********************************************/
.crossroads-stats
  color #fff
  overflow auto
  text-align center
  div.numbers
    display table
    width 100%
    div.number
      display table-cell
      vertical-align middle
      width 50%
      padding 2em 1em
      background-repeat no-repeat
      background-size cover
      h3
        font-size 160%
      & > span
        font-size 150%
      & > div
        font-size 620%
        font-family 'futura-pt-condensed'
      &:first-of-type
        background: url("../assets/napoli.jpg") no-repeat top center;
        background-size cover
      &:last-of-type
        background: url("../assets/bari.jpg") no-repeat top center;
        background-size cover
  @media $desktop
    div.numbers
      div.number
        padding 5em 0
        height 450px
        & > div
          font-size 12em



/*********************************************
* HEADING OUT
*********************************************/
.heading-out
  background-color #961519
  text-align center
  padding 1em
  img
    width 10%
    margin-bottom 12px
  h3
    color #fff
    font-size 120%
    letter-spacing 0.7px
    line-height 20px
  p
    color yellow // TODO get the yellow hue
    margin-top 7px
    font-family "museo-slab"
    font-size 90%
    a
      color inherit
  @media $desktop
    &
      background-color #961519
      color #fff
      padding 2em 0
      img
        width 5%
      h3
        color inherit
        line-height 33px
        font-size 190%
      p
        color #fdd319
        font-size 130%



/*********************************************
* NEWSLETTER
*********************************************/
#newsletter
  text-align center
  background-color #961519
  color #fff
  padding 1em 0
  h2
    font-size 1.7em
  form > *
    margin 0 auto 10px
    position relative
  input
    display block
    margin 0 auto
    border none
    font-family inherit
  div.input-email
    width 70%

    input[type=email]
      padding 7px 9px
      width 100%
      &.error
        padding 6px 0.7em
        text-align left
        font-style italic
        background #F5A6A6
        color #C82929
        color red
        border-color red
    & .notification
      display none
      font-style italic
      text-align right
      color #FF8300
      position relative

  div.input-submit
    height 40px
    line-height 40px
    background-color #46070F
    width 70%
    margin 0 auto
    input[type=submit]
      background-color inherit
      color inherit
      padding 0 40px
      font-size 90%
      height inherit
      width 100%
    div.loader
      position absolute
      width 100%
      text-align center
      top 0
      left 0
      display none
      padding 0
      height 40px
      line-height 40px
      span
        display inline-block
        width 48%
        text-align right
      & > div
        display inline-block
        width 49%
        text-align left
  @media $desktop
    form
      padding 20px 0
    form > *
      display inline-block
      vertical-align middle
      margin 0 20px 0 0

      &:last-child
        margin 0
    div.input-submit
      line-height 40px
      background-color #46070F
      width 15%
      margin 0 auto
      input[type=submit]
        background-color inherit
        color inherit
        height inherit

    div.input-email
      width 30%
      height 40px
      input[type=email]
        padding 7px 9px
        width 100%
        height 100%
        font-size 18px
      & .notification
        position absolute
        top -19px
        right 0


    h2
      font-size 1.7em





/*********************************************
* WOOBOX SWEEPSTAKES
*********************************************/
#woobox
  background #9E2529
  width 100%
  & > .container
    padding 1em
  div.prizes
    h2
      text-align center
      color #fff
      font-size 1.1em
      font-family museo-slab
    p
      color #fff
      margin 1em 0 2em 0
      font-size 0.7em
      line-height 20px
    img
      width 100%

  @media $desktop
    & .container
      display table
      width 100%
      & > *
        vertical-align top
        display table-cell
      div.prizes
        width 80%


        h2
          font-size 2em
        p
          font-size 1.2em
          letter-spacing 1px
      div:not(.prizes)
        width 20%

        padding-left 4em









/*********************************************
* APP SECTION
*********************************************/
#appstore
  background-color #6EBDA5
  overflow hidden
  div.phone
    width 45%
    height 250px
    float left
    background url(../assets/one-phone-mobile.png) -70px center no-repeat
    background-size 130%
  div.text
    width 55%
    float right
    color #fff
    padding 1em 1em 1em 0
    box-sizing border-box
    h1
      font-size 1.7em
      span
        display block
    div.white-line
      height 2px
      width 100%
      background #fff
      margin 10px 0
      width 130%

    p
      font-size 122%
      font-family futura-pt
      font-weight 100 // TODO font
    a
      display inline-block
      width 185px
      height 55px
      margin-top 20px
      background url(../assets/appstore.png) no-repeat
      background-size contain
  @media $desktop
    &
      max-height 424px
    div.phone
      //max-width 500px
      width 50%
      height 49%
      max-width 692px
      background url(../assets/phones.png) 0 50% no-repeat
      background-size contain
    div.text
      width 50%
      float left
      padding 7em 0 7em 2vw
      h1
        font-size 2em
        span
          display inline
      div.white-line
        height 2px
        width 100%
        background #fff
        margin 1em 0
        width 130%
      p
        letter-spacing 1.2px
        width 81%
        max-width 506px


/*********************************************
* FOOTER
*********************************************/
#footer
  padding 2em 0
  font-size 75%
  text-align center
  font-family 'futura-pt'
  line-height 18px
  font-weight 500
  background-image url('../assets/scenery-milano-md-max.jpg')
  background-size cover
  a.logo
    height 42px
    background url('../assets/logo-header.png') no-repeat center
    margin-bottom 1em
    display block
  //.copyright
  //  display inline-block
  a.terms
    display block
    color #961519



/*********************************************
* OVERLAYS
*********************************************/
#overlays
  display none
  background alpha(#b92025, 0.985)
  width 100%
  height 100%
  position fixed
  z-index 10
  .overlay-content
    width 90%
    margin 3.5em auto 0
    position relative
    a.close
      width 38px
      height 38px
      max-width 46px
      background url(../assets/close-white.png) no-repeat
      background-size contain
      display inline-block
      position absolute
      right 0
      top 0
      clear both
  @media $desktop
    .overlay-content
      width 80%
      max-width 1200px
      & > a.close
        top -2%
        right -5%




/*********************************************
* CHECKPOINTS OVERLAY - MAP
*********************************************/
#overlay-checkpoints-map
  display none
  position relative
  div.overlay-content a.close
    top -40px
  div.left
    display flex
    flex-direction column
    div.map
      height  300px
      background url(../assets/checkpoint-map.jpg) no-repeat 0 0
      background-size contain
    h1
      font-size 3.6vh
      color #fff
      margin-bottom 1em
      text-align center //TODO font fix
    p
      padding-left 62%
      font-size 0.8em
      line-height 18px
      color #fff
      position absolute
      top 3em
      right 0
      width 25vh
      a
        color inherit
    div.video
      background url(../assets/video-60-40p.jpg) no-repeat
      background-size contain
      height 250px
      margin-top 2em
      order 3

  @media $desktop
    div.left
      height 60%
      background-position top right
      display block
      div.map
        position absolute
        top 0
        right 0
        width 55%
        height 100%
      h1
        text-align left
        font-size 3.2em //todo font fix
        span
          display block
      p
        padding-left 0
        width 320px
        font-size 1em
        line-height 24px
        position static
      div.video
        width 310px
        margin 1em 0
        max-height 165px
        iframe
          height 100%
          width 100%


/*********************************************
* CHECKPOINTS OVERLAY - GRID
*********************************************/
#overlay-checkpoints-grid
  display none
  div.overlay-content
    color #fff
    font-family 'futura-pt'
    h1
      font-size 2em
      margin-bottom 0.6em
    ul
      li
        display inline-block
        text-align center
        width 20%
        font-size 2vh
        margin 0 3% 10% 0
        vertical-align top
        &:nth-of-type(4n)
          margin 0
        a
          display block

          margin-bottom 0.7em
          img
            width 100%
            display block
  @media $desktop
   div.overlay-content
     ul
       li
         width 17.2%
         margin 0 3% 4% 0
         &:nth-of-type(2n)
           margin-right 3%
         &:nth-of-type(5n)
           margin 0


/*********************************************
* CHECKPOINTS OVERLAY
* ps: there's no overlay for mobile.
*********************************************/
#overlay-photos
  display none
  div.overlay-content
    padding-top 20px
    width 60%
    a.close
      top -35px
    div.content

      background-color #fff
      border 20px solid white
      width 100%
      box-shadow 0 0 20px alpha(black, 0.3)
      div.photo
        width 100%

        //transition width 2s
        img
          transition width 0.3s, opacity 0.7s
          width 100%
          display block

      div.arrows
        display block
        font-size 2em
        text-align center
        & > span
          display inline-block
          font-size 2em
          cursor pointer
          &:hover
            color #0098DB

          span
            font-size 0.3em
            position relative
            top -12px


          margin-right 15px






/*********************************************
* DEMO OVERLAY
*********************************************/
#overlay-demo
  display none
  div.overlay-content
    div.iframe
      height 500px
      padding-top 60px








h1, h2, h3
  font-family 'futura-pt'



.spinner {
  width: 100%;
  text-align: center;
}

.spinner > div {
  width: 8px;
  height: 8px;
  background-color: #ecc200;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}