// So i made this with a mobile-first approach,
// but i think i should've done it desktop-first.
//  you'll just have to
// (•_•)
// ( •_•)>⌐■-■
// (⌐■_■)       deal with it.


// Media sizes
$mobile-screen   = 34em
$tablet-screen   = 48em
$desktop-screen  = 62em

$screen     = "only screen";
$mobile     = "only screen and (min-width: " + $mobile-screen + ")"
$tablet     = "only screen and (min-width: " + $tablet-screen + ")"
$desktop    = "only screen and (min-width: " + $desktop-screen + ")"
$landscape  = "only screen and (orientation: landscape)"
$portrait   = "only screen and (orientation: portrait)"


$darkgreen = #343a2c
$margin-padding-mobile = 1em


@import 'reset.css'

// All actions link in the mock have the same style,
// just different color. Make it a function, and, if
// needed, overwrite this values after invoking it
demo_button($color)
  // red #b01d2b
  color $color
  border 3px solid $color
  padding 0.8em 1.4em
  text-decoration none
  display inline-block
  font-weight 700
  letter-spacing 1px
  line-height 16px
  font-size 68%
  &:hover
    background $color
    color #fff
    transition background 0.25s, color 0.25s
  @media $desktop
    font-size 110%


body
  //display none
  margin 0
  padding 0
  background-color #F6F0E4
  font-family "museo-slab"


// placed inside each main div
// in case we need to set a max-width on all main divs
.container
  max-width 1113px
  box-sizing border-box
  //background rgba(0,0,0,0.05)
  margin 0 auto


/*********************************************
* NAVBAR
*********************************************/
#nav
  background-color #fff
  font-family 'futura-pt'
  padding 0 1em
  div.container
    height 59px
    display table
    width 100%
    div.logo
      background url('../assets/logo-header.png') no-repeat left
      display table-cell
      //width 25%
      min-width 109px
    div.right-side
      display table-cell
      width 69%
      div.right-side-inner
        float right
        & > div
          margin-left 20px
          display inline-block
          vertical-align middle
        div a, div.data, div.avatar, div.mood-icon
          display none
        div.icon-location a, div.icon-checkpoints a
          width 50px
          height 59px
          display block
          background-size 40%
          background-position center
          background-repeat no-repeat
        div.icon-location
          a
            background-image url('../assets/icon-location-80p.png')
        div.icon-checkpoints
          margin-left -4px
          position relative
          a
            background-image url('../assets/icon-checkpoints-80p.png')
          div.notification
            width 15px
            height 15px
            border-radius 10px
            text-align center
            line-height 15px
            font-weight 700
            font-size 60%
            background $darkgreen
            color #fff
            position absolute
            top 10px
            right 4px

  @media $desktop
    &
      padding 0.6em 0
    div.container
      div.right-side
        div.right-side-inner
          div a.sweepstakes
            demo_button($darkgreen)
            font-size 100%
            font-family museo-slab
          div.avatar
            display inline-block
            position relative
            img
              width 50px
           div.mood-icon
            display inline-block
            width 20px
            height 20px
            position absolute
            bottom 0
            right -15px
            border 4px solid #fff
            border-radius 15px
            background url('../assets/mood-happy.png') #fff
            background-size contain
          div.data
            display inline-block
            color #a4a4a4
            line-height 1.2em
            font-size 90%
            .location
              color $darkgreen
            .time, .temp
              display inline-block
            .temp
              float right



/*********************************************
* HEADER/MASTHEAD (scooter) SECTION
*********************************************/
#header
  background url('../assets/masthead-60-40p.jpg') no-repeat left #fff
  background-size 100% 100%
  box-shadow 0 1px 5px rgba(0,0,0,0.2) inset

  div.header-content
    height 70vmin
    overflow auto
    div.left
      display none
    div.right
      float right
      height 100%
      text-align center
      width 65%
      div.avventura
        height 70%
      a
        demo_button($darkgreen)
        padding 0.5em 0.6em 0.3em
        width 45%
        margin-top 49vw

  @media $desktop
    &
      background #fff
      overflow auto
    div.header-content
      height 47vw
      max-height 717px
      background #fff
      padding-top 2vh
      box-shadow 0 1px 5px rgba(0,0,0,0.2) inset
      div.left
        display block
        width 61%
        float left
        background url('../assets/scooter-50-full.jpg') no-repeat 0 3px
        background-size cover
        height 100%
      div.right
        float right
        width 37%
        padding-right 2vw
        box-sizing border-box
        position relative
        height 100%
        margin 0
        div.map
          position relative
          left -13vw
          display table
          width 120% //100%
          height 100%
          background url("../assets/map-desktop.png") no-repeat 0vh 0vh
          background-size cover //contain
          div.avventura
            //width 100%
            //max-height 717px
            display block
            //height 56%
            //vertical-align bottom
            text-align center
            //position static
            background url(../assets/avventura.png) no-repeat 0 top
            background-size contain
            margin-top 4em
            max-width 764px

          a
            width auto
            margin-top 28vw
            padding 0.8em 1.2em




/*********************************************
* INTRODUCTION SECTION
*********************************************/
#introduction
  text-align center
  padding 1em 0
  background  url(../assets/bg-meetpeter-60-60p.jpg) -338px 0 // TODO crop mobile version of meetpeter
  background-size cover
  overflow auto
  h2
    color #fff
    font-size 11vw
    font-weight 500
    letter-spacing 1px
    width 130%
    text-indent -1em
  div.about-peter
    text-align left
    width 70%
    float right
    padding-right 1em
    div.video
      height 30vh
      width 39vh
      background url(../assets/video-peter-60-50p.jpg) no-repeat
      background-size contain
      margin 0.7em 0 0.5em
    p:first-of-type
      color #D9212A
      font-size 124%
      line-height 23px
    p:last-of-type
      color #fff
      font-family 'futura-pt'
      margin-top 0.5em
  @media $desktop
    &
      background-position 0 0
      padding 2em 0
    h2
      font-size 4.4em
      text-indent 0
      width 100%
      span
        display block
    div.about-peter
      width 40%
      margin-right 21em
      position relative
      div.video
        position absolute
        right -320px // width of .video + extra space
        bottom 0
        width 300px
        height 230px
        background-position bottom
      p:first-of-type
        font-size 174%
        line-height 33px
      p:last-of-type
        font-size 110%
        font-family 'futura-pt'
        line-height 24px



/*********************************************
* CHAPTER 1 VIDEO SECTION
*********************************************/
#chapter1-video
  color #333
  padding-top 2em
  background url('../assets/map-desktop.png') no-repeat 10.2em 2em
  background-size 100%
  div.container
    padding 15px
  img.chapter1-title
    width 60%
    padding-left 15px // same as container padding
  div.video
    color #b82026
    padding 16px
    background #fff
    margin-top 2em
    box-shadow 0 0 15px alpha(#000, 0.15)
    div.column-1,
    div.column-2
      display block
      width 100%
      vertical-align top
      img
        width 100%
    div.column-1 p
      display none
    div.column-2
      img
        // the backpack
        display none
      p
        font-weight 500
        font-size 95%
        margin-top 1em
        line-height 19px
  @media $desktop
    &
      background-position 43vw 2vw
      background-size 83vh
    div.container
      padding 2em 0
    div.chapter-name
      height 400px
      background url(../assets/chapter1-70p.png) no-repeat
      background-size 36%
    div.video
      margin-top 1em
      padding 40px
      div.column-1, div.column-2
        display inline-block
        width 49%
        vertical-align top
      div.column-1 p
        display block
        color #333
        font-size 85%
        padding-top 2em
        line-height 21px
      div.column-2
        img
          // show backpack
          width 90%
          float right
          position relative
          right -58px
          display block
        p
          margin 0 0 2em 2em
          font-size 160%
          line-height 34px

  img.pattern
    margin 0 auto
    z-index -1
    display block
    width 60%
    @media $desktop
      width 30%



/*********************************************
* CHAPTER 1 PHOTOS SECTION
*********************************************/
#chapter1-photos
  background url('../assets/scenery-como-md-original.jpg') no-repeat bottom center
  background-size cover
  padding 0 $margin-padding-mobile 1.5em
  div.column
    width 49.1%
    box-sizing border-box
    display inline-block
    &:nth-of-type(1)
      padding-right 8px
    &:nth-of-type(2)
      padding-left 8px

    &:nth-of-type(3)
      display block
      float none
      margin 0 auto
      // padding to shrink the img
      padding 0 14px
      & > img
        margin-bottom 0
    img
      width 100%
      border 7px solid #fff
      box-shadow 0 0 15px alpha(#000, 0.15)
      margin-bottom 15px
      box-sizing border-box
      display block
  div.demo-cta
    text-align center
    font-weight 500
    margin 2em 0  1em
    h3
      color $darkgreen
      margin-bottom 7px
    a
      margin-top 0.5em
      demo_button(#b01d2b)
  @media $desktop
    &
      background-size 100% 100%
    div.column
      &:nth-of-type(1)
        img
          &:nth-of-type(1)
            margin-bottom 25vh
          &:nth-of-type(2)
            margin-left 4vw
      &:nth-of-type(2)
        float right
        img
          float right
          &:first-of-type
            margin 3vh 0  31vh
          &:last-of-type
            margin-right 5vw
      &:nth-of-type(3)
        display inline-block
        width 100%
        position relative
        top -61vh
        margin-bottom -20vh
        & img
          margin 0 auto
          width 20%

      img
        width 55%

    div.demo-cta
      text-align center
      font-weight 500
      margin-bottom 2em
      margin-top -2em
      h3
        font-size 180%
        color $darkgreen
        margin-bottom 20px



/*********************************************
* CROSSROADS SECTION /  BIVIO
*********************************************/
#crossroads
  background-color #AF1C2E
  color #fff
  text-align center
  padding 1em 0 1.7em
  div.container
    padding 0 15px
  img
    width 12%
    margin-bottom 5px
  h2
    font-size 300%
    letter-spacing 5px
    // this font's weird. need this to align with the text below
    text-indent 10px
    & ~ div
      font-size 67%
    & ~ p
      margin-top 1.5em
      line-height 19px
  @media $desktop
    &
      padding 2em 0 2em
    img
      width 65px
      display block
      margin 0 auto
    h2:first-of-type
      margin 10px 0 5px
      font-size 460% // TODO use right bolder font
      & ~ div
        font-size 100%
      & ~ p
        font-size 185%
        line-height 37px
        width 85%
        margin 20px auto



/*********************************************
* CROSSROADS STATISTICS
*********************************************/
#crossroads-stats
  color #fff
  overflow auto
  text-align center
  div.numbers
    display table
    width 100%
    div.number
      display table-cell
      vertical-align middle
      width 50%
      padding 2em 1em
      background-repeat no-repeat
      background-size cover
      h3
        font-size 160%
      & > span
        font-size 150%
      & > div
        font-size 620%
        font-family 'futura-pt-condensed'
      &:first-of-type
        background-image url('../assets/milano.jpg')
      &:last-of-type
        background-image url('../assets/parma.jpg')
  @media $desktop
    div.numbers
      div.number
        padding 5em 0
        & > div
          font-size 12em



/*********************************************
* HEADING OUT
*********************************************/
#heading-out
  background-color #961519
  text-align center
  padding 1em
  img
    width 10%
    margin-bottom 12px
  h3
    color #fff
    font-size 120%
    letter-spacing 0.7px
    line-height 20px
  p
    color yellow // TODO get the yellow hue
    margin-top 7px
    font-family "museo-slab"
    font-size 90%
    a
      color inherit
  @media $desktop
    &
      background-color #961519
      color #fff
      padding 2em 0
      img
        width 5%
      h3
        color inherit
        line-height 33px
        font-size 190%
      p
        color #fdd319
        font-size 130%



/*********************************************
* NEWSLETTER
*********************************************/
#newsletter
  text-align center
  background-color #961519
  color #fff
  padding 1em 0

  form *:not(:last-child)
    margin-bottom 10px
  input
    display block
    margin 0 auto
    border none
    font-family inherit
  input[type=email]
    padding 7px 9px
    width 70%

  input[type=submit]
    background-color #46070F
    color inherit
    padding 14px 40px
    font-size 90%
  @media $desktop
    form > *
      display inline-block
      vertical-align middle
      margin-right 20px
      &:last-child
        margin 0
    h2
      font-size 1.7em

    input[type=email]
      width 37%
      height 2.5em
      font-size 1.2em
    input[type=submit]
      padding 13px 55px
      vertical-align top
      font-size 120%



/*********************************************
* WOOBOX SWEEPSTAKES
*********************************************/
#woobox
  @media $tablet
    background red
  @media $desktop
    background yellow



/*********************************************
* APP SECTION
*********************************************/
#appstore
  background-color #6EBDA5


/*********************************************
* FOOTER
*********************************************/
#footer
  padding 2em 0
  font-size 75%
  text-align center
  font-family 'futura-pt'
  line-height 18px
  font-weight 500
  background-image url('../assets/scenery-milano-md-max.jpg')
  background-size cover
  .logo
    height 42px
    background url('../assets/logo-header.png') no-repeat center
    margin-bottom 1em
  //.copyright
  //  display inline-block
  a.terms
    display block
    color #961519



/*********************************************
* OVERLAYS
*********************************************/
#overlays
  display none
  background alpha(#b92025, 0.985)
  width 100%
  height 100%
  position fixed
  z-index 1
  .overlay-content
    width 90%
    margin 3.5em auto 0
    position relative
    & > a.close
      width 38px
      height 38px
      max-width 46px
      background url(../assets/close-white.png) no-repeat
      background-size contain
      display inline-block
      position absolute
      right 0
      top 0
      clear both
  @media $desktop
    .overlay-content
      width 80%
      max-width 1200px
      & > a.close
        top -2%
        right -5%




/*********************************************
* CHECKPOINTS OVERLAY - MAP
*********************************************/
#overlay-checkpoints-map
  display none
  position relative
  div.overlay-content a.close
    top -40px
  div.left
    display flex
    flex-direction column
    div.map
      height  300px
      background url(../assets/checkpoint-map-40p.png) no-repeat 0 0
      background-size contain
    h1
      font-size 3.7vh
      color #fff
      margin-bottom 1em
      text-align center //TODO font fix
    p
      padding-left 62%
      font-size 0.8em
      line-height 18px
      color #fff
      position absolute
      top 3em
      right 0
      width 25vh
      a
        color inherit
    div.video
      background url(../assets/video-60-40p.jpg) no-repeat
      background-size contain
      height 250px
      margin-top 2em
      order 3

  @media $desktop
    div.left
      height 60%
      background-position top right
      display block
      div.map
        position absolute
        top 0
        right 0
        width 55%
        height 100%
      h1
        text-align left
        font-size 3.2em //todo font fix
        span
          display block
      p
        padding-left 0
        width 320px
        font-size 1em
        line-height 24px
        position static
      div.video
        width 310px
        margin 1em 0
        max-height 165px


/*********************************************
* CHECKPOINTS OVERLAY - GRID
*********************************************/
#overlay-checkpoints-gid
  display none
  div.overlay-content
    color #fff
    font-family 'futura-pt'
    h1
      font-size 2em
      margin-bottom 0.6em
    ul
      li
        display inline-block
        text-align center
        width 44%
        font-size 2vh
        margin 0 10% 13% 0
        vertical-align top
        &:nth-of-type(2n)
          margin 0
        a
          display block
          background blue
          margin-bottom 0.7em
          img
            width 100%
            display block
  @media $desktop
   div.overlay-content
     ul
       li
         width 17.2%
         margin 0 3% 4% 0
         &:nth-of-type(2n)
           margin-right 3%
         &:nth-of-type(5n)
           margin 0

















h1, h2, h3
  font-family 'futura-pt'