/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */
/* ==========================================================================
   Base Styles
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}
@font-face{ 
    font-family: 'cubano-regular-webfont';
    src: url('../font/cubano-regular-webfont.eot');
    src: url('.../font/cubano-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/cubano-regular-webfont.woff') format('woff'),
         url('../font/cubano-regular-webfont.ttf') format('truetype'),
         url('../font/cubano-regular-webfont.svg#cubano-regular-webfont') format('svg');
}
@font-face {
    font-family: 'gotham-htf-book';
    src: url('../font/gothamhtf-book-webfont.eot');
    src: url('../font/gothamhtf-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/gothamhtf-book-webfont.woff2') format('woff2'),
         url('../font/gothamhtf-book-webfont.woff') format('woff'),
         url('../font/gothamhtf-book-webfont.ttf') format('truetype'),
         url('../font/gothamhtf-book-webfont.svg#gotham-htf-book') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'gotham-htf-bold';
    src: url('../font/gothamhtf-bold-webfont.eot');
    src: url('../font/gothamhtf-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/gothamhtf-bold-webfont.woff') format('woff'),
         url('../font/gothamhtf-bold-webfont.ttf') format('truetype'),
         url('../font/gothamhtf-bold-webfont.svg#gotham-htf-bold') format('svg');
    font-weight: 800;
    font-style: normal;

}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}
a{
    color: #00A5E2;
    text-decoration: none;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


body {
    font-size: 100%;
    line-height: 1em; 
    font-family: gotham-htf-book, Arial, sans-serif;
    background-color: #717070;
}

h1, h2, h3, h4, h5 { 
    font-family: cubano 'cubano-regular-webfont', Arial;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    font-weight: 600;
}
h1 em,
h2 em { font-style: normal; }
h2 {
    color: #fff;
    font-size: 6vw;
    line-height: 1.25em;
    margin: 1em 0 .5em;
    font-weight: 600;
    text-align: left;
    display: inline-block;
    letter-spacing: normal;
}
h2 em {
    color: #ffdc3d;
    display: block;
    line-height: .65em;
    font-weight: 600;
    font-size: 2em;
    letter-spacing: -2pt;
}

h3 {
    color: #ffd200;
    font-size: 14vw;
    margin: 5vw 0 0 21vw;
    line-height: .85em;
}
h3 small {
    color: #FFF;
    display: block;
    font-size: .5em;
    line-height: .8em;
}
h3 small.pad {
    padding-left: 8%;
}
h1 img {
    width: 100%;
}
h2.headline { font-size: 10vw; line-height: 1em; }
h2.allwhite { color: #FFF; }
h2.body-font, h3.body-font { font-family: gotham-htf-book, Arial, sans-serif; }
h2.with-icon {
    padding-left: 11vw;
    background-size: 10vw;
    background-repeat: no-repeat;
}
h2.video-icon{
    background-image: url(../img/icon_video_play.png);
}
h2.video-icon.yellow-icon{
    background-image: url(../img/icon_video_yellow.png);
}
h2.quote-icon{
    background-image: url(../img/icon_quote.png);
}
h2.info-icon{
    background-image: url(../img/icon_info.png);
}
h2.topline-small,
h3.topline-small {
    line-height: .9em;
}
h2.headline.medium { font-size: 10vw; }
h2.headline.medium { font-size: 7vw; }
h2.headline.small { font-size: 6vw; }
h2.headline span { display: block; position: relative!important; }
h2.topline-small small,
h3.topline-small small {
    display: block;
    line-height: .8em;
    font-size: .5em;
}
h2.topline-small span small {
    display: inline-block;
}
h2.no-margins, h3.no-margins { margin: 0; }
h3.headline {
    font-size: 4.5em;
    line-height: .85em;
    text-align: left;
    display: inline-block;
}
h2.headline.smaller { font-size: 4em; }

h3.yellow {
    color: #ffd200;
}
h3.small-white small {
    display: block;
    font-size: .5em;
    line-height: .8em;
    color: #FFF;
}
.unlink-video.with-icon {
    left: 4vw;
    bottom: 7vh;
    position: absolute;
    display: block;
    width: 18vw;
}
.unlink-video.with-icon img {
    width: 100%;
}
/* ===================
    Layout
   =================== */
article {
    background: #fffcee;
    padding: 10px 20px;
}
article p {
    line-height: 1.1em;
    font-size: 4vw;
    margin: .7em 3vw;
}

.tiles article p,
.onetile article p
.tiles article a p {
    color: #FFF;
}
.wrapper img.container-bg {
    z-index: 0;
    width: 100%;
}
.wrapper {
    position: relative;
    height: auto;
}

.wrapper article.with-background {
    position: absolute;
    padding: 0;
    margin: 0;
    background: none;
    width: 100%;
    height: 100%;
}
.icon-holder {
    width: 8vw;
    height: 8vw;
    display: block;
}
.icon-holder img {
    width: 100%;
}
article .inner-wrapper {
    width: 72%;
    margin: 0 auto;
    position: relative;
    display: block;
}
.wrapper.tiles {
    display: -webkit-flex;
    display: flex;
    width: 100%;
}
.link-button {
    display: inline-block;
    padding: 2vw 4vw;
    color: #FFF;
    text-decoration: none;
    font-family: cubano 'cubano-regular-webfont', Arial;
    font-weight: 800;
    font-size: 4vw;
    text-align: center;
    line-height: 1em;
}
a.link-button.link-demo {
    font-family: gotham-htf-book, Arial, sans-serif;
    background-color: #b29306;
    font-style: normal;
    text-transform: uppercase;
    font-size: 3.5vw;
    text-decoration: none;
    padding: 6vw 3vw;
    margin: 0 auto 10px;
}
.link-photo {
    cursor: pointer;
}
.lb-caption {
    background: rgba(255,255,255,.5);
    color: #000;
    padding: 12px 30px;
    position: absolute;
    bottom: 20px;
    width: auto;
    left: 0;
}

.featherlight.vidbx .featherlight-content video {
    width: 100%;
}
.photo-wrapper { 
    width: 300px;
    padding: 12px;
    height: auto;
    display: inline-block;
}
.photo-wrapper.left-flow { 
    float: left;
    padding: 12px 30px 12px 0;
}
.photo-wrapper.right-flow { 
    float: right;
    padding: 12px 0 12px 30px;
}
.photo-wrapper img { 
    width: 100%;
}

.wrapper.tiles article {
    padding: 0;
}
.wrapper.tiles .col{
    position: relative;
}
/* First Row of Tiles */
#first-row.wrapper.tiles .col.first {
    width: 80%;
}
#first-row.wrapper.tiles .col.second,
#eighth-row.wrapper.tiles .col.first {
    background-color: #FED30D;
    width: 37%;
    padding: 6% 0;
}
#eighth-row.wrapper.tiles .col.first {
    width: auto;
}
/* Second Row of Tiles */
#second-row .col.first,
#tenth-row .col.first {
    width: 55%;
    height: 48vw;
    position: relative;
}
#second-row .col.second {
    width: 45%;
    height: 150px;
    position: relative;
}
#third-row .col.first {
    background-color: #FCD825;
}
#third-row .col.second {
    background-color: #FED308;
}
/* Fourth Row of Tiles */
#fourth-row.wrapper.tiles .col.first {
    width: 32%;
    background-color: #683616;
}
#fourth-row.wrapper.tiles .col.second {
    width: 68%
}
/* Sixth Row of Tiles */
#sixth-row.wrapper.tiles .col.first {
    width: 42%;
}
#sixth-row.wrapper.tiles .col.second {
    width: 58%;
    background-color: #11bc7e;
}
.main-container{
    position: relative;
}
.header-container {
    background: #fff;
    border-bottom: 1px solid #c6c3bc;
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    display: none;
}
.header-container .row .col.first {
    float: left;
    width: 34%
}
.header-container .row .col.second {
    float: left;
    width: 32%;
}
.header-container .row .col.third {
    float: left;
    padding-top: 2vw;
    width: 34%;
}
.header-container h1 {
    width: 28vw;
    display: inline-block;
    margin: 3.2vw 1vw 0 4vw;
}
.header-container h1 img {
    width: 100%;
}
.header-container h2 {
    display: inline-block;
    font-family: gotham-htf-book, Arial;
    color: #202020;
    margin: 4.5vw 5vw 4vw 3.5vw;
    font-size: 3.5vw;
    text-align: left;
    line-height: 1em;
}
.header-container a.link-demo {
    font-size: 3.5vw;
    display: inline-block;
    font-family: gotham-htf-bold, gotham-htf-book, Arial;
    color: #fff;
    background: #0098db;
    border-radius: 4px;
    padding: 2.2vw 3.5vw;
    font-weight: 800;
    text-align: center;
    float: right;
    margin: 3.2vw 3vw 0 0;
    text-transform: uppercase;
}
.header-container a.link-demo:hover {
    background: #008ac7;
}
.page-head header {
    position: absolute;
    z-index: 10;
    width: 40%;
    left: 50%;
    margin-left: -20%;
}
.icon-tags {
    top: 12px;
    left: 2vw;
    display: block;
    position: absolute;
}
.icon-tags img {
    width: 15px;
}
.icon-tags img,
.icon-tags small{
    float: left;
    margin-left: 8px;
}
.icon-tags small{
    color: #FFF;
    font-size: .7em;
}
a.link-video.with-poster {
    display: block;
    width: 44vw;
    position: relative;
    -webkit-box-shadow: 2px 2px 15px 1px rgba(0,0,0,0.34);
    -moz-box-shadow: 2px 2px 15px 1px rgba(0,0,0,0.34);
    box-shadow: 2px 2px 15px 1px rgba(0,0,0,0.34);
}
a.link-video.with-poster img,
.video-play-button img {
    width: 100%
}
.video-play-button {
    position: absolute;
    bottom: 2vw;
    left: 2vw;
    width: 9vw;
}
/* ===================
    CUSTOM VARIATIONS
   =================== */
article#top {
    top: 22vw;
    left: 0;
}
article#top header {
    margin: 0;
    text-align: center;
}
article#top h2 {
    font-size: 6vw;
}
#cuba-peter header {
    text-align: center;
    margin-top: 10%;
}
#cuba-peter h1 {
    color: #fff;
    font-size: 8vw;
}
#cuba-peter h1 em {
    color: #ffdc3d;
}

#meet-peter header,
#meet-peter section {
    margin: 0 0 0 40%;
    width: 60%;
    display: block;
}
#meet-peter section p {
    margin: 0 0 8px 0;
    line-height: 1.2em;
}
#meet-peter header h2{
     margin: 12px 0;
}
#donde h2 {
    margin: 10px 18px 0 8px;
    display: inline-block;
    font-size: 5vw;
}
#donde header div {
    position: absolute;
    left: 39%;
    top: 10px;
    width: 61%;
}
#donde header p {
    color: #FFF;
    text-transform: uppercase;
    margin: 0 2vh;
    font-size: 3.5vw;
    line-height: 1.3em;
}

#first-row .col.first .unlink-video {
    left: 4vw;
    top: 50%;
    position: absolute;
    display: block;
    margin-top: -15%;
    width: 30%;
}
#peter-begins h2 {
    position: absolute;
    bottom: 2vw;
    left: 5vw;
}

#about-cuba,
#about-cuba article {
    background: #cc4ab2;
    width: 100%;
}

#about-cuba h2 {
    margin: 5vh 0 0 6vw;
    font-size: 9vw;
}
#about-cuba .link-button:hover {
    background: #550d46;
}
#about-cuba .link-button {
    color: #ffe56e;
    background: #6d115a;
    margin: 3vw 0 4vw 49vw;
}
#about-cuba p {
    margin: 2vw 0 0 17vw;
}
#learning-spanish h2.headline {
    font-size: 8vw;
    margin: 19vw 3vw 0;
}
#learning-spanish p {
    margin-top: 2px;
    color: #FFF;
}
#learning-spanish .unlink-video.with-icon {
    right: 32vw;
    top: 7vw;
    left: auto;
}
#far-from-perfect article {
    background: none;
}
#far-from-perfect article p {
    padding: 0 4vw;
    font-size: 2.8vw;
    display: inline-block;
    margin: 0;
    line-height: 1.2em;
}

#far-from-perfect a.link-button {
    color: #ffe56e;
    background-color: #1f8c91;
    margin: 2vw auto 0;
}
#peter-food header {
    margin: 43vw 0 0 4vw;
}
#peter-food p {
    margin: 2px 0 0 0;
    color: #FFF;
}
#peter-food .unlink-video.with-icon {
    right: 7vw;
    left: auto;
}
#family-travel-tips article {
    background-color: #a63a3f;
    height: 56vw;
}
#family-travel-tips section {
    margin: .8vh 0 0 12vw;
}
#family-travel-tips h2 {
    margin: 5vw 4vw 2vw;
}

#family-travel-tips p {
    font-size: .8em;
    margin: 0 0 2vw 7vw;
}
#family-travel-tips .link-button {
    color: #5cf6ff;
    background-color: #7f2125;
}

#going-foot article { 
    background: #3cc0c6;
    height: 27vw;
}
#going-foot h2 { 
    margin: 3vw 2vw 1vw -2vw;
    position: relative;
}
#going-foot h2 small { 
    position: absolute;
    left: 30vw;
    top: 1vw;
    width: 24vw;
    line-height: 1em;
    font-size: .4em;
}
#going-foot p { 
    margin: 1vw 0 0 9vw;
    font-size: 3.5vw;
    color: #FFF;
}
#going-foot .link-button {
    color: #ffe56e;
    background-color: #1f8c91;
    position: absolute;
    right: 3vw;
    top: 13vw;
    z-index: 20;
}
#going-foot .link-button:hover {
    background-color: #1b767a;
}
#peter-sailing h2,
#coaching-session h2 {
    margin: 10vw 3vw 0;
}
#peter-sailing p,
#coaching-session p {
     margin: 3px 0 0 3vw;
     font-size: 3vw;
}
#peter-sailing .unlink-video.with-icon,
#coaching-session .unlink-video.with-icon {
    right: 10vw;
    left: auto;
    bottom: 2vh;
    width: 10vw;
}
#coaching-session .unlink-video.with-icon {
    right: 20vw;
    top: 9vw;
}
#practice-perfect h3 {
    font-size: 11vw;
    margin: 0 4vw;
}

#practice-perfect article,
#world-away article {
    background: url('../img/m_bg_blue_watermarked.jpg') 48% -3% no-repeat #0098DB;
    background-size: 230%;
    height: 100%;
    padding: 9vw 2vw;
}
#peter-packingtips .link-button {
    margin: 2vw 0 0 4vw;
    background-color: #c339a8;
    font-size: 3vw;
}
#peter-packingtips p {
        margin: 1vw 0 0 4vw;
        font-size: 3vw;
}
#peter-packingtips h2 {
    margin: 3vw 0 0 4vw;
    position: relative;
}
#peter-packingtips h2 small {
    position: absolute;
    display: inline-block;
    top: 3vw;
    left: 16.5vw;
}

#little-havana h2 {
    margin: 11vw 0 0 5vw;
}
#little-havana .unlink-video.with-icon {
    left: 48vw;
    bottom: 12vw;
    width: 15vw;
}
#little-havana article p {
    font-size: 3.5vw;
    margin: .4em 3vw;
}
#armando article h2.headline {
    margin: 14vw 0 0 4vw;
    font-size: 9vw;
}
#armando article p {
    font-size: 3.5vw;
    margin: .7em 24vw 0 3vw;
}
#armando .unlink-video.with-icon {
    right: 3vw;
    left: auto;
    bottom: 3vw;
    width: 16vw;
}
#local-flavors h2 {
    margin: 16vw 0 0 5vw;
    font-size: 15vw;
}
#local-flavors .unlink-video.with-icon {
    left: auto;
    right: 9vw;
    bottom: 16vw;
    width: 17vw;
}
#local-flavors article p {
    font-size: 4.5vw;
    margin: .5em 18vw 0 5vw;
    color: #FFF;
}
#tenth-row .col.first {
    height: 30vw;
}
#tenth-row .col.second {
    width: 45%;
}
#eleventh-row .col.first {
    width: 55%;
    height: 41vw;
}
#eleventh-row .col.second {
    height: 41vw;
    width: 45%;
    background-color: #FFD202;
}
#eleventh-row .col.second img.container-bg {
    width: auto;
    height: 100%;
    margin-left: 2vw;
}
#world-away article {
    padding: 5vw 2vw;
}
#world-away h3 {
    font-size: 10vw;
    margin: 1vw 6vw;
    display: inline-block;
    width: 100%;
}

#hola-tohavana h2 {
    margin: 12vw 0 0 42vw;
}
#hola-tohavana p {
    margin:  0 0 0 42vw;
    color: #FFF;
}
#hola-tohavana .unlink-video.with-icon {
    left: auto;
    bottom: 7vh;
    width: 15vw;
    right: 3vw;
}
#horizon h3 {
    font-size: 10vw;
}

#havana-aerial h2 {
        margin: 8vw 0 0 4vw;
}
#havana-aerial p {
        margin: 1vw 0 0 4vw;
}

#havana-aerial .unlink-video.with-icon {
    left: auto;
    width: 15vw;
    right: 20vw;
    bottom: 8vw;
}
#thirteenth-row .col.second { 
    background: #FED203;
}
#thirteenth-row .col.second img { 
    margin-top: 4vw;
}
#off-path h2 {
    margin: 12vw 0 0 6vw;
}
#off-path p {
    margin: 1vw 0 0 6vw;
    color: #FFF;
}
#off-path .unlink-video.with-icon {
    left: auto;
    bottom: 3vh;
    width: 15vw;
    right: 7vw;
}
#nineteenth-row .col.second { 
    background: #FED203;
}
#nineteenth-row .col.second img { 
    margin-top: 4vw;
}
#departing h3 {
    margin-left: 12vw;
}
#casting-off h2 {
    margin: 17vw 0 0 4vw;
}
#casting-off p {
        margin: 1vw 0 0 4vw;
        color: #fff;
}
#casting-off .unlink-video.with-icon {
    left: auto;
    bottom: 5vh;
    width: 15vw;
    right: 15vw;
}










/* ==============
    Swiper
   ============== */
.swiper-container {
    width: 100%;
    height: 40vw;
}  

.swiper-slide .sticker {
    margin: 0 auto;
}
.swiper-slide #sticker-pineapple {
    width: 80px;
} 
.swiper-slide #sticker-plane {
    width: 178px;
    padding-top: 14px;
} 
.swiper-slide #sticker-foodtruck {
    width: 172px;
} 
.swiper-slide img {
    width: 100%;
}


#bottom {
    background-color: #fff;
    overflow: hidden;
    padding: 0;
}
#bottom header h2 {
    color: #363636;
    text-align: center;
    font-size: 4.4vw;
    margin: 10px auto 0;
    display: block;
}
#bottom #social-follow .inner-wrapper {
    margin: 0 auto;
    text-align: center;
    width: 80%;
}
#bottom #social-follow .inner-wrapper a {
    display: inline-block;
    width: 8vh;
    /* float: left; */
    margin: 10px 10px 0;
}
#bottom #social-follow .inner-wrapper a > img {
    width: 100%;
}
/* ==============
    FOOTER
   ============== */
.info-box { 
    background: #FFF;
    color: #363636;
    padding: 18px;
    margin: 0 0 24px;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.26);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.26);
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.26);
}
.info-box h4,
.info-box h5 { 
    margin: 0;
    line-height: 1em;
}
.info-box.first h4{
    color: #ecc200;
}
.info-box h4{
    color: #373737;
    font-size: 1.5em;
}
.info-box h5{
    color: #969696;
    font-size: 1.8em;
}
.info-box h4 small {
    font-size: .6em;
}
.footer-container {
    background-color: #fff;
    padding-bottom: 22px;
}
footer .outer-wrapper {
    background: #ffcc00;
    border-bottom: 2px solid #ecc200;
    margin-bottom: 20px;
    padding: 2px 0;
}

footer #wrapper-bottom a.rslogo {
    display: block;
    width: 36vw;
    margin: auto;
}
footer #wrapper-bottom a.rslogo img {
    width: 100%;
}
footer h3 {
    text-transform: uppercase;
    font-family: gotham-htf-book, Arial, sans-serif;
    font-size: 5vw;
    font-weight: 800;
    line-height: 1em;
    margin: 4vw 5vw 4vw;
    color: #373737;
    display: block;
}
footer .info-box p {
    margin: 3px 0;
    font-weight: 800;
    line-height: 1em;
}
footer .info-box ul {
    margin: 18px;
    padding: 0;
}
footer .info-box li {
    font-weight: 800;
    line-height: 1.2em;
}
footer #copyright {
    font-size: 1.5vh;
    margin: 12px auto 0;
    text-align: center;
}


#pre-enter iframe {
    width: 90%
    margin: 0 auto;
}
/* Lightboxes */ 
.featherlight .featherlight-content {
    padding: 0;
    border: none;
    background-color: transparent;
}
/* General Customizations for Blog Posts */ 
@media only screen and (max-width: 1024px){
    .featherlight .featherlight-content {
        padding: 0;
    }
}
.featherlight.blogpost .lightbox-content p {
    margin: 0 0 1em 0;
    line-height: 1.3em;
}
.featherlight.blogpost .lightbox-content h3 {
    margin: 0;
    font-size: 1.2em;
    color: #000;
    font-family: gotham-htf-book, Arial, sans-serif;
    font-weight: 800;
    margin: 0 0 10px;
    line-height: 1.1em;
}
.featherlight.blogpost .featherlight-close-icon {
    background: rgba(0, 0, 0,.30);
    color: #FFF;#1b767a
    font-weight: 800;
    font-size: 22px;
    line-height: 40px;
    width: 40px;
}

.featherlight.vidbx .featherlight-content,
.featherlight.photo .featherlight-content {
    background-color: transparent;
}
.photo-wrapper {
    width: 35vw;
    padding: 3vw;
    height: auto;
    display: inline-block;
}
.photo-wrapper.left-flow {
    float: left;
    padding: 2vw 6vw 2vw 0;
}
.photo-wrapper.right-flow { 
    float: right;
    padding: 12px 0 12px 30px;
}
.photo-wrapper img { 
    width: 100%;
}
/* Lightbox */ 
/* Customizations for SPECIFIC Posts */ 

.featherlight.blogpost.lbtips .featherlight-content .lightbox-content {
    background: #a63a3f;
    color: #FFF;
    padding: 10px 18px;
}
/* Family Travel Tips */ 
.featherlight.blogpost.lbtips .lightbox-content h2,
.featherlight.blogpost.lbffp .lightbox-content h2 {
    margin: 0 0 3vw 0;
    padding-top: 3vw;
    display: block;
    position: relative;
    width: 35vw;
    font-size: 8vw;
    line-height: 1em;
}

.featherlight.blogpost.lbffp h2 small {
    position: absolute;
    display: block;
    left: 15vw;
    width: 98px;
    top: 18px;
    line-height: .9em;
    font-size: 5vw;
}
.featherlight.blogpost.lbtips h2 small{
    font-size: 5vw;
    line-height: .9em;
    margin-left: -2vw;
}
.featherlight.blogpost.lbtips .lightbox-content h3 {
    color: #5cf6ff;
}
.featherlight.blogpost.lbffp .lightbox-content h2, {
    background: url(../img/icon_quote.png) 0 0 no-repeat;
}

/* Far From Perfect */ 
.featherlight.blogpost.lbffp .featherlight-content .lightbox-content {
    background: #3cc0c6;
    color: #FFF;
    padding: 3vw 4vw;
}
.featherlight.blogpost.lbffp .lightbox-content h3 {
    color: #1b767a;
    font-size: 1em;
    margin-bottom: 10px;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */
.center-text{
    text-align: center;
}
.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
















/*==== 
 DEMO
===========================================================================================*/


#online-demo-button .button {
  background: none repeat scroll 0 0 #0098db !important;
  border: medium none !important;
  border-radius: 5px;
  color: #fff !important;
  float: none !important;
  font-family: 'gotham-htf-book' !important;
  font-size: 12px;
  font-weight: normal !important;
  padding: 9px 16px 7px !important;
  text-align: center;
  text-shadow: none !important;
  text-transform: uppercase !important;
}

#field-email{
    float:none !important;
}
.featherlight.demo-lightbox .featherlight-content {
    min-width: 90%;
    border: none;
}

.demo-lightbox-inner {
  background: url("http://www.rosettastone.com/lp/catalog2015/demo-bg.jpg") no-repeat;
  background-size: cover;
  margin: auto;
  padding: 2vw;
  -webkit-box-shadow: 0px 0px 13px 0px rgba(50, 50, 50, 0.85);
  -moz-box-shadow: 0px 0px 13px 0px rgba(50, 50, 50, 0.85);
  box-shadow: 0px 0px 13px 0px rgba(50, 50, 50, 0.85);
  text-align:center;
  min-height: 364px;
}

.demo-lightbox-inner h1 {
  color: #fff;
  font-family: 'gotham-htf-book';
  font-size: 6vw;
    line-height: 1em;
}
.demo-lightbox-inner h1 span.def {
  font-size: 0.6em;
}

.demo-lightbox-inner p.demo_paragraph1 {
  color: #fff;
  font-family: 'gotham-htf-book';
  margin: 10px 0;
  font-size: 1em;
}

.demo-lightbox-inner p.demo_paragraph2 {
  color: #fff;
  font-family: 'gotham-htf-book';
 margin: 15px 0 0 0px !important;
  font-size: 0.9em;
}

.demo-lightbox-inner p.demo_paragraph2 a {
  color: #fff;
  text-decoration: none;
}
.demo-lightbox-inner p.demo_paragraph2 a:hover {
  text-decoration: underline;
}
.demo-lightbox-inner .or_section {
  text-align: center;
  margin: 9px 0;
}

.demo-lightbox-inner .or_section span {
  display: inline-block;
  padding: 23px 81px;
  background: url("http://www.rosettastone.com/lp/catalogpages/img/or.png") no-repeat;
  background-size: contain;
}
.demo-lightbox-inner .facebook_btn button {
  background: transparent url("http://www.rosettastone.com/lp/catalogpages/img/facebook-blue-logo.png") no-repeat;
  color: #fff;
  border: none;
  padding: 13px 55px 25px 85px;
  background-size: contain;
  text-align: left;
  font-family: 'gotham-htf-book';
  text-shadow: none;
  line-height: 1em;
}
/*
.demo-lightbox-inner .email_input input.field-email {
  border: none;
  color: #818181;
  background: #fff;
  text-align: center;
  border-radius: 0;
  box-shadow: none;
  width: 282px;
  height:26px;
  clear: both;
}
*/
.demo-lightbox-inner .submit_btn {
  padding-top: 15px;
}
.demo-lightbox-inner .submit_btn button {
  border: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  background: #0098db;
  text-shadow: none;
  padding: 15px 25px;
  color: #fff;
  font-family: 'gothamMedium';
  text-transform: uppercase;
  font-weight: normal;
}

/* opdemo2 experience */

.dropdown-wrapper {
    position: relative;
    width: 100%;
    margin: 0 auto;
    line-height: 35px;
}
.language-error {
    border: 3px solid rgb(230, 110, 110);
    margin-top: 12px;
    display: none;
}
.language-error, input[type=text].input-error {
    border-color: rgb(230, 110, 110);
    background: rgb(248, 226, 226);
}
.dropdown-wrapper .default-option {
    cursor: default;
    margin: 3% auto 0;
    border: 2px solid #888;
    background: url(../img/arrow-down.png) 97% 50% no-repeat #fff;
    text-align: left;
    font-size: 1em;
    font-weight: bold;
    padding: 10px 0 10px 30px;
    max-width: 500px;
}
form .dropdown-wrapper ul.dropdown {
    margin: 0;
    padding: 0;
    border: 2px solid #888;
    border-top: none;
    background: #fff;
    text-align: left;
    font-size: 1.2em;
    width: 100%;
    position: absolute;
    left: 0;
    top: 98%;
    display: none;
    box-sizing: border-box;
}
form .dropdown-wrapper ul.dropdown li {
    margin: 0;
    font-weight: bold;
    padding: 0;
    list-style: none;
    display: block;
    padding: 5px 0 5px 30px;
    cursor: default;
    line-height: 1em;
}
.input-wrapper {
    max-width: 513px;
    overflow: auto;
    margin: 20px auto 0 auto;
}
.dropdown-wrapper h2 {
    font-family: inherit;
}
.input-wrapper .input-text-wrapper {
    vertical-align: top;
    text-align: left;
    color: #fff;
    font-size: 90%;
    line-height: 19px;
}

.input-wrapper .input-text-wrapper input {
    height: 56px;
    border: 2px solid #888;
    margin-bottom: 5px;
    width: 100%;
    text-align: left;
    font-size: 115%;
    box-sizing: border-box;
    padding: 0 0 0 15px;
    color: #000;
}

.input-wrapper .input-submit-wrapper {
    min-width: 195px;
    vertical-align: top;
    text-align: center;
    color: #FFF;
    font-size: 90%;
}
.input-wrapper .input-submit-wrapper input {
    width: 100%;
    margin-bottom: 5px;
    border: none;
    color: #fff;
    height: 56px;
    font-size: 110%;
    background: #0098db;
    padding: 10px 0;
    font-size: 115%;
}
/* Demo Post-Demo Offer */
.demo-lightbox .post-demo-offer {
    background: #fff;
    height: 100%;
    display: none;
}
.demo-lightbox .post-demo-offer > div {
    overflow: auto;
    padding: 5%;
    box-sizing: border-box;
    text-align: center;
}
.demo-lightbox .post-demo-offer h1 {
    font-family: inherit;
    font-size: 320%;
    font-weight: 800;
}
.demo-lightbox .post-demo-offer h2 {
    font-family: inherit;
    font-size: 180%;
    color: inherit;
    line-height: 1em;
}
.demo-lightbox .post-demo-offer h3 {
    font-family: inherit;
    line-height: 1em;
    font-size: 100%;
    margin-bottom: 60px;
}

.demo-lightbox .post-demo-offer {
    font-size: 200%;
    padding: 30px 0;
}
.demo-lightbox .post-demo-offer a.shop {
    background-color: rgb(71, 120, 0);
    color: #fff;
    padding: 35px;
    font-size: 145%;
    display: inline-block;
    margin-bottom: 42px;
    text-align: center;
    text-decoration: none;
}
.demo-lightbox .post-demo-offer p {
    font-size: 80%;
}
.demo-lightbox .post-demo-offer p a {
    color: #0098db;
    font-weight: bold;
}

#bottom header.contest-over h3 {
    font-size: 4.3vw;
    margin: 3vw auto;
    text-align: center;
}
#bottom header.contest-over h4 {
    text-align: center;
    margin: 2vw;
}
footer section#take-demo {
    background: #fffcee;
    padding-top: 10px;
}
footer section#take-demo article {
    height: 145px;
    width: auto;
    background: url('../img/m_post_ipad_learner.jpg') no-repeat;
}
footer section#take-demo header h2 {
   margin: 0 10px 0 40px;
   font-size: 12pt;
   font-family: gotham-htf-book, Arial, sans-serif;
   color: #363636;
}
footer section#take-demo .link-demo {
    background-color: #0098db;
    border-radius: 3px;
    display: block;
    color: #FFF;
    margin: 99px auto;
    padding: 12px 16px;
    text-align: center;
    width: 60vw;
}
footer .outer-wrapper h2.contest-over {
    display: block;
    margin: 4px 5px 2px;
    line-height: 1em;
}
footer .outer-wrapper h2.contest-over  a {
    margin: auto;
    font-size: 5vw;
    color: #363636;
    text-align: center;
    background: url(../img/icon_go.png) no-repeat right center;
    padding-right: 6%;
    background-size: 6%;
    display: block;
    width: 63%;
}