
#masthead{
  background-color: #333;
  background-image: url('../../globals/img/mastheads/mobile/<%= mastheadimage %>');
  /*background-size: cover;*/
  background-size: 100% 100%;

}

#offerbox{
    color: #222;
    line-height: 1;
    padding: 16% 0% 5% 60.5%;
    /*width: 22%;*/
    font-size: 1.5vw;
}

#offertext {
      /*margin-top: 8px;*/
  font-size: 1.5vw;
}

#offerbox sup {
  font-family: gothambook;
}

#sale-price{
  font-size: 4em;
  display: inline-block;
  color: #A00203;
  vertical-align:  middle;
  font-weight: bold;
}

#sale-price sup {
      font-size: 0.5em;
    position: relative;
    top: -2vw;
    left: -3px;
}


#regular-price {
  display: inline-block;
  vertical-align: middle;
  padding-left: 3%;
}

#regular-price sup {

}



#regular-price > span:first-of-type{


}

#regular-price {
  font-size: 1.5vw;
}

#regular-price > span:last-of-type{
  position:  relative;
}

#regular-price > span:last-of-type:after{
  content: '';
        position: absolute;
        width: 106%;
        height: 2px;
        background: #e12;
        left: 0;
      top: 42%;
}




@media (min-width:600px) {
  #masthead{
    background-image: url('../../globals/img/mastheads/sbsr/<%= mastheadimage %>');

  }

  #sale-price{  }
  #regular-price > span:first-of-type{   }
  #regular-price{  }
  #offertext{
    font-size: 2vw;
    margin-left: -9px;
  }
}






/* iphone 5 portrait*/
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : portrait) {
  #offerbox {
    padding: 25% 0% 7% 57%;
  }

  #sale-price {
    font-size: 6em;
  }

  #sale-price sup {
    font-size: 0.6em;
        position: relative;
        top: -12px;
        left: -3px;
  }

  #regular-price {
    font-size: 3vw;
  }
  #offertext {
      font-size: 3vw;
      margin-top: -10px;
      margin-bottom: 7px;
  }

  #regular-price > span:last-of-type:after{
    content: '';
        position: absolute;
        width: 106%;
        height: 2px;
        background: #e12;
        left: 0;
      top: 42%
    }
}


/* iphone 5 landscape*/
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : landscape) {
  #offerbox {
      padding: 16% 0 7% 62.75% ;
  }
  #regular-price {
    font-size: 3vw;
  }
  #offertext {

  }
}



/* iphone6 landscape */
@media only screen and (min-device-width : 375px) and (max-device-width : 667px) and (orientation : landscape) {
  #offerbox {
    /*padding: 17% 0% 2% 55%;*/
  }
  #regular-price {
    font-size: 2vw;
    }
    #offerbox {
    padding-left: 60.75%;
  }
}

/*  iphone6 portrait */
@media only screen and (min-device-width : 375px) and (max-device-width : 667px) and (orientation : portrait) {


  #offertext {

  }

  #sale-price {

  }

  #regular-price {
    font-size: 3vw;
    }
}


/*ipad mini  lanscape*/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {

}

/*ipad mini  portrait */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
  #offerbox {
    padding-left: 60.75%;
  }
}

/* ipad Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  #offerbox {
    padding-left: 60.75%;
  }
}

#everystory { display: none}



#violator {
  background: #A83837;
  text-align: center;
  font-weight: bold;

  padding: 10px 0;
  color: #eee;
}

#violator > div {
  display:inline-block;
  vertical-align:middle;
  font-family: gothamLight;
  font-weight:lighter;
}
#violator > div > img {
  margin-right: 10px;
}
#violator > div > span {
  color: #f7cc00;
  font-weight: bold;
}