#masthead {
  background: url('../../globals/img/mastheads/sbs/<%= mastheadimage %>') no-repeat;
  height: 316px;
  position: relative;
  display: table;
  width: 100%;
}
#masthead > #offerbox {
    box-sizing: border-box;
    color: #000;
    font-size: 190%;
    vertical-align: middle;
    position: relative;
    float: right;
    width: 397px;
    margin-top: 174px;
}

#masthead > #offerbox > #offertext {
  font-size: 44%;
  position: relative;
  margin-bottom: -5px;
}

#masthead #pricing {
  display: table;
}

#masthead > #offerbox #regular-price {
  font-size: 100%;
  color: #fff;
  position: relative;
  display:  inline-block;
  right: -7px;
  vertical-align: middle;
}
#masthead > #offerbox #regular-price sup {
  font-weight: lighter;
  font-size: 50%;
  position: relative;
  right: 6px;
  top: 10px;
}

#masthead > #offerbox #sale-price {
  font-size: 240%;
  color: #F5C30B;
  vertical-align: middle;
  display: inline-block;
}
#masthead > #offerbox #sale-price sup {
  font-weight: lighter;
}

#masthead > #offerbox #sale-price sup:after {
  content: 'USD';
  position: absolute;
  bottom: 25px;
  left: -7px;
  font-size: 42%;
}


#masthead > #offerbox #regular-price > span {
  display: inline-block;
  position: relative;
}
#masthead > #offerbox #regular-price > span:last-of-type {
  top: 10px;
  right: 15px;
}

#masthead > #offerbox #regular-price .strikethrough {
  position: absolute;
  top: 49%;
  height: 2px;
  background: red;
  width: 100%;
}

#masthead > #offerbox #regular-price > span:first-of-type {
  font-size: 40%;
  margin-right: -13px;
  margin-left: -6px;
  position: absolute;
}


#masthead > #offerbox #sale-price sup {
  font-size: 50%;
  font-weight: lighter;
  font-family: gothambook;
}

/*#violator {
  position: absolute;
  top: 15%;
  left: 51%;
}*/
#violator {
  background: #A83837;
  text-align: center;
  font-weight: bold;
  font-size: 140%;
  padding: 10px 0;
  color: #eee;
}

#violator > div {
  display:inline-block;
  vertical-align:middle;
  font-family: gothamLight;
  font-weight:lighter;
}
#violator > div > img {
  margin-right: 10px;
}
#violator > div > span {
  color: #f7cc00;
  font-weight: bold;
}


.bottom-html {
  padding-top: 5px;
}