
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8"></meta>        
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        
        <meta name="description" content="Rosetta Stone is the fast, effective, and fun way to learn a language!" />
        <title>Rosetta Stone&reg; - Try it free. Mobile Language Learning</title>

        <link rel="Shortcut Icon" href="/us-consumer-theme/images/favicon.ico" />
        <meta property="og:image" content="http://www.rosettastone.com/lp/ui/img/rosetta-stone-logo.jpg" />
        <meta property="og:title" content="Rosetta Stone&reg; - Try it free. Mobile Language Learning" />
        <meta property="og:description" content="Rosetta Stone is the fast, effective, and fun way to learn a language!" />
        <meta property="og:url" content="http://www.rosettastone.com/lp/mobile-lp/why" />
        <link rel="canonical" href="http://www.rosettastone.com/lp/mobile-lp/why" />
        <meta property="og:site_name" content="www.rosettastone.com" />
        <meta property="og:type" content="website" />


        <link rel="stylesheet" href="stylesheets/screen.css">


        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="../ui/jslibs/jquery-1.10.2.js"><\/script>')</script>
        
        <script src="../ui/js/utils.js"></script>
        <script src="../ui/js/rs-config.js"></script>
        <script src="../ui/js/pages.js"></script>
        <script src="../ui/jslibs/tempo.js"></script>
        <script src="../ui/jslibs/jquery.json.js"></script>
        <script src="js/mobile.js"></script>
    </head>


    <body id="home" class="pattern-bg">

        <script src='../ui/js/tagmanagement.js'></script>
        <script src='../ui/jslibs/mbox-rsi.js'></script>
        <div id="us_mobile" class="mboxDefault"></div>
        <!--<script type="text/javascript">mboxCreate('us_mobile', rs.mbox_env);</script>-->
        <!-- ******** /end Omniture & T&T ******** -->
        <script type="text/javascript">
            /*
             * Get our rsi value and look for it in the `pages` object
             * The returned value, `page`, will be sent to the template
             * renderer. We also call its init() method.
             */ 
            var rsi = s.getQueryParam('rsi') || ''
            var page = pages[rsi] || pages[''];
            page.init()

            // Set the promocode
            rs.promo = page.promo
        </script>
        <header id="global-header">
        
            <nav class="meta-nav clearfix">
                <a href="#" class="icon-cart" id="meta-nav--cart" title="Your Cart">
                    <span class="cart-wrap"></span>
                </a>
                <a href="#" class="icon-menu" id="meta-nav--toggle"></a>
                <a href="index.html" id="meta-nav--logo" class="ir">Rosetta Stone</a>
            </nav>
            
            <div class="cart-dropdown" style='display: none'>                
                <!--<a href="/checkout.html" class="button-standard">Checkout</a>-->
            </div>

            
            <nav class="nav-dropdown is-closed is-menu-hidden" id="global-nav">
                <ul>
                    <li><a class="icon-phone main-nav--alternate" id="main-nav--reviews" href="tel:18007673882">Call Us</a></li>
                    <li>
                        <a class="icon-menu-languages" id="main-nav--languages" href="index.html" data-swipable>Our Products</a>
                    </li>
                    
                    <li>
                        <a class="icon-menu-method" id="main-nav--method" href="methodology.html" data-swipable>How It Works</a>
                    </li>
                    
                    <li>
                        <a class="icon-reviews" id="main-nav--reviews" href="reviews.html" data-swipable>Customer Reviews</a>
                    </li>
                    <li>
                        <a class="icon-free-trial" id="main-nav--reviews" href="why.html" data-swipable>Demo</a>
                    </li>
                </ul>
            </nav>
            
            
            
        </header>
        <div class="container-wrap clearfix" data-template>
            <div class="container">

        
                
                
                <section class="masthead" style="position:relative;">
                    <!--<img src="../ui/img/urgency_violator_finalhours.png" style='position:absolute;top: 5px; right: 127px; width:47px; ' />-->
        
                    <img id='masthead-image' src="../ui-m/img/mastheads/{{mastheadImage}}" width="100%">
                
                    <div class="pricingbox">
                        <div class="pricerow">
                            <div class="priceside"><span class="black">WAS</span><br/>
                                <span class="price"><sup>$</sup>{{strikeThrough[0]}}</span>
                                <div class="striker"></div>
                            </div>
                            <div class="spacer" style=""></div>
                            <div class="priceside"><span class="black2">NOW</span><br/>
                                <span class="price"><sup>$</sup>{{strikeThrough[1]}}</span>
                            </div>
                        </div>
                        
                        <div class="shipmsg">{{shipping}}</div>
                    </div><!-- /pricingbox -->
                </section>


                <section id='blue-nav'>
                    <a href="index.html">Our<br />Products</a>
                    <a href='methodology.html'>How it<br />Works</a>
                    <a href='reviews.html'>Customer<br />Reviews</a>
                    <a href='why.html' class='active'>Try it<br />Free</a>
                </section>
                
                
        <section class="page-row cta trial" id="free-trial" style='padding: 15px;text-align:center'>
            <div style="font-size: 1.4em;font-weight:bold">Go ahead, try it for FREE</div>
            <p style='font-size: 0.9em;'>Try our interactive demo for Rosetta Stone Course</p>
<div style="padding:0 15px;">
            <style>

                        .notification {
                            padding: 10px;
                            color: #111;
                            text-indent: 35px;
                            font-weight: bold;
                            margin: 0 0 10px 0;
                            display: none

                        }
                        .notification.error {
                            background:  url("../ui/img/icon-invalid-input-2.png" ) no-repeat  15px 50% #F4DEDE;
                            border: 3px solid #F2A7A7;

                        }
                        
                        .notification ul li {
                            list-style-type: none;
                        }

                    </style>
            <div class='notification error' style='margin-bottom:-10px;margin-top: 10px;'>
                Invalid e-mail. Please try again.
            </div>

            <form onSubmit='return false'>
                <fieldset class="list-holder">
                    <input type="email" placeholder="Email address" class="standard-input" id="input-email">
                    
                    <div class='select-holder'>
                        <select id="demo-select" name="country"  style='padding: 8px;font-weight:bold'>
                            <option value="en-es">Spanish (Latin America)</option>
                            <option value="en-fr">French</option>
                            <option value="en-it">Italian</option>
                            <option value="en-en">English (American)</option>
                            <option value="en-de">German</option>

    
                        
                        </select>
                    </div>
                    
                    <button type="submit" class="button-standard" id="submit-demo" style='margin-top: 7px'>START DEMO</button>
                </fieldset>
                

                <span style='font-size:11px'>
                    Your privacy is important to us. We will not share your personal information with third parties without your consent.
                    <a href='http://www.rosettastone.com/privacy' target='_blank'>View our privacy policy.</a>
                </span>

            </form>
        </section>

            
        </div>

        
        <footer id="global-footer">
            <nav class="page-row" id="global-footer--social">
                <ul>
                    <li><a href="http://www.facebook.com/RosettaStone"><span class="icon-facebook"></span></a></li>
                    <li><a href="http://twitter.com/rosettastone"><span class="icon-twitter"></span></a></li>
                    <li><a href="http://www.youtube.com/user/rosettastone"><span class="icon-youtube"></span></a></li>
                    <li><a href="http://plus.google.com/+RosettaStone"><span class="icon-googlePlus"></span></a></li>
                </ul>
            </nav>
            <div class="page-row clearfix" id="global-footer--nav">
                <nav class="global-footer--nav-menu">
                    <h2>OFFER DETAILS</h2>
                        
                    <p>
                        Free shipping on products shipped within the U.S. only. Offer limited to purchases made directly from Rosetta Stone and cannot be combined with any other offer. Offer valid through {{expirationDate}} while quantities last. Online services must be activated within 6 months of purchase or are subject to forfeiture. Mobile apps are not available for Arabic and Persian (Farsi)
                    </p>
                    <p>
                        The 5-Pay Easy Payment plan is available for select orders with a billing address in the U.S. only. The first payment of 20% of the total price is charged when the order is placed (plus tax). Four additional payments of 20% will be charged monthly thereafter, with 0% APR and no interest charges from Rosetta Stone.
                    </p>
                    <p>
                        † 3 months online access included with purchase for one user.
                    </p>
                    <p>
                        The thirty-day (30-day) money back guarantee is limited to software purchases made directly from Rosetta Stone, and does not apply to any supplemental purchases, including additional online access, subscription renewals, and headsets.
                    </p>

                <nav class="global-footer--nav-menu"  style='padding:0'>
                    <h2>Customer Support</h2>
                    <ul>
                        <li><a href="tel:18007673882">1.800.767.3882</a></li>
                    </ul>
                </nav>
            </div>
            
            <div class="page-row" id="global-footer--rights">
                <p>&copy; Copyright Rosetta Stone 2014, All Rights Reserved.</p>
                <li><a href="terms.html">Terms &amp; Conditions</a></li>                
            </div>
        </footer>

 
        

     







 

    </body>
</html>





        


        <script>
            $('body').on('click', '#submit-demo', function()
            {

                var $email = $('input#input-email')
                var $dropdown = $('#demo-select')
                var lang = $dropdown.find(':selected').attr('value') || 'en-es'
                var errorMsg = '';

                // Do we have an email?
                if (! RSUtils.validateEmail( $email.val() )) {
                    errorMsg = errorMsg + "<li>Invalid e-mail.</li>";
                } else {
                    var email = $email.val()
                }

                // Do we have a language selected
                if ( $dropdown.find(':selected').attr('value') == '' ) {
                    errorMsg = errorMsg +  "<li>Please select a language.</li>"
                } else {
                    var demoLang = $dropdown.find(':selected').attr('value')
                }

                // Show errors if any, and exit function
                if (errorMsg.length > 0) {
                    $('.notification').fadeIn().addClass('error').html(errorMsg)
                    return false
                }

                // No errors. If there were any errors before, hide.
                $('.notification').fadeOut()

                if(typeof rs.cid == 'undefined') {
                    rs.cid = ''
                }

                // Send to EC
                var data = {
                    email : email,
                    demo_lang : lang, 
                    cis_name : 'mobile demo',
                    website: 'US_WEBSITE',
                    form_type : 'demo',
                    demo_type : 'PE',
                    form_url : rs.pageName,
                    newsletter_type : "DTC_mobile-demo",
                    cid : rs.cid

                }

                
                
                var url = 'https://myaccount.rosettastone.com/forms?callback=?&data='
                json = $.toJSON(data);
                var request = $.ajax({
                 contentType: "application/json; charset=utf-8",
                  url:  url + encodeURIComponent(json),
                  type: "POST",
                  dataType: "jsonp"
                });

                request.done(function(msg) {
                    if (msg['return_code'] == true) {
                       
                             s.eVar7 = lang
                             s.events="event19";
                             s.t()
                             delete s.events;
                             if(urlObject.queryKey.cid == 'ba-mb-yiel') {
                                $('body').append('<img src="https://tkr.yieldmo.com/t_adt/adt?click_id='+urlObject.queryKey.click_id+'&conversion_type=leads" />')
                                }  
                         setTimeout(function() {
                            window.location.href = 'http://resources.rosettastone.com/CDN/us/rs-i-demo-6/?lang=' + lang 
                          }, 500)
                       
                    }
                })
                

                




            })





        </script>





        <script src="js/scripts.min.js"></script>
        


    </body>
</html>
